/* color schemes */
/* color schemes */
@media (min-width: 769px) {
  .sf-search {
    display: none; } }
@media (max-width: 768px) {
  .sf-search {
    clear: both;
    float: left;
    width: 100%; }
    .sf-search .searchbox {
      border-bottom: 1px solid #f7f7f7;
      border-top: 1px solid #f7f7f7;
      margin: 22px -38px 0;
      padding: 0 38px; }
    .sf-search input[type="text"] {
      background: none;
      border: none;
      height: 45px;
      width: 100%;
      outline: none; }
    .sf-search .searchbox_inner {
      position: relative; }
    .sf-search .button-search {
      background: none;
      border: none;
      padding: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      line-height: 30px;
      margin: auto 0; } }
@media (min-width: 992px) {
  #block_top_menu {
    width: 60%;
    padding-right: 0; } }
@media (min-width: 769px) {
  #block_top_menu,
  .sf-menu {
    position: static; }

  #block_top_menu {
    line-height: 40px;
    float: left; }

  .sf-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    padding: 0;
    position: relative; }
    .sf-menu * {
      margin: 0;
      padding: 0;
      list-style: none; }
    .sf-menu ul {
      position: absolute;
      top: -999em;
      background: #ffffff; }
    .sf-menu > li > .sf-with-ul:after {
      font-size: 12px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: -22px;
      margin: auto 5px;
      cursor: pointer; }
    .sf-menu li:hover {
      visibility: inherit; }
    .sf-menu li ul {
      z-index: 99;
      top: 100%;
      left: 22px;
      display: none;
      margin-top: 0; }
    .sf-menu li li li ul {
      padding: 0 0 0 20px;
      margin-top: 15px; }
    .sf-menu > li {
      float: left;
      padding: 0 22px; }
      .sf-menu > li > a {
        text-transform: uppercase;
        display: block;
        position: relative;
        font-size: 14px;
        font-weight: 500; }

  ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
    left: 200px;
    /* match ul width */
    top: 0; }

  .sf-menu li ul li a.sf-with-ul:before {
    display: none; }

  #block_top_menu ul .category-thumbnail,
  #block_top_menu ul #category-thumbnail {
    padding: 0 15px;
    max-width: 370px; }

  ul .category-thumbnail > div,
  ul #category-thumbnail > div {
    overflow: hidden; }
  ul .category-thumbnail > div:last-child,
  ul #category-thumbnail > div:last-child {
    margin-right: 0; }

  .wrap_banner_item {
    position: relative; }

  .banner_thumb.autofocus .wrap_scale.wrap_image_thumb {
    position: static; }
  .banner_thumb.autofocus:before, .banner_thumb.autofocus:after {
    border-width: 1px; }
  .banner_thumb.autofocus .wrap_scale:before, .banner_thumb.autofocus .wrap_scale:after {
    border-width: 1px; }
  .banner_thumb.autofocus:hover:before, .banner_thumb.autofocus:hover:after {
    border-color: #ffffff;
    width: 20px;
    height: 20px; }
  .banner_thumb.autofocus:hover .wrap_scale:before, .banner_thumb.autofocus:hover .wrap_scale:after {
    border-color: #ffffff;
    width: 20px;
    height: 20px; }

  .sf-menu > li > ul > .category-thumbnail > div img,
  .sf-menu > li > ul > #category-thumbnail > div img {
    max-width: 100%;
    display: inline-block; }

  .banner_thumb {
    display: inline-block;
    position: relative;
    overflow: hidden; }

  .sf-menu li.sf-search {
    border: none; }
    .sf-menu li.sf-search input {
      display: inline;
      padding: 0 13px;
      height: 30px;
      line-height: 30px;
      background: #ffffff;
      margin: 13px 10px 0 0;
      font-size: 13px;
      color: #e7e7e7;
      border: 1px solid #e7e7e7; }
  .sf-menu li ul li li a:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    line-height: 28px;
    font-size: 11px; }

  ul .category-thumbnail > div,
  ul #category-thumbnail > div {
    width: 100%;
    margin-bottom: 10px; }

  .sf-menu li ul li li a {
    line-height: 1.2;
    display: block;
    padding: 7px 0 7px 25px;
    font-weight: normal;
    font-size: 13px;
    position: relative; }
  .sf-menu li li a + ul {
    margin-top: 8px; }
  .sf-menu > li > ul > li > a {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase; }
  .sf-menu > li > ul {
    width: auto;
    border-top-style: solid;
    border-top-width: 3px;
    padding: 22px 15px 20px;
    -webkit-box-shadow: 0 2px 6px 0px #e7e7e7;
    -moz-box-shadow: 0 2px 6px 0px #e7e7e7;
    box-shadow: 0 2px 6px 0px #e7e7e7;
    width: 100%;
    left: 22px; }
    .sf-menu > li > ul > li {
      display: inline-block;
      vertical-align: top;
      padding: 0 15px; }
      .sf-menu > li > ul > li.first-in-line-lg {
        clear: left; }
  .sf-menu > li:hover > ul {
    top: 100%; }

  #block_top_menu ul.sf-menu li li ul {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    position: relative;
    left: 0;
    top: 0; }

  .sf-menu > li > a:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
  .sf-menu > li:hover > a:before {
    height: 5px; } }
@media (min-width: 769px) and (max-width: 991px) {
  .sf-menu > li:first-child {
    padding-left: 0; }
  .sf-menu > li > ul {
    left: 0; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .sf-menu li ul li a {
    font-size: 13px; }
  .sf-menu > li {
    padding: 0 17px; }
    .sf-menu > li > a {
      font-size: 13px; } }
@media (min-width: 769px) and (max-width: 991px) {
  .sf-menu > li {
    padding: 0 12px; }
    .sf-menu > li a {
      font-size: 11px; } }
/* mobile */
@media (max-width: 768px) {
  .sf-menu li ul li li a:before {
    display: none; }

  #block_top_menu.sf-contener {
    background: none;
    margin: 0 -15px;
    padding: 30px 0 40px;
    width: auto;
    float: none;
    clear: both; }

  .sf-menu .category-thumbnail {
    display: none; }
  .sf-menu ul {
    padding-left: 15px; }
  .sf-menu li {
    position: relative; }
    .sf-menu li ul {
      background: none; }
      .sf-menu li ul li a {
        background: none;
        border: none;
        margin-bottom: 25px; }
  .sf-menu a {
    color: inherit;
    display: inline-block;
    font-size: 13px;
    margin-bottom: 45px; }
    .sf-menu a:hover {
      color: #000000; }
  .sf-menu > li {
    display: inline-block;
    padding: 0 15px;
    vertical-align: top;
    width: 33.333%; }
    .sf-menu > li > ul {
      background: none; }
    .sf-menu > li span:after {
      color: inherit; }

  .menu-mobile {
    display: none; }

  .menu-mobile-grover {
    float: right; } }
@media (max-width: 414px) {
  .sf-menu > li {
    width: 50%; } }

/*# sourceMappingURL=superfish-modified.css.map */
