/* color schemes */
#module-testimonialswithavatars-testimonials #left_column,
#module-testimonialswithavatars-testimonials #right_column {
  display: none; }

#module-testimonialswithavatars-testimonials #center_column {
  width: 100%; }

.no-carousel-reviews.twa_posts .post {
  margin-bottom: 2%; }

.no-carousel-reviews .post h5 {
  font-size: 1.3em;
  padding-right: 72px; }

@media (min-width: 768px) {
  .no-carousel-reviews .grid {
    font-size: 0;
    display: table;
    width: 100%; }

  .inner-twa-reviews {
    margin: 0 -2% 0 0; }

  .no-carousel-reviews .grid .post {
    width: 48%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
    font-size: 14px; } }
.neat {
  font-size: 0.8em;
  text-transform: uppercase; }

a.view_all {
  text-decoration: none;
  margin-top: 5px;
  display: block;
  text-align: center;
  clear: both; }

.twa_container .bx-wrapper .bx-controls-direction {
  top: -44px;
  right: 15px;
  left: auto;
  text-align: right; }

.no-carousel-reviews .content_wrapper {
  padding: 30px 15px 45px;
  background: #F5F5F5;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  position: relative; }

.post_content {
  height: auto !important; }

.post_content img {
  margin: 0 3px;
  vertical-align: top; }

.no-carousel-reviews .post_avatar img {
  width: 70px;
  height: 70px;
  padding: 5px;
  background: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 100%;
  /* requires important because some global styles include body selector */
  margin: 0 0 -35px !important;
  position: relative;
  z-index: 1; }

.no-carousel-reviews .post_footer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
  z-index: 1; }

.middle-line {
  display: none !important; }

.no-carousel-reviews .post_rating {
  position: absolute;
  top: 82px;
  right: 12px;
  z-index: 1; }

.rating_star {
  font-size: 13px;
  float: left;
  padding-right: 3px; }

.rating_star.on {
  color: #FFCC00; }

.rating_star.highlighted {
  color: #FFCC00; }

/* bb styles*/
.b {
  font-weight: bold; }

.i {
  font-style: italic; }

.u {
  text-decoration: underline; }

.home-carousel-reviews .post {
  padding-left: 15px;
  padding-right: 15px; }

.home-carousel-reviews .post__inner {
  border-style: solid;
  border-width: 1px;
  text-align: center;
  padding: 20px 20px 27px; }

.home-carousel-reviews .post_avatar img {
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 65px;
  height: 65px; }

.home-carousel-reviews .post_content {
  height: auto !important;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 11px; }

.home-carousel-reviews .customer_name {
  text-transform: uppercase;
  font-weight: bold; }

.both-style .button-wrap {
  clear: both;
  text-align: center; }

.post_rating {
  display: block;
  overflow: hidden; }

.home-carousel-reviews .post_rating {
  display: table;
  margin: 10px auto 0; }

/* icons */
.both-style .icon-smile:before {
  content: "\f118"; }

.both-style .icon-lightbulb:before {
  content: "\f0eb"; }

.no-carousel-reviews .post {
  margin-bottom: 20px;
  position: relative; }

.no-carousel-reviews h5 {
  margin-bottom: 10px; }

.just_added {
  z-index: 5 !important; }

@media (max-width: 1199px) and (min-width: 769px) {
  .twa_container .bx-wrapper .bx-controls-direction {
    top: -48px; } }
@media (max-width: 768px) {
  .twa_container .bx-wrapper .bx-controls-direction {
    left: 0;
    text-align: center; }

  .no-carousel-reviews .post h5 {
    font-size: 16px; }

  .twa_container .bx-wrapper .bx-controls-direction {
    top: -43px; } }
/* mobile */
@media (max-width: 414px) {
  .twa_container .title-box {
    margin-bottom: 65px;
    text-align: center; }
  .twa_container .bx-wrapper .bx-controls-direction {
    top: -51px; }

  .home-carousel-reviews h5 {
    margin: 10px 0; }
  .home-carousel-reviews .post_content {
    color: #939597;
    font-size: 12px;
    line-height: 2; }
  .home-carousel-reviews .post__inner {
    padding-bottom: 35px;
    padding-top: 37px; } }

/*# sourceMappingURL=front_simple.css.map */
