@import "variables";

#compare_shipping .form-group {
  line-height: normal;
  margin-bottom: 10px; }
  #compare_shipping .form-group label {
    margin-bottom: 6px; }
  #compare_shipping .form-group .form-control {
    width: 263px; }
  #compare_shipping .form-group.last {
    margin-bottom: 20px; }
    #compare_shipping .form-group.last input {
      margin-bottom: 3px; }
#compare_shipping .table {
  background: $white; }
  #compare_shipping .table thead tr th {
    background: $white;
    padding: 4px 10px 3px 10px; }
  #compare_shipping .table tbody td {
    margin: 0; }
    #compare_shipping .table tbody td.carrier_action {
      width: 54px;
      padding-left: 0;
      padding-right: 0;
      text-align: center; }
      #compare_shipping .table tbody td.carrier_action input {
        margin: 0; }

#availableCarriers .table {
  margin-bottom: 20px; }

#compare_shipping ul#carriercompare_errors_list {
  color: $clr-thirteen; }

#compare_shipping_form {
  padding-bottom: 20px; }

#compare_shipping ul#carriercompare_errors_list li {
  margin-left: 30px;
  text-decoration: none;
  list-style: none; }

#SE_AjaxDisplay {
  text-align: center;
  display: none; }

#SE_AjaxDisplay img {
  width: 15px; }

.SE_SubmitRefreshCard button {
  float: left; }
  .SE_SubmitRefreshCard button#carriercompare_submit {
    margin-right: 10px; }

#carriercompare_errors {
  display: none; }
