@import "variables";


/* wishlist block */

#wishlist_block {
	#wishlist_block_list {
		margin: 0 0 20px 0;
		dl {
			font-weight: 400;
			&.products {
				&.no-products {
					font-weight: 700;
					padding: 15px;
					dt {
						padding: 0;
						border-top: none;
					}
					dd {
						display: none;
					}
				}
				dt {
					padding: 20px 0 0;
					border-top: 1px solid $clr-twenty-two;
				}
				dd {
					padding: 0 0 20px 0;
				}
				dt.first_item {
					padding: 0;
					border-top: none;
				}
			}
			dt {
				position: relative;
				padding-right: 0;
			}
			dd {
				margin: 0 0 0 24px;
			}
		}
	}
	.lnk .form-group {
		margin: 0 0 20px 0;
		select {
			max-width: 192px;
		}
	}
	.ajax_cart_block_remove_link {
		font-size: 14px;
		line-height: 14px;
		color: $clr-twenty-two;
		width: 14px;
		height: 14px;
		float: right;
		&:hover {
			color: $clr-fifteen;
		}
	}
	.cart_block_product_name {
		width: 85%;
		display: inline-block;
		font-weight: bold;
	}
	.quantity-formated {
		float: left;
		margin: 0 5px 0 0;
		width: 15px;
	}
}

#wishlist_block_list .price {
	float: right;
}


/* page in my account ************************************************************************* */

#mywishlist td.wishlist_delete a {
	font-size: 15px;
}


/* wishlistLinkTop */

#module-blockwishlist-mywishlist {
	#block-order-detail #hideSendWishlist {
		display: inline-block;
	}
	.wishlistLinkTop {
		ul.display_list {
			border-bottom: 1px solid $clr-twenty-two;
			margin-bottom: 20px;
			a {
				display: inline-block;
				color: $clr-ten;
				margin: 10px 10px 10px 0px;
				font-weight: bold;
				&:hover {
					color: $clr-fifteen;
				}
			}
		}
		li {
			float: left;
		}
		#hideSendWishlist {
			float: right;
		}
		#showBoughtProducts,
		#hideBoughtProductsInfos {
			display: none;
		}
	}
}


/* wlp_bought ****************************************** */


/* wlp_bought_list */

.wlp_bought_list {
	> li {
		margin: 0 0 30px 0;
		/*> $screen-md*/
		/*$screen-sm x $screen-sm-max*/
	}
	li {
		.product_image {
			padding: 9px;
			border: 1px solid $clr-twenty-two;
			margin: 0 0 20px 0;
			max-width: 270px;
		}
		.product-name {
			margin: 0 0 10px 0;
			padding: 0 20px 0 0;
			small {
				display: block;
				font-size: 11px;
				a {
					font-size: 11px;
				}
			}
		}
		.product_infos {
			position: relative;
		}
		.btn_action .btn {
			margin: 0 0 10px 0;
		}
	}
}

@media (min-width: $screen-md) {
	.wlp_bought_list li.first-in-line {
		clear: left;
	}
}

.wishlistLinkTop .submit {
	margin: 0 0 30px 0;
}

.wlp_bought_list li .lnkdel {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	font-size: 14px;
}

.ajax_block_product {
	.wishlist {
		float: right;
	}
	.addToWishlist span {
		display: none;
	}
}

@media (max-width: $screen-xs) {
	#mywishlist table {
		thead,
		tbody {
			display: block;
			float: left;
		}
		th,
		td {
			display: block;
			border: none;
			padding: 10px 5px;
			font-size: 12px;
		}
	}
}
