.ybc_newsletter_form > div{
    display: none;
}
.ybc_newsletter_form > div.active{
    display: block;
}
textarea[name="YBC_NEWSLETTER_CUSTOM_CSS"]{
    min-height: 80px;
}
.ybc_newsletter_form_tab > li {
  border-bottom: 1px solid #D3D8DB;
  cursor: pointer;
  padding: 12px 20px;
  text-transform: uppercase;
 list-style: outside none none;
}
.ybc_newsletter_form_tab > li.active {
  background-color: #F9F9F9;
}
.ybc_newsletter_form_tab_div .ybc_newsletter_form_tab {
  liybc_newsletter-ybc_newsletteryle: none outside none;
  padding: 0;
}
.ybc_newsletter_form_tab_div {
  border: 1px solid #D3D8DB;
  min-height: 200px;
  min-width: 200px;
}
.ybc_newsletter_form_tab_content {
  display: box;
  display: -o-box;
  display: -ms-box;
  display: -moz-box;
  display: -webkit-box;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  margin-left: -21px;
  margin-top: -16px;
  margin-bottom: -16px;
  width: calc(100% + 42px);
  width: -webkit-calc(100% + 42px);
}
.ybc_newsletter_form_tab_content .ybc_newsletter_form {
  border: 1px solid #D3D8DB;
  margin-left: -1px;
  padding: 30px 40px;
  width: 100%;
}
.ybc_newsletter_form_misc .fixed-width-xl{
   min-height: 125px; 
}
/*#module_form_submit_btn {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #bbb;
  border-radius: 3px 3px 3px 3px;
  float: right;
  line-height: 1em;
  padding: 6px 8px;
}*/

.box-slider{
    height: 0px;
    overflow: hidden;
    
}
.slider{
   opacity: 0;
}
.fancybox-overlay .slider{
    display: block;opacity: 1;
}
.fancybox-overlay .box-slider{
    height: auto;
    overflow: inherit;    
}
#image-gallery img {
    float: left;
    width: 100%;
    max-height: 475px;
}
.lSSlideOuter .lSPager.lSGallery li a {
    text-align: center;
    float: left;
    color: #333;
    text-decoration: none;
    font-size: 15px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid;
}
.lSSlideOuter .lSPager.lSGallery li{
    position: relative;
}
div .lSSlideOuter .lSPager.lSGallery img {
    height: 100px;
    width: 100%;
}
.lSSlideOuter .lSPager.lSGallery li a span {
    color: #333;
    text-decoration: none;
    margin: 7px 0;
    display: inline-block;
}

.lSAction > .lSPrev:before {
    content: "\f053";
    font-size: 38px;opacity: 0;
    color: #333;
    font-family: fontAwesome;
    transition:all 0.5s ease 0s;
    -webkit-transition:all 0.5s ease 0s;
    -moz-transition:all 0.5s ease 0s;
    -ms-transition:all 0.5s ease 0s;
}
.lSAction > .lSNext:before {
    content: "\f054";
    font-size: 38px;
    color: #333;
    font-family: fontAwesome;
    opacity: 0;
    transition:all 0.5s ease 0s;
    -webkit-transition:all 0.5s ease 0s;
    -moz-transition:all 0.5s ease 0s;
    -ms-transition:all 0.5s ease 0s;
}
.slider:hover .lSAction > .lSPrev:before,
.slider:hover .lSAction > .lSNext:before{
    opacity: 1;
    transition:all 0.5s ease 0s;
    -webkit-transition:all 0.5s ease 0s;
    -moz-transition:all 0.5s ease 0s;
    -ms-transition:all 0.5s ease 0s;
}
.lSSlideOuter .lSPager.lSGallery li.active a {
    cursor: context-menu;
    
}
.lSSlideOuter .lSPager.lSGallery li.active a,.lSSlideOuter .lSPager.lSGallery li:hover a {
    border: 1px solid red;
    
}
span.button_select {
    top: 45%;
    position: absolute;
    left: 45%;
    background: #333;
    border-color: #333;
    color: #fff;
    padding: 5px 8px;
    cursor: pointer;
    text-transform: uppercase;
    transition:all 0.5s ease 0s;
    -webkit-transition:all 0.5s ease 0s;
    -moz-transition:all 0.5s ease 0s;
    -ms-transition:all 0.5s ease 0s;
    opacity: 0;
    visibility: hidden;
}
.slider:hover span.button_select{
   opacity: 1; visibility: visible;
}
#image-gallery li{
    position: relative;
}

span.button_select:hover{
   transition:all 0.5s ease 0s;
    -webkit-transition:all 0.5s ease 0s;
    -moz-transition:all 0.5s ease 0s;
    -ms-transition:all 0.5s ease 0s; 
    background-color: #00aff0;
    border-color: #008abd;
}


.sliders {
    height: 0;
    overflow: hidden;
}

div .pp_hoverContainer {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2000;
    height: 0!important;
}
.bt_select {
  padding: 2px 12px 3px;
    color: #fff;
  cursor: pointer;
  font-size: 13px;
  border-radius: 20px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a8a8a8+0,a5a5a5+19,a4a4a4+39,a3a3a3+51,9c9c9c+78,9c9c9c+100 */
background: #a8a8a8; /* Old browsers */
background: -moz-linear-gradient(top, #a8a8a8 0%, #a5a5a5 19%, #a4a4a4 39%, #a3a3a3 51%, #9c9c9c 78%, #9c9c9c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #a8a8a8 0%,#a5a5a5 19%,#a4a4a4 39%,#a3a3a3 51%,#9c9c9c 78%,#9c9c9c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #a8a8a8 0%,#a5a5a5 19%,#a4a4a4 39%,#a3a3a3 51%,#9c9c9c 78%,#9c9c9c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#9c9c9c',GradientType=0 ); /* IE6-9 */
}
.bt_select:hover {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9c9c9c+0,9c9c9c+0,9c9c9c+0,9c9c9c+17,9c9c9c+17,a3a3a3+40,a3a3a3+54,a4a4a4+71,a5a5a5+87,a5a5a5+87,a8a8a8+100,a8a8a8+100 */
background: #9c9c9c; /* Old browsers */
background: -moz-linear-gradient(top, #9c9c9c 0%, #9c9c9c 0%, #9c9c9c 0%, #9c9c9c 17%, #9c9c9c 17%, #a3a3a3 40%, #a3a3a3 54%, #a4a4a4 71%, #a5a5a5 87%, #a5a5a5 87%, #a8a8a8 100%, #a8a8a8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #9c9c9c 0%,#9c9c9c 0%,#9c9c9c 0%,#9c9c9c 17%,#9c9c9c 17%,#a3a3a3 40%,#a3a3a3 54%,#a4a4a4 71%,#a5a5a5 87%,#a5a5a5 87%,#a8a8a8 100%,#a8a8a8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #9c9c9c 0%,#9c9c9c 0%,#9c9c9c 0%,#9c9c9c 17%,#9c9c9c 17%,#a3a3a3 40%,#a3a3a3 54%,#a4a4a4 71%,#a5a5a5 87%,#a5a5a5 87%,#a8a8a8 100%,#a8a8a8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c9c9c', endColorstr='#a8a8a8',GradientType=0 ); /* IE6-9 */
}

