/* color schemes */
a:hover {
  color: #d7c0a7; }

.mobile-btn {
  color: #d7c0a7; }

.styled-select dl i.toggle:hover {
  background: #d7c0a7; }

.alert {
  background: #d7c0a7; }

.fancybox-skin .fancybox-close, .post-more, .post-date, h1, .title_main_section, .product-name, .title-box, .box-item h3, .block .title_block, .block h4, label,
.sf-menu li ul li a:hover, .chosen-container-single .chosen-single div, #quantity_wanted_p > a, .simpleblog-category .post-additional-info > span, .simpleblog-home .post-additional-info > span {
  color: #d7c0a7; }

#footer h4 {
  color: #ffffff; }

.post-meta-info i {
  color: #d7c0a7; }

#header .cart_block .cart_block_list .remove_link a:hover,
#header .cart_block .cart_block_list .ajax_cart_block_remove_link:hover, #stop,
.value_bullet,
.checked:before, .pb-left-column .category-product-title,
#my-account ul.myaccount-link-list li a:hover,
ul.myaccount-link-list li a i, p.payment_module a:hover, table#product_comparison .remove a:hover,
.content_sortPagiBar .sortPagiBar #productsSortForm label:before, .content_sortPagiBar .sortPagiBar .nbrItemPage label:before,
.comment_author_infos strong, .comment_details .title_block strong, #layer_cart .crossseling h2, #layer_cart .layer_cart_product h2,
#layer_cart .layer_cart_cart h2, #layer_cart .cross:hover, #reviews_carousel .subject_review, #social_block li a, #page .layered_slider.ui-slider.ui-slider-horizontal, #page .ui-slider-handle.ui-state-default.ui-corner-all,
.gba .single_post .date_add, .gba .single_post .subject, .button_down, .form-control,
.elem_butt li a:hover, .checker .checked:before, .radio .checked:before, .item-news .tte-news, .home-carousel .customer_name,
.breadcrumb, #availability_statut, .post-additional-info > span:before, .ph_simpleblog .simpleblog-posts .post-additional-info a,
.grid-style-arrows .bx-wrapper .bx-controls-direction > a, .bx-controls-direction > a, a:hover, .block .products-block .product-name, #layered_block_left .layered_subtitle, div.star.star_on:before, div.star.star_hover:before, .game-tabs.nav.nav-tabs > li a, .title_additional, .tabs_list li a {
  color: #d7c0a7; }

#footer .footer-block ul li:hover a, #footer .footer-block ul li:before {
  color: white; }

#products-comparison .socialsharing_product .btn.btn-default:not(:hover),
#products-comparison .socialsharing_product .btn.btn-default:not(:hover) i {
  color: #e6d7c7; }

/* background*/
.content_sortPagiBar .display li.selected a:after,
.content_sortPagiBar .display_m li.selected a:after,
.content_sortPagiBar .display li.selected a:before,
.content_sortPagiBar .display_m li.selected a:before,
.content_sortPagiBar .display li.selected a span:before,
.content_sortPagiBar .display_m li.selected a span:before,
.content_sortPagiBar .display li.selected a span:after,
.content_sortPagiBar .display_m li.selected a span:after,
.owl-pagination .owl-page span, .game-tabs.nav.nav-tabs > li.active a, .game-tabs.nav.nav-tabs > li a:hover,
#product .wrap_up_down .button-plus:hover,
#product .wrap_up_down .button-minus:hover, .back_product, div.uploader span.action, .chosen-container .chosen-results li.highlighted, .label-success,
ul.step li.step_current, ul.step li.step_current span:after, div.uploader span.action, div.radio span.checked:before,
.tabs_list li a:hover, .tabs_list li.active a,
.rev_slider .tp-bullets.hesperiden .tp-bullet.selected, .rev_slider .tp-bullets.hesperiden .tp-bullet:hover, .alert-warning, .alert.alert-danger,
.tp-bullets.simplebullets.navbar .bullet:hover, .shopping_cart > a:first-child:before,
.tp-bullets.simplebullets.navbar .bullet.selected, .pb-left-column #image-block #view_full_size .span_link,
.top-pagination-content ul.pagination li.active > span, .bottom-pagination-content ul.pagination li.active > span, .sf-menu > li > a:before,
.chosen-container-single .chosen-single div:hover, div.selector:hover:after, #views_block > a:hover, .grid-style-arrows .bx-wrapper .bx-controls-direction > a:hover, .top-pagination-content ul.pagination li:hover > a, .bottom-pagination-content ul.pagination li:hover > a, #quantity_wanted_p > a:hover {
  background-color: #d7c0a7; }

.rev_slider .tp-bullets.hesperiden .tp-bullet.selected, .rev_slider .tp-bullets.hesperiden .tp-bullet:hover {
  background-color: #d7c0a7 !important; }

input.button_mini,
input.button_small,
input.button,
input.button,
button.button,
input.button_large,
input.button_mini_disabled,
input.button_small_disabled,
input.button_disabled,
input.button_large_disabled,
input.exclusive_mini,
input.exclusive_small,
input.exclusive,
input.exclusive_large,
input.exclusive_mini_disabled,
input.exclusive_small_disabled,
input.exclusive_disabled,
input.exclusive_large_disabled,
a.button_mini,
a.button_small,
a.button,
a.button_large,
a.exclusive_mini,
a.exclusive_small,
a.exclusive,
a.exclusive_large,
span.button_mini,
span.button_small,
span.button,
span.button_large,
span.exclusive_mini,
span.exclusive_small,
span.exclusive,
span.exclusive_large,
span.exclusive_large_disabled,
.function_btn,
.btn.btn-default {
  border-color: #d7c0a7;
  color: #d7c0a7; }

input.button_mini:hover,
input.button_small:hover,
input.button:hover,
input.button:hover,
button.button:hover,
input.button_large:hover,
input.button_mini_disabled:hover,
input.button_small_disabled:hover,
input.button_disabled:hover,
input.button_large_disabled:hover,
input.exclusive_mini:hover,
input.exclusive_small:hover,
input.exclusive:hover,
input.exclusive_large:hover,
input.exclusive_mini_disabled:hover,
input.exclusive_small_disabled:hover,
input.exclusive_disabled:hover,
input.exclusive_large_disabled:hover,
a.button_mini:hover,
a.button_small:hover,
a.button:hover,
a.button_large:hover,
a.exclusive_mini:hover,
a.exclusive_small:hover,
a.exclusive:hover,
a.exclusive_large:hover,
span.button_mini:hover,
span.button_small:hover,
span.button:hover,
span.button_large:hover,
span.exclusive_mini:hover,
span.exclusive_small:hover,
span.exclusive:hover,
span.exclusive_large:hover,
span.exclusive_large_disabled:hover,
.btn.btn-default:hover,
.btn.btn-fill {
  border-color: #e7d9ca;
  background: #e7d9ca;
  color: #ffffff; }

input.button_mini:active,
input.button_small:active,
input.button:active,
input.button:active,
button.button:active,
input.button_large:active,
input.button_mini_disabled:active,
input.button_small_disabled:active,
input.button_disabled:active,
input.button_large_disabled:active,
input.exclusive_mini:active,
input.exclusive_small:active,
input.exclusive:active,
input.exclusive_large:active,
input.exclusive_mini_disabled:active,
input.exclusive_small_disabled:active,
input.exclusive_disabled:active,
input.exclusive_large_disabled:active,
a.button_mini:active,
a.button_small:active,
a.button:active,
a.button_large:active,
a.exclusive_mini:active,
a.exclusive_small:active,
a.exclusive:active,
a.exclusive_large:active,
span.button_mini:active,
span.button_small:active,
span.button:active,
span.button_large:active,
span.exclusive_mini:active,
span.exclusive_small:active,
span.exclusive:active,
span.exclusive_large:active,
span.exclusive_large_disabled:active,
.grid-style-arrows .bx-wrapper .bx-controls-direction > a:active,
.chosen-container-active.chosen-with-drop .chosen-single div,
#views_block > a:active, #quantity_wanted_p > a:active, .wrap-view .function_btn:active,
.btn.btn-default:active, .pb-left-column #image-block #view_full_size .span_link:hover,
.top-pagination-content ul.pagination li:active > a, .bottom-pagination-content ul.pagination li:active > a,
.top-pagination-content ul.pagination li:not(.active):active, .bottom-pagination-content ul.pagination li:not(.active):active,
.game-tabs.nav.nav-tabs > li:not(.active):active a, div.selector:active:after {
  background: #c8a784;
  border-color: #c8a784; }

#back-top {
  background: #eaded1; }
  #back-top:hover {
    background: #f7f2ed; }
  #back-top:hover {
    background: #c5a27d; }

.content_sortPagiBar .display li a:after,
.content_sortPagiBar .display_m li a:after,
.content_sortPagiBar .display li a:before,
.content_sortPagiBar .display_m li a:before,
.content_sortPagiBar .display li a span:before,
.content_sortPagiBar .display_m li a span:before,
.content_sortPagiBar .display li a span:after,
.content_sortPagiBar .display_m li a span:after,
.underline_round:after {
  background: #d7c0a7; }

#categories_block_left li:hover > a,
.socialsharing_product .btn.btn-default, #social_block li a, #page .layered_slider.ui-slider.ui-slider-horizontal, #page .ui-slider-handle.ui-state-default.ui-corner-all {
  background: #e6d7c7; }

.custombanners.displayCustomBanners1 .wrap-icon, .function_btn:hover {
  background: #e6d7c7; }

.socialsharing_product .btn.btn-default {
  border-color: #e6d7c7; }

.game-tabs.nav.nav-tabs > li a:hover, .game-tabs.nav.nav-tabs > li.active a:hover {
  border-color: #e6d7c7; }

.tag {
  color: #d7c0a7; }

.grid-style-arrows .bx-wrapper .bx-controls-direction > a, .form-control,
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td,
#my-account ul.myaccount-link-list li a:hover, #my-account ul.myaccount-link-list li a:hover span,
#my-account ul.myaccount-link-list li a i, .table-bordered, p.payment_module a:hover,
#reviews_carousel .wrap_avatar_review img, ul.step li.step_current span,
.gba .single_post .inner_item, .addForm .imgholder,
div.checker span.checked, div.radio span:checked, #left_column .block .button, .btn.btn-default.blue_btn,
.owl-pagination .owl-page, .game-tabs.nav.nav-tabs li.active a,
.game-tabs.nav.nav-tabs > li:hover a, .sf-menu > li > ul,
#layered_form .color-option.on,
#attributes .attribute_list #color_to_pick_list li.selected,
.content_sortPagiBar .display_m li:hover,
.content_sortPagiBar .display_m li:hover,
.content_sortPagiBar .display li.selected, #header .cart_block, #quantity_wanted_p > a:hover:before,
.content_sortPagiBar .display li.selected, .top-pagination-content ul.pagination li:hover,
.bottom-pagination-content ul.pagination li:hover, .top-pagination-content ul.pagination li.active,
.bottom-pagination-content ul.pagination li.active, #views_block > a:hover, .function_btn:hover, #page .ui-slider-handle.ui-state-default.ui-corner-all:hover, #page .ui-slider-handle.ui-state-default.ui-corner-all.ui-state-active {
  border-color: #d7c0a7; }

.rev_slider .tparrows.hesperiden.tp-leftarrow {
  border-bottom-color: #d7c0a7 !important;
  border-right-color: #d7c0a7 !important; }

.rev_slider .tparrows.hesperiden.tp-rightarrow {
  border-top-color: #d7c0a7 !important;
  border-left-color: #d7c0a7 !important; }

div.copyright {
  background: #dfcdb9; }

#permanent_links_footer li a {
  color: #ffffff; }

/* shadow */
.button_down:hover {
  -webkit-box-shadow: inset 0 0 0 100px #d7c0a7;
  -moz-box-shadow: inset 0 0 0 100px #d7c0a7;
  box-shadow: inset 0 0 0 100px #d7c0a7; }

.form-control:focus {
  -webkit-box-shadow: 0 0 10px 0 #d7c0a7;
  -moz-box-shadow: 0 0 10px 0 #d7c0a7;
  box-shadow: 0 0 10px 0 #d7c0a7;
  border-color: transparent; }

@media (min-width: 992px) and (max-width: 1199px) {
  .category_list .btn.ajax_add_to_cart_button:hover, #product .center_column .none-margin-padding .btn.ajax_add_to_cart_button:hover {
    background-color: #d7c0a7;
    border-color: #d7c0a7; } }
@media (max-width: 768px) {
  .cat-title {
    background: #d7c0a7; }

  .function_btn {
    background: #d7c0a7; }

  .function_btn:hover {
    border-color: #e6d7c7; } }
.subcategories__item__img:hover {
  border-color: #d7c0a7; }

.breadcrumb a {
  color: #ffffff; }

#layered_block_left #enabled_filters .layered_subtitle, #last_quantities, #view_scroll_left:hover, #view_scroll_right:hover, #pagenotfound h2 span, .dproductrating .response, .ajax_block_product .add_to_compare:before {
  color: #d7c0a7; }

.styled-checkbox.checked:before {
  border-color: transparent transparent #d7c0a7 #d7c0a7; }

.custombanners .bx-controls-direction a:hover,
.bx-wrapper .bx-controls-direction a:hover:before {
  color: #d7c0a7 !important; }

.custombanners .bx-wrapper .bx-pager.bx-default-pager a:hover, .custombanners .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #d7c0a7 !important; }

.easycarousels .grid-style-arrows .bx-wrapper .bx-controls-direction > a:hover:before, .easycarousels .grid-style-arrows .bx-wrapper .bx-controls-direction > a:active:before {
  color: #ffffff !important; }

#cmsinfo_block em {
  background: #d7c0a7; }

.styled-select:not(.mobile) li:hover {
  background: #d7c0a7; }

#footer, .wrap_breadcrumb {
  background: #c8a784;
  color: #ffffff; }

#footer .footer-block ul li a, .custombanners.displayFooter p {
  color: #ffffff; }

.social-sharing.-single .fa {
  color: #d7c0a7 !important; }

.form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #e7d9ca !important; }

.post-infos span:before {
  color: #d7c0a7; }

.styled-radio.checked:before {
  background: #d7c0a7; }

.box {
  border-color: #d7c0a7; }

.page-subheading {
  color: #d7c0a7; }

.drop_content_user a:before, .button-search {
  color: #d7c0a7; }

#languages-block-top .styled-select .dl .toggle, #currencies-block-top .styled-select .dl .toggle {
  color: #d7c0a7; }

.breadcrumb {
  color: #ffffff; }

.btn.btn-primary {
  border-color: #d7c0a7;
  color: #d7c0a7; }
  .btn.btn-primary:hover {
    background: #d7c0a7;
    color: #ffffff; }

body #newsletter_block_left .btn {
  background: #d7c0a7; }
body .post-page .post-main-image + .post-date {
  background: #d7c0a7; }
body .edit-avatar {
  color: #d7c0a7; }
body .post-item-info i {
  color: #d7c0a7; }

.game-tabs.nav.nav-tabs > li a.selected {
  background: #d7c0a7; }

.wrap_up_down a:hover {
  background: #d7c0a7; }

.styled-file .file-button {
  background: #d7c0a7; }

@media (max-width: 480px) {
  #more_info_tabs.nav.nav-tabs > li a:hover, #more_info_tabs.nav.nav-tabs > li a.selected {
    border-color: #d7c0a7;
    color: #d7c0a7; } }
@media (max-width: 414px) {
  .copyright .inner_copyright {
    color: #ffffff; } }

/*# sourceMappingURL=theme8.css.map */
