/* color schemes */
#search_block_top {
  float: right; }

#search_block_top #searchbox {
  white-space: nowrap; }

#search_block_top #search_query_top {
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-bottom: none;
  width: 100%;
  font-size: 13px;
  padding: 0 30px 0 12px; }

#search_block_top #search_query_top, #search_block_top .button-search {
  display: inline-block;
  outline: none; }

#search_block_top .button-search {
  padding: 0;
  background: none;
  border: none;
  position: absolute;
  right: 15px;
  font-size: 14px;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1); }

.ac_results {
  background: #ffffff;
  border: 1px solid #e7e7e7;
  width: 271px;
  margin-top: -1px; }

.ac_results li {
  padding: 0 10px;
  font-weight: normal;
  color: #666666;
  font-size: 13px;
  line-height: 22px; }

.ac_results li.ac_odd {
  background: #ffffff; }

.ac_results li:hover, .ac_results li.ac_over {
  background: #F5F5F5; }

form#searchbox {
  position: relative; }

form#searchbox label {
  color: #333333; }

form#searchbox input#search_query_block {
  margin-right: 10px;
  max-width: 222px;
  margin-bottom: 10px;
  display: inline-block;
  float: left; }

form#searchbox .button.button-small {
  float: left; }

form#searchbox .button.button-small i {
  margin-right: 0; }

@media (max-width: 1279px) {
  #search_block_top #search_query_top {
    border-right: none; } }
@media (max-width: 1199px) {
  #search_block_top #search_query_top {
    font-size: 12px; } }
@media (max-width: 768px) {
  #search_block_top #search_query_top {
    border-right: none; }

  #search_block_top #searchbox {
    position: relative; }

  #search_query_top {
    padding-right: 18px; } }
@media (max-width: 639px) {
  #search_block_top {
    max-width: 180px; } }
@media (max-width: 550px) {
  #search_block_top {
    margin-left: 0; } }
@media (max-width: 479px) {
  #search_block_top {
    max-width: 115px; } }

/*# sourceMappingURL=blocksearch.css.map */
