.rev_slider{
	.tparrows{
		&.hesperiden{
		&:before{
				display: none;
			}
			background: none!important;
			border:1px solid transparent;
			color: $white;
			height: 40px; 
			width: 40px;
			z-index:100;
			cursor:pointer;
			-webkit-transform: rotate(135deg);
			-moz-transform: rotate(135deg);
			-o-transform: rotate(135deg);
			-ms-transform: rotate(135deg);
			transform: rotate(135deg);
			-webkit-transition: border-color .5s ease-out, opacity .5s ease-out;
			-o-transition: border-color .5s ease-out, opacity .5s ease-out;
			-moz-transition: border-color .5s ease-out, opacity .5s ease-out;
			transition: border-color .5s ease-out, opacity .5s ease-out;
			@include border-radius(0);
			&.tp-leftarrow{
				border-right-color:$theme-color-one;
				border-bottom-color:$theme-color-one;
				&:hover{
					border-right-color:$theme-color-one;
					border-bottom-color:$theme-color-one;
				}
			}
			&.tp-rightarrow{
				border-left-color:$theme-color-one;
				border-top-color:$theme-color-one;
				&:hover{
					border-left-color:$theme-color-one;
					border-top-color:$theme-color-one;
				}
			}
		}
	}

	/*bullets*/
	.tp-bullets{
		&.hesperiden {
			width: auto!important;
			.tp-bullet{
				border: none;
				background: $white;
				cursor: pointer;
				position: relative;
				width: 30px;
				height: 5px;
				float: left;
				margin-top: 0px;
				left: 0!important;
				top: 0!important;
				right: 0!important;
				bottom: 0!important;
				@include border-radius(0);
				&:not(:first-child){
					margin-left:10px;
				}
				&.selected,&:hover{
					background: $theme-color-one;
				}
			}
		}
	}
}
@media (max-width: $screen-xs-max){
	.rev_slider .tparrows{
		display: none !important;
	}
}