@import "variables";

#currencies-block-top {
	float: left;
	position: relative;
	border-right-style: solid;
	border-right-width: 1px;
	.styled-select {
		dt.option{
			border: none;
			line-height: inherit;
			padding: 0 26px 0 12px;
		}
		.dl .toggle{
			line-height: inherit;
		}
		ul {
			border: none;
			box-shadow: 0 0 5px 0 rgba($black, .21);
			min-width: 70px;
			padding: 15px 12px 0;
		}
		li{
			background: none;
			border: none;
			color: $black;
			padding: 0 0 15px;
		}
	}
	select {
		border: none;
		padding: 0 15px;
	}
	option{
		&[disabled],&[selected]{
			display: none;
		}
	}
}

/* mobile */
@media (max-width: $screen-xs-max){
	#currencies-block-top{
		border: none;
		display: inline-block;
		vertical-align: middle;
		float: none;
		padding: 0 10px;
		z-index: 10;
		text-align: left;
		.styled-select {
			dt.option{
				padding-left: 0;
			}
		}
		select {
			padding-left: 0;
			outline: none;
		}
	}
}