@import 'compass';
@import "variables";

a{
	&:hover{
		color: $color-scheme-four;
	}
}
.mobile-btn{
	color: $color-scheme-four;
}
.styled-select dl i.toggle:hover{
	background: $color-scheme-four;
}
.alert{
	background: $color-scheme-four;
}
.fancybox-skin .fancybox-close,.post-more,.post-date,h1,.title_main_section,.product-name,.title-box,.box-item h3,.block .title_block, .block h4,label,
.sf-menu li ul li a:hover,.chosen-container-single .chosen-single div,#quantity_wanted_p>a,.simpleblog-category .post-additional-info>span,.simpleblog-home .post-additional-info>span{
	color: $color-scheme-four;
}
#footer h4{
	color: $white;
}
.post-meta-info i{
	color: $color-scheme-four;
}
#header .cart_block .cart_block_list .remove_link a:hover,
#header .cart_block .cart_block_list .ajax_cart_block_remove_link:hover,#stop,
.value_bullet,
.checked:before,.pb-left-column .category-product-title,
#my-account ul.myaccount-link-list li a:hover,
 ul.myaccount-link-list li a i,p.payment_module a:hover,table#product_comparison .remove a:hover,
 .content_sortPagiBar .sortPagiBar #productsSortForm label:before,.content_sortPagiBar .sortPagiBar .nbrItemPage label:before,
 .comment_author_infos strong,.comment_details .title_block strong,#layer_cart .crossseling h2,#layer_cart .layer_cart_product h2,
 #layer_cart .layer_cart_cart h2,#layer_cart .cross:hover,#reviews_carousel .subject_review,#social_block li a, #page .layered_slider.ui-slider.ui-slider-horizontal, #page .ui-slider-handle.ui-state-default.ui-corner-all,
 .gba .single_post  .date_add,.gba .single_post .subject,.button_down,.form-control,
 .elem_butt li a:hover,.checker .checked:before,.radio .checked:before,.item-news .tte-news,.home-carousel .customer_name,
 .breadcrumb,#availability_statut,.post-additional-info>span:before,.ph_simpleblog .simpleblog-posts .post-additional-info a,
.grid-style-arrows .bx-wrapper .bx-controls-direction>a,.bx-controls-direction>a,a:hover,.block .products-block .product-name,#layered_block_left .layered_subtitle,div.star.star_on:before,div.star.star_hover:before,.game-tabs.nav.nav-tabs > li a,.title_additional,.tabs_list li a{
	color: $color-scheme-four
}
#footer .footer-block ul li:hover a,#footer .footer-block ul li:before,{
	color: lighten($color-scheme-four, 45%);
}
#products-comparison .socialsharing_product .btn.btn-default:not(:hover),
#products-comparison .socialsharing_product .btn.btn-default:not(:hover) i{
	color: lighten( $color-scheme-four, 9 );
}/* background*/
.content_sortPagiBar .display li.selected a:after,
.content_sortPagiBar .display_m li.selected a:after,
.content_sortPagiBar .display li.selected a:before,
.content_sortPagiBar .display_m li.selected a:before,
.content_sortPagiBar .display li.selected a span:before,
 .content_sortPagiBar .display_m li.selected a span:before,
 .content_sortPagiBar .display li.selected a span:after,
 .content_sortPagiBar .display_m li.selected a span:after,
.owl-pagination .owl-page span,.game-tabs.nav.nav-tabs > li.active a, .game-tabs.nav.nav-tabs > li a:hover,
#product .wrap_up_down .button-plus:hover,
#product .wrap_up_down .button-minus:hover,.back_product,div.uploader span.action,.chosen-container .chosen-results li.highlighted,.label-success,
ul.step li.step_current,ul.step li.step_current span:after,div.uploader span.action,div.radio span.checked:before,
.tabs_list li a:hover,.tabs_list li.active a,
.rev_slider .tp-bullets.hesperiden .tp-bullet.selected, .rev_slider .tp-bullets.hesperiden .tp-bullet:hover,.alert-warning,.alert.alert-danger,
.tp-bullets.simplebullets.navbar .bullet:hover,.shopping_cart >a:first-child:before,
.tp-bullets.simplebullets.navbar .bullet.selected,.pb-left-column #image-block #view_full_size .span_link,
.top-pagination-content ul.pagination li.active > span,.bottom-pagination-content ul.pagination li.active > span,.sf-menu > li > a:before,
.chosen-container-single .chosen-single div:hover,div.selector:hover:after,#views_block>a:hover,.grid-style-arrows .bx-wrapper .bx-controls-direction>a:hover,.top-pagination-content ul.pagination li:hover > a,.bottom-pagination-content ul.pagination li:hover > a,#quantity_wanted_p>a:hover{
	background-color: $color-scheme-four;
}
.rev_slider .tp-bullets.hesperiden .tp-bullet.selected, .rev_slider .tp-bullets.hesperiden .tp-bullet:hover{
	background-color: $color-scheme-four!important;
}
input.button_mini,
input.button_small,
input.button,
input.button,
button.button,
input.button_large,
input.button_mini_disabled,
input.button_small_disabled,
input.button_disabled,
input.button_large_disabled,
input.exclusive_mini,
input.exclusive_small,
input.exclusive,
input.exclusive_large,
input.exclusive_mini_disabled,
input.exclusive_small_disabled,
input.exclusive_disabled,
input.exclusive_large_disabled,
a.button_mini,
a.button_small,
a.button,
a.button_large,
a.exclusive_mini,
a.exclusive_small,
a.exclusive,
a.exclusive_large,
span.button_mini,
span.button_small,
span.button,
span.button_large,
span.exclusive_mini,
span.exclusive_small,
span.exclusive,
span.exclusive_large,
span.exclusive_large_disabled,
.function_btn,
.btn.btn-default{
	border-color:  $color-scheme-four;
	color:  $color-scheme-four;
}
input.button_mini:hover,
input.button_small:hover,
input.button:hover,
input.button:hover,
button.button:hover,
input.button_large:hover,
input.button_mini_disabled:hover,
input.button_small_disabled:hover,
input.button_disabled:hover,
input.button_large_disabled:hover,
input.exclusive_mini:hover,
input.exclusive_small:hover,
input.exclusive:hover,
input.exclusive_large:hover,
input.exclusive_mini_disabled:hover,
input.exclusive_small_disabled:hover,
input.exclusive_disabled:hover,
input.exclusive_large_disabled:hover,
a.button_mini:hover,
a.button_small:hover,
a.button:hover,
a.button_large:hover,
a.exclusive_mini:hover,
a.exclusive_small:hover,
a.exclusive:hover,
a.exclusive_large:hover,
span.button_mini:hover,
span.button_small:hover,
span.button:hover,
span.button_large:hover,
span.exclusive_mini:hover,
span.exclusive_small:hover,
span.exclusive:hover,
span.exclusive_large:hover,
span.exclusive_large_disabled:hover,
.btn.btn-default:hover,
.btn.btn-fill{
	border-color: lighten($color-scheme-four, 10%);
	background: lighten($color-scheme-four, 10%);
	color: $white;
}
input.button_mini:active,
input.button_small:active,
input.button:active,
input.button:active,
button.button:active,
input.button_large:active,
input.button_mini_disabled:active,
input.button_small_disabled:active,
input.button_disabled:active,
input.button_large_disabled:active,
input.exclusive_mini:active,
input.exclusive_small:active,
input.exclusive:active,
input.exclusive_large:active,
input.exclusive_mini_disabled:active,
input.exclusive_small_disabled:active,
input.exclusive_disabled:active,
input.exclusive_large_disabled:active,
a.button_mini:active,
a.button_small:active,
a.button:active,
a.button_large:active,
a.exclusive_mini:active,
a.exclusive_small:active,
a.exclusive:active,
a.exclusive_large:active,
span.button_mini:active,
span.button_small:active,
span.button:active,
span.button_large:active,
span.exclusive_mini:active,
span.exclusive_small:active,
span.exclusive:active,
span.exclusive_large:active,
span.exclusive_large_disabled:active,
.grid-style-arrows .bx-wrapper .bx-controls-direction>a:active,
.chosen-container-active.chosen-with-drop .chosen-single div,
#views_block>a:active,#quantity_wanted_p>a:active,.wrap-view .function_btn:active,
.btn.btn-default:active,.pb-left-column #image-block #view_full_size .span_link:hover,
.top-pagination-content ul.pagination li:active > a,.bottom-pagination-content ul.pagination li:active > a,
.top-pagination-content ul.pagination li:not(.active):active,.bottom-pagination-content ul.pagination li:not(.active):active,
.game-tabs.nav.nav-tabs > li:not(.active):active a,div.selector:active:after{
	background: darken($color-scheme-four, 10%);
	border-color: darken($color-scheme-four, 10%);
}
#back-top{
	background: lighten($color-scheme-four, 12%);
	&:hover{
		background: lighten($color-scheme-four, 20%);
	}
	&:hover{
		background: darken($color-scheme-four, 12%);
	}
}
.content_sortPagiBar .display li a:after,
.content_sortPagiBar .display_m li a:after,
.content_sortPagiBar .display li a:before,
.content_sortPagiBar .display_m li a:before,
.content_sortPagiBar .display li a span:before,
 .content_sortPagiBar .display_m li a span:before,
 .content_sortPagiBar .display li a span:after,
 .content_sortPagiBar .display_m li a span:after,
.underline_round:after{
	background: $color-scheme-four;
}
#categories_block_left li:hover>a,
.socialsharing_product .btn.btn-default,#social_block li a,#page .layered_slider.ui-slider.ui-slider-horizontal,#page .ui-slider-handle.ui-state-default.ui-corner-all{
	background: lighten( $color-scheme-four, 9 );
}
.custombanners.displayCustomBanners1 .wrap-icon,.function_btn:hover{
	background: lighten( $color-scheme-four, 9 );
}
.socialsharing_product .btn.btn-default{
	border-color: lighten( $color-scheme-four, 9 );
}
.game-tabs.nav.nav-tabs > li a:hover,.game-tabs.nav.nav-tabs > li.active a:hover{
	border-color: lighten( $color-scheme-four, 9 );
}
.tag{
	color: $color-scheme-four; 
}
.grid-style-arrows .bx-wrapper .bx-controls-direction>a,.form-control,
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,.table-bordered>tbody>tr>td,.table-bordered>tfoot>tr>td,
#my-account ul.myaccount-link-list li a:hover,#my-account ul.myaccount-link-list li a:hover span,
#my-account ul.myaccount-link-list li a i,.table-bordered,p.payment_module a:hover,
#reviews_carousel .wrap_avatar_review img,ul.step li.step_current span,
.gba .single_post .inner_item,.addForm .imgholder,
div.checker span.checked,div.radio span:checked,#left_column .block .button,.btn.btn-default.blue_btn,
.owl-pagination .owl-page,.game-tabs.nav.nav-tabs li.active a,
.game-tabs.nav.nav-tabs > li:hover a,.sf-menu>li>ul,
#layered_form .color-option.on,
#attributes .attribute_list #color_to_pick_list li.selected,
.content_sortPagiBar .display_m li:hover,
.content_sortPagiBar .display_m li:hover,
.content_sortPagiBar .display li.selected,#header .cart_block,#quantity_wanted_p>a:hover:before,
.content_sortPagiBar .display li.selected,.top-pagination-content ul.pagination li:hover,
.bottom-pagination-content ul.pagination li:hover,.top-pagination-content ul.pagination li.active,
.bottom-pagination-content ul.pagination li.active,#views_block>a:hover,.function_btn:hover,#page .ui-slider-handle.ui-state-default.ui-corner-all:hover,#page .ui-slider-handle.ui-state-default.ui-corner-all.ui-state-active{
	border-color:$color-scheme-four;
}

.rev_slider .tparrows.hesperiden.tp-lefttarrow{
	border-bottom-color: $color-scheme-four!important;
	border-right-color: $color-scheme-four!important;
}
.rev_slider .tparrows.hesperiden.tp-rightarrow{
	border-top-color: $color-scheme-four!important;
	border-left-color: $color-scheme-four!important;
}
div.copyright{
	background: lighten($color-scheme-four, 5%);
}
#permanent_links_footer li a{
	color: $white;
}
/* shadow */
.button_down:hover{
	-webkit-box-shadow: inset 0 0 0 100px $color-scheme-four;
	-moz-box-shadow: inset 0 0 0 100px $color-scheme-four;
	box-shadow: inset 0 0 0 100px $color-scheme-four;
}
.form-control:focus{
	-webkit-box-shadow:0 0 10px 0 $color-scheme-four;
	-moz-box-shadow:0 0 10px 0 $color-scheme-four;
	box-shadow:0 0 10px 0 $color-scheme-four;
	border-color: transparent; 
}

@media (min-width:$screen-md) and (max-width:$screen-md-max){
	.category_list .btn.ajax_add_to_cart_button:hover,#product .center_column .none-margin-padding .btn.ajax_add_to_cart_button:hover{
		background-color: $color-scheme-four;
		border-color:$color-scheme-four;
	}
}
@media(max-width:$screen-xs-max){
	.cat-title{
		background:$color-scheme-four;
	}
	.function_btn{
		background: $color-scheme-four;
	}
	.function_btn:hover{
		border-color: lighten( $color-scheme-four, 9 );
	}
}
.subcategories__item__img:hover{
	border-color: $color-scheme-four;
}
.breadcrumb a{
	color: $white;
}
#layered_block_left #enabled_filters .layered_subtitle, #last_quantities, #view_scroll_left:hover, #view_scroll_right:hover, #pagenotfound h2 span, .dproductrating .response, .ajax_block_product .add_to_compare:before{
	color: $color-scheme-four;
}
.styled-checkbox.checked:before{
	border-color: transparent transparent $color-scheme-four $color-scheme-four;
}
.custombanners .bx-controls-direction a:hover,
.bx-wrapper .bx-controls-direction a:hover:before{
	color: $color-scheme-four!important;
}
.custombanners .bx-wrapper .bx-pager.bx-default-pager a:hover, .custombanners .bx-wrapper .bx-pager.bx-default-pager a.active{
	background: $color-scheme-four!important;
}
.easycarousels .grid-style-arrows .bx-wrapper .bx-controls-direction > a:hover, .easycarousels .grid-style-arrows .bx-wrapper .bx-controls-direction > a:active{
	&:before{
		color: $white!important;
	}
}
#cmsinfo_block em{
	background: $color-scheme-four;
}
.styled-select:not(.mobile) li:hover{
	background: $color-scheme-four;
}
#footer, .wrap_breadcrumb{
	background: darken($color-scheme-four,10%);
	color: $white;
}
#footer .footer-block ul li a, .custombanners.displayFooter p{
	color: $white;
}
.social-sharing.-single .fa{
	color: $color-scheme-four!important;
}
.form-control{
	&:focus{
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-color: lighten($color-scheme-four, 10%)!important;
	}
}
.post-infos span:before{
	color: $color-scheme-four;
}
.styled-radio.checked:before{
	background: $color-scheme-four;
}
.box{
	border-color: $color-scheme-four;
}
.page-subheading{
	color: $color-scheme-four;
}
.drop_content_user a:before, .button-search{
	color: $color-scheme-four;
}

#languages-block-top, #currencies-block-top {
	.styled-select .dl .toggle {
		color: $color-scheme-four;
	}
}
.breadcrumb{
	color: $white;
}
.btn.btn-primary{
	border-color: $color-scheme-four;
	color: $color-scheme-four;
	&:hover{
		background: $color-scheme-four;
		color: $white;
	}
}
body {
	#newsletter_block_left .btn{
		background: $color-scheme-four;
	}
	.post-page .post-main-image + .post-date{
		background: $color-scheme-four;
	}
	.edit-avatar{
		color: $color-scheme-four;
	}
	.post-item-info{
		i {
			color: $color-scheme-four;
		}
	}
}
.game-tabs.nav.nav-tabs > li a.selected{
	background: $color-scheme-four;
}
.wrap_up_down a:hover{
	background: $color-scheme-four;
}
.styled-file .file-button{
	background: $color-scheme-four;
}
@media (max-width: $screen-xs){
	#more_info_tabs.nav.nav-tabs > li a:hover, #more_info_tabs.nav.nav-tabs > li a.selected{
		border-color: $color-scheme-four;
		color: $color-scheme-four;
	}
}
@media (max-width: $screen-xs-mobile){
	.copyright .inner_copyright{
		color: $white;
	}
}