
.banner-effect-hover .banner-item-content{
	position: relative;
}
.banner-effect-hover .banner-item-content .wrap-effect{
	display: block;
	overflow: hidden;
}
.banner-effect-hover .banner-item-content .wrap-effect:before{
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $clr-eight;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	-moz-transition: opacity 0.5s, -moz-transform 0.5s;
	-o-transition: opacity 0.5s, -o-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}
.banner-effect-hover .banner-item-content .wrap-effect:after{
	content: '';
	display: block;
	position: absolute;
	border-style: solid;
	border-width: 1px;
	top: -1px;
	bottom: -1px;
	left: -1px;
	right: -1px;
	border-color:$clr-one;
	opacity: 0;
}
.banner-effect-hover .banner-item-content .custom-html,
.banner-effect-hover .banner-item-content .wrap-effect:after{
	z-index: 2;
}
.banner-effect-hover .banner-item-content img,
.banner-effect-hover .banner-item-content .wrap-effect:after,
.banner-effect-hover .banner-item-content .custom-html,
.banner-effect-hover .banner-item-content .custom-html p {
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-o-transition:all .3s;
	transition:all .3s;
}
.banner-effect-hover .banner-item-content:hover img{
	-webkit-transform:scale(1.12);
	-moz-transform:scale(1.12);
	-o-transform:scale(1.12);
	-ms-transform:scale(1.12);
	transform:scale(1.12);
}
.banner-effect-hover .banner-item-content:hover .wrap-effect:after{
	top: 15px;
	bottom: 15px;
	left: 15px;
	right: 15px;
}
.banner-effect-hover .banner-item-content:hover .wrap-effect:before,.banner-effect-hover .banner-item-content:hover .wrap-effect:after{
	opacity: 1;
}
.banner-effect-hover .banner-item-content:hover .custom-html,
.banner-effect-hover .banner-item-content:hover .custom-html p{
	color: $white;
}
#video-promo-wrap:before,#video-promo-wrap:after{
	-webkit-transition:all .8s ease-in-out;
	-moz-transition:all .8s ease-in-out;
	-o-transition:all .8s ease-in-out;
	transition:all .8s ease-in-out;
}
.banner-item_feature .wrap-icon i{
	-webkit-transition: all 0.6s ease 0s;
	-moz-transition: all 0.6s ease 0s;
	-o-transition: all 0.6s ease 0s;
	transition: all 0.6s ease 0s;
}
.banner-item_feature .wrap-icon:hover i:last-child,.banner-item_feature .wrap-icon:hover i:first-child{
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}

