.hover_scale{
	display: inline-block;
	overflow: hidden;
	position: relative;
	
}
.hover_scale img {
	display: inline-block;
	width: 100%;
}
.scale_image img {
	-webkit-transition:-webkit-transform .5s ease;
	-moz-transition:-moz-transform .5s ease;
	-o-transition:-o-transform .5s ease;
	transition:transform .5s ease;
}
.scale_image:hover img{
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1);
	-ms-transform:scale(1.1);
	transform:scale(1.1);
}
.hover_scale img {
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
}
.hover_scale:hover img{
	-webkit-transform:scale(1.15,1.15);
	-moz-transform:scale(1.15,1.15);
	-o-transform:scale(1.15,1.15);
	-ms-transform:scale(1.15,1.15);
	transform:scale(1.15,1.15);
}
.scale_image {
	display: inline-block;
	overflow: hidden;
}
.scale_image img {
	width: 100%;
}