@media screen and (min-width: $screen-sm){
	#header{
		-webkit-transition:transform .25s ease;
		-o-transition:transform .25s ease;
		-moz-transition:transform .25s ease;
		transition:transform .25s ease;
	}
	#header_logo a{
		-webkit-transition: inherit;
		-moz-transition: inherit;
		transition: inherit;
	}
}