.ui-slider-handle.ui-state-default.ui-corner-all{
	-webkit-transition: background .2s ease-in-out .2s;
	-o-transition: background .2s ease-in-out .2s;
	-moz-transition: background .2s ease-in-out .2s;
	transition: background .2s ease-in-out .2s;
}
