a,button{
	-webkit-transition: color .3s ease,background .3s ease;
	-o-transition: color .3s ease,background .3s ease;
	-moz-transition: color .3s ease,background .3s ease;
	transition: color .3s ease,background .3s ease;
}
input.button_mini,
input.button_small,
input.button,
input.button,
button.button,
input.button_large,
input.button_mini_disabled,
input.button_small_disabled,
input.button_disabled,
input.button_large_disabled,
input.exclusive_mini,
input.exclusive_small,
input.exclusive,
input.exclusive_large,
input.exclusive_mini_disabled,
input.exclusive_small_disabled,
input.exclusive_disabled,
input.exclusive_large_disabled,
a.button_mini,
a.button_small,
a.button,
a.button_large,
a.exclusive_mini,
a.exclusive_small,
a.exclusive,
a.exclusive_large,
span.button_mini,
span.button_small,
span.button,
span.button_large,
span.exclusive_mini,
span.exclusive_small,
span.exclusive,
span.exclusive_large,
span.exclusive_large_disabled,
.btn.btn-default,.black-btn {
	-webkit-transition: color .2s linear, background .2s ease;
	-o-transition: color .2s linear, background .2s ease;
	-moz-transition: color .2s linear, background .2s ease;
	transition: color .2s linear, background .2s ease;
}
