.ajax_block_product .add_to_compare{
	-webkit-transition:text-indent .2s;
	-moz-transition:text-indent .2s;
	-o-transition:text-indent .2s;
	transition:text-indent .2s;
}
.ajax_block_product .product_img_link:before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition:opacity .5s;
	-moz-transition:opacity .5s;
	-o-transition:opacity .5s;
	transition:opacity .5s;
}
.ajax_block_product .product-image-container:hover .product_img_link:before{
	filter: alpha(opacity=70);
	opacity: 0.7;
}
.product-image-container .wrap-view .addToWishlist{
	right: 100%;
}
.product-image-container .wrap-view .quick-view{
	left: 100%;
}
.product-image-container:hover .wrap-view .addToWishlist{
	right: 0;
}
.product-image-container:hover .wrap-view .quick-view{
	left: 0;
}
.wrap-view>a,#layered_block_left ul.color-group li{
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	-webkit-transition:all .5s;
	transition:all .5s;
}

