@media screen and (min-width: 1025px){
	.content_sortPagiBar .display li a:before,
	.content_sortPagiBar .display li a:after,
	.content_sortPagiBar .display li a span:before,
	.content_sortPagiBar .display li a span:after	 {
		-webkit-transition:all .5s;
		-moz-transition:all .5s;
		-webkit-transition:all .5s;
		transition:all .5s;
	}
	.content_sortPagiBar .display li{
		-webkit-transition:opacity .3s ease;
		-moz-transition:opacity .3s ease;
		-o-transition:opacity .3s ease;
		transition:opacity .3s ease;
	}
}
.content_sortPagiBar .display li#list:hover a:after,
.content_sortPagiBar .display li#list:hover a:before,
.content_sortPagiBar .display li#list:hover a span:after{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
