@import "variables";

@media (min-width: $screen-sm) {
	
	.header_user_info{
		padding: 0 15px;
		float: left;
		position: relative;
			}

	.drop_content_user span:hover{
		text-decoration:underline;
	}

	.header_user_info .drop_content_user li{
		float: left;
		padding: 0 0 0 15px;
	}
	.header_user_info .drop_content_user a {
		position: relative;
		display: block;
		font-size: 13px;
		text-transform: capitalize;
		border-left-style: solid;
		border-left-width: 1px;
		padding-left: 15px;
	}
	.header_user_info .drop_content_user li:last-child a{
		border-right-style:solid;
		border-right-width:1px;
		padding-right: 15px;
	}
	.user-info__item a:before{
		margin-right: 5px;
	}
	.drop_links {
		display: block;
	}
}
@media (min-width: $screen-md){
	.drop_links {
		display: none;
	}
	.drop_content_user{
		background: none!important;
		display: block!important;
	}
	.header_user_info{
		border:none;
	}
}
@media (max-width: 1279px){
	.drop_content_user li:first-child a{
		border-left: none;
	}
}
@media (max-width: $screen-sm-max){
	.header_user_info{
		padding-right: 0;
		position: relative;
	}
	.drop_links {
		height: 50px;
		position: relative;
		white-space: nowrap;
		border-right-style: solid;
		border-right-width: 1px;
		padding: 0 15px;
	}
	.drop-icon{
		font-size: 12px;
		line-height: 12px;
		padding-left: 5px;
	}
	.header_user_info .drop_content_user li{
		float: none;
		padding: 0;
		width: 100%;
	}
	.header_user_info .drop_content_user li:last-child a,
	.header_user_info .drop_content_user li a{
		border:none;
	}
	.drop_content_user{
		z-index: 2;
		line-height: 24px;
		position: absolute;
		top: 100%;
		left: 30px;
		width: auto;
		min-width: 100%;
		white-space: nowrap;
		z-index: 2;
		padding: 10px 15px;
		border-style: solid;
		border-width: 1px;
		text-align: left;
		transition: transform .3s, opacity .3s, opacity .3s;
		visibility: hidden;
		opacity: 0;
		transform: translateY(-30px);
	}
	.header_user_info .drop_content_user a{
		display: block;
		padding: 0;
		border-right-width: 0;
	}
	.header_user_info .drop_content_user a{
		&:after, &:before{
			display: none;
		}
	}
	#state-user-1, #state-user-2{
		&:checked{
			~ .drop_content_user{
				transform: translateY(0);
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
/* mobile */
@media (max-width: $screen-xs-max){
	.desktop-view{
		display: none!important;
	}
	.drop_links{
		border: none;
	}
	.header_user_info{
		float: right;
		line-height: 25px;
		margin-right: 35px;
		z-index: 11;
	}
	.drop_content_user{
		left: auto;
		right: 15px;
	}
}