@import "variables";

.shop-phone {
  display: block;
  float: left;
  padding-left: 15px;
  border-top-style: solid;
}
@media screen and (max-width: $screen-xs-max){
  .shop-phone{
    font-size: 11px;
  }
}
@media screen and (max-width: $screen-xs){
  .shop-phone {
    border-top-width: 1px;
      width: 100%;
  }
}