@import "variables";

.pb-right-column .socialsharing_product {
	margin: 0;
	text-align: center;
	display: inline-block;
}

.socialsharing_product button.btn:hover {
	border-color: transparent;
}

#social-share-compare button {
	width: 100%;
	margin-bottom: 10px;
}

#product .wrap_share > span {
	display: inline-block;
	position: relative;
	padding: 0 10px 0 20px;
	font-size: 12px;
}

#product_comparison {
	td.compare_extra_information {
		padding: 10px;
	}
	#social-share-compare {
		margin-bottom: 50px;
	}
}

.socialsharing_product .btn.btn-default {
	position: relative;
	padding: 0;
	height: 35px;
	width: 35px;
	line-height: 35px;
	font-size: 18px;
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	z-index: 0;
	margin-right: 10px;
	float: left;
}

#products-comparison .socialsharing_product {
	margin-top: 15px;
}

#product .wrap_share {
	width: 100%;
	padding: 20px 0;
	float: left;
	clear: both;
	border-top-style: solid;
	border-top-width: 1px;
	margin-top: 20px;
}

.socialsharing_product .btn.btn-default:last-child {
	margin-right: 0;
}

#product .socialsharing_product .btn.btn-default {
	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 0;
		z-index: -1;
	}
	&:hover:before {
		height: 100%;
	}
	span {
		display: none;
	}
}

.socialsharing_product .btn.btn-default:after {
	display: none;
}

#products-comparison .socialsharing_product .btn.btn-default {
	border-width: 2px;
}

/* mobile */
@media (max-width: $screen-xs-mobile){
	#product {
		.wrap_share{
			border: none;
			clear: both;
			margin-top: 30px;
			padding: 0;
		}
	}
}