.main-block {
	clear: both;
}
.dynamic-list {
	margin: 20px 0;
}
p.note {
	color: #999;
	margin: 10px 0 0 7px;
}
.list-params .inline-block {
	margin-right: 7px;
}
.list-params .alert-info {
	padding: 7px 10px 8px 10px;
	border-radius: 5px;
	margin: 0;
}
.list-params .alert-info label {
	margin: 0;
}
.sorting {
	margin-left: 15px;
}
.order-way-label {
	display: none;
}
.order-way-label.active {
	display: inline-block;
}
.table {
	border-top: 1px solid #EEE;
	margin-top: 15px;
}
.item-identifier {
	margin-left: 3px;
	color: #CCC;
}
.item-value {
	margin-left: 3px;
}
.item-sorting-value {
	float: right;
	color: #CCC;
}
label span {
	font-weight: normal;
}
.list-actions, .list-pagination {
	margin-top: 20px;
}
.pages-holder {
	margin-left: 10px;
}
.pages-holder a, .pages-holder span {
	border: 1px solid #DDD;
	float: left;
	margin-left: -1px;
	text-align: center;
	width: 32px;
	height: 32px;
	line-height: 29px;
}
.go-to-page.next {
	border-radius: 0 3px 3px 0;
}
.go-to-page.prev {
	border-radius: 3px 0 0 3px;
}
.pages-holder .current-page {
	background: #F5F8F9;
}

.resource-list.loading  {
	opacity: 0.5;
}
.t-text {
	position: relative;
}
.t-text.loading .main-txt {
	opacity: 0;
}
.t-text.loading .stop-txt {
	display: block;
}
.stop-txt {
	position: absolute;
	left: 0;
	right: 0;
	display: none;
}
td .ok {
	color:#71B238;
}
.bootstrap .inline-block {
	display: inline-block;
	width: auto;
}
.info-block a {
	width: 50%;
	display: block;
	float: left;
	line-height: 29px;
}
.bootstrap a:hover, .bootstrap a:focus {
	text-decoration: none;
}
.alert .repeat {
	padding: 2px 7px;
    background: #EAB3B7;
    border-radius: 10px;
    margin: 0 3px;
    color: #FFF;
}
.alert .repeat:before {
	content: 'x';
}
@media (min-width: 992px) {
	.key-block {
		width: 70%;
		float: left;
	}
	.info-block {
		width: 30%;
		float: right;
		padding-left: 15px;
	}
}
/* since 2.6.1 */
