@import "variables";

.product_comments_block_extra {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	&:before {
		display: none;
	}
	.star:before {
		font-size: 17px;
	}
	.comments_note,
	.comments_advices {
		display: inline-block;
		vertical-align: middle;
	}
	.comments_note span {
		float: left;
		color: $clr-ten;
	}
	.star_content {
		float: left;
		color: $clr-ten;
		margin-top: 1px;
	}
	.comments_advices {
		padding-left: 20px;
	}
}

.comments_advices {
	li {
		display: inline-block;
		position: relative;
		font-size: 14px;
	}
	a {
		text-decoration: underline;
		text-transform: capitalize;
		&.reviews {
			border-right: 1px solid $color-sixty;
			padding-right: 5px;
			margin-right: 5px;
			text-transform: none;
		}
	}
}

.product_comments_block_extra {
	padding: 15px 0;
}


/* pop-in add grade/advice ********************************************************************* */

#fancybox-wrap {
	width: 585px;
}

#fancybox-content {
	width: 585px;
	border-width: 0;
}

#new_comment_form {
	padding: 2px 3px;
	overflow: hidden;
	color: $clr-ten;
	text-align: left;
	h2 {
		margin-bottom: 10px;
		line-height: 22px;
	}
	.title {
		padding: 10px;
		font-size: 13px;
		color: $white;
		text-transform: uppercase;
		background: $clr-ten;
	}
	.grade_content {
		list-style-type: none;
		margin: 0 0 20px 0;
		li {
			width: 50%;
		}
		span {
			display: inline-block;
			padding: 0 10px;
			width: 150px;
			font-weight: bold;
		}
		.cancel {
			margin-right: 5px;
		}
	}
	.product {
		padding: 15px;
		img {
			border: 1px solid $clr-twenty-two;
			float: left;
			margin-right: 10px;
		}
		.product_desc {
			line-height: 18px;
			 color: $clr-twelve;
			.product_name {
				padding: 10px 0 5px;
				font-size: 13px;
				color: $theme-color-one;
			}
		}
	}
	.new_comment_form_content {
		padding: 15px 15px 20px;
		.intro_form {
			padding-bottom: 10px;
			font-weight: bold;
			font-size: 12px;
		}
	}
	label {
		display: block;
		margin: 0px 0 10px 0;
		font-weight: normal;
		font-size: 14px;
	}
	input {
		padding: 0 10px;
		height: 35px;
		width: 100%;
		border: 1px solid $theme-color-one;
		background: $white;
		margin-bottom: 15px;
	}
	textarea {
		padding: 0 10px;
		height: 35px;
		width: 100%;
		border: 1px solid $theme-color-one;
		background: $white;
		margin-bottom: 15px;
		height: 90px;
		padding: 10px;
	}
	.submit {
		margin-top: 20px;
		padding: 0;
		font-size: 13px;
		text-align: right;
	}
	#criterions_list {
		padding-bottom: 15px;
		list-style-type: none;
		.star_content{
			display: block;
		}
		li {
			margin-bottom: 10px;
		}
		label {
			display: inline;
			line-height: 20px;
			float: left;
			margin: 0 10px 0 0;
		}
	}
	#new_comment_form_footer {
		margin-top: 20px;
		font-size: 12px;
		clear: both;
	}
	.rate_list_product {
		padding-bottom: 20px;
	}
}

#new_comment_form_footer {
	.al_center {
		padding-top: 20px;
		padding-bottom: 10px;
		text-align: center;
	}
	.button {
		min-width: 110px;
		vertical-align: top;
	}
	.closefb {
		margin-right: 12px;
	}
}


/* TAB COMMENTS ******************************************************************************** */

#product_comments_block_tab {
	div {
		&.comment {
			margin: 0 0 14px;
			padding-top: 14px;
			 border-top: 1px solid $clr-twenty-two;
			&:first-child {
				padding: 0;
				border: none;
			}
			.comment_author {
				padding: 0 20px;
				line-height: 18px;
				.star_content {
					display: inline-block;
					vertical-align: middle;
					margin: 0 0 12px;
				}
			}
			.comment_details {
				overflow: hidden;
				border-left: 1px solid $clr-twenty-two;
			}
		}
		&.star:after {
			display: inline-block;
			color: $clr-twelve;
		}
	}
	.comment_author_infos {
		clear: both;
		strong {
			display: block;
			color: $clr-ten;
		}
		em {
			color: $clr-twenty-two;
		}
	}
	a {
		text-decoration: none;
		display: table;
		margin: 0 auto;
	}
	.report_btn {
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
}

.fl {
	float: left;
}

.fr {
	float: right;
}

#id_new_comment_form .dproductrating {
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
}

#idTab5 .comment {
	margin-bottom: 20px;
}

.comment_author_infos strong {
	font-weight: 700;
	padding-bottom: 10px;
	display: inline-block;
	font-weight: bold;
}

.comment_details {
	.title_block strong {
		font-weight: 700;
		padding-bottom: 10px;
		display: inline-block;
		font-weight: bold;
	}
	.body_review {
		line-height: 1.5;
		color: $clr-ten;
		font-weight: 300;
	}
}

#product_comments_block_tab .align_center {
	text-align: center;
}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {
	.comments_advices li {
		font-size: 12px;
	}
}

@media (max-width: 580px) {
	#new_comment_form h2 {
		line-height: 25px;
	}
	#product_comments_block_tab .comment {
		.comment_author {
			padding: 0 15px;
			width: 100%;
		}
		.comment_details {
			width: 100%;
			border-left: none;
			padding-top: 10px;
		}
	}
}

@media (max-width: $screen-xs) {
	#new_comment_form_footer {
		.button,
		.closefb {
			width: 100%;
			margin-right: 0;
			margin-bottom: 15px;
		}
	}
	#new_comment_form .product {
		text-align: center;
		.product_desc {
			text-align: left;
		}
		img {
			float: none;
			display: inline-block;
		}
	}
	.product_comments_block_extra {
		.comments_note {
			padding-bottom: 10px;
			display: block;
			padding-left: 0;
		}
		.comments_advices {
			display: block;
			padding-left: 0;
		}
	}
	.comments_advices {
		.reviews {
			padding-right: 0;
			margin-right: 0;
			border-right: 0;
		}
	}
	#product_comments_block_tab a {
		font-size: 10px;
	}
}


@media (min-width: $screen-xs-mobile + 1) {
	.mobile-comments{
		display: none;
	}
}

/* mobile */
@media (max-width: $screen-xs-mobile) {
	.mobile-comments{
		.product_comments_block_extra {
			border: none;
			padding: 0;
			.comments_note{
				padding-bottom: 11px;
			}
			.comments_advices{
				display: none;
			}
		}
	}
	#buy_block{
		.product_comments_block_extra {
			border: none;
			margin-bottom: 30px;
			padding: 0;
			.comments_note{
				display: none;
			}
		}
	}
}