/* general */
.amazzingblog{
	.block_content {
		border: none!important;
	}
	&.displayHomeLine{
		padding: 0 15px;
		float: left;
		@media screen and (min-width: $screen-sm){
			width: 66.66666667%;
		}
		@media screen and (max-width: $screen-xs-max){
			margin-bottom: 30px;
		}
	}
}
.blocks{
	 @media screen and (min-width: 581px) {
		.post-item-cover,.post-content{
			padding: 0 15px;
			float: left;
			width: 50%;
		}
		.post-item{
			margin: 0 -15px;
			&:after{
				content:'';
				display: table;
				clear: both;
			}
		}
	}
}
.amazzingblog img {
	max-width: 100%;
}
.inline-block {
	display: inline-block;
}
.b {font-weight:bold;}
.i {font-style:italic;}
.u {text-decoration:underline;}

.post-list .first-in-line {
	clear: left;
}
.post-list {
	clear: both;
}
.post-item-date  {
	font-weight: bold;
	padding-top: 15px;
	position: relative;
	margin-top: 15px;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100px;
		height: 1px;
		background: $clr-thirty-one;
	}
	div {
		display: inline-block;
		vertical-align: top;
		padding-right: 4px;
	}
}
.post-item-title {
	margin: 0 0 10px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1.5;
	font-size: 14px;
}
.post-item-content {
	line-height: 1.5;
	color: $clr-fifteen;
}
.post-item-infos{
	padding: 10px 0;
	font-size: 12px;
	font-weight: 300;
}
.post-item-info {
	padding: 0 10px;
	position: relative;
	&:first-child{
		padding-left: 0;
	}
	&:not(:last-child){
		&:after{
			content:'|';
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}
.block-viewall{
	margin-top: 10px;
}

/* mobile */
@media (max-width: $screen-xs-mobile){
	.post-item-info.views-num{
		display: none;
	}
	.post-item-content{
		color: #939597;
		font-size: 12px;
		line-height: 2;
	}
	.post-item-cover{
		img {
			width: 100%;
		}
	}
	.amazzingblog.displayHomeLine{
		margin: 0 (-$base-offset) 31px;
		
		.block-title{
			padding: 0 15px;
			text-align: center;
		}
		.title-box{
			margin-bottom: 75px;
		}
		.post-content{
			padding: 0 $base-offset;
		}
		.bx-wrapper {
			.bx-controls {
				.bx-controls-direction{
					top: -56px;
				}
			}
		}
	}
}