/* carousels */
.n-hover .bx-wrapper .bx-controls-direction {
	display: none;
}
.n-hover .bx-wrapper:hover .bx-controls-direction {
	display: block;
}
/* fix for /bx_loader.gif 404 (Not Found) */
.amazzingblog .bx-wrapper .bx-loading  {
	background: none;
}
.amazzingblog .bx-wrapper .bx-controls .bx-controls-direction{
	top: -44px;
}
@media screen and (min-width: $screen-sm){
	.amazzingblog .bx-wrapper .bx-controls .bx-controls-direction{
		left: 50%;
		right: auto;
		margin-left: -41px;
	}
}