.presentation-cover-text{
	position: absolute;
	top: 50%;
	right: 15px;
	left: 15px;
	padding: 0 8% 0 15px;
	@include translate(0, -50%);
	z-index: 1;
	.post-item-title{
		color: $black;
		margin-bottom: 12px;
		@media screen and (max-width: $screen-md-max){
			font-size: 55px;
		}
		@media screen and (max-width: $screen-sm-max){
			font-size: 40px;
		}
	}
}
.main-item{
	text-align: right;
	.post-item-footer{
		margin-top: 0;
	}
}
.presentation-preview{
	cursor: pointer;
	&:not(:last-child){
		margin-bottom: 20px;
	}
	&.current {
		.presentation-preview-img{
			@include opacity(.5);
		}
	}
	.presentation-preview-img{
		@include transition(opacity .5s);
		&:hover{
			@include opacity(.5);
		}
	}
}
@media screen and (max-width: $screen-xs-max){
	.all-items {
		padding-left: 10px;
		padding-right: 10px;
	}
	.presentation-preview{
		width: 50%;
		float: left;
		padding: 0 5px;
	}
	.presentation-main-cover{
		img{
			width: 100%;
		}
	}
}
@media screen and (max-width: $screen-xs){
	.presentation-preview{
		width: 100%;
		margin-bottom: 20px;
	}
}