
@import "variables";

@media (min-width: $screen-lg){
	#module-amazzingblog-blog{
		#center_column{
			padding-right: 110px;
		}
	}
}
.loading {
	opacity: 0.5;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

/* categories */
.blog-subcategories {
	border-bottom: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	padding: 29px 0 19px;
	&:before, &:after{
		content: '';
		display: table;
		clear: both;
	}
}
.blog-subcategory {
	color: #c6c6c6;
	text-transform: uppercase;
	font-size: 18px;
	width: 33.333%;
	float: left;
	margin-bottom: 10px;
	padding-right: 10px;
	@media (max-width: $screen-xs){
		width: 50%;
	}
	@media (max-width: 320px){
		width: 100%;
	}
	> a, span {
		display: block;
	}
	.posts-num{
	
	}
}


/* pagination */
.dynamic-posts{
	clear: both;
	padding-top: 33px;
	.pagination {
		&:first-child{
			margin-bottom: 30px;
		}
		&:before, &:after{
			content: '';
			clear: both;
			display: table;
		}
		.styled-select {
			.option{
				padding-top: 6px;
				padding-bottom: 6px;
			}
			.dl .toggle{
				line-height: 22px;
			}
		}
	}
}
.pagination .pages {
	label {
		color: $black;
		font-size: 13px;
		padding-right: 5px;
		text-transform: uppercase;
	}
}
.pagination .pages > a, .pagination .pages > span {
	width: 25px;
	height: 25px;
	line-height: 23px;
	display: inline-block;
	border: 1px solid #e2e2e2;
	color: #555555;
	text-align: center;
	margin: 0 2px;
	&.current-page{
		background: $theme-color-one;
		border-color: $theme-color-one;
		color: $white;
	}
}
.pagination .pages > a{
	&:hover{
		background: $theme-color-one;
		border-color: $theme-color-one;
		color: $white;
	}
}
.npp-holder {
	.inline-block{
		font-size: 12px;
		margin: 0 0 0 10px;
		vertical-align: middle;
	}
	.styled-select{
		font-size: 12px;
	}
}
/* post */
.category-page{
	.post-item-title{
		margin-bottom: 8px;
		min-height: 0!important;
	}
	h2{
		color: $black;
		font-size: 20px;
		font-weight: 400;
		float: left;
	}
	.post-item-content{
		font-size: 12px;
		line-height: 2;
	}
	.post-item-wrapper{
		margin-bottom: 68px;
	}
	.grid {
		display: flex;
		flex-wrap: wrap;
		.post-item-wrapper{
			@media (min-width: $screen-sm){
				width: 50%;
			}
		}
	}
}
/* tablet */
@media (max-width: $screen-xs-max){
	.dynamic-posts{
		padding-top: 25px;
		.pagination{
			display: block;
			float: none;
			text-align: center;
		}
	}
	#module-amazzingblog-blog{
		.breadcrumb{
			margin-bottom: 25px;
		}
		#footer{
			margin-top: 40px;
		}
	}
	.category-page{
		.list {
			.post-item-wrapper{
				&:not(:last-child){
					margin-bottom: 23px;
				}
			}
		}
		.post-item{
			padding-top: 0;
		}
	}
	.npp-holder{
		display: inline-block;
		float: none;
		.form-control{
			height: 32px;
			padding: 3px 25px;
		}
	}
}
/* mobile */
@media (max-width: $screen-xs-landscape){
	.category-page {
		.post-item-title{
			font-size: 16px;
		}
	}
}
