img.module-logo {
	max-width: 32px;
	margin: 0 5px;
}
.module-list {
	margin-top: 15px;
}
.chk-action {
	margin-right: 10px;
}
.bootstrap .chk-action:hover, .bootstrap .chk-action:focus, .bootstrap .chk-action:active {
	text-decoration: none;	
}
/* ajax bar at the top*/
#re-progress {
  top: 0;
  height: 2px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 999999;
}
#re-progress .progress-inner {
  background-color: #71B238;
  height: 2px;
  width: 0;
}