/*****************************************************************************
		  Layer Cart Css
*****************************************************************************/

.layer_cart_overlay {
	background-color: $black;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	opacity: 0.2;
}

* html .layer_cart_overlay {
	position: absolute;
	left: 0;
	margin-left: -160px;
	opacity: 0.2;
}

#layer_cart {
	background-color: white;
	position: absolute;
	display: none;
	z-index: 10000;
	width: 900px;
	left: 15px;
	right: 15px;
	margin: 0 auto;
	border-radius: 4px;
	@media (min-width: $screen-sm){
		top: 50%!important;
		position: fixed;
		transform: translateY(-50%);
	}
	.layer_cart_product {
		padding: 30px 30px 30px 30px;
		overflow: hidden;
		position: static;
	}
	.layer_cart_product h2 {
		font-size: 23px;
		line-height: 29px;
		margin: 0 0 22px;
		color: $theme-color-one;
	}
	@media (min-width: $screen-xs-max + 1) {
		.outer_block_cart {
			width: auto;
		}
	}
	.layer_cart_product h2 i {
		font-size: 30px;
		line-height: 30px;
		float: left;
		padding-right: 8px;
	}
	.layer_cart_product .product-image-container {
		max-width: 95px;
		border: 1px solid $clr-twenty-two;
		padding: 5px;
		float: left;
		margin-right: 30px;
	}
	#layer_cart_product_title {
		display: block;
		padding-bottom: 8px;
	}
	.layer_cart_product .layer_cart_product_info > div {
		padding-bottom: 7px;
	}
	.layer_cart_product .layer_cart_product_info > div strong {
		padding-right: 3px;
	}
	.layer_cart_cart {
		background: $color-ninety-three;
		border-left: 1px solid $clr-twenty-two;
		padding: 30px 34px 170px 30px;
		-webkit-border-radius: 0px 4px 4px 0px;
		-moz-border-radius: 0px 4px 4px 0px;
		-ms-border-radius: 0px 4px 4px 0px;
		-o-border-radius: 0px 4px 4px 0px;
		border-radius: 0px 4px 4px 0px;
		position: relative;
	}
	@media (min-width: $screen-lg) {
		.layer_cart_cart {
			min-height: 318px;
		}
	}
	@media (min-width: $screen-xs-max + 1) and (max-width: $screen-sm-max) {
		.outer_block_cart {
			max-width: 24%;
		}
	}
	@media (min-width: $screen-md) and (max-width: $screen-md-max) {
		.layer_cart_cart {
			min-height: 360px;
		}
	}
	@media (max-width: $screen-sm-max) {
		width: auto;
		.layer_cart_cart {
			padding-bottom: 100px;
			border-left: none;
			border-top: 1px solid $clr-twenty-two;
		}
	}
	.layer_cart_cart h2 {
		font-size: 23px;
		line-height: 29px;
		color: $clr-ten;
		padding-bottom: 13px;
		margin: 0 0 17px;
	}
	.layer_cart_cart .layer_cart_row {
		padding: 0 0 4px 0;
	}
	.layer_cart_cart .button-container {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 10px 0 10px;
		text-align: center;
		.btn {
			font-size: 12px;
			padding: 5px 20px;
		}
	}
}

#layer_cart_cart .button-container .btn {
	margin-bottom: 10px;
	font-size: 13px;
	font-weight: 700;
}

.layer_cart_cart .button-container span.exclusive-medium {
	margin-right: 5px;
}

.layer_cart_cart span.exclusive-medium i {
	padding-right: 5px;
}

#layer_cart .cross {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	color: $theme-color-one;
	z-index: 2;
	font-size: 20px;
	transition: color .5s ease;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	&:hover {
		color: lighten($theme-color-one, 10%);
	}
}

#layer_cart .continue {
	cursor: pointer;
}

#layer_cart p {
	padding: 0px;
}


/************************************************************************
			Layer Cart Caroucel
*************************************************************************/

#layer_cart {
	.crossseling {
		.crossseling-content {
			border-top: 1px solid $clr-twenty-two;
			padding: 26px 30px 40px 30px;
			position: relative;
		}
		h2 {
			font: 400 23px/26px Arial, Helvetica, sans-serif;
			color: $clr-ten;
			margin-bottom: 25px;
		}
		#blockcart_list {
			max-width: 773px;
			width: 84%;
			margin: 0 auto;
			overflow: hidden;
		}
		#blockcart_list ul {
			display: block;
		}
		#blockcart_list ul li {
			float: left;
			width: 178px;
			margin: 0 0px 0 0;
		}
		#blockcart_list ul li .product-image-container {
			border: 1px solid $clr-twenty-two;
			text-align: center;
			padding: 5px;
			margin-bottom: 15px;
		}
		#blockcart_list ul li .product-image-container img {
			width: 100%;
		}
		#blockcart_list ul li .product-name {
			padding-bottom: 5px;
		}
		#blockcart_list ul li .product-name a {
			font-size: 15px;
			line-height: 20px;
		}
		#blockcart_list .bx-prev,
		#blockcart_list .bx-next {
			display: block;
			font-size: 20px;
			line-height: 20px;
			width: 20px;
			height: 20px;
			color: $clr-ten;
			text-indent: -5000px;
			position: absolute;
			top: 45%;
			margin-top: -20px;
		}
		#blockcart_list .bx-prev:after,
		#blockcart_list .bx-next:after {
			display: block;
			text-indent: 0;
		}
		#blockcart_list .bx-prev.disabled,
		#blockcart_list .bx-next.disabled {
			display: none;
		}
		#blockcart_list .bx-prev {
			left: 5%;
		}
		#blockcart_list .bx-next {
			right: 5%;
		}
		#blockcart_list .bx-controls {
			overflow: hidden;
		}
	}
}

/* tablet */
@media (max-width: $screen-xs-max){
	#layer_cart{
		color: $black;
		font-size: 12px;
		max-width: none;
		width: 360px;
		position: fixed;
		top: 50%!important;
		transform: translateY(-50%);
		.dark{
			color: $black;
		}
		.layer_cart_product {
			padding: 30px;
			.product-image-container{
				border: none;
				margin-right: 10px;
				padding: 0;
			}
			h2{
				font-size: 18px;
				font-weight: 600;
				line-height: 1.4;
				margin-bottom: 30px;
			}
			.layer_cart_product_info{
				> div {
					padding: 14px 0 0 105px;
				}
			}
		}
		.layer_cart_cart {
			padding: 35px 30px 27px;
			h2{
				color: $black;
				font-size: 16px;
				font-weight: bold;
				line-height: 1.4;
				margin-bottom: 20px;
				padding-bottom: 0;
			}
			.button-container{
				margin: 25px -15px 0;
				padding: 0;
				position: static;
				width: auto;
			}
			.btn {
				font-size: 16px;
				padding: 8px 10px;
				width: 100%;
				margin-right: 0;
			}
			.continue{
				margin-bottom: 10px;
			}
		}
		#layer_cart_product_title{
			padding-bottom: 0;
		}
	}
}
@media (max-width: $screen-xs-landscape){
	#layer_cart{
		background: $color-ninety-three;
		border-radius: 0;
		position: fixed;
		left: 0;
		right: 0;
		top: 0!important;
		bottom: 0;
		width: auto;
		overflow: auto;
		overflow-x: hidden;
		transform: translateY(0);
		-webkit-overflow-scrolling: touch;
		.layer_cart_product{
			padding: 18px 33px 35px 18px;
			h2{
				font-size: 16px;
			}
		}
		.layer_cart_cart {
			padding: 35px 18px 20px;
			h2{
				font-size: 14px;
			}
			.button-container{
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}
@media (max-width: $screen-xs-landscape) and (min-width: $screen-xs + 1){
	#layer_cart{
		.layer_cart_cart{
			.button-container{
				padding: 0 22%;
			}
		}
	}
}