@import "variables";

@import "layer";

.cart_block {
	.ajax_cart_block_remove_link {
		&:before {
			display: inline-block;
			font-size: 21px;
			position: absolute;
			left: 10px;
			top: 0;
			bottom: 0;
		}
	}
	.cart-images {
		float: left;
		display: block;
		max-width: 82px;
		margin-right: 20px;
		border-style: solid;
		border-width: 1px;
		img {
			display: block;
			max-width: 100%;
		}
	}
	.product-name {
		max-width: 195px;
	}
	.cart-info {
		overflow: hidden;
		position: relative;
		float: left;
		text-align: left;
		.product-name a {
			font-size: 14px;
			font-weight: bold;
			text-transform: uppercase;
			line-height: 1.2;
			display: inline-block;
			text-align: left;
			vertical-align: top;
		}
	}
	.quantity-formated {
		font-size: 12px;
		display: inline-block;
		vertical-align: top;
		line-height: 1.2;
		font-weight: bold;
		display: none;
	}
	dt {
		overflow: hidden;
		position: relative;
	}
	dd {
		position: relative;
		.cart_block_customizations li {
			padding: 10px 20px;
			position: relative;
		}
	}
	.cart_block_no_products {
		margin: 0;
	}
}

.cart-prices .title_total {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	vertical-align: middle;
	float: left;
}

.cart_block .cart-prices .cart-prices-line {
	overflow: hidden;
	clear: both;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	line-height: 42px;
}

.cart-prices-line .price {
	font-size: 16px;
	font-weight: 400;
}

.cart_block .cart-buttons {
	margin: 0;
	overflow: hidden;
	padding: 20px 0 0;
}

.cart-buttons .view-cart {
	margin-right: 15px;
}


/*******************************************************************
		  Cart Block(Header) Styles
********************************************************************/

.cart_block {
	display: none;
	position: absolute;
	top: 100%;
	z-index: 1050;
	height: auto;
	width: 370px;
	padding: 20px;
	margin-top: -1px;
	right: 0;
	border-top-style: solid;
	border-top-width: 3px;
	text-align: left;
	overflow-y: auto;
	max-height: 650px;
	box-shadow: 0 2px 6px 0 $clr-twenty-two;
}

.cart_block_list .products .price {
	line-height: 1;
}

.cart_block {
	.ajax_cart_block_remove_link {
		outline: none;
		text-decoration: none;
		font-size: 13px;
		font-weight: bold;
		text-transform: uppercase;
		height: 30px;
		line-height: 28px;
		padding: 0 10px 0 30px;
		border-style: solid;
		border-width: 1px;
		position: relative;
		margin-top: 12px;
		display: table;
		width: auto;
		text-align: center;
	}
	.product-atributes {
		display: none;
	}
	.price {
		font-size: 18px;
		font-weight: 700;
	}
	dt {
		line-height: 1.5;
		padding-bottom: 20px;
		&:last-child {
			margin-bottom: 10px;
		}
	}
	.cart-prices {
		border: none;
		line-height: normal;
		margin-top: 15px;
	}
}

#header .block_content {
	margin-bottom: 0;
}

.cart_block {
	#cart_block_summary,
	.title_block span,
	h4,
	.title_block,
	h4 {
		display: none;
	}
	.cart_block_shipping_cost,
	.cart_block_tax_cost,
	.cart_block_total,
	.cart_block_wrapping_cost {
		vertical-align: baseline;
		padding-left: 5px;
		text-transform: uppercase;
	}
	table.vouchers {
		clear: both;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 10px;
		tr td {
			padding: 2px;
			&.quantity {
				margin-right: 5px;
				min-width: 18px;
			}
			&.delete {
				padding-left: 0;
				padding-right: 0;
			text-align: right;
				width: 15px;
			}
		}
	}
}

@media (min-width: $screen-sm) {
	.mobile-btn,.cart-close{
		display: none;
	}
	#header {
		.shopping_cart {
			display: inline-block;
			position: relative;
		}
		.wrap_cart {
			float: right;
			padding: 0 15px;
			text-align: right;
		}
	}
	.shopping_cart {
		> a > span {
			display: inline-block !important;
		}
		a .ajax_cart_no_product {
			display: none !important;
		}
		> a {
			display: inline-block;
			position: relative;
			z-index: 101;
			border: 0px;
			font-weight: normal;
			&:first-child:before {
				font-size: 15px;
				display: inline-block;
				margin-right: 5px;
				font-weight: 300;
				width: 40px;
				height: 40px;
				text-align: center;
				line-height: 40px;
				vertical-align: middle;
			}
		}
	}
}

@media (min-width: $screen-md) {
	#header .wrap_cart {
		padding: 0 15px 0 0;
		width: 20%;
	}
}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {
	.shopping_cart > a:first-child:before {
		margin-right: 2px;
	}
}

@media (min-width: $screen-sm) and (max-width: $screen-md-max) {
	.shopping_cart a .ajax_cart_product_txt {
		display: none !important;
	}
}
/* mobile */
@media (max-width: $screen-xs-max){
	#header{
		.wrap_cart{
			position: absolute;
			right: 38px;
			padding: 0;
			top: 0;
			width: auto;
			line-height: 27px;
		}
		.shopping_cart{
			> a{
				display: none;
			}
		}
		.cart_block{
			background: $white;
			color: $black;
			display: block !important;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			opacity: 0;
			overflow: auto;
			overflow-x: hidden;
			visibility: hidden;
			will-change: transform;
			transition: transform .3s, visibility .3s, opacity .3s;
			transform: translateY(-30px);
			-webkit-overflow-scrolling: touch;
			border: none;
			height: 100%!important;
			margin: 0 !important;
			&.active{
				opacity: 1;
				visibility: visible;
				transform: translateY(0px);
			}
			h3{
				border-bottom: 1px solid $clr-twenty-two;
				font-size: 20px;
				margin-bottom: 45px;
				padding-bottom: 20px;
			}
			.cart-images{
				border: none;
				margin-right: 40px;
			}
			dt{
				border-bottom-color: $clr-twenty-two;
				padding-left: 0;
				padding-right: 0;
			}
			.block_content{
				border: none;
				display: table;
				width: 100%;
				height: 100%;
			}
			.cart_block_list{
				display: table-cell;
				width: 100%;
				height: 100%;
				padding: 0 38px;
				vertical-align: middle;
			}
			.remove_link{
				right: 0;
				top: 62px;
			}
			.cart-info{
				.product-name,.quantity-formated{
					color: inherit;
				}
				.product-name{
					max-width: none;
					margin-bottom: 0;
					a{
						font-size: 16px;
					}
				}
			}
			.price{
				color: inherit;
				font-size: 16px;
			}
			.cart-buttons{
				padding: 80px 0 20px;
				.checkout{
					display: none;
				}
			}
		}
		.cart-prices {
			.cart-prices-line{
				padding: 0;
			}
			.title_total{
				color: inherit;
			}
		}
		#button_view_cart{
			font-size: 16px;
			&:before{
				display: none;
			}
			&:after{
				font-size: 18px;
				padding-left: 5px;
			}
		}
	}
	.cart-close{
		font-size: 18px;
		position: absolute;
		right: 14px;
		top: 10px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
	}
}

@media (max-width: $screen-xs-landscape) {
	#header {
		.cart_block {
			.cart_block_list{
				padding: 86px 25px 50px;;
			}
			.cart-images{
				max-width: 80px;
			}
			.remove_link{
				top: 19px;
			}
			.cart-images{
				margin-right: 10px;
			}
			.cart-info{
				float: none;
				margin-left: 90px;
			}
			dt{
				.price{
					clear: both;
					float: none;
				}
			}
		}
		.cart_block_no_products{
			width: 100%;
		}
		.cart-prices {
			.cart-prices-line{
				width: 100%;
			}
		}
		#button_view_cart{
			width: 100%;
			padding: 8px 10px;
		}
	}
}
