/* color schemes */
#languages-block-top {
  float: left;
  position: relative;
  border-right-style: solid;
  border-right-width: 1px; }
  #languages-block-top .styled-select dt.option {
    border: none;
    line-height: inherit;
    padding: 0 26px 0 12px; }
  #languages-block-top .styled-select .dl .toggle {
    line-height: inherit; }
  #languages-block-top .styled-select ul {
    min-width: 70px;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.21);
    padding: 15px 12px 0; }
  #languages-block-top .styled-select li {
    background: none;
    border: none;
    color: #000000;
    padding: 0 0 15px; }
  #languages-block-top select {
    border: none;
    padding: 0 15px; }
  #languages-block-top option[disabled], #languages-block-top option[selected] {
    display: none; }

/* mobile */
@media (max-width: 768px) {
  #languages-block-top {
    border: none;
    display: inline-block;
    vertical-align: middle;
    float: none;
    padding: 0 10px;
    z-index: 10;
    text-align: left; }
    #languages-block-top .styled-select dt.option {
      padding-left: 0; }
    #languages-block-top select {
      padding-left: 0;
      outline: none; } }

/*# sourceMappingURL=blocklanguages.css.map */
