#module-amazzingblog-blog{
	.post-page {
		h1{
			color: #363636;
			font-size: 30px;
			font-weight: bold;
			line-height: 1.5;
			margin: 42px 0 8px;
		}
	}
	#footer{
		margin-top: 57px;
	}
}
.post-page {
	.title-blog{
		color: $black;
		font-size: 20px;
		font-weight: 400;
		margin-bottom: 32px;
	}
	.cover{
		position: relative;
	}
	.post-main-image{
		img {
			display: block;
			width: 100%;
		}
		+ .post-date{
			background: $theme-color-one;
			bottom: 0;
			color: $white;
			font-size: 16px;
			left: 30px;
			padding: 2px 8px;
			position: absolute;
			text-transform: uppercase;
			width: 51px;
			height: 51px;
			text-align: center;
			overflow: hidden;
			line-height: 1.5;
			-webkit-transform: translateY(50%);
			transform: translateY(50%);
		}
	}
	.wrapper-post-content{
		padding-left: 30px;
	}
	.post-content {
		background: none;
		color: #363636;
		line-height: 2;
		padding: 0;
	}
	.post-info{
		font-size: 12px;
		font-weight: bold;
		color: $color-ninety-seven;
		i{
			padding-right: 5px;
		}
	}
}

.post-page h4 {
	color: #363636;
	font-size: 14px;
	margin-bottom: 30px;
}
.post-page img {
	max-width: 100%;
}
.info-block {
	color: #999;
}
.info-block .inline-block {
	margin-right: 15px;
}
.post-main-image {

}
@media (min-width: $screen-lg){
	#module-amazzingblog-blog{
		#center_column{
			padding-right: 117px;
		}
	}
}
@media (min-width: $screen-xs-landscape){
	.post-page{
		.wrapper-info{
			display: table;
			width: 100%;
			.post-info,.post-sharing{
				display: table-cell;
				padding: 23px 0 35px;
				vertical-align: middle;
			}
			.post-sharing{
				text-align: right;
			}
		}
	}
}
/* tablet and mobile */
@media (max-width: $screen-xs-max){
	#module-amazzingblog-blog{
		.breadcrumb{
			margin-bottom: 25px;
		}
		.column-side{
			display: none;
		}
	}
	.post-page{
		.title-blog{
			margin-bottom: 22px;
		}
		.cover{
			margin: 0 (-$base-offset);
		}
		.wrapper-post-content{
			padding-left: 0;
		}
	}
}
/* mobile */
@media (max-width: $screen-xs-landscape){
	.post-page .post-info {
		padding: 15px 0;
	}
	#module-amazzingblog-blog {
		.post-page {
			h1{
				font-size: 16px;
			}
		}
	}
	.post-page {
		.post-main-image{
			img {
				width: auto;
				max-width: none;
			}
		}
	}
}
@media (max-width: 320px){
	.post-page{
		.cover{
			margin: 0 (-$base-offset-xs);
		}
	}
}