/* comments */
.post-comments {
	border-top: 1px solid #e5e5e5;
	padding-top: 25px;
}
.comments-list {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 40px;
}
.comment-item {
	background: $white;
	border: 1px solid #e5e5e5;
	position: relative;
	margin: 0px 0 44px 107px;
	min-height: 115px;
	padding: 20px 30px;
	@at-root .comment-info-block{
		color: $color-ninety-two;
		.b {
			font-size: 14px;
			font-weight: normal;
		}
		.comment-date{
			color: #a5a5a5;
			font-size: 12px;
			margin-left: 7px;
		}
	}
}
.comment-item:before, .comment-item:after {
	content: '';
	position: absolute;
	left: -16px;
	top: 12px;
	border: 8px solid #e5e5e5;
	border-color: transparent #e5e5e5 transparent transparent;
}
.comment-item:after {
	border-color: transparent $white transparent transparent;
	left: -15px;
}
.new-comment {
	padding-top: 15px;
	.comment-item{
		background: #f9f9f9;
		margin-bottom: 22px;
		&:after{
			border-color: transparent #f9f9f9 transparent transparent;
		}
		&.red-border{
			&:before{
				border-color: transparent #E27C79 transparent transparent;
			}
		}
	}
}
.user-avatar {
	position: absolute;
	right: calc(100% + 28px);
	top: 0;
}
.avatar-img {
	border: 1px solid;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	text-align: center;
	line-height: 80px;
	font-size: 25px;
	&:after{
		content: '?';
	}
	&[style*="background"]{
		&:after{
			display: none;
		}
	}
}

.comment-content {
	margin: 5px 0;
}
.mce-placeholder {
	position: absolute;
	top: 15px;
	color: #999;
}
.comment-item .mce-input {
	min-height: 78px;
	outline: none;
	padding: 15px;
	margin: -15px;
}
.mce-input em {
	font-style: italic;
}
div.mce-panel {
	background: none;
	border: none;
	-webkit-transform: translate(-7px,-7px);
	transform: translate(-7px,-7px);
}
div.mce-panel .mce-btn-group .mce-btn {
	background: none;
}
.mce-panel .mce-ico {
	font-size: 12px;
	line-height: 1;
	width: 12px;
	height: 12px;
}
.mce-panel .mce-btn-group .mce-btn button {
	padding: 5px 5px;
	line-height: 0px;
}
.focus-on .mce-placeholder, .new-comment-footer, .edit-avatar {
	display: none;
}
.focus-on .new-comment-footer, .focus-on .user-avatar:hover .edit-avatar {
	display: block;
}
.new-comment-footer{
	float: right;
	.input-label{
		color: $black;
		font-size: 12px;
		padding-right: 10px;
	}
	.inline-block {
		margin-right: 6px;
		position: relative;
		width: 260px;
	}
	.btn{
		font-size: 16px;
		height: 30px;
		line-height: 30px;
		padding: 0 20px;
	}
}
.note-below-text {
	position: absolute;
	bottom: -21px;
	left: 0;
	color: #999999;
	font-size: 10px;
	white-space: nowrap;
}
.new-comment input {
	height: 30px;
	padding: 6px 15px;
	vertical-align: middle;
	border: 1px solid #e6e6e6;
	background: #f9f9f9;
	width: 100%;
}
.edit-avatar {
	font-size: 25px;
	color: $theme-color-one;
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	line-height: 81px;
	background: $white;
	border-radius: 50%;
}
.new-comment .red-border {
	border: 1px solid #E27C79;
}
.ajax-error {
	color: #E27C79;
	font-size: 0.9em
}
.comment-item .ajax-error {
	position: absolute;
	top: -19px;
	left: 0;
}
@media (max-width: $screen-sm-max) and (min-width: $screen-sm){
	.new-comment-footer {
		.inline-block{
			width: 250px;
		}
	}
}
/* tablet and mobile */
@media (max-width: $screen-xs-max){
	.comment-content{
		font-size: 12px;
	}
}
/* mobile */
@media (max-width: $screen-xs-landscape){
	#module-amazzingblog-blog {
		#footer{
			margin-top: 40px;
		}
	}
	.comment-item{
		margin-left: 65px;
	}
	.user-avatar{
		right: calc(100% + 15px);
	}
	.avatar-img{
		font-size: 16px;
		height: 52px;
		line-height: 50px;
		width: 52px;
	}
	.edit-avatar{
		font-size: 20px;
		line-height: 48px;
	}
	.new-comment-footer{
		float: none;
		margin-left: 65px;
		.input-label{
			display: block;
			margin-bottom: 5px;
		}
		.inline-block{
			display: block;
			margin-right: 0;
			width: 100%;
		}
		.note-below-text{
			margin: 7px 0 21px;
			position: static;
		}
	}
}