/* social sharing */
.post-sharing {
	color: #363636;
	font-size: 14px;
	.sharing-icons {
		padding-left: 12px;
	}
}
.post-page .social-share {
	text-decoration: none;
}
.post-page {
	.social-share{
		i{
			background: #e1e1e1;
			border-radius: 50%;
			color: $white;
			font-size: 17px;
			display: inline-block;
			width: 35px;
			height: 35px;
			line-height: 35px;
			margin: 4px;
			text-align: center;
			vertical-align: middle;
		}
		&:hover {
			i{
				color: $white;
			}
			.icon-facebook {
				background: #4065B4;
			}
			.icon-vk {
				background: #4E759D;
			}
			.icon-odnoklassniki {
				background: #ED812B;
			}
			.icon-twitter {
				background: #39B9DC;
			}
			.icon-google-plus {
				background: #DD4B39;
			}
			.icon-yandex {
				background: #FF0000;
			}
			.icon-yahoo {
				background: #400191;
			}
			.icon-paypal {
				background: #003087;
			}
			.icon-linkedin {
				background: #0077B5;
			}
			.icon-pinterest {
				background: #BD081C;
			}
		}
	}
}
@media (max-width: $screen-sm-max) and (min-width: $screen-sm){
	.post-page {
		.social-share {
			i{
				font-size: 13px;
				height: 30px;
				line-height: 30px;
				margin: 1px;
				width: 30px;
			}
		}
	}
}
/* tablet and mobile */

@media (max-width: $screen-xs-max){
	.post-page {
		.post-content{
			font-size: 12px;
		}
	}
}
@media (max-width: 640px) and (min-width: $screen-xs-landscape){
	.post-page {
		.social-share {
			i{
				font-size: 13px;
				height: 28px;
				line-height: 28px;
				margin: 1px;
				width: 28px;
			}
		}
	}
}
/* mobile */
@media (max-width: $screen-xs-landscape){
	.post-sharing{
		font-size: 0;
		padding: 10px 0 15px;
		.sharing-icons{
			padding-left: 0;
		}
	}
}
@media (max-width: $screen-xs-mobile){
	.post-page {
		.social-share {
			i{
				height: 32px;
				line-height: 32px;
				margin: 2px;
				width: 32px;
			}
		}
	}
}