<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><p>This is sample page for extra tab module. visit more for <a href="http://www.marghoobsuleman.com/">www.marghoobsuleman.com</a></p>
      <h3>Free Prestashop Modules</h3>
      <ul>
        <li><a href="http://www.marghoobsuleman.com/node/76">Currency as a dropdown</a></li>
        <li><a href="http://www.marghoobsuleman.com/node/78">Block categories - Custom Menu</a></li>
        <li><a href="http://www.marghoobsuleman.com/node/79">Add to cart Extended [block cart]</a></li>
        <li><a href="http://www.marghoobsuleman.com/node/77">Product image enlarger</a> <img src="http://www.marghoobsuleman.com/themes/lucky/images/icon-hot.gif" alt="Hot Modules" title="Hot Modules" align="absmiddle" /></li>
        <li><a href="http://www.marghoobsuleman.com/node/80">Product image enlarger for homepagefeatured &amp; homefeatured2</a></li>
      </ul>
    <p>&nbsp;</p></td>
  </tr>
</table>
