/* color schemes */
.block-banner a {
  display: block; }

.block-banner a img {
  display: block;
  width: 100%;
  max-width: none; }

/*# sourceMappingURL=blockbanner.css.map */
