{**
* 2016 Revolution Slider
*
*  @author    SmatDataSoft <support@smartdatasoft.com>
*  @copyright 2016 SmatDataSoft
*  @license   private
*  @version   5.1.3
*  International Registered Trademark & Property of SmatDataSoft
*}

<link rel='stylesheet' id='captions' media='all' href='{$dynamicadmincss|escape:'htmlall':'UTF-8'}' type='text/css' />
<script type="text/javascript">
var g_urlContent = "{$g_urlContent|escape:'htmlall':'UTF-8'}";
</script>
<script type="text/javascript" src="{$this_path|escape:'htmlall':'UTF-8'}js/jquery-ui/jquery-ui-1.10.3.custom.js"></script>
<script type="text/javascript" src="{$this_path|escape:'htmlall':'UTF-8'}js/settings.js"></script>
<script type="text/javascript" src="{$this_path|escape:'htmlall':'UTF-8'}js/underscore.min.js"></script>
<script type="text/javascript" src="{$this_path|escape:'htmlall':'UTF-8'}js/wp-util.js"></script>
<script type="text/javascript" src="{$this_path|escape:'htmlall':'UTF-8'}js/admin.js"></script>
<script type="text/javascript" src="{$this_path|escape:'htmlall':'UTF-8'}js/jquery.tipsy.js"></script>
<script type="text/javascript" src="{$this_path|escape:'htmlall':'UTF-8'}js/farbtastic/my-farbtastic.js"></script>
<script type="text/javascript" src="{$this_path|escape:'htmlall':'UTF-8'}js/codemirror/codemirror.js"></script>
<script type="text/javascript" src="{$this_path|escape:'htmlall':'UTF-8'}js/codemirror/css.js"></script>
<script type="text/javascript" src="{$this_path|escape:'htmlall':'UTF-8'}js/dropdownchecklist/ui.dropdownchecklist-1.4-min.js"></script>
<script type="text/javascript" src="{$this_path|escape:'htmlall':'UTF-8'}js/edit_layers_timeline.js"></script>
<script type="text/javascript" src="{$this_path|escape:'htmlall':'UTF-8'}js/edit_layers.js"></script>
<script type="text/javascript" src="{$this_path|escape:'htmlall':'UTF-8'}js/css_editor.js"></script>
<script type="text/javascript" src="{$this_path|escape:'htmlall':'UTF-8'}js/rev_admin.js"></script>
<script type="text/javascript" src="{$this_path|escape:'htmlall':'UTF-8'}rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="{$this_path|escape:'htmlall':'UTF-8'}js/thickbox.js"></script>
<script>
$(document).ready(function(){
	$('body').addClass('wp-core-ui');
});
</script>