.wrap_attr {
	font-size: 12px;
	line-height: 1.8;
	padding: 15px 0;
}

.product_attributes {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#attributes {
	margin: 0 -15px;
}

.attribute_fieldset .chosen-container {
	width: 100% !important;
}

#attributes {
	fieldset {
		padding: 0 15px 16px;
		float: left;
		width: 50%;
		label {
			vertical-align: top;
			line-height: 2;
			display: block;
		}
	}
	.attribute_list {
		width: 100%;
		.form-control {
			max-width: 230px;
			option {
				background: $white;
				color: $clr-twelve;
			}
		}
		ul {
			clear: both;
		}
		input.attribute_radio {
			float: left;
			margin-left: 3px;
		}
		.radio {
			float: none;
			display: inline-block;
			span,
			input {
				float: none;
				display: inline-block;
			}
		}
		#color_to_pick_list {
			list-style-type: none;
			li {
				float: left;
				margin: 0 3px 3px 0;
				padding: 1px;
				border-style: solid;
				border-width: 1px;
				border-color: transparent;
				clear: none;
				-webkit-border-radius: 2px;
				-moz-border-radius: 2px;
				border-radius: 2px;
				a.color_pick {
					display: block;
					height: 32px;
					width: 32px;
					-webkit-box-shadow: 1px 1px 3px 0 $clr-three;
					-moz-box-shadow: 1px 1px 3px 0 $clr-three;
					box-shadow: 1px 1px 3px 0 $clr-three;
					-webkit-border-radius: 2px;
					cursor: pointer;
					img {
						display: block;
						max-width: 100%;
					}
				}
			}
		}
	}
}

@media (max-width: $screen-xs-max) {
	.wrap_attr,
	#attributes fieldset label {
		text-align: left;
	}
}

@media (max-width: $screen-xs) {
	.pb-right-column h1 {
		font-size: 16px;
	}
	#attributes fieldset {
		width: 100%;
	}
}

/* mobile */
@media (max-width: $screen-xs-mobile){
	.product_attributes{
		border: none;
	}
}