#availability_statut {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 15px;
	span {
		background: none;
	}
}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {
	#availability_statut {
		font-size: 14px;
		line-height: 1.7;
	}
}

@media (max-width: $screen-sm-max) {
	#availability_statut {
		font-size: 16px;
	}
}

@media (max-width: $screen-xs-max) {
	#availability_statut #availability_label {
		display: none;
	}
}

@media (max-width: $screen-xs) {
	#availability_statut {
		font-size: 12px;
	}
}
