/* PERSONNALISATION ##################################################################### */

.infoCustomizable {
	margin-bottom: 30px;
}

#uploadable_files,
#text_fields {
	list-style-type: none;
}

.customizableProductsFile,
.customizableProductsText {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid $clr-twenty-two;
}

.customizationUploadLine {
	padding-bottom: 10px;
	label {
		display: block;
		margin-bottom: 15px;
	}
	textarea {
		width: 50%;
		border: 1px solid $clr-twenty-two;
		color: $clr-twelve;
	}
}

.customizationUploadBrowse img + a {
	position: relative;
	top: -51px;
}

#customizedDatas {
	float: right;
}
