/* table_data_sheet */

.table-data-sheet {
	border-bottom: 1px solid $clr-twenty-two;
	width: 100%;
	margin: 0 0 20px;
	background: $white;
	tr {
		border-top: 1px solid $clr-twenty-two;
		&.even {
			background: $clr-fourteen;
		}
		td {
			padding: 10px 20px 11px;
			&:first-child {
				border-right: 1px solid $clr-twenty-two;
				width: 30%;
				font-weight: 700;
				color: $clr-ten;
			}
		}
	}
}
