#page .rte {
	padding: 0 20px 20px;
	word-wrap: break-word;
	p {
		margin-bottom: 1em;
		min-height: 1px;
	}
}

#short_description_content a.btn,
.page-product-box a.btn {
	text-decoration: none;
}

#short_description_block {
	clear: both;
	float: left;
	font-size: 12px;
	line-height: 2;
	.buttons_bottom_block {
		display: none;
	}
}

#short_description_block #short_description_content {
	word-wrap: break-word;
	padding: 0 0 17px 0;
	p:last-child {
		margin-bottom: 0;
	}
}
/* mobile */
@media (max-width: $screen-xs-mobile){
	#short_description_block{
		color: $color-hungred;
		line-height: 2;
	}
}