

/* table product-discounts */

table.table-product-discounts {
	border: none;
	border-bottom: 1px solid $clr-twenty-two;
	border-right: 1px solid $clr-twenty-two;
	width: 50%;
	margin: 0 0 20px;
	background: $white;
	tr {
		th {
			background: $clr-fourteen;
			color: $clr-ten;
			font-weight: 700;
			border: none;
			font-weight: 700;
		}
		td,
		th {
			border-left: 1px solid $clr-twenty-two;
			width: 33%;
			padding: 10px 20px 11px;
			border-top: 1px solid $clr-twenty-two;
			border-right: none;
			text-shadow: none;
			text-transform: none;
			font-weight: 13px;
			line-height: 18px;
			border-bottom: none;
		}
	}
}

@media screen and (min-width: $screen-lg) {
	.wrap_condition_prod {
		max-width: 38%;
	}
}

@media (max-width: $screen-xs-max) {
	table.table-product-discounts {
		width: 100%;
	}
}
