/* .pb-left-column ***************************************************************************** */

.pb-left-column #image-block {
	position: relative;
	text-align: center;
}

.wrap_image_block {
	position: relative;
	display: block;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	padding: 18px;
}

.pb-left-column {
	.wrap_scale {
		display: block;
	}
	#image-block {
		img {
			display: block;
		}
		#view_full_size .span_link {
			display: block;
			width: 36px;
			height: 36px;
			line-height: 36px;
			text-align: center;
			position: absolute;
			bottom: -1px;
			right: -1px;
			font-size: 16px;
			cursor: pointer;
		}
	}
}

#view_full_size {
	display: inline-block;
}

.pb-left-column {
	#image-block {
		.jqzoom div div {
			img {
				width: auto;
				max-width: 10000px;
			}
			.zoomWrapper {
				border: none;
			}
		}
		.zoomPad {
			z-index: auto !important;
		}
	}
	img {
		max-width: 100%;
		height: auto;
	}
	.product__image {
		width: 100%;
	}
}

.manufacturer-product-logo {
	position: absolute;
	top: 10px;
	right: 10px;
}

@media (max-width: $screen-sm-max) {
	.pb-left-column {
		margin-bottom: 30px;
	}
}

/* mobile */
@media (max-width: $screen-xs-mobile){
	.pb-left-column{
		margin-bottom: 15px;
	}
}