.content_prices {
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding: 10px 0;
	clear: both;
	line-height: 32px;
	.tax{
		font-size: 13px;
	}
}
.content_prices .price.product-price {
	line-height: 1.3;
}
.content_prices>.price {
	float: left;
}
#old_price {
	font-weight: 300;
	font-size: 20px;
	display: inline-block !important;
	line-height: 1;
	padding-left: 16px;
	margin-left: 2px;
	position: relative;
	.price{
		font-size: inherit;
		text-decoration: line-through;
	}
}

#old_price:before {
	display: block;
	content: '/';
	left: 0;
	top: 0;
	position: absolute;
}
.our_price_display {
	font-size: 28px;
	font-weight: 800;
	line-height: 1;
	display: inline-block;
	position: relative;
	margin-bottom: 0;
	width: 100%;
}
.box-security {
	padding: 0 8px 25px;
}


@media (max-width: $screen-sm-max) {
	.content_prices .price.product-price {
		line-height: 1.5;
	}
}

/* mobile */
@media (max-width: $screen-xs-mobile){
	.content_prices{
		border: none;
		padding: 0;
	}
	#old_price{
		color: $color-hungred;
	}
}