.wrap_bottom {
	margin: 0 -7px;
	padding: 20px 0 0px;
	> div {
		float: left;
		padding: 0 7px 20px;
	}
	.box-cart-bottom {
		float: right;
	}
}


/* quantity_wanted */

#quantity_wanted_p {
	.button-plus,
	.button-minus {
		position: relative;
		display: inline-block;
		float: left;
		height: 32px;
		width: 32px;
		text-align: center;
		line-height: 32px;
		font-size: 12px;
	}
	> a:before {
		content: '';
		position: absolute;
		left: 0;
		top: 5px;
		bottom: 5px;
		border-right-style: solid;
		border-right-width: 1px;
		-webkit-transition: border-color .3s ease;
		-moz-transition: border-color .3s ease;
		-o-transition: border-color .3s ease;
		transition: border-color .3s ease;
	}
	.button-plus:before {
		left: auto;
		right: 0;
	}
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	vertical-align: middle;
	padding: 1px;
	input {
		border: none;
		left: 0;
		z-index: 0;
		top: 0;
		float: left;		
		line-height: 32px;
		text-align: center;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
	.btn {
		float: left;
		margin-left: 3px;
	}
}

.wrap_quan label {
	vertical-align: middle;
	padding-right: 11px;
}

#last_quantities {
	clear: both;
	float: left;
	padding: 10px 0;
	font-weight: 700;
	width: 100%;
}

#minimal_quantity_wanted_p {
	padding-top: 10px;
	line-height: 1.5;
}


/* add t cart */

#add_to_cart {
	margin-bottom: 0;
	button {
		line-height: 34px;
		height: 36px;
		padding: 0 25px;
	}
}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {
	#add_to_cart button {
		font-size: 12px;
		padding: 0 10px;
	}
}

@media (max-width: 640px) {
	#add_to_cart {
		width: 100%;
	}
}

@media (max-width: $screen-xs) {
	.wrap_bottom .wrap_quan {
		padding-left: 7px;
	}
	.wrap_quan label {
		display: none;
	}
	.wrap_bottom > div,
	#add_to_cart button {
		width: 100%;
	}
}
@media (min-width: $screen-xs-mobile + 1){
	#add_to_cart {
		button{
			&:before{
				display: none;
			}
		}
	}
}
/* mobile */
@media (max-width: $screen-xs-mobile){
	.wrap_bottom {
		margin: 0;
		padding: 0;
		&:before, &:after{
			display: none;
		}
		.wrap_quan{
			float: left;
			padding: 0;
			width: auto;
		}
		.box-cart-bottom {
			padding: 0;
			margin-left: 14px;
			width: auto;
		}
	}
	#add_to_cart {
		button{
			border: none;
			background: $theme-color-one;
			color: $white;
			font-size: 14px;
			height: 35px;
			line-height: 35px;
			padding: 0;
			text-align: center;
			width: 35px;
			&:hover{
				background: lighten($theme-color-one, 15%);
			}
			span {
				display: none;
			}
		}
	}
}