.print_prod {
	font-size: 12px;
	float: right;
	display: none;
	i {
		padding-right: 5px;
		vertical-align: 0.1em;
	}
}

#buy_block {
	padding-top: 10px;
	clear: both;
}

.box-info-product p {
	margin-bottom: 7px;
}

.pb-right-column h1 {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 20px;
}

.online_only {
	color: $clr-eleven;
	text-transform: uppercase;
}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {
	.pb-right-column h1 {
		font-size: 18px;
	}
}

@media (max-width: $screen-xs-max) {
	.pb-right-column {
		text-align: center;
		h1 {
			font-size: 18px;
		}
	}
}
/* mobile */
@media (max-width: $screen-xs-mobile){
	.pb-right-column{
		text-align: left;
	}
}