#more_info_block {
	margin-top: 44px;
}

#more_info_tabs {
	display: block;
	margin: 0;
	&.nav.nav-tabs {
		> li {
			margin-bottom: 30px;
		}
		&.total-more-than-3 > li {
			margin-bottom: 20px;
			min-width: 170px;
		}
	}
}

.game-tabs.nav.nav-tabs.total-more-than-3 > li {
	&:not(:last-child) {
		margin-right: 20px;
	}
	a {
		font-size: 14px;
		height: 55px;
		line-height: 53px;
	}
}

#more_info_sheets {
	position: relative;
	border-style: solid;
	border-width: 1px;
	padding: 21px 30px 25px 30px;
}

#idTab2 {
	line-height: 2;
}

#idTab1 {
	line-height: 1.6;
	font-size: 14px;
	p {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.name_bullet {
	text-transform: uppercase;
	font-weight: 700;
}

@media (max-width: $screen-md-max) {
	#more_info_tabs {
		li a {
			padding-left: 10px;
			padding-right: 10px;
			font-size: 13px;
		}
		&.nav.nav-tabs.total-more-than-3 > li {
			margin-bottom: 15px;
			min-width: 150px;
		}
		&.game-tabs.nav.nav-tabs.total-more-than-3 > li:not(:last-child) {
			margin-right: 15px;
		}
	}
}

@media (max-width: $screen-sm-max) {
	.name_bullet {
		font-size: 12px;
	}
	#more_info_tabs {
		li a {
			padding-left: 16px;
			padding-right: 6px;
			font-size: 12px;
		}
		&.nav.nav-tabs {
			> li {
				min-width: 170px;
				margin-bottom: 20px;
				&:not(:last-child) {
					margin-right: 20px;
				}
			}
			&.total-more-than-3 > li {
				margin-bottom: 15px;
				min-width: 100px;
			}
		}
		&.game-tabs.nav.nav-tabs.total-more-than-3 > li a {
			font-size: 12px;
		}
	}
}

@media (max-width: $screen-xs-max) {
	#more_info_sheets {
		padding: 15px;
	}
}
@media (max-width: 640px) {
	#more_info_tabs.nav.nav-tabs > li {
		&:not(:last-child) {
			margin-right: 15px;
		}
		min-width: 140px;
		margin-bottom: 15px;
		a {
			height: auto;
			line-height: 1.5;
			padding: 15px 5px;
		}
	}
}

@media (max-width: 580px) {
	#send_friend_form h2 {
		line-height: 29px;
	}
	#idTab2 {
		.name_bullet,
		.value_bullet {
			width: 100%;
		}
	}
	#more_info_tabs.nav.nav-tabs > li {
		min-width: 120px;
	}
}

@media (max-width: $screen-xs) {
	#more_info_tabs.nav.nav-tabs {
		 > li{
			margin-right: 0 !important;
			margin-bottom: 10px;
			width: 100%;
			a{
				font-size: 20px;
				font-weight: 400;
				padding: 11px 5px;
				&:hover, &.selected{
					background: none;
					border-color: $theme-color-one;
					color: $theme-color-one;
				}
			}
		}
	}
	#more_info_sheets{
		padding: 20px;
	}
	#idTab1{
		color: #4d4d4d;
		font-size: 13px;
		line-height: 2;
	}
}
