.discount {
	display: none;
}

.wrap_condition_prod {
	float: right;
}

#reduction_percent {
	&.tag.price-percent-reduction {
		position: static;
	}
	span {
		display: block;
	}
}

#reduction_amount span {
	display: block;
}

.pb-right-column {
	.tag {
		position: static;
		display: inline-block;
		height: 30px;
		line-height: 28px;
		padding: 0 11px;
		margin-left: 2px;
		vertical-align: top;
	}
	.mini-tags .tag {
		height: 25px;
		line-height: 23px;
		padding: 0 6px;
		margin-left: 1px;
		font-size: 13px;
	}
}

#reduction_amount {
	font-size: 12px;
	padding: 0 5px;
}

@media (max-width: $screen-xs) {
	.wrap_condition_prod {
		width: 100%;
		margin-top: 10px;
	}
}
