/* miniatures */

#views_block {
	position: relative;
	margin: 0 -5px;
}

#thumbs_list {
	overflow: hidden;
	float: left;
	display: inline-block;
	width: 100%;
	padding: 10px 0;
	#thumbs_list_frame {
		list-style-type: none;
		padding-left: 0;
		overflow: hidden;
		width: 10000px !important;
	}
	li {
		float: left;
		cursor: pointer;
		padding: 0 5px;
		a {
			display: block;
			border-style: solid;
			border-width: 1px;
			text-align: center;
		}
		img {
			display: inline-block;
			max-width: 100%;
		}
	}
}

#view_scroll_left {
	position: absolute;
	top: 0;
	left: -12px;
	bottom: 0;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	background-color: $white;
	border-style: solid;
	border-width: 1px;
	margin: auto 0;
	font-size: 16px;
}

#view_scroll_right {
	position: absolute;
	top: 0;
	left: -12px;
	bottom: 0;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	background-color: $white;
	border-style: solid;
	border-width: 1px;
	margin: auto 0;
	font-size: 16px;
	left: auto;
	right: -12px;
}

.resetimg {
	padding: 10px 0 0;
	display: none;
	#resetImages i {
		margin-right: 6px;
	}
}

.view_scroll_spacer {
	margin-top: 38px;
}

@media (max-width: $screen-xs) {
	#view_scroll_left:before,
	#view_scroll_right:before {
		height: 12px;
		font-size: 14px;
	}
}
