/* link list */

.wrap_buttons {
	border-top-style: solid;
	border-top-width: 1px;
	padding-top: 20px;
	.butt:before {
		font-weight: normal;
		font-size: 16px;
		margin-right: 4px;
	}
}

#send_friend_button {
	float: right;
}
#wishlist_button {
	float: left;
}
#buy_block .wrap_buttons .black-btn:before {
	display: none;
}

#left_share_fb {
	clear: both;
	float: none;
}

.btn.btn-default.btn-usefull {
	padding: 6px 25px 5px;
	font-size: 14px;
}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {
	.btn.btn-default.btn-usefull {
		height: 32px;
		line-height: 28px;
		padding: 0 10px;
		font-size: 12px;
	}
}

@media (max-width: $screen-xs) and (min-width: $screen-xs-mobile + 1){
	.wrap_buttons {
		#send_friend_button,
		#wishlist_button {
			width: 100%;
			float: none;
			margin-bottom: 20px;
		}
	}
}
@media (min-width: $screen-xs-mobile + 1){
	.btn.btn-usefull{
		&:before{
			display: none;
		}
	}
}
/* mobile */
@media (max-width: $screen-xs-mobile){
	.wrap_buttons{
		border: none;
		padding: 0;
		&:before, &:after{
			display: none;
		}
	}
	#wishlist_button{
		float: right;
	}
	.btn.btn-default.btn-usefull{
		border: none;
		background: $theme-color-one;
		color: $white;
		font-size: 14px;
		height: 35px;
		line-height: 35px;
		padding: 0;
		text-align: center;
		width: 35px;
		margin-left: 14px;
		&:hover{
			background: lighten($theme-color-one, 15%);
		}
		span {
			display: none;
		}
	}
}