/* color schemes */
#categories_block_top {
  clear: both;
  position: relative;
  top: 30px; }

#categories_block_top .sf-menu {
  position: relative; }

#categories_block_top .sf-menu > li {
  position: static; }

#categories_block_top .sf-menu > li > ul {
  width: 100%;
  top: 60px;
  margin: 0 20px; }

#categories_block_top .sf-menu > li > ul > li {
  display: block;
  float: left;
  width: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px; }

#categories_block_top .sf-menu > li > ul > .category_thumb {
  display: block;
  clear: both;
  overflow: hidden;
  width: 100%; }

#categories_block_top .sf-menu > li > ul > .category_thumb img {
  display: inline-block;
  width: 33%; }

#categories_block_top .sf-menu > li h4 a {
  font-size: 1.1em; }

#categories_block_top .sf-menu > li h4 a:before {
  display: none; }

#categories_block_top .sf-menu > li .main-level-submenus {
  position: relative;
  display: block !important;
  visibility: visible !important;
  top: 0;
  background: none;
  box-shadow: none;
  padding: 0;
  left: 0; }

#categories_block_top .sf-menu .category_thumb {
  display: none; }

.categories_left li {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  position: relative; }

.categories_left li:last-child {
  border-bottom-width: 0; }

.categories_left li a {
  display: block;
  font-size: 14px;
  line-height: 50px;
  padding: 0 26px 0 17px; }

.categories_left li span.grower {
  display: block;
  position: absolute;
  right: 0px;
  top: 0;
  cursor: pointer;
  font-size: 11px;
  width: 46px;
  line-height: 50px;
  text-align: center; }

.categories_left li span.grower.CLOSE:before {
  color: #333333;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease; }

@media screen and (min-width: 769px) and (max-width: 991px) {
  .categories_left li a {
    padding: 0 15px 0 10px;
    font-size: 12px; } }
@media (min-width: 769px) {
  .categories_left ul li ul {
    position: absolute;
    display: block !important;
    visibility: hidden;
    top: -1px;
    left: 130%;
    opacity: 0;
    -webkit-transition: opacity .4s, left .4s, right .4s, visibility .5s;
    -moz-transition: opacity .4s, left .4s, right .4s, visibility .5s;
    -o-transition: opacity .4s, left .4s, right .4s, visibility .5s;
    transition: opacity .4s, left .4s, right .4s, visibility .5s;
    min-width: 240px;
    white-space: nowrap;
    z-index: 100;
    border-style: solid;
    border-width: 1px; }

  .categories_left ul li:hover > ul {
    visibility: visible;
    opacity: 1;
    left: 100%; } }
@media (min-width: 769px) {
  .categories_left li span.grower:before {
    display: none; } }
@media (max-width: 768px) {
  .categories_left li span.grower:after {
    display: none; }

  .categories_left .block_content > ul > li > a {
    text-transform: uppercase; } }

/*# sourceMappingURL=blockcategories.css.map */
