@import "variables";
#newsletter-input {
	box-shadow: none;
	border-width: 0;
	font-size: 13px;
	font-weight: 300;
	background-image: none;
	padding-right: 45px;
}

#newsletter_block_left {
	.form-group {
		position: relative;
		margin-bottom: 0;
	}
	.btn {
		position: absolute;
		top: 2px;
		right: 2px;
		font-weight: 300;
		border: none;
		background: $theme-color-one;
		color: $white;
	}
	p {
		font-size: 13px;
		font-weight: 300;
		line-height: 1.5;
		margin-bottom: 17px;
	}
}

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
	#newsletter_block_left p {
		font-size: 12px;
	}
	#newsletter-input {
		font-size: 10px;
	}
}

.alert.alert-newsletter {
	margin: 0;
	border-radius: 0;
}
