@import "variables";

#loadMore {
	cursor: pointer;
	margin-bottom: 2%;
}

.twa .btn-primary{	
	border-radius: 3px;
}

#submitPost.btn-primary {
	margin: 15px 0;
}

.addForm {
	margin: 2% auto;	
}

@media (min-width: $screen-xs-max) {
	.addForm {
		width: 50%;
	}
}

.addForm  .new_content_wrapper{
	padding: 40px 15px 10px;	
	border: 1px dashed $clr-twenty-two;
	background: $clr-fourteen;	
	border-radius: 5px;		
}

.addForm .post_avatar {
	margin: 0 auto -55px;
}

.addForm .centered_label {
	color: $clr-twenty-two;	
	font-size: 0.7em;
	text-transform: uppercase;
}

.addForm .imgholder {
	padding: 5px;
	border: 1px dashed $clr-twenty-two;
	border-radius: 100%;
	cursor: pointer;
	width: 75px;
	height: 75px;
	z-index: 1;
	position: relative;
	background: $white;
	margin: 0 auto;
}

.addForm .imgholder > div {
	width: 100%;
	height: 0;
	padding-top:100%;
	background-size: cover;
	background-position: 50% 50%;
	border-radius: 100%;
}

.addForm .field {
	margin: 25px 0 0 0;
}

.addForm .field.allow_html{
	margin-top:15px;
}

.addForm input, .addForm  textarea {
	width: 100%;	
	border: 1px solid $clr-twenty-two;
	border-radius: 3px;
	padding: 10px;
}

.addForm .red-border input, .addForm .red-border  textarea, .addForm .red-border  .mce-edit-area {
	border: 1px solid $clr-eleven!important;
}

.field_error {	
	color: $clr-eleven;	
	margin-top: -10px;
}

.addForm .ajax_errors {
	border-radius: 3px;	
}

.addForm .alert.alert-danger:before {
	content: '';
}


/* ajax bar at the top*/
#re-progress {
  top: 0;
  height: 2px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 999999;
}
#re-progress .progress-inner {
  background-color: $clr-nineteen;  
  height: 2px;
  width: 0;
}

.just_added {
	color: $clr-nineteen;
}

.just_added .post_footer::before {
	display: inline-block;
	font-style: normal;
	font-weight: normal;	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0 5px;	
}

/* rating */
.editable_rating.field {
	text-align: center;
}
.editable_rating .stars_holder {
	display: inline-block;
	margin-right: -3px;
}
.editable_rating .rating_star {
	font-size: 17px;
	cursor: pointer;
}

/* mce */
.mce-tinymce.mce-container {
	border: none;
}

.mce-edit-area {
	border: 1px solid $clr-twenty-two!important;
	border-radius: 3px;
	overflow: hidden;
}

div.mce-panel {
	background:none;
}

.mce-panel .mce-btn-group .mce-btn {
	border: 1px solid $clr-twenty-two;
	border-radius: 3px;
	background: $white;
	margin: 0 10px 10px 0;
}

.mce-panel .mce-btn-group .mce-btn button {
	padding: 3px 5px;
}

.mce-panel .mce-flow-layout-item {
	margin: 0;
}

.mce-tooltip-inner {
	box-shadow:none!important;
}
