@import "variables";

.cookie-notification {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 15px 35px 5px 20px;
	background: rgba($black,0.7);
	color: $white;
	z-index: 99999;
	text-align: center;
}
.cookie-notification .button-holder {
		display: inline-block;
	}
.cookie-notification .button-holder .child {
	margin: 5px;
	@media screen and (max-width: $screen-sm-max){
		padding: 8px 18px;
		font-size: 12px;
	}
}
.cookie-notification.bottom {
	top: auto;
	bottom: 0;
}
@media (min-width: $screen-sm) {
	.cookie-notification.right, .cookie-notification.left {
		margin: 15px;
		left: auto;
		max-width: 35%;
		border-radius: 5px;
	}
	.cookie-notification.left {
		right: auto;
	}
	.cookie-notification.right .button-holder, .cookie-notification.left .button-holder {
		display: block;
		margin-top: 5px;
	}
}
@media (max-width: $screen-xs-max) {
	.cookie-notification .button-holder {
		display: block;
		margin-top: 5px;
	}
}
.cookie-notification__close{
	position: absolute;
	top: 10px;
	right: 10px;
	color: $white;
	font-size: 20px;
	cursor: pointer;
}
