/* color schemes */
#account-creation_form .id_state, #account-creation_form .dni, #account-creation_form .postcode {
  display: none; }

#create-account_form {
  min-height: 297px; }
  #create-account_form p {
    margin-bottom: 8px; }
  #create-account_form .form-group {
    margin: 0 0 20px 0; }

#login_form {
  min-height: 297px; }
  #login_form .form-group.lost_password {
    margin: 14px 0 15px 0; }
    #login_form .form-group.lost_password a {
      text-decoration: underline; }
      #login_form .form-group.lost_password a:hover {
        text-decoration: none; }

/*# sourceMappingURL=authentication.css.map */
