/* color schemes */
/* ************************************************************************************************
								Categories Page Styles
************************************************************************************************ */
.slider_container {
  margin-bottom: 15px; }

.cat_desc {
  margin-bottom: 10px; }

.title_main_section.category-name {
  text-align: left;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700; }

.title_main_section.category-name span {
  padding-left: 0; }

.cat_desc .rte {
  margin-bottom: 15px; }

/* ************************************************************************************************
									Sub Categories Styles
************************************************************************************************ */
.content_scene_cat {
  margin-bottom: 60px; }

@media screen and (max-width: 1024px) {
  .content_scene_cat {
    margin-bottom: 30px; } }
.subcategories {
  display: table;
  margin-top: 15px;
  width: 100%;
  font-size: 0; }
  .subcategories__list {
    margin: 0 -15px; }
  .subcategories__item {
    display: inline-block;
    width: 20%;
    padding: 0 15px;
    margin-bottom: 15px;
    vertical-align: top;
    text-align: center; }
    @media screen and (max-width: 1199px) {
      .subcategories__item {
        width: 25%; } }
    @media screen and (max-width: 991px) {
      .subcategories__item {
        width: 33.333%; } }
    @media screen and (max-width: 768px) {
      .subcategories__item {
        width: 50%; } }
    .subcategories__item__img {
      max-width: none;
      width: 100%;
      border: 1px solid #e7e7e7; }
      .subcategories__item__img:hover {
        border-color: #000000; }
    .subcategories__item__name {
      text-transform: uppercase;
      font-size: 16px; }
    .subcategories__item__link {
      display: block; }

/*# sourceMappingURL=category.css.map */
