/* color schemes */
/**************************************************************
					CMS Pages Styles
***************************************************************/
#cms #center_column .block-cms {
  padding-bottom: 20px; }

#cms #center_column h1 {
  margin-bottom: 25px; }

#cms b, #cms strong {
  font-weight: bold; }

#cms #center_column h3 {
  font-size: 16px;
  border-bottom: none;
  margin: 0;
  padding: 0 0 17px 0; }

#cms #center_column p {
  line-height: 18px; }

#cms #center_column .list-1 li {
  padding: 4px 0 6px 0;
  font-weight: bold;
  color: #71B238;
  border-top: 1px solid #e7e7e7; }

#cms #center_column .list-1 li:first-child {
  border: none; }

#cms #center_column .list-1 li em {
  font-size: 20px;
  line-height: 20px;
  padding-right: 15px;
  vertical-align: -2px; }

#cms #center_column img {
  margin: 4px 0 17px;
  max-width: 100%;
  height: auto; }

#cms #center_column .testimonials {
  border: 1px solid;
  border-color: #F5F5F5 #e7e7e7 #e7e7e7 #e7e7e7;
  margin: 4px 0 13px 0;
  position: relative; }

#cms #center_column .testimonials .inner {
  border: 1px solid #ffffff;
  padding: 19px 18px 11px 18px;
  background: #F5F5F5;
  background: -moz-linear-gradient(top, #F5F5F5 0%, #F5F5F5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F5F5F5), color-stop(100%, #F5F5F5));
  background: -webkit-linear-gradient(top, #F5F5F5 0%, #F5F5F5 100%);
  background: -o-linear-gradient(top, #F5F5F5 0%, #F5F5F5 100%);
  background: -ms-linear-gradient(top, #F5F5F5 0%, #F5F5F5 100%);
  background: linear-gradient(to bottom, #f5f5f5 0%, #f5f5f5 100%); }

#cms #center_column .testimonials .inner span {
  display: inline-block;
  width: 20px;
  height: 15px; }

#cms #center_column .testimonials .inner span.before {
  margin-right: 8px; }

#cms #center_column .testimonials .inner span.after {
  margin-left: 8px; }

#cms #center_column .testimonials:after {
  content: ".";
  display: block;
  text-indent: -5000px;
  position: absolute;
  bottom: -16px;
  left: 21px;
  width: 15px;
  height: 16px; }

#cms #center_column .testimonials + p {
  padding-left: 45px;
  margin-bottom: 18px; }

#cms #center_column p.bottom-indent {
  margin-bottom: 18px; }

#cms #center_column #admin-action-cms {
  background: none repeat 0 0 #f6f6f6;
  border: 1px solid #e7e7e7;
  padding: 10px; }

#cms #center_column #admin-action-cms p {
  margin: 0; }

#cms #center_column #admin-action-cms p span {
  display: block;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #333333; }

#cms #center_column #admin-action-cms p .button {
  font: 700 17px/21px Arial, Helvetica, sans-serif;
  padding: 0;
  border: 1px solid;
  padding: 10px 14px;
  display: inline-block; }

#cms #center_column #admin-action-cms p .button.publish_button {
  color: #ffffff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  border-color: #0079b6 #006fa8 #0079b6 #006fa8;
  background: #009ad0;
  background: -moz-linear-gradient(top, #009ad0 0%, #009ad0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #009ad0), color-stop(100%, #009ad0));
  background: -webkit-linear-gradient(top, #009ad0 0%, #009ad0 100%);
  background: -o-linear-gradient(top, #009ad0 0%, #009ad0 100%);
  background: -ms-linear-gradient(top, #009ad0 0%, #009ad0 100%);
  background: linear-gradient(to bottom, #009ad0 0%, #009ad0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$clr-twenty-seven', endColorstr='$clr-twenty-seven',GradientType=0); }

#cms #center_column #admin-action-cms p .button.publish_button:hover {
  border-color: #006fa8 #004b74 #0079b6 #004b74;
  filter: none;
  background: #006fa8; }

#cms #center_column #admin-action-cms p .button.lnk_view {
  color: #333333;
  text-shadow: 1px 1px #ffffff;
  border-color: #e7e7e7 #e7e7e7 #e7e7e7 #e7e7e7;
  background: #F5F5F5;
  background: -moz-linear-gradient(top, #F5F5F5 0%, #e7e7e7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F5F5F5), color-stop(100%, #e7e7e7));
  background: -webkit-linear-gradient(top, #F5F5F5 0%, #e7e7e7 100%);
  background: -o-linear-gradient(top, #F5F5F5 0%, #e7e7e7 100%);
  background: -ms-linear-gradient(top, #F5F5F5 0%, #e7e7e7 100%);
  background: linear-gradient(to bottom, #f5f5f5 0%, #e7e7e7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$clr-fourteen', endColorstr='$clr-twenty-two',GradientType=0); }

#cms #center_column #admin-action-cms p .button.lnk_view:hover {
  border-color: #e7e7e7 #e7e7e7 #e7e7e7 #e7e7e7;
  filter: none;
  background: #F5F5F5; }

/*# sourceMappingURL=cms.css.map */
