/* color schemes */
/**************************************************************************
		Contact Page Styles
**************************************************************************/
.contact-title {
  margin: -5px 0 0px 0;
  line-height: 23px; }
  .contact-title i {
    font-size: 23px;
    padding: 0 8px 0 0; }

.contact-form-box {
  padding: 23px 0 0 0;
  margin: 0 0 30px 0;
  background: url(../img/contact-form.png) repeat-x white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px 5px 13px;
  -moz-box-shadow: rgba(0, 0, 0, 0.17) 0px 5px 13px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px 5px 13px; }
  .contact-form-box fieldset {
    padding: 0 19px 21px 19px;
    background: url(../img/form-contact-shadow.png) center bottom no-repeat;
    background-size: contain; }
  .contact-form-box label {
    margin: 0 0 6px 0; }
  .contact-form-box .page-subheading {
    padding-left: 0px;
    border: none;
    margin-bottom: 0; }
  .contact-form-box .col-md-3 {
    padding-left: 0; }
  .contact-form-box .col-md-9 {
    padding-right: 0; }
  .contact-form-box #desc_contact0 {
    display: none; }
  .contact-form-box .form-group {
    margin-bottom: 7px; }
  .contact-form-box textarea {
    height: 257px; }
  .contact-form-box .submit {
    margin-top: 13px; }
  .contact-form-box .form-control {
    width: 100%; }
  .contact-form-box input.form-control {
    font-size: 12px; }

@media (max-width: 991px) {
  .contact-form-box .col-md-3 {
    padding-right: 0; } }
@media (max-width: 991px) {
  .contact-form-box .col-md-9 {
    padding-left: 0; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .contact-form-box .uploader .filename {
    width: 114px; } }
/* tablet */
@media (max-width: 768px) {
  #contact .column-side {
    display: none !important; }
  #contact #center_column h1 {
    display: none; }

  .contact-form-box {
    box-shadow: none;
    background: transparent;
    margin-bottom: 38px;
    padding-top: 0; }
    .contact-form-box .page-subheading {
      color: #000000;
      font-size: 25px;
      font-weight: 300;
      padding-bottom: 40px; }
    .contact-form-box fieldset {
      background: transparent;
      padding: 0; }
    .contact-form-box label {
      color: #000000;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.3;
      margin-bottom: 9px; }
      .contact-form-box label[for*="fileUpload"] {
        display: none !important; }
      .contact-form-box label:not(.unvisible) {
        display: block; }
    .contact-form-box .form-control {
      border-color: #e5e5e5;
      height: 41px;
      font-size: 14px; }
    .contact-form-box input.form-control {
      font-size: 14px; }
    .contact-form-box textarea.form-control {
      height: 305px; }
    .contact-form-box .styled-file .file-button {
      line-height: 39px; }
    .contact-form-box .styled-file .file-name {
      line-height: 36px;
      padding-left: 161px; }
    .contact-form-box .submit .btn.btn-default {
      font-size: 16px;
      font-weight: 700;
      padding: 8px 10px;
      width: 100%; } }
@media (max-width: 768px) and (min-width: 668px) {
  #contact #center_column {
    padding-left: 70px;
    padding-right: 70px; }
  #contact #footer {
    margin-top: 0; }

  .contact-form-box .page-subheading {
    padding-bottom: 29px; }
  .contact-form-box .col-md-3 {
    margin: 0 -25px;
    width: auto; }
    .contact-form-box .col-md-3 .form-group {
      float: left;
      margin-bottom: 43px;
      padding: 0 25px;
      width: 50%; }
    .contact-form-box .col-md-3 .file-wrap {
      padding-top: 27px; }
  .contact-form-box .submit {
    text-align: right; }
    .contact-form-box .submit .btn.btn-default {
      max-width: 315px; } }
/* mobile */
@media (max-width: 667px) {
  .contact-form-box .form-group {
    margin-bottom: 30px; }
  .contact-form-box .styled-file {
    margin-top: 21px; }
  .contact-form-box .col-md-9 {
    margin-top: 15px; }
  .contact-form-box .submit {
    margin-top: 23px; }
    .contact-form-box .submit .btn.btn-default {
      font-size: 16px;
      font-weight: 700;
      padding: 8px 10px;
      width: 100%; } }

/*# sourceMappingURL=contact-form.css.map */
