/* color schemes */
/*********************************************************************
					Maintenance Page Styles
**********************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

a, button {
  -webkit-transition: color .6s ease,background .6s ease,border-color .6s ease;
  -o-transition: color .6s ease,background .6s ease,border-color .6s ease;
  -moz-transition: color .6s ease,background .6s ease,border-color .6s ease;
  transition: color .6s ease,background .6s ease,border-color .6s ease; }

a {
  color: inherit; }

sup {
  top: -.2em; }

.comments_note {
  display: none; }

a, a:hover, a:active, a:focus {
  text-decoration: none;
  outline: none; }

body {
  height: 100%;
  line-height: 1.2;
  font-size: 14px;
  color: #666666;
  font-weight: normal;
  font-family: 'Open Sans';
  font-weight: normal; }

#maintenance #message {
  max-width: 928px;
  margin: 0 auto;
  line-height: 2; }

#maintenance {
  height: 100%;
  background: url(../img/bg_maintence.jpg) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  padding: 100px 0 62px; }

#maintenance .logo img {
  display: inline-block;
  vertical-align: middle; }

#maintenance .logo span {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  padding-left: 25px; }

#maintenance .logo span b {
  font-weight: 900; }

#maintenance h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 88px 0 120px; }

#maintenance h1 span {
  display: inline-block;
  padding: 10px 70px; }

@media (max-width: 991px) {
  #maintenance h1 {
    font-size: 40px; } }
@media (max-width: 768px) {
  #maintenance h1 {
    font-size: 30px;
    margin-top: 60px; } }
@media (max-width: 580px) {
  #maintenance h1 {
    font-size: 25px; } }
@media (max-width: 480px) {
  #maintenance h1 {
    font-size: 20px;
    margin: 40px 0; } }
@media (max-width: 380px) {
  #maintenance h1 {
    font-size: 16px; } }

/*# sourceMappingURL=maintenance.css.map */
