/* color schemes */
#my-account .addresses-lists {
  margin-bottom: 30px; }

#my-account .myaccount-link-list li {
  overflow: hidden;
  padding-bottom: 10px; }

#my-account .myaccount-link-list li a {
  display: block;
  overflow: hidden;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: 'MuseoSansCyrl700', 'Open Sans';
  color: #555454;
  text-shadow: 0px 1px #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  border: 1px solid #333333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

#my-account .myaccount-link-list li a,
#my-account .myaccount-link-list li span {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease; }

#my-account .myaccount-link-list li a i {
  font-size: 25px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 52px;
  height: 26px;
  margin: auto 0;
  text-align: center; }

#my-account .myaccount-link-list li a span {
  display: block;
  padding: 13px 15px 15px 17px;
  overflow: hidden;
  border-left-style: solid;
  border-left-width: 1px;
  margin-left: 52px;
  border-color: #333333;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px; }

/*# sourceMappingURL=my-account.css.map */
