/* color schemes */
#order-opc {
  line-height: 20px; }
  #order-opc hr {
    display: none; }
  #order-opc .box {
    padding-bottom: 25px; }
  #order-opc .cart_navigation {
    margin-bottom: 53px; }
  #order-opc .page-heading.step-num {
    line-height: 1.3;
    overflow: visible;
    position: relative;
    padding-left: 45px; }
    #order-opc .page-heading.step-num span {
      font-weight: bold;
      font-size: 42px;
      line-height: 51px;
      font-style: italic;
      color: #333333;
      position: absolute;
      left: 10px;
      top: -14px; }
  #order-opc .form-group .form-control {
    max-width: 350px; }
  #order-opc .lost_password {
    display: inline-block;
    text-decoration: underline;
    margin: 5px 0 14px; }
    #order-opc .lost_password:hover {
      text-decoration: none; }
  #order-opc .title_block {
    font-weight: 600; }
  #order-opc .opc-button {
    padding: 10px 0 0 0; }
    #order-opc .opc-button .btn.btn-default {
      font-size: 13px;
      padding: 10px 15px; }
  #order-opc .bullet {
    line-height: 22px;
    margin-bottom: 5px; }
  #order-opc .opc-add-save {
    border-top: 1px solid #dfdfdf;
    margin-top: 20px;
    padding-top: 20px; }
  #order-opc #message {
    margin-bottom: 35px; }
  #order-opc #opc_payment_methods {
    margin-bottom: 30px; }
    #order-opc #opc_payment_methods .warning {
      color: #000000;
      font-weight: 600;
      padding: 0 15px; }
  #order-opc #opc_account {
    margin-bottom: 30px; }
  #order-opc .address_delivery.select {
    margin-bottom: 15px; }
  #order-opc #address_invoice_form.form-group {
    margin-bottom: 30px; }

#new_account_form .id_state,
#new_account_form .dni,
#new_account_form .postcode {
  display: none; }

#order-opc label[for="id_country"] {
  display: block; }
#order-opc .box p {
  margin-bottom: 10px; }

/* tablet */
@media (max-width: 768px) {
  #order-opc {
    color: #000000;
    font-size: 13px; }
    #order-opc .breadcrumb {
      margin-bottom: 0; }
    #order-opc .page-heading.step-num {
      color: #000000;
      font-size: 20px;
      margin-bottom: 20px;
      padding: 0;
      position: static;
      text-align: left;
      border: none; }
      #order-opc .page-heading.step-num span {
        font-size: inherit;
        font-style: normal;
        font-weight: inherit;
        line-height: inherit;
        position: static; }
    #order-opc .page-subheading {
      text-align: left; }
    #order-opc #login_form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 250px; }
      #order-opc #login_form .page-subheading {
        padding-bottom: 15px;
        text-align: center; }
        #order-opc #login_form .page-subheading + p {
          text-align: center; }
      #openLoginFormBlock {
        color: #000000;
        font-size: 16px; }
    #order-opc .form-group .form-control {
      max-width: none; }

  .box p {
    font-size: 13px;
    line-height: 1.8;
    margin-bottom: 20px; } }
/* mobile */
@media (max-width: 667px) {
  #order-opc .opc-add-save {
    margin-left: -18px;
    margin-right: -18px;
    padding-left: 18px;
    padding-right: 18px; }
    #order-opc .opc-add-save .btn {
      min-width: 170px;
      padding-top: 8px;
      padding-bottom: 8px; }

  #opc_account_form #submitAccount,
  #opc_account_form #submitGuestAccount,
  #new_account_form #submitAccount,
  #new_account_form #submitGuestAccount {
    font-size: 16px;
    width: 100%; }

  .opc-required {
    width: 100%;
    text-align: center; } }

/*# sourceMappingURL=order-opc.css.map */
