/* color schemes */
/* .pb-left-column ***************************************************************************** */
.pb-left-column #image-block {
  position: relative;
  text-align: center; }

.pb-left-column .wrap_scale {
  display: block; }
.pb-left-column #image-block img {
  display: block; }
.pb-left-column #image-block #view_full_size .span_link {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  position: absolute;
  bottom: -1px;
  right: -1px;
  font-size: 16px;
  cursor: pointer; }

#view_full_size {
  display: inline-block; }

.pb-left-column #image-block .jqzoom div div img {
  width: auto;
  max-width: 10000px; }
.pb-left-column #image-block .jqzoom div div .zoomWrapper {
  border: none; }
.pb-left-column #image-block .zoomPad {
  z-index: auto !important; }
.pb-left-column img {
  max-width: 100%;
  height: auto; }
.pb-left-column .product__image {
  width: 100%; }

.manufacturer-product-logo {
  position: absolute;
  top: 10px;
  right: 10px; }

@media (max-width: 991px) {
  .pb-left-column {
    margin-bottom: 30px; } }
/* mobile */
@media (max-width: 414px) {
  .pb-left-column {
    margin-bottom: 15px; } }
.print_prod {
  font-size: 12px;
  float: right;
  display: none; }
  .print_prod i {
    padding-right: 5px;
    vertical-align: 0.1em; }

#buy_block {
  padding-top: 10px;
  clear: both; }

.box-info-product p {
  margin-bottom: 7px; }

.online_only {
  color: #f13340;
  text-transform: uppercase; }

@media (min-width: 992px) and (max-width: 1199px) {
  .pb-right-column h1 {
    font-size: 18px; } }
@media (max-width: 768px) {
  .pb-right-column {
    text-align: center; }
    .pb-right-column h1 {
      font-size: 18px; } }
/* mobile */
@media (max-width: 414px) {
  .pb-right-column {
    text-align: left; } }
#page .rte {
  padding: 0 20px 20px;
  word-wrap: break-word; }
  #page .rte p {
    margin-bottom: 1em;
    min-height: 1px; }

#short_description_content a.btn,
.page-product-box a.btn {
  text-decoration: none; }

#short_description_block {
  clear: both;
  float: left;
  font-size: 12px;
  line-height: 2; }
  #short_description_block .buttons_bottom_block {
    display: none; }

#short_description_block #short_description_content {
  word-wrap: break-word;
  padding: 0 0 17px 0; }
  #short_description_block #short_description_content p:last-child {
    margin-bottom: 0; }

/* mobile */
@media (max-width: 414px) {
  #short_description_block {
    color: #949698;
    line-height: 2; } }
.wrap_attr {
  font-size: 12px;
  line-height: 1.8;
  padding: 15px 0; }

.product_attributes {
  border-bottom-style: solid;
  border-bottom-width: 1px; }

#attributes {
  margin: 0 -15px; }

.attribute_fieldset .chosen-container {
  width: 100% !important; }

#attributes fieldset {
  padding: 0 15px 16px;
  float: left;
  width: 50%; }
  #attributes fieldset label {
    vertical-align: top;
    line-height: 2;
    display: block; }
#attributes .attribute_list {
  width: 100%; }
  #attributes .attribute_list .form-control {
    max-width: 230px; }
    #attributes .attribute_list .form-control option {
      background: #ffffff;
      color: #666666; }
  #attributes .attribute_list ul {
    clear: both; }
  #attributes .attribute_list input.attribute_radio {
    float: left;
    margin-left: 3px; }
  #attributes .attribute_list .radio {
    float: none;
    display: inline-block; }
    #attributes .attribute_list .radio span,
    #attributes .attribute_list .radio input {
      float: none;
      display: inline-block; }
  #attributes .attribute_list #color_to_pick_list {
    list-style-type: none; }
    #attributes .attribute_list #color_to_pick_list li {
      float: left;
      margin: 0 3px 3px 0;
      padding: 1px;
      border-style: solid;
      border-width: 1px;
      border-color: transparent;
      clear: none;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px; }
      #attributes .attribute_list #color_to_pick_list li a.color_pick {
        display: block;
        height: 32px;
        width: 32px;
        -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.25);
        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.25);
        -webkit-border-radius: 2px;
        cursor: pointer; }
        #attributes .attribute_list #color_to_pick_list li a.color_pick img {
          display: block;
          max-width: 100%; }

@media (max-width: 768px) {
  .wrap_attr,
  #attributes fieldset label {
    text-align: left; } }
@media (max-width: 480px) {
  .pb-right-column h1 {
    font-size: 16px; }

  #attributes fieldset {
    width: 100%; } }
/* mobile */
@media (max-width: 414px) {
  .product_attributes {
    border: none; } }
.content_prices {
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 10px 0;
  clear: both;
  line-height: 32px; }
  .content_prices .tax {
    font-size: 13px; }

.content_prices .price.product-price {
  line-height: 1.3; }

.content_prices > .price {
  float: left; }

#old_price {
  font-weight: 300;
  font-size: 20px;
  display: inline-block !important;
  line-height: 1;
  padding-left: 16px;
  margin-left: 2px;
  position: relative; }
  #old_price .price {
    font-size: inherit;
    text-decoration: line-through; }

#old_price:before {
  display: block;
  content: '/';
  left: 0;
  top: 0;
  position: absolute; }

.our_price_display {
  font-size: 28px;
  font-weight: 800;
  line-height: 1;
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  width: 100%; }

.box-security {
  padding: 0 8px 25px; }

@media (max-width: 991px) {
  .content_prices .price.product-price {
    line-height: 1.5; } }
/* mobile */
@media (max-width: 414px) {
  .content_prices {
    border: none;
    padding: 0; }

  #old_price {
    color: #949698; } }
#availability_statut {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px; }
  #availability_statut span {
    background: none; }

@media (min-width: 992px) and (max-width: 1199px) {
  #availability_statut {
    font-size: 14px;
    line-height: 1.7; } }
@media (max-width: 991px) {
  #availability_statut {
    font-size: 16px; } }
@media (max-width: 768px) {
  #availability_statut #availability_label {
    display: none; } }
@media (max-width: 480px) {
  #availability_statut {
    font-size: 12px; } }
/* link list */
.wrap_buttons {
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 20px; }
  .wrap_buttons .butt:before {
    font-weight: normal;
    font-size: 16px;
    margin-right: 4px; }

#send_friend_button {
  float: right; }

#wishlist_button {
  float: left; }

#buy_block .wrap_buttons .black-btn:before {
  display: none; }

#left_share_fb {
  clear: both;
  float: none; }

.btn.btn-default.btn-usefull {
  padding: 6px 25px 5px;
  font-size: 14px; }

@media (min-width: 992px) and (max-width: 1199px) {
  .btn.btn-default.btn-usefull {
    height: 32px;
    line-height: 28px;
    padding: 0 10px;
    font-size: 12px; } }
@media (max-width: 480px) and (min-width: 415px) {
  .wrap_buttons #send_friend_button,
  .wrap_buttons #wishlist_button {
    width: 100%;
    float: none;
    margin-bottom: 20px; } }
@media (min-width: 415px) {
  .btn.btn-usefull:before {
    display: none; } }
/* mobile */
@media (max-width: 414px) {
  .wrap_buttons {
    border: none;
    padding: 0; }
    .wrap_buttons:before, .wrap_buttons:after {
      display: none; }

  #wishlist_button {
    float: right; }

  .btn.btn-default.btn-usefull {
    border: none;
    background: #000000;
    color: #ffffff;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    text-align: center;
    width: 35px;
    margin-left: 14px; }
    .btn.btn-default.btn-usefull:hover {
      background: #262626; }
    .btn.btn-default.btn-usefull span {
      display: none; } }
.wrap_bottom {
  margin: 0 -7px;
  padding: 20px 0 0px; }
  .wrap_bottom > div {
    float: left;
    padding: 0 7px 20px; }
  .wrap_bottom .box-cart-bottom {
    float: right; }

/* quantity_wanted */
#quantity_wanted_p {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  vertical-align: middle;
  padding: 1px; }
  #quantity_wanted_p .button-plus,
  #quantity_wanted_p .button-minus {
    position: relative;
    display: inline-block;
    float: left;
    height: 32px;
    width: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 12px; }
  #quantity_wanted_p > a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    bottom: 5px;
    border-right-style: solid;
    border-right-width: 1px;
    -webkit-transition: border-color .3s ease;
    -moz-transition: border-color .3s ease;
    -o-transition: border-color .3s ease;
    transition: border-color .3s ease; }
  #quantity_wanted_p .button-plus:before {
    left: auto;
    right: 0; }
  #quantity_wanted_p input {
    border: none;
    left: 0;
    z-index: 0;
    top: 0;
    float: left;
    width: 44px !important;
    height: 32px;
    line-height: 32px;
    text-align: center;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
  #quantity_wanted_p .btn {
    float: left;
    margin-left: 3px; }

.wrap_quan label {
  vertical-align: middle;
  padding-right: 11px; }

#last_quantities {
  clear: both;
  float: left;
  padding: 10px 0;
  font-weight: 700;
  width: 100%; }

#minimal_quantity_wanted_p {
  padding-top: 10px;
  line-height: 1.5; }

/* add t cart */
#add_to_cart {
  margin-bottom: 0; }
  #add_to_cart button {
    line-height: 34px;
    height: 36px;
    padding: 0 25px; }

@media (min-width: 992px) and (max-width: 1199px) {
  #add_to_cart button {
    font-size: 12px;
    padding: 0 10px; } }
@media (max-width: 640px) {
  #add_to_cart {
    width: 100%; } }
@media (max-width: 480px) {
  .wrap_bottom .wrap_quan {
    padding-left: 7px; }

  .wrap_quan label {
    display: none; }

  .wrap_bottom > div,
  #add_to_cart button {
    width: 100%; } }
@media (min-width: 415px) {
  #add_to_cart button:before {
    display: none; } }
/* mobile */
@media (max-width: 414px) {
  .wrap_bottom {
    margin: 0;
    padding: 0; }
    .wrap_bottom:before, .wrap_bottom:after {
      display: none; }
    .wrap_bottom .wrap_quan {
      float: left;
      padding: 0;
      width: auto; }
    .wrap_bottom .box-cart-bottom {
      padding: 0;
      margin-left: 14px;
      width: auto; }

  #add_to_cart button {
    border: none;
    background: #000000;
    color: #ffffff;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    text-align: center;
    width: 35px; }
    #add_to_cart button:hover {
      background: #262626; }
    #add_to_cart button span {
      display: none; } }
#product #loyalty {
  padding: 17px 0 15px 35px;
  margin: 10px 0 0;
  position: relative; }
  #product #loyalty:before {
    font-size: 26px;
    line-height: 28px;
    position: absolute;
    top: 16px;
    left: 0; }

/* miniatures */
#views_block {
  position: relative;
  margin: 0 -5px; }

#thumbs_list {
  overflow: hidden;
  float: left;
  display: inline-block;
  width: 100%;
  padding: 10px 0; }
  #thumbs_list #thumbs_list_frame {
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
    width: 10000px !important; }
  #thumbs_list li {
    float: left;
    cursor: pointer;
    padding: 0 5px; }
    #thumbs_list li a {
      display: block;
      border-style: solid;
      border-width: 1px;
      text-align: center; }
    #thumbs_list li img {
      display: inline-block;
      max-width: 100%; }

#view_scroll_left {
  position: absolute;
  top: 0;
  left: -12px;
  bottom: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin: auto 0;
  font-size: 16px; }

#view_scroll_right {
  position: absolute;
  top: 0;
  left: -12px;
  bottom: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin: auto 0;
  font-size: 16px;
  left: auto;
  right: -12px; }

.resetimg {
  padding: 10px 0 0;
  display: none; }
  .resetimg #resetImages i {
    margin-right: 6px; }

.view_scroll_spacer {
  margin-top: 38px; }

@media (max-width: 480px) {
  #view_scroll_left:before,
  #view_scroll_right:before {
    height: 12px;
    font-size: 14px; } }
.discount {
  display: none; }

.wrap_condition_prod {
  float: right; }

#reduction_percent.tag.price-percent-reduction {
  position: static; }
#reduction_percent span {
  display: block; }

#reduction_amount span {
  display: block; }

.pb-right-column .tag {
  position: static;
  display: inline-block;
  height: 30px;
  line-height: 28px;
  padding: 0 11px;
  margin-left: 2px;
  vertical-align: top; }
.pb-right-column .mini-tags .tag {
  height: 25px;
  line-height: 23px;
  padding: 0 6px;
  margin-left: 1px;
  font-size: 13px; }

#reduction_amount {
  font-size: 12px;
  padding: 0 5px; }

@media (max-width: 480px) {
  .wrap_condition_prod {
    width: 100%;
    margin-top: 10px; } }
#more_info_block {
  margin-top: 44px; }

#more_info_tabs {
  display: block;
  margin: 0; }
  #more_info_tabs.nav.nav-tabs > li {
    margin-bottom: 30px; }
  #more_info_tabs.nav.nav-tabs.total-more-than-3 > li {
    margin-bottom: 20px;
    min-width: 170px; }

.game-tabs.nav.nav-tabs.total-more-than-3 > li:not(:last-child) {
  margin-right: 20px; }
.game-tabs.nav.nav-tabs.total-more-than-3 > li a {
  font-size: 14px;
  height: 55px;
  line-height: 53px; }

#more_info_sheets {
  position: relative;
  border-style: solid;
  border-width: 1px;
  padding: 21px 30px 25px 30px; }

#idTab2 {
  line-height: 2; }

#idTab1 {
  line-height: 1.6;
  font-size: 14px; }
  #idTab1 p {
    margin-bottom: 20px; }
    #idTab1 p:last-child {
      margin-bottom: 0; }

.name_bullet {
  text-transform: uppercase;
  font-weight: 700; }

@media (max-width: 1199px) {
  #more_info_tabs li a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px; }
  #more_info_tabs.nav.nav-tabs.total-more-than-3 > li {
    margin-bottom: 15px;
    min-width: 150px; }
  #more_info_tabs.game-tabs.nav.nav-tabs.total-more-than-3 > li:not(:last-child) {
    margin-right: 15px; } }
@media (max-width: 991px) {
  .name_bullet {
    font-size: 12px; }

  #more_info_tabs li a {
    padding-left: 16px;
    padding-right: 6px;
    font-size: 12px; }
  #more_info_tabs.nav.nav-tabs > li {
    min-width: 170px;
    margin-bottom: 20px; }
    #more_info_tabs.nav.nav-tabs > li:not(:last-child) {
      margin-right: 20px; }
  #more_info_tabs.nav.nav-tabs.total-more-than-3 > li {
    margin-bottom: 15px;
    min-width: 100px; }
  #more_info_tabs.game-tabs.nav.nav-tabs.total-more-than-3 > li a {
    font-size: 12px; } }
@media (max-width: 768px) {
  #more_info_sheets {
    padding: 15px; } }
@media (max-width: 640px) {
  #more_info_tabs.nav.nav-tabs > li {
    min-width: 140px;
    margin-bottom: 15px; }
    #more_info_tabs.nav.nav-tabs > li:not(:last-child) {
      margin-right: 15px; }
    #more_info_tabs.nav.nav-tabs > li a {
      height: auto;
      line-height: 1.5;
      padding: 15px 5px; } }
@media (max-width: 580px) {
  #send_friend_form h2 {
    line-height: 29px; }

  #idTab2 .name_bullet,
  #idTab2 .value_bullet {
    width: 100%; }

  #more_info_tabs.nav.nav-tabs > li {
    min-width: 120px; } }
@media (max-width: 480px) {
  #more_info_tabs.nav.nav-tabs > li {
    margin-right: 0 !important;
    margin-bottom: 10px;
    width: 100%; }
    #more_info_tabs.nav.nav-tabs > li a {
      font-size: 20px;
      font-weight: 400;
      padding: 11px 5px; }
      #more_info_tabs.nav.nav-tabs > li a:hover, #more_info_tabs.nav.nav-tabs > li a.selected {
        background: none;
        border-color: #000000;
        color: #000000; }

  #more_info_sheets {
    padding: 20px; }

  #idTab1 {
    color: #4d4d4d;
    font-size: 13px;
    line-height: 2; } }
/* PERSONNALISATION ##################################################################### */
.infoCustomizable {
  margin-bottom: 30px; }

#uploadable_files,
#text_fields {
  list-style-type: none; }

.customizableProductsFile,
.customizableProductsText {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7; }

.customizationUploadLine {
  padding-bottom: 10px; }
  .customizationUploadLine label {
    display: block;
    margin-bottom: 15px; }
  .customizationUploadLine textarea {
    width: 50%;
    border: 1px solid #e7e7e7;
    color: #666666; }

.customizationUploadBrowse img + a {
  position: relative;
  top: -51px; }

#customizedDatas {
  float: right; }

/* table_data_sheet */
.table-data-sheet {
  border-bottom: 1px solid #e7e7e7;
  width: 100%;
  margin: 0 0 20px;
  background: #ffffff; }
  .table-data-sheet tr {
    border-top: 1px solid #e7e7e7; }
    .table-data-sheet tr.even {
      background: #F5F5F5; }
    .table-data-sheet tr td {
      padding: 10px 20px 11px; }
      .table-data-sheet tr td:first-child {
        border-right: 1px solid #e7e7e7;
        width: 30%;
        font-weight: 700;
        color: #333333; }

/* table product-discounts */
table.table-product-discounts {
  border: none;
  border-bottom: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  width: 50%;
  margin: 0 0 20px;
  background: #ffffff; }
  table.table-product-discounts tr th {
    background: #F5F5F5;
    color: #333333;
    font-weight: 700;
    border: none;
    font-weight: 700; }
  table.table-product-discounts tr td,
  table.table-product-discounts tr th {
    border-left: 1px solid #e7e7e7;
    width: 33%;
    padding: 10px 20px 11px;
    border-top: 1px solid #e7e7e7;
    border-right: none;
    text-shadow: none;
    text-transform: none;
    font-weight: 13px;
    line-height: 18px;
    border-bottom: none; }

@media screen and (min-width: 1200px) {
  .wrap_condition_prod {
    max-width: 38%; } }
@media (max-width: 768px) {
  table.table-product-discounts {
    width: 100%; } }
p {
  margin-bottom: 10px; }

.primary_block .category-product-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 15px;
  margin: 0 0 30px;
  line-height: 1; }

.addsharethisinner .stButton .stArrow {
  display: none !important; }

@media (min-width: 769px) and (max-width: 991px) {
  .primary_block .category-product-title {
    font-size: 14px;
    margin-bottom: 25px; } }
/* mobile */
@media (max-width: 419px) {
  #product .column-side {
    display: none; }

  .primary_block .category-product-title {
    display: none; } }

/*# sourceMappingURL=product.css.map */
