/* color schemes */
/********************************************************
			Right to Left Styles
********************************************************/
* {
  direction: rtl !important; }

#page {
  text-align: right !important; }

h1 {
  text-align: right; }

.user-info__item a:before {
  margin-left: 5px;
  margin-right: auto; }

@media (max-width: 991px) and (min-width: 769px) {
  .sf-menu > li:first-child {
    padding-left: 12px;
    padding-right: 0; } }
@media (min-width: 769px) {
  .sf-menu li ul {
    text-align: right; }
  .sf-menu li ul li .sf-with-ul:before {
    left: 10px;
    right: auto;
    transform: scale(-1); }
  .sf-menu > li > .sf-with-ul:after {
    right: auto;
    left: -22px; }
  .sf-menu li ul li li a {
    padding-right: 25px;
    padding-left: 0; }
    .sf-menu li ul li li a:before {
      left: auto;
      right: 0;
      transform: scale(-1, 1); } }
@media (min-width: 769px) {
  .sf-menu > li {
    float: right; } }
@media (min-width: 769px) {
  #block_top_menu {
    float: right; } }
.search-box .button-search, .sf-search .button-search {
  left: 5px;
  right: auto;
  transform: scaleX(1); }

@media (min-width: 769px) {
  .amazing-search .styled-select, .amazing-search select {
    left: 80%;
    right: auto; }
  .amazing-search .search_query {
    border-left-width: 0;
    border-right-width: 1px; }

  .amazing-search.search-active-menu .styled-select, .amazing-search.search-active-menu select {
    left: 105%;
    right: auto; } }
.tp-loop-wrap {
  direction: ltr !important; }

.c_container.carousel, .c_container.simple-grid {
  text-align: left; }

.theme-carousel .bx-wrapper .bx-controls-direction a i, .easycarousels .bx-wrapper .bx-controls-direction a i {
  display: inline-block;
  transform: scale(-1, 1); }
.theme-carousel .bx-wrapper .bx-controls-direction a.bx-prev, .easycarousels .bx-wrapper .bx-controls-direction a.bx-prev {
  margin: 0 0 0 10px; }

.theme-carousel .bx-wrapper .bx-controls-direction {
  text-align: left; }

.easycarousels .grid-style-arrows .bx-wrapper .bx-controls-direction > a:first-child {
  margin: 0 0 0 10px; }

@media (max-width: 414px) {
  .theme-carousel .bx-wrapper .bx-controls-direction {
    text-align: center; } }
@media (min-width: 415px) {
  .bottom-block-page .right-block {
    text-align: right; }
    .bottom-block-page .right-block h5 {
      text-align: right; }
    .bottom-block-page .right-block .product-name {
      text-align: right; }
  .bottom-block-page .content_price {
    float: right; }
  .bottom-block-page .easycarousels .bx-wrapper .bx-controls-direction {
    left: 0;
    right: auto; } }
@media (min-width: 421px) {
  .bottom-block-page .right-block {
    padding-left: 0;
    padding-right: 30px;
    border-left: none;
    border-right: 1px solid; } }
@media (min-width: 769px) {
  #product .carousel_block .title_main_section {
    text-align: right; }

  #product .carousel_block .bx-wrapper .bx-controls-direction {
    right: auto;
    left: 15px; } }
#newsletter_block_left .btn {
  right: auto;
  left: 2px; }

#newsletter-input {
  padding-right: 10px;
  padding-left: 45px; }

#currencies-block-top select, #languages-block-top select {
  padding-right: 10px;
  padding-left: 19px; }
#currencies-block-top .styled-select dt.option, #languages-block-top .styled-select dt.option {
  padding-left: 29px;
  padding-right: 10px; }
#currencies-block-top .styled-select .toggle, #languages-block-top .styled-select .toggle {
  left: 1px;
  right: auto; }

@media (max-width: 768px) {
  #currencies-block-top .styled-select dt.option, #languages-block-top .styled-select dt.option {
    padding-left: 20px; } }
.styled-select .toggle {
  left: -1px;
  right: auto; }

.styled-select ul {
  left: auto;
  right: 0; }

.styled-select dt.option {
  padding-right: 10px;
  padding-left: 35px; }

.sortPagiBar .styled-select .option {
  padding-right: 10px;
  padding-left: 35px; }

@media (max-width: 414px) {
  .top-pagination-content, .bottom-pagination-content {
    text-align: right; } }
#left_column, #center_column, #right_column {
  float: right; }

@media (min-width: 769px) {
  .categories_left ul li ul {
    right: 130%;
    border-style: solid;
    border-width: 1px;
    -webkit-transition: opacity .4s,right .4s,visibility .5s;
    -moz-transition: opacity .4s,right .4s,visibility .5s;
    -o-transition: opacity .4s,right .4s,visibility .5s;
    transition: opacity .4s,right .4s,visibility .5s; }

  .categories_left ul li:hover > ul {
    right: 100%; } }
.attribute_list {
  text-align: right; }

.content_prices > .price {
  float: right; }

#short_description_block {
  float: right; }

#more_info_tabs.nav.nav-tabs > li:not(:last-child) {
  margin-right: 0;
  margin-left: 20px; }

@media (max-width: 480px) {
  #more_info_tabs.nav.nav-tabs > li:not(:last-child) {
    margin-left: 0; } }
.categories_left li span.grower {
  left: 0;
  right: auto;
  transform: scale(-1); }

.pb-right-column h1 {
  padding: 0 0 0 21px; }

#layered_block_left .nomargin a span {
  float: left; }

#layered_block_left .styled-checkbox, #layered_block_left .styled-radio {
  right: 0;
  left: auto; }

#layered_block_left ul.layered_filter_ul > li {
  padding-right: 25px;
  padding-left: 0; }

#layered_block_left ul.color-group > li {
  padding-right: 0;
  float: right; }

#social_block li {
  display: inline-block;
  margin-left: 7px;
  margin-right: 0; }

.products-block .item .products-block-image {
  float: right;
  padding-right: 0;
  padding-left: 10px;
  border-right: none; }

.products-block .product-content {
  text-align: right;
  padding-right: 80px;
  padding-left: 0; }

.products-block .item .product-content h5 {
  text-align: right; }

@media (max-width: 991px) and (min-width: 769px) {
  .products-block .product-content {
    padding-right: 0;
    text-align: center;
    clear: both; }
  .products-block .item .products-block-image {
    padding: 0; }
  .products-block .item .product-content h5 {
    text-align: center; } }
#productsSortForm {
  text-align: right; }
  #productsSortForm select {
    padding-right: 5px; }
  #productsSortForm .selector {
    float: right; }

#more_info_tabs li {
  float: right; }

.wrap_quan label {
  padding: 0 0 0 11px; }

#product_comments_block_extra .comments_advices {
  padding: 0 5px 0 0; }

#new_comment_form {
  text-align: right; }
  #new_comment_form .product img {
    float: right;
    margin: 0 0 0 10px; }
  #new_comment_form #criterions_list label {
    float: right;
    margin: 0 0 0 10px; }
  #new_comment_form .cancel {
    float: right;
    margin: 0 0 0 5px; }

#new_comment_form_footer .closefb {
  margin: 0 0 0 12px; }

@media (min-width: 769px) {
  #product_comments_block_tab div.comment .comment_author {
    float: right; }
  #product_comments_block_tab div.comment .comment_details {
    border-left: none;
    border-right: 1px solid #0077B5; } }
#our_price_display {
  line-height: 1;
  float: left; }

#old_price {
  line-height: 1;
  float: right; }

@media (max-width: 768px) {
  .pb-right-column, .pb-center-column {
    text-align: right; } }
@media (max-width: 480px) {
  #new_comment_form .product {
    text-align: right; }

  #new_comment_form_footer .button, #new_comment_form_footer .closefb {
    margin: 0 0 15px; }

  #new_comment_form .product img {
    float: none;
    margin: 0 0 15px; }

  #new_comment_form .product .product_desc {
    text-align: right; } }
@media (max-width: 414px) {
  #product_comments_block_extra .star_content {
    float: right; }

  .mobile-box {
    float: right; }

  .content_prices #our_price_display {
    float: left; }
  .content_prices #old_price {
    float: right; }
  .content_prices > .price {
    float: right; } }
#attributes .attribute_list #color_to_pick_list li {
  float: right; }

#product .grid_arrows .title_main_section {
  text-align: right; }
  #product .grid_arrows .title_main_section span {
    padding: 0 0 0 30px; }

@media (max-width: 768px) {
  .wrap_attr, #attributes fieldset label {
    text-align: right; } }
@media (max-width: 414px) {
  .pb-right-column, .pb-center-column {
    text-align: right; } }
#footer h4:after {
  right: auto;
  left: 10px;
  text-align: left; }
#footer .toggle-footer li {
  padding-right: 13px;
  padding-left: 0; }
  #footer .toggle-footer li:before {
    right: 0px;
    left: auto;
    transform: scale(-1, 1); }

.list-block > ul > li a {
  padding: 5px 32px 6px 0; }
  .list-block > ul > li a:before {
    display: inline-block;
    transform: scale(-1, 1);
    left: auto;
    right: 20px; }

@media (max-width: 768px) {
  .block .title_block:after, .block h4:after {
    left: 0;
    right: auto; } }
input.button_mini.right i,
input.button_small.right i,
input.button.right i,
input.button.right i,
button.button.right i,
input.button_large.right i,
input.button_mini_disabled.right i,
input.button_small_disabled.right i,
input.button_disabled.right i,
input.button_large_disabled.right i,
input.exclusive_mini.right i,
input.exclusive_small.right i,
input.exclusive.right i,
input.exclusive_large.right i,
input.exclusive_mini_disabled.right i,
input.exclusive_small_disabled.right i,
input.exclusive_disabled.right i,
input.exclusive_large_disabled.right i,
a.button_mini.right i,
a.button_small.right i,
a.button.right i,
a.button_large.right i,
a.exclusive_mini.right i,
a.exclusive_small.right i,
a.exclusive.right i,
a.exclusive_large.right i,
span.button_mini.right i,
span.button_small.right i,
span.button.right i,
span.button_large.right i,
span.exclusive_mini.right i,
span.exclusive_small.right i,
span.exclusive.right i,
span.exclusive_large.right i,
span.exclusive_large_disabled.right i,
.btn.btn-default.right i, .btn-primary.right i {
  padding: 0 4px 0 0; }
input.button_mini.left i,
input.button_small.left i,
input.button.left i,
input.button.left i,
button.button.left i,
input.button_large.left i,
input.button_mini_disabled.left i,
input.button_small_disabled.left i,
input.button_disabled.left i,
input.button_large_disabled.left i,
input.exclusive_mini.left i,
input.exclusive_small.left i,
input.exclusive.left i,
input.exclusive_large.left i,
input.exclusive_mini_disabled.left i,
input.exclusive_small_disabled.left i,
input.exclusive_disabled.left i,
input.exclusive_large_disabled.left i,
a.button_mini.left i,
a.button_small.left i,
a.button.left i,
a.button_large.left i,
a.exclusive_mini.left i,
a.exclusive_small.left i,
a.exclusive.left i,
a.exclusive_large.left i,
span.button_mini.left i,
span.button_small.left i,
span.button.left i,
span.button_large.left i,
span.exclusive_mini.left i,
span.exclusive_small.left i,
span.exclusive.left i,
span.exclusive_large.left i,
span.exclusive_large_disabled.left i,
.btn.btn-default.left i, .btn-primary.left i {
  padding: 0 0 0 4px; }
input.button_mini i.left,
input.button_small i.left,
input.button i.left,
input.button i.left,
button.button i.left,
input.button_large i.left,
input.button_mini_disabled i.left,
input.button_small_disabled i.left,
input.button_disabled i.left,
input.button_large_disabled i.left,
input.exclusive_mini i.left,
input.exclusive_small i.left,
input.exclusive i.left,
input.exclusive_large i.left,
input.exclusive_mini_disabled i.left,
input.exclusive_small_disabled i.left,
input.exclusive_disabled i.left,
input.exclusive_large_disabled i.left,
a.button_mini i.left,
a.button_small i.left,
a.button i.left,
a.button_large i.left,
a.exclusive_mini i.left,
a.exclusive_small i.left,
a.exclusive i.left,
a.exclusive_large i.left,
span.button_mini i.left,
span.button_small i.left,
span.button i.left,
span.button_large i.left,
span.exclusive_mini i.left,
span.exclusive_small i.left,
span.exclusive i.left,
span.exclusive_large i.left,
span.exclusive_large_disabled i.left,
.btn.btn-default i.left, .btn-primary i.left {
  padding: 0 0 0 4px; }
input.button_mini i.right,
input.button_small i.right,
input.button i.right,
input.button i.right,
button.button i.right,
input.button_large i.right,
input.button_mini_disabled i.right,
input.button_small_disabled i.right,
input.button_disabled i.right,
input.button_large_disabled i.right,
input.exclusive_mini i.right,
input.exclusive_small i.right,
input.exclusive i.right,
input.exclusive_large i.right,
input.exclusive_mini_disabled i.right,
input.exclusive_small_disabled i.right,
input.exclusive_disabled i.right,
input.exclusive_large_disabled i.right,
a.button_mini i.right,
a.button_small i.right,
a.button i.right,
a.button_large i.right,
a.exclusive_mini i.right,
a.exclusive_small i.right,
a.exclusive i.right,
a.exclusive_large i.right,
span.button_mini i.right,
span.button_small i.right,
span.button i.right,
span.button_large i.right,
span.exclusive_mini i.right,
span.exclusive_small i.right,
span.exclusive i.right,
span.exclusive_large i.right,
span.exclusive_large_disabled i.right,
.btn.btn-default i.right, .btn-primary i.right {
  padding: 0 4px 0 0; }
input.button_mini .icon-chevron-left,
input.button_mini .icon-angle-left,
input.button_small .icon-chevron-left,
input.button_small .icon-angle-left,
input.button .icon-chevron-left,
input.button .icon-angle-left,
input.button .icon-chevron-left,
input.button .icon-angle-left,
button.button .icon-chevron-left,
button.button .icon-angle-left,
input.button_large .icon-chevron-left,
input.button_large .icon-angle-left,
input.button_mini_disabled .icon-chevron-left,
input.button_mini_disabled .icon-angle-left,
input.button_small_disabled .icon-chevron-left,
input.button_small_disabled .icon-angle-left,
input.button_disabled .icon-chevron-left,
input.button_disabled .icon-angle-left,
input.button_large_disabled .icon-chevron-left,
input.button_large_disabled .icon-angle-left,
input.exclusive_mini .icon-chevron-left,
input.exclusive_mini .icon-angle-left,
input.exclusive_small .icon-chevron-left,
input.exclusive_small .icon-angle-left,
input.exclusive .icon-chevron-left,
input.exclusive .icon-angle-left,
input.exclusive_large .icon-chevron-left,
input.exclusive_large .icon-angle-left,
input.exclusive_mini_disabled .icon-chevron-left,
input.exclusive_mini_disabled .icon-angle-left,
input.exclusive_small_disabled .icon-chevron-left,
input.exclusive_small_disabled .icon-angle-left,
input.exclusive_disabled .icon-chevron-left,
input.exclusive_disabled .icon-angle-left,
input.exclusive_large_disabled .icon-chevron-left,
input.exclusive_large_disabled .icon-angle-left,
a.button_mini .icon-chevron-left,
a.button_mini .icon-angle-left,
a.button_small .icon-chevron-left,
a.button_small .icon-angle-left,
a.button .icon-chevron-left,
a.button .icon-angle-left,
a.button_large .icon-chevron-left,
a.button_large .icon-angle-left,
a.exclusive_mini .icon-chevron-left,
a.exclusive_mini .icon-angle-left,
a.exclusive_small .icon-chevron-left,
a.exclusive_small .icon-angle-left,
a.exclusive .icon-chevron-left,
a.exclusive .icon-angle-left,
a.exclusive_large .icon-chevron-left,
a.exclusive_large .icon-angle-left,
span.button_mini .icon-chevron-left,
span.button_mini .icon-angle-left,
span.button_small .icon-chevron-left,
span.button_small .icon-angle-left,
span.button .icon-chevron-left,
span.button .icon-angle-left,
span.button_large .icon-chevron-left,
span.button_large .icon-angle-left,
span.exclusive_mini .icon-chevron-left,
span.exclusive_mini .icon-angle-left,
span.exclusive_small .icon-chevron-left,
span.exclusive_small .icon-angle-left,
span.exclusive .icon-chevron-left,
span.exclusive .icon-angle-left,
span.exclusive_large .icon-chevron-left,
span.exclusive_large .icon-angle-left,
span.exclusive_large_disabled .icon-chevron-left,
span.exclusive_large_disabled .icon-angle-left,
.btn.btn-default .icon-chevron-left,
.btn.btn-default .icon-angle-left, .btn-primary .icon-chevron-left,
.btn-primary .icon-angle-left {
  padding: 0 0 0 4px; }
  input.button_mini .icon-chevron-left:before,
  input.button_mini .icon-angle-left:before,
  input.button_small .icon-chevron-left:before,
  input.button_small .icon-angle-left:before,
  input.button .icon-chevron-left:before,
  input.button .icon-angle-left:before,
  input.button .icon-chevron-left:before,
  input.button .icon-angle-left:before,
  button.button .icon-chevron-left:before,
  button.button .icon-angle-left:before,
  input.button_large .icon-chevron-left:before,
  input.button_large .icon-angle-left:before,
  input.button_mini_disabled .icon-chevron-left:before,
  input.button_mini_disabled .icon-angle-left:before,
  input.button_small_disabled .icon-chevron-left:before,
  input.button_small_disabled .icon-angle-left:before,
  input.button_disabled .icon-chevron-left:before,
  input.button_disabled .icon-angle-left:before,
  input.button_large_disabled .icon-chevron-left:before,
  input.button_large_disabled .icon-angle-left:before,
  input.exclusive_mini .icon-chevron-left:before,
  input.exclusive_mini .icon-angle-left:before,
  input.exclusive_small .icon-chevron-left:before,
  input.exclusive_small .icon-angle-left:before,
  input.exclusive .icon-chevron-left:before,
  input.exclusive .icon-angle-left:before,
  input.exclusive_large .icon-chevron-left:before,
  input.exclusive_large .icon-angle-left:before,
  input.exclusive_mini_disabled .icon-chevron-left:before,
  input.exclusive_mini_disabled .icon-angle-left:before,
  input.exclusive_small_disabled .icon-chevron-left:before,
  input.exclusive_small_disabled .icon-angle-left:before,
  input.exclusive_disabled .icon-chevron-left:before,
  input.exclusive_disabled .icon-angle-left:before,
  input.exclusive_large_disabled .icon-chevron-left:before,
  input.exclusive_large_disabled .icon-angle-left:before,
  a.button_mini .icon-chevron-left:before,
  a.button_mini .icon-angle-left:before,
  a.button_small .icon-chevron-left:before,
  a.button_small .icon-angle-left:before,
  a.button .icon-chevron-left:before,
  a.button .icon-angle-left:before,
  a.button_large .icon-chevron-left:before,
  a.button_large .icon-angle-left:before,
  a.exclusive_mini .icon-chevron-left:before,
  a.exclusive_mini .icon-angle-left:before,
  a.exclusive_small .icon-chevron-left:before,
  a.exclusive_small .icon-angle-left:before,
  a.exclusive .icon-chevron-left:before,
  a.exclusive .icon-angle-left:before,
  a.exclusive_large .icon-chevron-left:before,
  a.exclusive_large .icon-angle-left:before,
  span.button_mini .icon-chevron-left:before,
  span.button_mini .icon-angle-left:before,
  span.button_small .icon-chevron-left:before,
  span.button_small .icon-angle-left:before,
  span.button .icon-chevron-left:before,
  span.button .icon-angle-left:before,
  span.button_large .icon-chevron-left:before,
  span.button_large .icon-angle-left:before,
  span.exclusive_mini .icon-chevron-left:before,
  span.exclusive_mini .icon-angle-left:before,
  span.exclusive_small .icon-chevron-left:before,
  span.exclusive_small .icon-angle-left:before,
  span.exclusive .icon-chevron-left:before,
  span.exclusive .icon-angle-left:before,
  span.exclusive_large .icon-chevron-left:before,
  span.exclusive_large .icon-angle-left:before,
  span.exclusive_large_disabled .icon-chevron-left:before,
  span.exclusive_large_disabled .icon-angle-left:before,
  .btn.btn-default .icon-chevron-left:before,
  .btn.btn-default .icon-angle-left:before, .btn-primary .icon-chevron-left:before,
  .btn-primary .icon-angle-left:before {
    display: inline-block;
    transform: scale(-1, 1); }
input.button_mini .icon-chevron-right,
input.button_mini .icon-angle-right,
input.button_small .icon-chevron-right,
input.button_small .icon-angle-right,
input.button .icon-chevron-right,
input.button .icon-angle-right,
input.button .icon-chevron-right,
input.button .icon-angle-right,
button.button .icon-chevron-right,
button.button .icon-angle-right,
input.button_large .icon-chevron-right,
input.button_large .icon-angle-right,
input.button_mini_disabled .icon-chevron-right,
input.button_mini_disabled .icon-angle-right,
input.button_small_disabled .icon-chevron-right,
input.button_small_disabled .icon-angle-right,
input.button_disabled .icon-chevron-right,
input.button_disabled .icon-angle-right,
input.button_large_disabled .icon-chevron-right,
input.button_large_disabled .icon-angle-right,
input.exclusive_mini .icon-chevron-right,
input.exclusive_mini .icon-angle-right,
input.exclusive_small .icon-chevron-right,
input.exclusive_small .icon-angle-right,
input.exclusive .icon-chevron-right,
input.exclusive .icon-angle-right,
input.exclusive_large .icon-chevron-right,
input.exclusive_large .icon-angle-right,
input.exclusive_mini_disabled .icon-chevron-right,
input.exclusive_mini_disabled .icon-angle-right,
input.exclusive_small_disabled .icon-chevron-right,
input.exclusive_small_disabled .icon-angle-right,
input.exclusive_disabled .icon-chevron-right,
input.exclusive_disabled .icon-angle-right,
input.exclusive_large_disabled .icon-chevron-right,
input.exclusive_large_disabled .icon-angle-right,
a.button_mini .icon-chevron-right,
a.button_mini .icon-angle-right,
a.button_small .icon-chevron-right,
a.button_small .icon-angle-right,
a.button .icon-chevron-right,
a.button .icon-angle-right,
a.button_large .icon-chevron-right,
a.button_large .icon-angle-right,
a.exclusive_mini .icon-chevron-right,
a.exclusive_mini .icon-angle-right,
a.exclusive_small .icon-chevron-right,
a.exclusive_small .icon-angle-right,
a.exclusive .icon-chevron-right,
a.exclusive .icon-angle-right,
a.exclusive_large .icon-chevron-right,
a.exclusive_large .icon-angle-right,
span.button_mini .icon-chevron-right,
span.button_mini .icon-angle-right,
span.button_small .icon-chevron-right,
span.button_small .icon-angle-right,
span.button .icon-chevron-right,
span.button .icon-angle-right,
span.button_large .icon-chevron-right,
span.button_large .icon-angle-right,
span.exclusive_mini .icon-chevron-right,
span.exclusive_mini .icon-angle-right,
span.exclusive_small .icon-chevron-right,
span.exclusive_small .icon-angle-right,
span.exclusive .icon-chevron-right,
span.exclusive .icon-angle-right,
span.exclusive_large .icon-chevron-right,
span.exclusive_large .icon-angle-right,
span.exclusive_large_disabled .icon-chevron-right,
span.exclusive_large_disabled .icon-angle-right,
.btn.btn-default .icon-chevron-right,
.btn.btn-default .icon-angle-right, .btn-primary .icon-chevron-right,
.btn-primary .icon-angle-right {
  padding: 0 4px 0 0; }
  input.button_mini .icon-chevron-right:before,
  input.button_mini .icon-angle-right:before,
  input.button_small .icon-chevron-right:before,
  input.button_small .icon-angle-right:before,
  input.button .icon-chevron-right:before,
  input.button .icon-angle-right:before,
  input.button .icon-chevron-right:before,
  input.button .icon-angle-right:before,
  button.button .icon-chevron-right:before,
  button.button .icon-angle-right:before,
  input.button_large .icon-chevron-right:before,
  input.button_large .icon-angle-right:before,
  input.button_mini_disabled .icon-chevron-right:before,
  input.button_mini_disabled .icon-angle-right:before,
  input.button_small_disabled .icon-chevron-right:before,
  input.button_small_disabled .icon-angle-right:before,
  input.button_disabled .icon-chevron-right:before,
  input.button_disabled .icon-angle-right:before,
  input.button_large_disabled .icon-chevron-right:before,
  input.button_large_disabled .icon-angle-right:before,
  input.exclusive_mini .icon-chevron-right:before,
  input.exclusive_mini .icon-angle-right:before,
  input.exclusive_small .icon-chevron-right:before,
  input.exclusive_small .icon-angle-right:before,
  input.exclusive .icon-chevron-right:before,
  input.exclusive .icon-angle-right:before,
  input.exclusive_large .icon-chevron-right:before,
  input.exclusive_large .icon-angle-right:before,
  input.exclusive_mini_disabled .icon-chevron-right:before,
  input.exclusive_mini_disabled .icon-angle-right:before,
  input.exclusive_small_disabled .icon-chevron-right:before,
  input.exclusive_small_disabled .icon-angle-right:before,
  input.exclusive_disabled .icon-chevron-right:before,
  input.exclusive_disabled .icon-angle-right:before,
  input.exclusive_large_disabled .icon-chevron-right:before,
  input.exclusive_large_disabled .icon-angle-right:before,
  a.button_mini .icon-chevron-right:before,
  a.button_mini .icon-angle-right:before,
  a.button_small .icon-chevron-right:before,
  a.button_small .icon-angle-right:before,
  a.button .icon-chevron-right:before,
  a.button .icon-angle-right:before,
  a.button_large .icon-chevron-right:before,
  a.button_large .icon-angle-right:before,
  a.exclusive_mini .icon-chevron-right:before,
  a.exclusive_mini .icon-angle-right:before,
  a.exclusive_small .icon-chevron-right:before,
  a.exclusive_small .icon-angle-right:before,
  a.exclusive .icon-chevron-right:before,
  a.exclusive .icon-angle-right:before,
  a.exclusive_large .icon-chevron-right:before,
  a.exclusive_large .icon-angle-right:before,
  span.button_mini .icon-chevron-right:before,
  span.button_mini .icon-angle-right:before,
  span.button_small .icon-chevron-right:before,
  span.button_small .icon-angle-right:before,
  span.button .icon-chevron-right:before,
  span.button .icon-angle-right:before,
  span.button_large .icon-chevron-right:before,
  span.button_large .icon-angle-right:before,
  span.exclusive_mini .icon-chevron-right:before,
  span.exclusive_mini .icon-angle-right:before,
  span.exclusive_small .icon-chevron-right:before,
  span.exclusive_small .icon-angle-right:before,
  span.exclusive .icon-chevron-right:before,
  span.exclusive .icon-angle-right:before,
  span.exclusive_large .icon-chevron-right:before,
  span.exclusive_large .icon-angle-right:before,
  span.exclusive_large_disabled .icon-chevron-right:before,
  span.exclusive_large_disabled .icon-angle-right:before,
  .btn.btn-default .icon-chevron-right:before,
  .btn.btn-default .icon-angle-right:before, .btn-primary .icon-chevron-right:before,
  .btn-primary .icon-angle-right:before {
    display: inline-block;
    transform: scale(-1, 1); }

#viewed-products_block_left li {
  float: right; }

#sitemap .sitemap_block li a:before {
  display: inline-block;
  padding: 0 0 0 10px;
  transform: scale(-1, 1); }

.categTree .tree_top {
  padding: 0 26px 0 0; }
.categTree .tree {
  padding: 0 24px 0 0; }
  .categTree .tree li {
    border-left: none;
    border-right: 1px solid #d8d6d6;
    margin: 0 11px 0 0;
    padding: 5px 33px 0 0; }
    .categTree .tree li a + ul:before {
      left: auto;
      right: 0; }
    .categTree .tree li a:after {
      left: auto;
      right: 0; }
  .categTree .tree .last:before {
    border-left: none;
    border-right: 1px solid #d8d6d6;
    left: auto;
    right: 0; }

.content_sortPagiBar label {
  padding: 0 0 0 5px; }

#grid {
  margin: 0 0 0 2px; }

.title_main_section.category-name {
  text-align: right; }
  .title_main_section.category-name span {
    padding: 0 0 0 30px; }

#identity #center_column .std .row .col-xs-4,
#authentication #center_column .std .row .col-xs-4,
#order-opc #center_column .std .row .col-xs-4 {
  float: right; }

.submit .required {
  float: left; }

.payment_module a {
  background-position: center right 15px !important;
  padding-left: 40px;
  padding-right: 99px; }
  .payment_module a:after {
    display: inline-block;
    left: 15px;
    right: auto;
    transform: scale(-1, 1); }

@media (min-width: 667px) {
  .cart_navigation .button-medium {
    float: left; } }
.displayLeftColumn.custombanners .custom-html {
  padding-left: 0;
  padding-right: 27px;
  text-align: right; }

@media (max-width: 768px) {
  #header .nav {
    text-align: left; }

  #header_logo {
    left: auto;
    right: 25px; } }
@media (max-width: 768px) {
  .menu-mobile-grover {
    float: left; } }
select, select.form-control {
  background-position: 6px 50%;
  padding: 0 10px 0 19px; }

@media (max-width: 768px) {
  #currencies-block-top select, #languages-block-top select {
    padding-right: 0;
    padding-left: 15px; } }
.layer_cart_product {
  float: right; }

.layer_cart_cart .button-container .exclusive-medium {
  margin-right: 0;
  margin-left: 5px; }

#layer_cart .layer_cart_product .product-image-container {
  float: right;
  margin: 0 0 0 30px; }
#layer_cart .cross {
  left: 0;
  right: auto; }

@media (max-width: 768px) {
  .layer_cart_cart .button-container .exclusive-medium {
    margin-left: 0; } }
@media (max-width: 667px) {
  #layer_cart .layer_cart_product {
    padding-left: 33px;
    padding-right: 18px; } }
.cart_block {
  left: 0;
  right: auto; }
  .cart_block .cart-images {
    float: right;
    margin: 0 0 0 20px; }
  .cart_block .cart-info {
    float: right;
    text-align: right; }
  .cart_block .price {
    float: left; }
  .cart_block .remove_link {
    left: 15px;
    right: auto; }
  .cart_block .cart-buttons .btn {
    float: right; }
  .cart_block .view-cart {
    margin-left: 15px;
    margin-right: 0; }

.cart-prices .title_total {
  float: right;
  padding: 0 0 0 50px; }

.cart_block_list .products .price {
  float: right; }

.cart_block .ajax_cart_block_remove_link {
  clear: both;
  float: right; }

.cart_block .cart-info .product-name a {
  text-align: right; }

@media (min-width: 769px) {
  .shopping_cart > a:first-child:before {
    margin: 0 0 0 5px; } }
@media (max-width: 768px) {
  #header .wrap_cart {
    right: auto;
    left: 38px; } }
@media (max-width: 667px) {
  #header .cart_block .cart-images {
    margin: 0 0 0 10px; }
  #header .cart_block .cart-info {
    margin: 0 90px 0 0; }
  #header .cart_block dt .price {
    margin: 0; } }
.cart_voucher h4 {
  text-align: right; }

@media (max-width: 768px) {
  #cart_summary tfoot tr .price, #cart_summary tfoot tr .text-right {
    text-align: right; } }
@media (max-width: 667px) {
  #cart_summary .cart_product {
    float: right; }
  #cart_summary tbody td {
    text-align: right;
    padding-left: 0;
    padding-right: 104px; }
  #cart_summary tbody .cart_description {
    padding-left: 32px;
    padding-right: 104px; }
  #cart_summary tbody .price {
    text-align: right; }
  #cart_summary .cart_delete {
    left: 0;
    right: auto; } }
@media (max-width: 768px) {
  #order-opc .page-heading.step-num, #order-opc .page-subheading {
    text-align: right; } }
@media (max-width: 414px) {
  .twa_in_hook.home-carousel-reviews.square_arrows .bx-wrapper .bx-controls .bx-controls-direction a {
    transform: scale(-1, 1); } }
@media (min-width: 769px) {
  .header_user_info {
    float: right; }

  #languages-block-top, #currencies-block-top, .search-box {
    float: left; }

  #header_logo {
    float: right; }

  #header .wrap_cart {
    float: left; } }
@media (max-width: 991px) {
  .search-box {
    margin-left: 0; } }
.form-group.form-error input,
.form-group.form-error textarea,
.form-group.form-ok input,
.form-group.form-ok textarea {
  background-position: 15px 50%; }

.form-group.form-error .form-control, .form-group.form-ok .form-control {
  padding-right: 10px;
  padding-left: 30px; }

@media (max-width: 414px) {
  #address .page-subheading, #identity .page-subheading, #account-creation_form .page-subheading, #authentication .page-subheading, #order .page-subheading {
    text-align: right; } }
.styled-checkbox, .styled-radio {
  margin-right: 0;
  margin-left: 5px; }

#my-account .myaccount-link-list li a i {
  left: auto;
  right: 0; }
#my-account .myaccount-link-list li a span {
  border-radius: 0;
  border-left-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  margin: 0 52px 0 0; }

body #product_comparison #social-share-compare {
  text-align: right; }
body .socialsharing_product .btn.btn-default {
  margin: 0 0 0 12px; }
  body .socialsharing_product .btn.btn-default:last-child, body .socialsharing_product .btn.btn-default:first-child {
    margin: 0 0 0 12px; }

table td, table th {
  text-align: right; }

.table th, .table td {
  text-align: right; }

.addresses .checkbox.addressesAreEquals {
  float: right; }

.address .address_update a {
  margin: 0 0 10px 10px; }

.step li {
  float: right;
  text-align: right; }
  .step li a:after, .step li span:after {
    display: none !important; }

.link-button i {
  padding: 0 0 0 4px; }

.footable .footable-sortable .footable-sort-indicator:after {
  float: left; }

.table td.history_detail a + a {
  margin: 0 14px 0 0; }

body .banner-item_feature .wrap-icon {
  float: right;
  margin: 0 0 0 24px; }
body .banner-item_feature .banner-item-content {
  padding-right: 5px;
  padding-left: 0; }

@media (max-width: 414px) {
  .banner-item.full-width-banner .custom-html {
    padding-right: 80px;
    padding-left: 25px;
    text-align: right; }
    .banner-item.full-width-banner .custom-html h3 {
      padding-right: 0;
      padding-left: 92px; } }
@media (min-width: 769px) {
  #header_logo {
    padding-right: 15px;
    padding-left: 0; } }
@media (max-width: 991px) {
  .drop_content_user {
    left: auto;
    right: 30px; } }
@media (max-width: 768px) {
  #header .box-table {
    float: right; }

  .header_user_info, #header .wrap_cart {
    float: left; }

  .header_user_info {
    margin: 0 0 0 35px; }

  .drop_content_user {
    left: 0;
    right: auto; } }
.banner-top {
  text-align: right; }
  .banner-top:first-child {
    float: right; }
  @media (min-width: 415px) {
    .banner-top .custom-html {
      padding-left: 0;
      padding-right: 5%;
      left: auto;
      right: 0; } }

.custombanners.displayCustomBanners3 h2 {
  left: 0;
  right: 15px; }

.home-slide .custom-html {
  text-align: right; }

.post-item-infos {
  float: right; }

@media (min-width: 415px) {
  .twa_container .bx-wrapper .bx-controls-direction {
    right: auto;
    left: 15px; } }
.post-item-date:before {
  left: auto;
  right: 0; }

@media (min-width: 481px) {
  #send_friend_form .product img {
    float: right;
    margin: 0 0 0 15px; } }
@media (max-width: 480px) {
  #send_friend_form .product_desc, #send_friend_form .product {
    text-align: right; } }

/*# sourceMappingURL=rtl.css.map */
