/* color schemes */
/***********************************************************
	Stores Page Styles
************************************************************/
#stores .breadcrumb {
  margin-bottom: 22px; }
#stores h1 {
  padding-bottom: 22px; }
#stores label {
  color: #000000;
  font-size: 14px;
  margin-right: 12px; }
#stores #map {
  width: 100%;
  height: 447px;
  margin-bottom: 23px; }
#stores #addressInput {
  display: inline-block;
  width: 60%; }
#stores .radius-input .styled-select,
#stores .radius-input select {
  display: inline-block;
  max-width: 90px !important;
  vertical-align: middle; }

.store-content .btn {
  font-size: 14px;
  padding-left: 50px;
  padding-right: 50px; }

.store-content-select {
  visibility: hidden;
  display: none; }

#stores .radius-input #radiusSelect {
  width: 78px; }
#stores .store-content {
  padding-bottom: 20px; }
#stores .store-content-select .selector {
  visibility: hidden;
  display: none; }
#stores .store-content-select.active {
  padding-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #d6d4d4; }
  #stores .store-content-select.active .selector {
    visibility: visible;
    display: block; }
#stores .store-title {
  color: #000000;
  margin-bottom: 28px; }
#stores label {
  font-weight: normal; }
#stores #stores_loader {
  display: none;
  margin-left: 5px; }
#stores #locationSelect {
  max-width: 356px;
  visibility: hidden; }
#stores #stores-table {
  display: none; }
  #stores #stores-table tbody td {
    padding: 20px; }
    #stores #stores-table tbody td.num {
      background: #fbfbfb;
      width: 46px; }
    #stores #stores-table tbody td.name span {
      padding-left: 15px; }

.store-image img {
  width: 100%;
  min-width: 100px; }

/* tablet and mobile */
@media (max-width: 768px) {
  .store-content .address-input,
  .store-content .radius-input {
    margin-bottom: 30px; }

  #stores #map {
    height: 380px; }
  #stores #stores-table tbody .name img {
    display: none; } }
/* mobile */
@media (max-width: 667px) {
  .address-input label {
    display: none; }

  #stores #addressInput {
    width: 100%; }

  .store-content .radius-input,
  .store-content .address-input {
    width: 100%; } }

/*# sourceMappingURL=stores.css.map */
