@import "variables";
.custombanners {
	img {
		max-width: 100%;
		display: block;
	}
	clear: both;
	padding-top: 70px;
}

.displayFooter .cb-wrapper {
	&:before,
	&:after {
		display: none;
	}
}

.html-over .custom-html {
	margin: auto;
	position: absolute;
	width: 100%;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	left: 0;
}

.img-rb .banner-item-content img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/* Display Top Column */

.banner-top h3 {
	font-size: 50px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 0 12px;
	line-height: 1;
}

.custombanners {
	&.displayCustomBanners2 h3 {
		font-size: 50px;
		text-transform: uppercase;
		font-weight: bold;
		margin: 0 0 12px;
		line-height: 1;
		margin: 0 0 22px;
	}
	.banner-item-content {
		position: relative;
	}
}

.banner-top .wrap-effect img {
	width: 100%;
}

.custombanners {
	&.displayCustomBanners2 .wrap-effect img,
	&.displayLeftColumn .wrap-effect img {
		width: 100%;
	}
}

.banner-top .banner-item-content {
	display: inline-block;
}

.custombanners {
	&.displayCustomBanners2 .banner-item-content,
	&.displayLeftColumn .banner-item-content {
		display: inline-block;
	}
}

.banner-top p,
.custombanners.displayCustomBanners2 .banner-item-content p {
	max-width: 420px;
}

.banner-top {
	.custom-html {
		position: absolute;
		top: 0;
		left: 0;
		padding: 5% 0 0 5%;
	}
	&.alt-banner {
		.custom-html {
			padding: 14% 5% 0;
		}
		h3 {
			font-size: 19px;
		}
	}
}

.custombanners {
	&.displayLeftColumn {
		h3 {
			font-size: 19px;
			text-transform: uppercase;
			font-weight: bold;
			color: $white;
		}
		.custom-html {
			p {
				color: $white;
			}
			position: absolute;
			top: 0;
			left: 0;
			text-align: center;
			padding: 8% 15px 0;
		}
	}
	&.displayCustomBanners2 {
		.banner-item-content {
			position: relative;
		}
		.custom-html {
			position: absolute;
			top: 0;
			left: 0;
			padding: 8% 0 0 7%;
		}
	}
	&.displayCustomBanners1 {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		background-position: center top;
		padding: 70px 0;
		margin-top: 40px;
	}
}

.banner-item_feature {
	.banner-item-content {
		position: relative;
		padding: 5px 0 5px 5px;
		width: 100%;
	}
	h4 {
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 700;
		margin: 18px 0 1px 0;
	}
}

.columns-active .banner-item_feature h4 {
	margin-top: 0;
}

.banner-item_feature {
	p {
		font-size: 13px;
	}
	.wrap-icon {
		display: inline-block;
		float: left;
		position: relative;
		width: 2.19em;
		height: 2.19em;
		margin-right: 24px;
		font-size: 32px;
	}
}

.columns-active .banner-item_feature .wrap-icon {
	margin-right: 5px;
	font-size: 18px;
}

.banner-item_feature .wrap-icon {
	i {
		display: inline-block;
		line-height: 1;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		height: 32px;
		margin: auto 0;
		width: 100%;
		text-align: center;
		font-size: 0;
		&:before {
			font-size: 32px;
		}
		&:last-child {
			opacity: 0;
		}
	}
	&:hover i {
		&:first-child {
			opacity: 0;
		}
		&:last-child {
			opacity: 1;
		}
	}
}

.columns-active {
	.banner-item_feature .wrap-icon i {
		&:before {
			font-size: 18px;
			height: 17px;
		}
	}
	.home-slide{
		.custom-html{
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	@media (min-width: $screen-lg){
		.banner-top{
			h3{
				font-size: 35px;
			}
		}
	}
}


/* display Footer */

.custombanners {
	&.displayFooter,
	&.displayEasyCarousel2 {
		clear: none;
		padding-top: 0;
	}
	&.displayFooter .toggle-footer img {
		margin-bottom: 15px;
		padding-right: 30px;
	}
	&.displayLeftColumn .banner-item,
	&.displayRightColumn .banner-item {
		margin-bottom: 50px;
	}
}


/* Video */

.video-promo-wrap {
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: 50% 0;
	background-repeat: no-repeat;
}

#video-in {
	width: 100%;
}

.video-promo-wrap {
	&:before {
		cursor: pointer;
		display: block;
		width: 60px;
		height: 60px;
		line-height: 56px;
		text-align: center;
		position: absolute;
		border-style: solid;
		border-width: 2px;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		margin: auto;
		font-size: 20px;
	}
	&:after {
		cursor: pointer;
		display: block;
		width: 60px;
		height: 60px;
		line-height: 56px;
		text-align: center;
		position: absolute;
		border-style: solid;
		border-width: 2px;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		margin: auto;
		font-size: 20px;
		margin: 0;
		top: auto;
		right: auto;
		left: 40px;
		bottom: 40px;
	}
	&.play:before,
	&:after {
		opacity: 0;
		-webkit-filter: blur(30px);
		filter: blur(30px);
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-o-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	}
	&.pause:before,
	&.play:after {
		opacity: 1;
		-webkit-filter: blur(0);
		filter: blur(0);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

@media screen and (min-width: 1025px) {
	.custombanners.displayCustomBanners1 {
		background-attachment: fixed;
	}
}

@media screen and (min-width: $screen-md) and (max-width: $screen-md-max) {
	.banner-item_feature {
		.wrap-icon {
			font-size: 27px;
			margin-right: 10px;
		}
		h4 {
			font-size: 14px;
			margin: 15px 0 1px 0;
		}
		p {
			font-size: 12px;
		}
	}
}

@media screen and (min-width: $screen-sm) and (max-width: $screen-md-max) {
	.banner-top h3,
	.custombanners.displayCustomBanners2 h3 {
		font-size: 40px;
	}
	.banner-top.alt-banner {
		h3 {
			font-size: 18px;
		}
		p {
			font-size: 13px;
		}
	}
}

@media screen and (min-width: $screen-sm) and (max-width: $screen-sm-max) {
	.banner-top h3,
	.custombanners.displayCustomBanners2 h3 {
		font-size: 30px;
	}
	.banner-top {
		&.alt-banner h3 {
			font-size: 16px;
		}
		p {
			font-size: 13px;
		}
	}
	.custombanners.displayCustomBanners2 .banner-item-content p {
		font-size: 13px;
	}
	.banner-top.alt-banner p {
		font-size: 12px;
	}
	.banner-item_feature.banner-item:nth-child(3) {
		margin-bottom: 0;
	}
}

@media screen and (max-width: $screen-mobile) {
	.custombanners {
		padding-top: 40px;
	}
}

@media screen and (max-width: $screen-sm-max) {
	.banner-item_feature.banner-item {
		margin-bottom: 20px;
		&:last-child(4) {
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: $screen-xs-max) {

	.banner-top {
		text-align: center;
		margin-bottom: 30px;
	}
	.custombanners.displayCustomBanners2 .banner-item {
		text-align: center;
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.banner-top p,
	.custombanners.displayCustomBanners2 .banner-item-content p {
		display: inline-block;
	}
	.banner-top .custom-html,
	.custombanners.displayCustomBanners2 .custom-html {
		right: 0;
	}
	.banner-top h3 {
		font-size: 40px;
	}
	.custombanners {
		&.displayCustomBanners2 h3 {
			font-size: 40px;
		}
		&.displayLeftColumn .banner-item,
		&.displayRightColumn .banner-item {
			text-align: center;
		}
	}
}

@media screen and (max-width: 640px) {
	.banner-top h3,
	.custombanners.displayCustomBanners2 h3 {
		font-size: 40px;
	}
}

@media screen and (max-width: 580px) {
	.banner-top h3,
	.custombanners.displayCustomBanners2 h3 {
		font-size: 30px;
		margin-bottom: 8px;
	}
	.banner-top p,
	.custombanners.displayCustomBanners2 .banner-item-content p {
		font-size: 12px;
	}
}

@media screen and (max-width: $screen-xs) {
	.banner-top h3,
	.custombanners.displayCustomBanners2 h3 {
		font-size: 20px;
	}
	[class*=".col-xxs-"] {
		float: left;
	}
	.col-xxs-1 {
		width: 8.3%;
	}
	.col-xxs-2 {
		width: 16.6%;
	}
	.col-xxs-3 {
		width: 25%;
	}
	.col-xxs-4 {
		width: 33.3%;
	}
	.col-xxs-5 {
		width: 41.8%;
	}
	.col-xxs-6 {
		width: 50%;
	}
	.col-xxs-7 {
		width: 58.3%;
	}
	.col-xxs-8 {
		width: 66.6%;
	}
	.col-xxs-9 {
		width: 75%;
	}
	.col-xxs-10 {
		width: 83.3%;
	}
	.col-xxs-11 {
		width: 91.6%;
	}
	.col-xxs-12 {
		width: 100%;
	}
}

@media screen and (max-width: 380px) {
	.custombanners.displayCustomBanners2 {
		h3 {
			font-size: 14px;
			margin-bottom: 5px;
		}
		.custom-html {
			padding: 3% 0 0 1%;
		}
		.banner-item-content p {
			font-size: 10px;
		}
	}
}


/* Slider home */

.custombanners.displayTopColumn{
	padding-top: 0;
}
.home-slide {
	background-size: cover;
	background-position: 50% 0;
	background-repeat: no-repeat;
	.banner-item-content {
		position: relative;
		padding-top: 49%;
	}
	.banner-img {
		width: 100%;
		max-width: none;
	}
}

.home-slide .custom-html {
	text-align: left;
	color: $clr-thirty-four;
	line-height: 1.4;
	font-size: 16px;
	@media screen and (max-width: $screen-sm-max) {
		font-size: 12px;
	}
	@media screen and (max-width: $screen-xs) {
		font-size: 11px;
	}
	@media screen and (max-width: 479px) {
		font-size: 8px;
	}
}

.home-slide {
	p {
		font-weight: 300;
		line-height: 1.5;
	}
	.title_slide_one {
		font-size: 1.25em;
		line-height: 1;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
}

.home-slide .title_slide_two {
	font-size: 6.9em;
	line-height: 1;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
	@media screen and (max-width: $screen-xs-max) {
		font-size: 5em;
	}
	@media screen and (max-width: $screen-xs) {
		font-size: 3em;
		margin-bottom: 5px;
	}
}

.btn-box {
	margin-top: 30px;
	@media screen and (max-width: $screen-xs) {
		margin-top: 5px;
	}
}

@media screen and (max-width: $screen-sm-max) {
	.btn-box {
		margin-top: 15px;
	}
}

.carousel .banner-item {
	margin-bottom: 0 !important;
}

.custombanners {
	.bx-wrapper .bx-pager {
		position: absolute;
		bottom: 15px;
		left: 0;
		width: 100%;
		text-align: center;
		padding: 0;
	}
	.bx-controls-direction {
		a {
			&:before {
				display: none !important;
			}
			height: 40px !important;
			width: 40px;
			line-height: 1 !important;
			overflow: visible !important;
			top: 0 !important;
			bottom: 0 !important;
			margin: auto 0 !important;
			color: $white;
			-webkit-transform: rotate(135deg);
			-moz-transform: rotate(135deg);
			-o-transform: rotate(135deg);
			transform: rotate(135deg);
		}
		.bx-prev {
			border-right: 1px solid;
			border-bottom: 1px solid;
			left: 20px;
		}
		.bx-next {
			border-left: 1px solid;
			border-top: 1px solid;
			right: 20px;
		}
		a {
			&:hover {
				color: $theme-color-one;
			}
			&:before {
				line-height: inherit !important;
				font-size: inherit !important;
				color: inherit !important;
			}
		}
	}
	.bx-wrapper .bx-pager.bx-default-pager a {
		-webkit-border-radius: 0;
		border-radius: 0;
		cursor: pointer;
		display: inline-block;
		height: 5px;
		width: 30px;
		margin: 0 5px;
		position: relative;
		background: $white;
		&:hover,
		&.active {
			background: $theme-color-one;
		}
	}
}

@media screen and (max-width: $screen-sm-max) {
	.custombanners .bx-wrapper .bx-pager {
		bottom: 5px;
	}
}

@media screen and (max-width: $screen-xs-max) {
	.custombanners .bx-controls-direction a {
		display: none !important;
	}
}

#video-promo-wrap{
	/* This used to work for parent element of button divs */


	/* But it is not enough now, below dont hide play button parent div */

	*::-webkit-media-controls-panel {
		display: none!important;
		-webkit-appearance: none;
	}


	/* Old shadow dom for play button */

	*::--webkit-media-controls-play-button {
		display: none!important;
		-webkit-appearance: none;
	}


	/* New shadow dom for play button */


	/* This one works */

	*::-webkit-media-controls-start-playback-button {
		display: none!important;
		-webkit-appearance: none;
	}
}
@media (min-width: $screen-xs-mobile + 1) {
	.mobile-banner-warpper {
		display: none;
	}
}


/* mobile */

@media (max-width: $screen-xs-mobile) {
	.home-slider,
	.rev_slider_wrapper, .fullwidthbanner-container,
	.forcefullwidth_wrapper_tp_banner {
		display: none;
	}
	/*fiction banner*/
	.mobile-banner {
		background-size: cover;
		background-position: 50% 0;
		background-repeat: no-repeat;
		color: $black;
		height: 400px;
		height: calc(100vh - 80px);
		.banner-item-content {
			height: 100%;
			a {
				height: 100%;
			}
		}
		.custom-html {
			line-height: 1.3;
			padding: 0 25px;
		}
		h2,
		h3 {
			font-weight: bold;
			letter-spacing: 3px;
			margin: 0;
			text-transform: uppercase;
		}
		h2 {
			font-size: 16px;
			margin-bottom: 5px;
		}
		h3 {
			font-size: 49px;
			margin-bottom: 11px;
		}
	}
	/*top banner*/
	.custombanners {
		&.displayCustomBanners3 {
			padding-top: 0;
		}
	}
	.banner-top {
		margin: 0;
		text-align: left;
		h3 {
			font-size: 30px;
		}
		p {
			font-size: 11px;
			line-height: 2;
		}
		.banner-item-content {
			display: block;
			margin: 0 (-$base-offset - 15);
		}
		.custom-html {
			padding: 0 24px;
			top: 50%;
			transform: translate(0, -50%);
		}
		.wrap-effect {
			.banner-img {
				max-width: none;
				min-width: 100%;
				width: auto;
			}
		}
	}
	/*Features*/
	.custombanners{
		&.displayCustomBanners1{
			margin-left: -10px;
			margin-right: -10px;
			padding: 30px 0;
			.cb-wrapper{
				padding: 0 10px;
			}
		}
	}
	.banner-item_feature {
		.banner-item-content{
			padding-left: 10px;
		}
		.wrap-icon{
			height: 70px;
			width: 70px;
			margin: 0;
		}
		h4{
			margin: 15px 0 5px;
			padding: 0 15px 0 80px;
		}
		p{
			padding: 0 15px 0 80px;
		}
	}
	/*Video*/
	.video-promo-wrap{
		margin: 0 (-$base-offset);
	}
	#video-in{
		height: 385px;
	}
	#video-promo-wrap.video-promo-wrap{
		&.play, &.pause{
			background: $black;
		}
	}
	.custombanners {
		&.displayLeftColumn, &.displayRightColumn, &.displayCustomBanners2{
			display: none;
		}
	}
}
