$theme-color-one: #000000;

$white: #ffffff;
$black: #000000;

$clr-one: #aaaaaa;
$clr-two: rgba(lighten( $theme-color-one, 31 ), 0.75);
$clr-three: rgba($theme-color-one, 0.25);
$clr-four: #ddf9e1;
$clr-five: #FFCC00;
$clr-six: #35b33f;
$clr-seven: rgba($theme-color-one, 0.2); 
$clr-eight: rgba(227, 119, 178, 0.5);
$clr-nine: #39314e; 
$clr-ten:  #333333;
$clr-eleven: #f13340;
$clr-twelve:  #666666; 
$clr-thirteen: #7c1212;
$clr-fourteen: #F5F5F5; 
$clr-fifteen: #555454;
$clr-sixteen: #03bafa;
$clr-seventeen:rgba($theme-color-one, 0.17);
$clr-eighteen: #f9ba46;
$clr-nineteen: #71B238;
$clr-twenty: rgba($theme-color-one, 0.1);
$clr-twenty-one: #0079b6;
$clr-twenty-two: #e7e7e7;
$clr-twenty-three: #f6a292;
$clr-twenty-four: #00aaf0;
$clr-twenty-five: #e04b34;
$clr-twenty-six: #435f9f;
$clr-twenty-seven: #009ad0;
$clr-twenty-eight: #e67329;
$clr-twenty-nine: #006fa8;
$clr-thirty: rgba(255,255,255, 0);
$clr-thirty-one: #eaeaf2;
$clr-thirty-two: lighten( $theme-color-one, 9 );
$clr-thirty-three: #808080;
$clr-thirty-four: #181818;
$color-thirty-five: #f6f6f6;
$color-thirty-six: #ebebeb;
$color-thirty-seven: #9c9c9c;
$color-thirty-eight: #6f6d6d;
$color-thirty-nine: #777777;
$color-fourty: #d6d4d4;
$color-fourty-one: #d9d9d9;
$color-fourty-two: #c5c5c5;
$color-fourty-three: #00AFF0;
$color-fourty-four: #dddddd;
$color-fourty-five: #c1c1c1;
$color-fourty-six: #eeeeee;
$color-fourty-seven: #999999;
$color-fourty-eight: #cccccc;
$color-fourty-nine: #E27C79;
$color-fifty: #fafafa;
$color-fifty-one: #4065B4;
$color-fifty-two: #4E759D;
$color-fifty-three: #ED812B;
$color-fifty-four: #39B9DC;
$color-fifty-five: #DD4B39;
$color-fifty-six: #400191;
$color-fifty-seven: #003087;
$color-fifty-eight: #0077B5;
$color-fifty-nine: #BD081C;
$color-sixty: #e4ebea;
$color-sixty-one: #7f8c8d;
$color-sixty-two: #FFC321;
$color-sixty-three: #E0DADF;
$color-sixty-four: #e74c3c;
$color-sixty-five: #21a117;
$color-sixty-six: #1d78cb;
$color-sixty-seven: #cb1d1d;
$color-sixty-eight: #ff7700;
$color-sixty-nine: #555555;
$color-seventy: #888888;
$color-seventy-one: #3B5998;
$color-seventy-two: #00A0D1;
$color-seventy-three: #ff0000;
$color-seventy-four: #00A8FF;
$color-seventy-five: #104d0b;
$color-seventy-six: #0f3e68;
$color-seventy-seven: #a34c00;
$color-seventy-eight: #222222;
$color-seventy-nine: #8d8c8c;
$color-eighty: #9c9b9b;
$color-eighty-one: #3a3939;
$color-eighty-two: #959394;
$color-eighty-three: #64D3FF;
$color-eighty-four: #484848;
$color-eighty-five: #727171;
$color-eighty-six: #7f7f7f;
$color-eighty-seven: #333d46;
$color-eighty-eight: #c0392b;
$color-eighty-nine: #fbfbfb;
$color-ninety: #f4f4f4;
$color-ninety-one: #e0e0e0;
$color-ninety-two: #515151;
$color-ninety-three: #f1f1f1;
$color-ninety-four: #dd625d;
$color-ninety-five: #e5ebea;
$color-ninety-six: #dfdfdf;
$color-ninety-seven: #9ca9a6;
$color-ninety-eight: #ebebec;
$color-ninety-nine: #e6e6e6;
$color-hungred: #949698;
$color-hungred-one: #f8f8f8;


$success: green;
$warning: orange;
$danger: red;






/* color schemes */
$color-scheme-two: lighten( saturate( adjust-hue( $theme-color-one, 214deg ), 53 ), 47 );
$color-scheme-three: lighten( saturate( adjust-hue( $theme-color-one, 359deg ), 45 ), 51 );
$color-scheme-four: lighten( saturate( adjust-hue( $theme-color-one, 36deg ), 81 ), 59 );
$color-scheme-five: lighten( saturate( adjust-hue( $theme-color-one, 351deg ), 67 ), 82 );
$color-scheme-six: lighten( saturate( adjust-hue( $theme-color-one, 240deg ), 24 ), 83 );
$color-scheme-seven: lighten( saturate( adjust-hue( $theme-color-one, 333deg ), 68 ), 77 );
$color-scheme-eight: lighten( saturate( adjust-hue( $theme-color-one, 31deg ), 38 ), 75 );
$color-scheme-nine: lighten( saturate( adjust-hue( $theme-color-one, 15deg ), 50 ), 79 );































