body *[class^="#{$fa-css-prefix}-"]:before, body *[class*=" #{$fa-css-prefix}-"]:before {
	width: auto;
	line-height: inherit;
	margin: 0;
}
.bx-wrapper .bx-controls .bx-controls-direction a:before{
	font-family: $icon-font;
}
.footable.footab{
	.footable-sortable{
		.footable-sort-indicator{
			&:after{
				font-family: $icon-font;
			}
		}
	}
}
.footable.footab.breakpoint > tbody > tr > td > span.footable-toggle:before,
.footable.footab.breakpoint > tbody > tr.footable-detail-show > td > span.footable-toggle:before{
	font-family: $icon-font;
}
