@import "compass";
@import "color";
@import "var-fonts";


$screen-lg: 1200px;
$screen-md-max: 1199px;
$screen-mobile: 1024px;
$screen-md: 992px;
$screen-sm-max: 991px;
$screen-sm: 769px;
$screen-xs-max: 768px;
$screen-xs-landscape: 667px;
$screen-xs: 480px;
$screen-xs-mobile: 414px;

$base-offset: 25px;
$base-offset-xs: 25px;