 @import "variables";


#account-creation_form {
  .id_state, .dni, .postcode {
  display: none;
  }
}

#create-account_form {
  min-height: 297px;
  p {
  margin-bottom: 8px;
  }
  .form-group {
  margin: 0 0 20px 0;
  }
}

#login_form {
  min-height: 297px;
  .form-group {
  &.lost_password {
    margin: 14px 0 15px 0;
    a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
    }
  }
  }
}
