@import "variables";

/* ************************************************************************************************
								Categories Page Styles
************************************************************************************************ */
.slider_container {
	margin-bottom: 15px;
}
.cat_desc{
  margin-bottom: 10px;
}
.title_main_section.category-name{
	text-align: left;
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-weight: 700;
}
.title_main_section.category-name span {
	padding-left: 0;
}
.cat_desc .rte {
	margin-bottom: 15px;
}
/* ************************************************************************************************
									Sub Categories Styles
************************************************************************************************ */
.content_scene_cat{
	margin-bottom: 60px;
}
@media screen and (max-width: $screen-mobile){
	.content_scene_cat{
		margin-bottom: 30px;
	}
}

.subcategories{
	display: table;
	margin-top: 15px;
	width: 100%;
	font-size: 0;
	&__list{
		margin: 0 -15px;	
	}
	&__item{
		display: inline-block;
		width: 20%;
		padding: 0 15px;
		margin-bottom: 15px;
		vertical-align: top;
		text-align: center;
		@media screen and (max-width: $screen-md-max){
			width: 25%;
		}
		@media screen and (max-width: $screen-sm-max){
			width: 33.333%;
		}		
		@media screen and (max-width: $screen-xs-max){
			width: 50%;
		}
		&__img {
			max-width: none;
			width: 100%;
			border: 1px solid $clr-twenty-two;
			&:hover{
				border-color: $theme-color-one;
			}
		}
		&__name{
			text-transform: uppercase;
			font-size: 16px;
		}
		&__link{
			display: block;
		}
	}
}