@import "variables";

/**************************************************************
					CMS Pages Styles
***************************************************************/
#cms #center_column .block-cms {
  padding-bottom: 20px; }
#cms #center_column h1 {
  margin-bottom: 25px; }
#cms b,#cms strong {
  font-weight: bold;
}
#cms #center_column h3 {
  font-size: 16px;
  border-bottom: none;
  margin: 0;
  padding: 0 0 17px 0; }
#cms #center_column p {
  line-height: 18px; }
#cms #center_column .list-1 li {
  padding: 4px 0 6px 0;
  font-weight: bold;
  color: $clr-nineteen;
  border-top: 1px solid $clr-twenty-two; }
  #cms #center_column .list-1 li:first-child {
    border: none; }
  #cms #center_column .list-1 li em {
    font-size: 20px;
    line-height: 20px;
    padding-right: 15px;
    vertical-align: -2px; }
#cms #center_column img {
  margin: 4px 0 17px;
  max-width: 100%;
  height: auto; }
#cms #center_column .testimonials {
  border: 1px solid;
  border-color: $clr-fourteen $clr-twenty-two $clr-twenty-two $clr-twenty-two;
  margin: 4px 0 13px 0;
  position: relative; }
  #cms #center_column .testimonials .inner {
    border: 1px solid $white;
    padding: 19px 18px 11px 18px;
    background: $clr-fourteen;
    background: -moz-linear-gradient(top, $clr-fourteen 0%, $clr-fourteen 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $clr-fourteen), color-stop(100%, $clr-fourteen));
    background: -webkit-linear-gradient(top, $clr-fourteen 0%, $clr-fourteen 100%);
    background: -o-linear-gradient(top, $clr-fourteen 0%, $clr-fourteen 100%);
    background: -ms-linear-gradient(top, $clr-fourteen 0%, $clr-fourteen 100%);
    background: linear-gradient(to bottom, $clr-fourteen 0%, $clr-fourteen 100%); }
    #cms #center_column .testimonials .inner span {
      display: inline-block;
      width: 20px;
      height: 15px; }
      #cms #center_column .testimonials .inner span.before {
        margin-right: 8px; }
      #cms #center_column .testimonials .inner span.after {
        margin-left: 8px; }
  #cms #center_column .testimonials:after {
    content: ".";
    display: block;
    text-indent: -5000px;
    position: absolute;
    bottom: -16px;
    left: 21px;
    width: 15px;
    height: 16px;}
  #cms #center_column .testimonials + p {
    padding-left: 45px;
    margin-bottom: 18px; }
#cms #center_column p.bottom-indent {
  margin-bottom: 18px; }
#cms #center_column #admin-action-cms {
  background: none repeat 0 0 $color-thirty-five;
  border: 1px solid $clr-twenty-two;
  padding: 10px; }
  #cms #center_column #admin-action-cms p {
    margin: 0; }
    #cms #center_column #admin-action-cms p span {
      display: block;
      padding-bottom: 10px;
      font-size: 14px;
      font-weight: bold;
      color: $clr-ten; }
    #cms #center_column #admin-action-cms p .button {
      font: 700 17px/21px Arial, Helvetica, sans-serif;
      padding: 0;
      border: 1px solid;
      padding: 10px 14px;
      display: inline-block; }
      #cms #center_column #admin-action-cms p .button.publish_button {
        color: $white;
        text-shadow: 1px 1px $clr-seven;
        border-color: $clr-twenty-one $clr-twenty-nine $clr-twenty-one $clr-twenty-nine;
        background: $clr-twenty-seven;
        background: -moz-linear-gradient(top, $clr-twenty-seven 0%, $clr-twenty-seven 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $clr-twenty-seven), color-stop(100%, $clr-twenty-seven));
        background: -webkit-linear-gradient(top, $clr-twenty-seven 0%, $clr-twenty-seven 100%);
        background: -o-linear-gradient(top, $clr-twenty-seven 0%, $clr-twenty-seven 100%);
        background: -ms-linear-gradient(top, $clr-twenty-seven 0%, $clr-twenty-seven 100%);
        background: linear-gradient(to bottom, $clr-twenty-seven 0%, $clr-twenty-seven 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$clr-twenty-seven', endColorstr='$clr-twenty-seven',GradientType=0); }
        #cms #center_column #admin-action-cms p .button.publish_button:hover {
          border-color: $clr-twenty-nine #004b74 $clr-twenty-one #004b74;
          filter: none;
          background: $clr-twenty-nine; }
      #cms #center_column #admin-action-cms p .button.lnk_view {
        color: $clr-ten;
        text-shadow: 1px 1px $white;
        border-color: $clr-twenty-two $clr-twenty-two $clr-twenty-two $clr-twenty-two;
        background: $clr-fourteen;
        background: -moz-linear-gradient(top, $clr-fourteen 0%, $clr-twenty-two 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $clr-fourteen), color-stop(100%, $clr-twenty-two));
        background: -webkit-linear-gradient(top, $clr-fourteen 0%, $clr-twenty-two 100%);
        background: -o-linear-gradient(top, $clr-fourteen 0%, $clr-twenty-two 100%);
        background: -ms-linear-gradient(top, $clr-fourteen 0%, $clr-twenty-two 100%);
        background: linear-gradient(to bottom, $clr-fourteen 0%, $clr-twenty-two 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$clr-fourteen', endColorstr='$clr-twenty-two',GradientType=0); }
        #cms #center_column #admin-action-cms p .button.lnk_view:hover {
          border-color: $clr-twenty-two $clr-twenty-two $clr-twenty-two $clr-twenty-two;
          filter: none;
          background: $clr-fourteen; }
