@import "variables";

/********************************************************************
					Compare Page Styles
********************************************************************/
table#product_comparison tbody tr td.product-block {
	vertical-align: top;
	padding: 14px 19px 19px;
	text-align: center; }
table#product_comparison tbody tr td.td_empty,
table#product_comparison tbody tr td.feature-name, table#product_comparison tbody tr.comparison_header {
	background: $clr-fourteen;
	color: $clr-ten; }
table#product_comparison tbody tr td.comparison_infos {
	text-align: center; }
	table#product_comparison tbody tr td.comparison_infos div.center {
		margin: 0 auto;
		width: 80px; }
table#product_comparison tbody tr td.td_empty {
	vertical-align: bottom; }
	table#product_comparison tbody tr td.td_empty > span {
		font: 600 18px/22px "Open Sans", sans-serif;
		text-transform: uppercase;
		color: $clr-fifteen; }
table#product_comparison .remove {
	text-align: right;
	padding: 0 0 15px 0; }
table#product_comparison .remove a {
	font-size: 23px;
	line-height: 23px;
	color: $clr-ten; 
}
table#product_comparison .product-image-block {
	position: relative; }
	table#product_comparison .product-image-block .product_image {
		display: inline-block;
		margin: 0 0 15px 0;
}
		table#product_comparison .product-image-block .product_image img {
			width: 100%; }
table#product_comparison h5 {
	padding: 0 0 8px 0;
	min-height: 54px; }
table#product_comparison .prices-container {
	padding: 0 0 5px 0; }
table#product_comparison .comparison_availability_statut {
	display: none;
	font-weight: 700;
	color: $clr-nineteen; }
table#product_comparison .product_discount {
	padding-top: 5px; }
	table#product_comparison .product_discount .reduced-price {
		color: $clr-thirteen;
		font-weight: 700; }
table#product_comparison .product_desc {
	padding: 0 0 12px 0; }
table#product_comparison .button-container a, table#product_comparison .button-container > span {
	margin-bottom: 10px; 
	width: 100%;
	padding-left: 25px;
	padding-right: 25px;
}
.prices-container.content_price .reduce_style.price:after{
	padding-left: 5px;
}
table#product_comparison .button-container a.lnk_view{
	margin-top: 0;
}
table#product_comparison .comparison_unit_price {
	font-size: 17px;
	font-family: "Open Sans", sans-serif;
	color: $clr-ten;
	font-style: italic; }
table#product_comparison .comparison_feature .product_name {
	display: none; }

.footer_link {
	margin: 0 0 20px 0; }

#stOCClose {
	width: 29px !important;
	height: 29px !important; }

.stButton .stFb,
.stButton .stTwbutton,
.stButton .stMainServices,
.stButton .stButton_gradient {
	height: 22px !important; }

.share strong {
	display: block;
	margin-bottom: 10px; }
.share > div {
	margin-bottom: 8px; }
@media (min-width: $screen-lg) {
	.share {
		position: relative;
		top: -350px; } }
@media (min-width: $screen-md) and (max-width: $screen-md-max) {
	.share {
		position: relative;
		top: -260px; } }
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
	.share {
		position: relative;
		top: -245px; } }

.stArrow {
	display: none !important; }

/***** IE code ****/
.ie8 table#product_comparison .product-image-block .product_image img {
	width: auto; }

/**** responsive code ******/
@media (max-width: $screen-md) {
	#columns table#product_comparison tbody tr td.td_empty span {
		font-size: 14px; }
	#columns table#product_comparison tbody tr td.product-block {
		padding: 14px; }
	#columns table#product_comparison .button.ajax_add_to_cart_button,
	#columns table#product_comparison .button.lnk_view {
		font-size: 14px; } }
@media (max-width: $screen-xs-max) {
	#product_comparison table,
	#product_comparison thead,
	#product_comparison tbody,
	#product_comparison th,
	#product_comparison td,
	#product_comparison tr {
		display: block; }

	#product_comparison thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px; }

	#product_comparison tr {
		overflow: hidden; }
		#product_comparison tr:last-child {
			border-bottom: none; }
			#product_comparison tr:last-child td {
				border-bottom: none; }

	#product_comparison td {
		border: none;
		position: relative;
		white-space: normal;
		float: left;
		width: 33.33%; }
		#product_comparison td.td_empty {
			width: 100% !important;
			clear: both; }
		#product_comparison td:last-child {
			border-bottom: none; }

	#product_comparison .comparison_feature .feature-name {
		width: 100%;
		float: none;
		clear: both; } }
#products-comparison .tag{
	font-size: 14px;
	line-height: 28px;
	height: 30px;
	padding: 0 10px;
}
#products-comparison .tag.sale {
	right: 0;
	left: auto;
}
@media screen and (min-width: $screen-sm) and (max-width: $screen-md-max) {
	#product_comparison .reduce_style.price.product-price, .reduce_style+.old-price{
		font-size: 12px;
	}
}
@media screen and (min-width: $screen-sm-max) and (max-width: $screen-md-max) {
	#product_comparison .reduce_style.price.product-price:after{
		display: none;
	}
}
@media screen and (max-width: $screen-md-max) {
	#products-comparison .tag {
		font-size: 10px;
		line-height: 18px;
		height: 20px;
		padding: 0 10px;
	}
	table#product_comparison .button-container a, table#product_comparison .button-container > span{
		font-size: 14px;
	}
}
@media (max-width: $screen-sm-max) {
	table#product_comparison .button-container a, table#product_comparison .button-container > span{
		font-size: 12px;
	}
	#products-comparison .tag.sale {
		left: 0;
		right: auto;
		top: auto;
		bottom: 0;
	}
}
@media (max-width: $screen-xs) {
	#product_comparison td {
		float: none;
		width: 100%; }

	#product_comparison .comparison_feature td {
		float: left;
		width: 50%; }
	#product_comparison .comparison_feature .feature-name {
		width: 100%;
		clear: both; }
	#product_comparison .comparison_feature .product-name {
		width: 50%;
		float: left;
		display: block; }
}
