@import "variables";

/**************************************************************************
		Contact Page Styles
**************************************************************************/

.contact-title {
		margin: -5px 0 0px 0;
		line-height: 23px;
		i {
				font-size: 23px;
				padding: 0 8px 0 0;
		}
}

.contact-form-box {
		padding: 23px 0 0 0;
		margin: 0 0 30px 0;
		background: url(../img/contact-form.png) repeat-x white;
		-webkit-box-shadow: rgba($black, .17) 0px 5px 13px;
		-moz-box-shadow: rgba($black, .17) 0px 5px 13px;
		box-shadow: rgba($black, .17) 0px 5px 13px;
		fieldset {
				padding: 0 19px 21px 19px;
				background: url(../img/form-contact-shadow.png) center bottom no-repeat;
				background-size: contain;
		}
		label {
				margin: 0 0 6px 0;
		}
		.page-subheading {
				padding-left: 0px;
				border: none;
				margin-bottom: 0;
		}
		.col-md-3 {
				padding-left: 0;
		}
		.col-md-9 {
				padding-right: 0;
		}
		#desc_contact0 {
				display: none;
		}
		.form-group {
				margin-bottom: 7px;
		}
		textarea {
				height: 257px;
		}
		.submit {
				margin-top: 13px;
		}
		.form-control {
				width: 100%;
		}
		input.form-control {
				font-size: 12px;
		}
}

@media (max-width: $screen-sm-max) {
		.contact-form-box .col-md-3 {
				padding-right: 0;
		}
}

@media (max-width: $screen-sm-max) {
		.contact-form-box .col-md-9 {
				padding-left: 0;
		}
}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {
		.contact-form-box .uploader .filename {
				width: 114px;
		}
}


/* tablet */

@media (max-width: $screen-xs-max) {
		#contact {
				.column-side {
						display: none !important;
				}
				#center_column {
						h1 {
								display: none;
						}
				}
		}
		.contact-form-box {
				box-shadow: none;
				background: transparent;
				margin-bottom: 38px;
				padding-top: 0;
				.page-subheading {
						color: $black;
						font-size: 25px;
						font-weight: 300;
						padding-bottom: 40px;
				}
				fieldset {
						background: transparent;
						padding: 0;
				}
				label {
						color: $black;
						font-size: 14px;
						font-weight: 300;
						line-height: 1.3;
						margin-bottom: 9px;
						&[for*="fileUpload"] {
								display: none!important;
						}
						&:not(.unvisible) {
								display: block;
						}
				}
				.form-control {
						border-color: #e5e5e5;
						height: 41px;
						font-size: 14px;
				}
				input.form-control {
						font-size: 14px;
				}
				textarea.form-control {
						height: 305px;
				}
				.styled-file {
						.file-button {
								line-height: 39px;
						}
						.file-name {
								line-height: 36px;
								padding-left: 161px;
						}
				}
				.submit {
						.btn.btn-default {
								font-size: 16px;
								font-weight: 700;
								padding: 8px 10px;
								width: 100%;
						}
				}
		}
}

@media (max-width: $screen-xs-max) and (min-width: $screen-xs-landscape + 1) {
		#contact {
				#center_column {
						padding-left: 70px;
						padding-right: 70px;
				}
				#footer {
						margin-top: 0;
				}
		}
		.contact-form-box {
				.page-subheading {
						padding-bottom: 29px;
				}
				.col-md-3 {
						margin: 0 -25px;
						width: auto;
						.form-group {
								float: left;
								margin-bottom: 43px;
								padding: 0 25px;
								width: 50%;
						}
						.file-wrap {
								padding-top: 27px;
						}
				}
				.submit {
						text-align: right;
						.btn.btn-default {
								max-width: 315px;
						}
				}
		}
}


/* mobile */

@media (max-width: $screen-xs-landscape) {
		.contact-form-box {
				.form-group {
						margin-bottom: 30px;
				}
				.styled-file {
						margin-top: 21px;
				}
				.col-md-9 {
						margin-top: 15px;
				}
				.submit {
						margin-top: 23px;
						.btn.btn-default {
								font-size: 16px;
								font-weight: 700;
								padding: 8px 10px;
								width: 100%;
						}
				}
		}
}
