@import "variables";
@import "global/reset";
@import "global/typograthy";
@import "global/text";
@import "fix-icon";
@import "global/grid";
@import "global/page-layout";
@import "global/table";
@import "global/responsive-tables";
@import "global/alert";
@import "global/label";
@import "global/buttons";
@import "global/panel-group";
@import "global/tabs";
@import "global/popover";
@import "global/form";
@import "global/block";
@import "global/store-block";
@import "global/product-block";
@import "global/carousel";
@import "global/price";
@import "global/labels";
@import "global/rating";
@import "global/comment";
@import "global/product-items";
@import "global/bottom-block-page";
@import "global/product-box";
@import "global/styling";
@import "global/product-sort";
@import "global/header";
@import "global/footer";
@import "global/payment-logos";
@import "global/social";
@import "global/breadcrumb";
@import "global/cart";
@import "global/cart-nav";
@import "global/box";
@import "global/fancybox";
@import "global/footer-links";
@import "global/manufacturer_supplier";
@import "global/not-found";
@import "global/order";
@import "global/payment";
@import "global/pre-footer";
@import "global/steps";
@import "global/color";
@import "animation/animation";
#page {
    overflow: hidden;
}

.columns-container {
    background: $white;
}

#columns {
    position: relative;
    padding-bottom: 30px;
}

.unvisible {
    display: none;
}

.close {
    opacity: 1;
}

.close:hover {
    opacity: 1;
}

.pack_content {
    margin: 10px 0 10px 0;
}

.block_hidden_only_for_screen {
    display: none;
}

.home-line {
    margin-top: 45px;
}

.wrap-search {
    margin-bottom: 20px;
}

@media (min-width:1025px) {
    #columns {
        padding-bottom: 70px;
    }
}

@media (max-width: $screen-xs-mobile) {
    .home-line {
        margin-top: 33px;
    }
    #center_column {
        padding: 0 $base-offset;
    }
    #category,
    #prices-drop,
    #new-products,
    #best-sales,
    #manufacturer,
    #supplier {
        #columns {
            padding-bottom: 0;
        }
    }
}