 @import "variables";
 #order-opc {
	 hr {
		 display: none;
	 }
	 line-height: 20px;
	 .box {
		 padding-bottom: 25px;
	 }
	 .cart_navigation {
		 margin-bottom: 53px;
	 }
	 .page-heading.step-num {
		 line-height: 1.3;
		 overflow: visible;
		 position: relative;
		 padding-left: 45px;
		 span {
			 font-weight: bold;
			 font-size: 42px;
			 line-height: 51px;
			 font-style: italic;
			 color: $clr-ten;
			 position: absolute;
			 left: 10px;
			 top: -14px;
		 }
	 }
	 .form-group {
		 .form-control {
			 max-width: 350px;
		 }
	 }
	 .lost_password {
		 display: inline-block;
		 text-decoration: underline;
		 margin: 5px 0 14px;
		 &:hover {
			 text-decoration: none;
		 }
	 }
	 .title_block {
		 font-weight: 600;
	 }
	 .opc-button {
		 padding: 10px 0 0 0;
		 .btn.btn-default {
		 	font-size: 13px;
			 padding: 10px 15px;
		 }
	 }
	 .bullet {
		 line-height: 22px;
		 margin-bottom: 5px;
	 }
	 .opc-add-save {
		 border-top: 1px solid $color-ninety-six;
		 margin-top: 20px;
		 padding-top: 20px;
	 }
	 #message {
		 margin-bottom: 35px;
	 }
	 #opc_payment_methods {
		 margin-bottom: 30px;
		 .warning {
			 color: $theme-color-one;
			 font-weight: 600;
			 padding: 0 15px;
		 }
	 }
	 #opc_account {
		 margin-bottom: 30px;
	 }
	 .address_delivery.select {
		 margin-bottom: 15px;
	 }
	 #address_invoice_form.form-group {
		 margin-bottom: 30px;
	 }
 }
 
 #new_account_form {
	 .id_state,
	 .dni,
	 .postcode {
		 display: none;
	 }
 }
 
 #order-opc {
	 label[for="id_country"] {
		 display: block;
	 }
	 .box p {
		 margin-bottom: 10px;
	 }
 }
 /* tablet */
 
 @media (max-width: $screen-xs-max) {
	 #order-opc {
		 color: $black;
		 font-size: 13px;
		 .breadcrumb {
			 margin-bottom: 0;
		 }
		 .page-heading {
			 &.step-num {
				 color: $black;
				 font-size: 20px;
				 margin-bottom: 20px;
				 padding: 0;
				 position: static;
				 text-align: left;
				 border: none;
				 span {
					 font-size: inherit;
					 font-style: normal;
					 font-weight: inherit;
					 line-height: inherit;
					 position: static;
				 }
			 }
		 }
		 .page-subheading {
			 text-align: left;
		 }
		 #login_form {
			 display: flex;
			 flex-direction: column;
			 justify-content: center;
			 min-height: 250px;
			 .page-subheading {
				 padding-bottom: 15px;
				 text-align: center;
				 + p {
					 text-align: center;
				 }
			 }
			 @at-root #openLoginFormBlock {
				 color: $black;
				 font-size: 16px;
			 }
		 }
		 .form-group {
			 .form-control {
				 max-width: none;
			 }
		 }
	 }
	 .box {
		 p {
			 font-size: 13px;
			 line-height: 1.8;
			 margin-bottom: 20px;
		 }
	 }
 }
 /* mobile */
 
 @media (max-width: $screen-xs-landscape) {
	 #order-opc {
		 .opc-add-save {
			 margin-left: -18px;
			 margin-right: -18px;
			 padding-left: 18px;
			 padding-right: 18px;
			 .btn {
				 min-width: 170px;
				 padding-top: 8px;
				 padding-bottom: 8px;
			 }
		 }
	 }
	 #opc_account_form,
	 #new_account_form {
		 #submitAccount,
		 #submitGuestAccount {
			 font-size: 16px;
			 width: 100%;
		 }
	 }
	 .opc-required {
		 width: 100%;
		 text-align: center;
	 }
 }
