@import "variables";

@import "product/index";


p {
	margin-bottom: 10px;
}

.primary_block .category-product-title {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0 15px;
	margin: 0 0 30px;
	line-height: 1;
}

.addsharethisinner .stButton .stArrow {
	display: none !important;
}

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
	.primary_block .category-product-title {
		font-size: 14px;
		margin-bottom: 25px;
	}
}
/* mobile */
@media (max-width: 419px) {
	#product {
		.column-side{
			display: none;
		}
	}
	.primary_block .category-product-title {
		display: none;
	}
}





