@import "variables";

/********************************************************
			Right to Left Styles
********************************************************/
* {
  direction: rtl !important; }

#page {
  text-align: right !important; }

h1{
	text-align: right;
}
//Header
.user-info__item a:before {
	margin-left: 5px;
	margin-right: auto;
}

// Menu
@media (max-width: $screen-sm-max) and (min-width: $screen-sm){
	.sf-menu > li:first-child{
		padding-left: 12px;
		padding-right: 0;
	}
}
@media (min-width: $screen-sm) {
    .sf-menu {
        li {
            ul {
                text-align: right;
            }
            ul li .sf-with-ul:before {
				left: 10px;
				right:auto;
				transform:scale(-1);
			}
        }
        > li {
            > .sf-with-ul {
                &:after {
                    right: auto;
                    left: -22px;
                }
            }
        }
        li ul li li a{
        	padding-right: 25px;
        	padding-left: 0;
        	&:before{
        		left: auto;
        		right: 0;
        		transform: scale(-1, 1);
        	}
        }
    }
}



@media (min-width: $screen-sm){
	.sf-menu > li{
		float:right;
	}
}

@media (min-width:$screen-sm) {
	#block_top_menu{
		float: right;
	}
}

// Amazing search
.search-box,.sf-search{
	.button-search{
		left: 5px;
		right:auto;
		transform: scaleX(1);
	}
}
@media (min-width: $screen-sm) {
	.amazing-search {
		.styled-select, select{
			left: 80%;
			right: auto;
		}
		.search_query {
			border-left-width: 0;
			border-right-width: 1px;
		}
	}
	.amazing-search.search-active-menu .styled-select, .amazing-search.search-active-menu select{
		left: 105%;
		right: auto;
	}
}
// Rev slider
.tp-loop-wrap {
    direction: ltr!important;
}

// Carousel
.c_container.carousel, .c_container.simple-grid{
	text-align: left;
}
	.theme-carousel,.easycarousels {
		.bx-wrapper {
			.bx-controls-direction {
				a{
					i {
						display: inline-block;
						transform: scale(-1, 1);
					}
				}
				a.bx-prev{
					margin: 0 0 0 10px;
				}
			}
		}
	}
.theme-carousel .bx-wrapper .bx-controls-direction{
	text-align: left;
}
.easycarousels {
	.grid-style-arrows {
		.bx-wrapper {
			.bx-controls-direction {
				> a{
					&:first-child{
						margin: 0 0 0 10px;
					}
				}
			}
		}
	}
}
@media (max-width: $screen-xs-mobile){
	.theme-carousel .bx-wrapper .bx-controls-direction{
		text-align: center;
	}
}
@media (min-width: $screen-xs-mobile + 1){
	.bottom-block-page {
		.right-block {
			text-align: right;
			h5{
				text-align: right;
			}
			.product-name{
				text-align: right;
			}
		}
		.content_price{
			float: right;
		}
		.easycarousels {
			.bx-wrapper {
				.bx-controls-direction{
					left: 0;
					right: auto;
				}
			}
		}
	}
}
@media (min-width: 421px){
	.bottom-block-page {
		.right-block{
			padding-left: 0;
			padding-right: 30px;
			border-left: none;
			border-right: 1px solid;
		}
	}
}
@media (min-width: $screen-sm){
	#product .carousel_block .title_main_section{
		text-align: right;
	}
	#product .carousel_block .bx-wrapper .bx-controls-direction{
		right: auto;
		left: 15px;
	}
}
// Newsletter
#newsletter_block_left .btn {
	right: auto;
	left:2px;
}
#newsletter-input{
	padding-right: 10px;
	padding-left: 45px;
}
// Currency
#currencies-block-top,#languages-block-top {
	select {
		padding-right: 10px;
		padding-left: 19px;
	}
	.styled-select {
		dt.option{
			padding-left: 29px;
			padding-right: 10px;
		}
		.toggle{
			left: 1px;
			right: auto;
		}
	}
}
@media (max-width: $screen-xs-max){
	#currencies-block-top .styled-select dt.option, #languages-block-top .styled-select dt.option{
		padding-left: 20px;
	}
}
// Styles
.styled-select .toggle{
	left:-1px;
	right:auto;
}

.styled-select ul{
	left:auto;
	right:0;
}

.styled-select dt.option{
	padding-right: 10px;
	padding-left: 35px;
}
.sortPagiBar {
	.styled-select {
		.option{
			padding-right: 10px;
			padding-left: 35px
		}
	}
}
@media (max-width: $screen-xs-mobile){
	.top-pagination-content, .bottom-pagination-content{
		text-align: right;
	}
}
// Left column
#left_column,#center_column, #right_column {
	float:right;
}

@media (min-width: $screen-sm){
	.categories_left ul li ul {
		right: 130%;
		border-style: solid;
		border-width: 1px;
		-webkit-transition: opacity .4s,right .4s,visibility .5s;
		-moz-transition: opacity .4s,right .4s,visibility .5s;
		-o-transition: opacity .4s,right .4s,visibility .5s;
		transition: opacity .4s,right .4s,visibility .5s;
	}
	.categories_left ul li:hover>ul {
		right: 100%;
	}
}
//product
.attribute_list{
	text-align: right;
}
.content_prices > .price{
	float: right;
}
#short_description_block{
	float: right;
}
#more_info_tabs.nav.nav-tabs{
	 > li:not(:last-child){
	 	margin-right: 0;
	 	margin-left: 20px;
	 }
}
@media (max-width: $screen-xs){
	#more_info_tabs.nav.nav-tabs > li:not(:last-child){
		margin-left: 0;
	}
}
// Blockcategory
.categories_left li span.grower{
	left:0;
	right:auto;
	transform:scale(-1);
}
.pb-right-column h1{
	padding: 0 0 0 21px;
}

// Blocklayred
#layered_block_left .nomargin a span {
    float: left;
}

#layered_block_left {
	.styled-checkbox, .styled-radio {
		right: 0;
		left:auto;
	}
}

#layered_block_left ul.layered_filter_ul > li {
	padding-right:25px;
	padding-left:0;
}

#layered_block_left ul.color-group > li{
	padding-right:0;
	float: right;
}


// Social
#social_block li {
    display: inline-block;
    margin-left: 7px;
    margin-right:0;
}

// Product block
.products-block .item .products-block-image{
	float: right;
	padding-right:0;
	padding-left:10px;
    border-right:none;
}

.products-block .product-content{
	text-align:right;
	padding-right:80px;
	padding-left:0;
}
.products-block .item .product-content h5{
	text-align: right;
}
@media (max-width: $screen-sm-max) and (min-width: $screen-sm){
	.products-block {
		.product-content{
			padding-right: 0;
			text-align: center;
			clear: both;
		}
		.item {
			.products-block-image{
				padding: 0;
			}
			.product-content {
				h5{
					text-align: center;
				}
			}
		}
	}
}
// Sortbar
#productsSortForm {
	text-align: right;
	select {
		padding-right: 5px;
	}
	.selector {
		float: right;
	}
}


// Product
#more_info_tabs li{
	float: right;
}
.wrap_quan {
	label{
		padding: 0 0 0 11px;
	}
}
#product_comments_block_extra{
	.comments_advices{
		padding: 0 5px 0 0;
	}
}
#new_comment_form{
	text-align: right;
	.product{
		img{
			float: right;
			margin: 0 0 0 10px;
		}
	}
	#criterions_list{
		label{
			float: right;
			margin: 0 0 0 10px;
		}
	}
	.cancel{
		float: right;
		margin: 0 0 0 5px;
	}
}
#new_comment_form_footer {
	.closefb{
		margin: 0 0 0 12px;
	}
}
@media (min-width: $screen-sm){
	#product_comments_block_tab {
		div.comment {
			.comment_author{
				float: right;
			}
			.comment_details{
				border-left: none;
				border-right: 1px solid $color-fifty-eight; 
			}
		}
	}
}
#our_price_display{
	line-height: 1;
	float: left;
}
#old_price{
	line-height: 1;
	float: right;
}
@media (max-width: $screen-xs-max){
	.pb-right-column, .pb-center-column{
		text-align: right;
	}
}
@media (max-width: $screen-xs){
	#new_comment_form .product{
		text-align: right;
	}
	#new_comment_form_footer .button, #new_comment_form_footer .closefb{
		margin: 0 0 15px;
	}
	#new_comment_form .product img{
		float: none;
		margin: 0 0 15px;
	}
	#new_comment_form .product .product_desc{
		text-align: right;
	}
}
@media (max-width: $screen-xs-mobile){
	#product_comments_block_extra {
		.star_content{
			float: right;
		}
	}
	.mobile-box{
		float: right;
	}
	.content_prices {
		#our_price_display{
			float: left;
		}
		#old_price{
			float: right;
		}
		> .price{
			float: right;
		}
	}
}
#attributes{
	.attribute_list{
		#color_to_pick_list {
			li{
				float: right;
			}
		}
	}
}
#product{
	.grid_arrows {
		.title_main_section{
			text-align: right;
			span {
				padding: 0 0 0 30px;
			}
		}
	}
}
@media (max-width: $screen-xs-max){
	.wrap_attr, #attributes fieldset label{
		text-align: right;
	}
}
@media (max-width: $screen-xs-mobile){
	.pb-right-column, .pb-center-column{
		text-align: right;
	}
}
//Footer
#footer {
        h4 {
            &:after {
                right: auto;
                left: 10px;
                text-align: left;
            }
        }
        .toggle-footer {
            li {
                padding-right: 13px;
                padding-left: 0;
                &:before {
                    right: 0px;
                    left: auto;
                    transform: scale(-1, 1);
                }
            }
        }
}

//list block
.list-block{
	> ul {
		> li {
			a{
				padding: 5px 32px 6px 0;
				&:before{
					display: inline-block;
					transform: scale(-1, 1);
					left: auto;
					right: 20px;
				}
			}
		}
	}
}
@media (max-width: $screen-xs-max){
	.block {
		.title_block,h4{
			&:after{
				left: 0;
				right: auto;
			}
		}
	}
}
//buttons
input.button_mini,
input.button_small,
input.button,
input.button,
button.button,
input.button_large,
input.button_mini_disabled,
input.button_small_disabled,
input.button_disabled,
input.button_large_disabled,
input.exclusive_mini,
input.exclusive_small,
input.exclusive,
input.exclusive_large,
input.exclusive_mini_disabled,
input.exclusive_small_disabled,
input.exclusive_disabled,
input.exclusive_large_disabled,
a.button_mini,
a.button_small,
a.button,
a.button_large,
a.exclusive_mini,
a.exclusive_small,
a.exclusive,
a.exclusive_large,
span.button_mini,
span.button_small,
span.button,
span.button_large,
span.exclusive_mini,
span.exclusive_small,
span.exclusive,
span.exclusive_large,
span.exclusive_large_disabled,
.btn.btn-default,.btn-primary {
	&.right {
		i {
			padding: 0 4px 0 0;
		}
	}
	&.left {
		i {
			padding: 0 0 0 4px;
		}
	}
	i {
		&.left {
			padding: 0 0 0 4px;
		}
		&.right {
			padding: 0 4px 0 0;
		}
	}
	.icon-chevron-left,
	.icon-angle-left {
		&:before{
			display: inline-block;
			transform: scale(-1, 1);
		}
		padding: 0 0 0 4px;
	}
	.icon-chevron-right,
	.icon-angle-right {
		&:before{
			display: inline-block;
			transform: scale(-1, 1);
		}
		padding: 0 4px 0 0;
	}
}
//viewd products
#viewed-products_block_left{
	li{
		float: right;
	}
}
//sitemap
#sitemap{
	.sitemap_block{
		li{
			a{
				&:before{
					display: inline-block;
					padding: 0 0 0 10px;
					transform: scale(-1, 1);
				}
			}
		}
	}
}
.categTree{
	.tree_top{
		padding: 0 26px 0 0;
	}
	.tree {
		padding: 0 24px 0 0;
		li {
			border-left: none;
			border-right: 1px solid #d8d6d6;
			margin: 0 11px 0 0;
			padding: 5px 33px 0 0;
			a + ul:before {
				left: auto;
				right: 0;
			}
			a:after {
				left: auto;
				right: 0;
			}
		}
		.last {
			&:before {
				border-left: none;
				border-right: 1px solid #d8d6d6;
				left: auto;
				right: 0;
			}
		}
	}
}
//sortbar
.content_sortPagiBar{
	label{
		padding: 0 0 0 5px;
	}
}
#grid{
	margin: 0 0 0 2px;
}
//category
.title_main_section.category-name{
	text-align: right;
	span{
		padding: 0 0 0 30px;
	}
}
//order
#identity ,
#authentication ,
#order-opc  {
	#center_column {
		.std {
			.row{
				.col-xs-4 {
					float: right;
				}
			}
		}
	}
}
.submit{
	.required{
		float: left;
	}
}
//payment
.payment_module {
	a{
		background-position: center right 15px!important;
		padding-left: 40px;
		padding-right: 99px;
		&:after{
			display: inline-block;
			left: 15px;
			right: auto;
			transform: scale(-1, 1);
		}
	}
}
//cart nav 
@media (min-width: $screen-xs-landscape){
	.cart_navigation{
		.button-medium{
			float: left;
		}
	}
}
//left column banner
.displayLeftColumn.custombanners {
	.custom-html{
		padding-left: 0;
		padding-right: 27px;
		text-align: right;
	}
}
//header
@media (max-width: $screen-xs-max){
	#header {
		.nav{
			text-align: left;
		}
	}
	#header_logo{
		left: auto;
		right: 25px;
	}
}
//menu
@media (max-width: $screen-xs-max){
	.menu-mobile-grover{
		float: left;
	}
}
//select
select, select.form-control{
	background-position: 6px 50%;
	padding: 0 10px 0 19px;
}
//localilation
@media (max-width: $screen-xs-max){
	#currencies-block-top, #languages-block-top{
		select {
			padding-right: 0;
			padding-left: 15px;
		}
	}
}
//layer cart
.layer_cart_product{
	float: right;
}
.layer_cart_cart {
	.button-container {
		.exclusive-medium{
			margin-right: 0;
			margin-left: 5px;
		}
	}
}
#layer_cart {
	.layer_cart_product {
		.product-image-container{
			float: right;
			margin: 0 0 0 30px;
		}
	}
	.cross{
		left: 0;
		right: auto;
	}
}
@media (max-width: $screen-xs-max){
	.layer_cart_cart {
		.button-container {
			.exclusive-medium{
				margin-left: 0;
			}
		}
	}
}
@media (max-width: $screen-xs-landscape){
	#layer_cart .layer_cart_product {
		padding-left: 33px;
		padding-right: 18px;
	}
}
//block cart
.cart_block {
	left: 0;
	right: auto;
	.cart-images{
		float: right;
		margin: 0 0 0 20px;
	}
	.cart-info{
		float: right;
		text-align: right;
	}
	.price{
		float: left;
	}
	.remove_link{
		left: 15px;
		right: auto;
	}
	.cart-buttons{
		.btn{
			float: right;
		}
	}
	.view-cart{
		margin-left: 15px;
		margin-right: 0;
	}
}
.cart-prices{
	.title_total{
		float: right;
		padding: 0 0 0 50px;
	}
}
.cart_block_list {
	.products {
		.price{
			float: right;
		}
	}
}
.cart_block {
	.ajax_cart_block_remove_link{
		clear: both;
		float: right
	}
}
.cart_block .cart-info .product-name a{
	text-align: right;
}
@media (min-width: $screen-sm){
	.shopping_cart > a:first-child:before{
		margin: 0 0 0 5px;
	}
}
@media (max-width: $screen-xs-max){
	#header{
		.wrap_cart{
			right: auto;
			left: 38px;
		}
	}
}
@media (max-width: $screen-xs-landscape){
	#header{
		.cart_block {
			.cart-images{
				margin: 0 0 0 10px;
			}
		}
		.cart_block {
			.cart-info{
				margin: 0 90px 0 0;
			}
			dt{
				.price{
					margin: 0;
				}
			}
		}
	}
}
//order cart
.cart_voucher h4{
	text-align: right;
}
@media (max-width: $screen-xs-max){
	#cart_summary{
		tfoot{
			tr {
				.price, .text-right{
					text-align: right;
				}
			}
		}
	}
}
@media (max-width: $screen-xs-landscape){
	#cart_summary{
		.cart_product{
			float: right;
		}
		tbody{
			td{
				text-align: right;
				padding-left: 0;
				padding-right: 104px;
			}
			.cart_description{
				padding-left: 32px;
				padding-right: 104px;
			}
			.price{
				text-align: right;
			}
		}
		.cart_delete{
			left: 0;
			right: auto;
		}
	}
}
//order opc
@media (max-width: $screen-xs-max){
	#order-opc {
		.page-heading.step-num,.page-subheading{
			text-align: right;
		}
	}
}
//testimonials
@media (max-width: $screen-xs-mobile){
	.twa_in_hook.home-carousel-reviews.square_arrows {
		.bx-wrapper{
			.bx-controls {
				.bx-controls-direction {
					a{
						transform: scale(-1, 1);
					}
				}
			}
		}
	}
}
@media (min-width:$screen-sm) {
	//user info
	.header_user_info{
		float: right;
	}
	//languages
	#languages-block-top,#currencies-block-top,.search-box{
		float: left;
	}
	#header_logo{
		float: right;
	}
	#header {
		.wrap_cart{
			float: left;
		}
	}
}
@media (max-width: $screen-sm-max){
	.search-box{
		margin-left: 0;
	}
}
//form
.form-group.form-error input,
.form-group.form-error textarea,
.form-group.form-ok input,
.form-group.form-ok textarea{
	background-position: 15px 50%;
}
.form-group.form-error .form-control, .form-group.form-ok .form-control{
	padding-right: 10px;
	padding-left: 30px;
}
//authentication
@media (max-width: $screen-xs-mobile){
	#address .page-subheading, #identity .page-subheading, #account-creation_form .page-subheading, #authentication .page-subheading, #order .page-subheading {
	  text-align: right;
	}
}
//styling
.styled-checkbox, .styled-radio{
	margin-right: 0;
	margin-left: 5px;
}
//my account
#my-account {
	.myaccount-link-list {
		li {
			a {
				i{
					left: auto;
					right: 0;
				}
				span{
					border-radius: 0;
					border-left-width: 0;
					border-right-width: 1px;
					border-right-style: solid;
					margin: 0 52px 0 0;
				}
			}
		}
	}
}
//social compare
body{
	#product_comparison #social-share-compare{
		text-align: right;
	}
	.socialsharing_product .btn.btn-default{
		&:last-child,&:first-child{
			margin: 0 0 0 12px;
		}
		margin: 0 0 0 12px;
	}
}
//responsive tables
table td, table th{
	text-align: right;
}
.table {
	th, td{
		text-align: right;
	}
}

//order
.addresses {
	.checkbox.addressesAreEquals{
		float: right;
	}
}
.address .address_update a{
	margin: 0 0 10px 10px;
}
//order step
.step {
	li{
		float: right;
		text-align: right;
		a, span{
			&:after{
				display: none!important;
			}
		}
	}
}
//buttons
.link-button {
	i{
		padding: 0 0 0 4px;
	}
}
//footable
.footable {
	.footable-sortable {
		.footable-sort-indicator{
			&:after{
				float: left;
			}
		}
	}
}
//history
.table {
	td.history_detail{
		 a {
		 	+ a{
		 		margin: 0 14px 0 0;
		 	}
		 }
	}
}
//banner features
body{
	.banner-item_feature {
		.wrap-icon{
			float: right;
			margin: 0 0 0 24px;
		}
		.custom-html{

		}
		.banner-item-content{
			padding-right: 5px;
			padding-left: 0;
		}
	}
}
@media (max-width: $screen-xs-mobile){
	.banner-item.full-width-banner {
		.custom-html{
			padding-right: 80px;
			padding-left: $base-offset;
			text-align: right;
			h3{
				padding-right: 0;
				padding-left: 92px;
			}
		}
	}
}
//header
@media (min-width: $screen-sm){
	#header_logo{
		padding-right: 15px;
		padding-left: 0;
	}
}
@media (max-width: $screen-sm-max){
	.drop_content_user{
		left: auto;
		right: 30px;
	}
}
@media (max-width: $screen-xs-max){
	#header {
		.box-table{
			float: right;
		}
	}
	.header_user_info,#header .wrap_cart{
		float: left;
	}
	.header_user_info{
		margin: 0 0 0 35px;
	}
	.drop_content_user{
		left: 0;
		right: auto;
	}
}
//banner top
.banner-top{
	&:first-child{
		float: right;
	}
	text-align: right;
	@media (min-width: $screen-xs-mobile + 1){
		.custom-html{
			padding-left: 0;
			padding-right: 5%;
			left: auto;
			right: 0;
		}
	}
}
//news
.custombanners.displayCustomBanners3 {
	h2{
		left: 0;
		right: 15px;
	}
}
//home slider
.home-slide {
	.custom-html{
		text-align: right;
	}
}
//blog
.post-item-infos{
	float: right;
}
//testimonials
@media (min-width: $screen-xs-mobile + 1){
	.twa_container {
		.bx-wrapper {
			.bx-controls-direction{
				right: auto;
				left: 15px;
			}
		}
	}
}
.post-item-date:before{
	left: auto;
	right: 0;
}
//send to friend 
@media (min-width: $screen-xs + 1){
	#send_friend_form {
		.product {
			img{
				float: right;
				margin: 0 0 0 15px;
			}
		}
	}
}
@media (max-width: $screen-xs){
	#send_friend_form {
		.product_desc,.product{
			text-align: right;
		}
	}
}
