@import "variables";

/******************************************************************
		  Sitemap Page Styles
*******************************************************************/

#sitemap .sitemap_block {
	.page-subheading {
		margin-bottom: 16px;
	}
	li {
		line-height: 16px;
		padding-bottom: 11px;
		a:before {
			display: inline-block;
			padding-right: 10px;
		}
	}
}

#listpage_content .tree_top a:before {
	display: inline-block;
	font-size: 20px;
}


.categTree{
	.tree_top{
		padding-left: 26px;
	}
	.tree {
		padding-left: 24px;
		li {
			margin: 0 0 0 11px;
			padding: 5px 0 0 33px;
			border-left: 1px solid #d8d6d6;
			position: relative;
			a + ul:before {
				content: '';
				position: absolute;
				display: block;
				left: 0;
				z-index: 4;
				border-bottom: 1px solid;
				width: 26px;
				top: 16px;
				margin: 0;
				color: #d8d6d6;
			}
			a:after {
				content: '';
				position: absolute;
				display: block;
				left: 0;
				z-index: 4;
				border-bottom: 1px solid;
				width: 26px;
				margin: 0;
				top: 16px;
				color: #d8d6d6;
			}
		}
		.last {
			border: medium none;
			&:before {
				content: '';
				position: absolute;
				border-left: 1px solid;
				display: block;
				left: 0;
				z-index: 4;
				border-bottom: 1px solid;
				width: 26px;
				color: #d8d6d6;
				top: 0;
				margin: 0;
				height: 17px;
			}
		}
	}
}

