@import "variables";

/***********************************************************
	Stores Page Styles
************************************************************/

#stores {
	.breadcrumb {
		margin-bottom: 22px;
	}
	h1 {
		padding-bottom: 22px;
	}
	label {
		color: $black;
		font-size: 14px;
		margin-right: 12px;
	}
	#map {
		width: 100%;
		height: 447px;
		margin-bottom: 23px;
	}
	#addressInput {
		display: inline-block;
		width: 60%;
	}
	.radius-input {
		.styled-select,
		select {
			display: inline-block;
			max-width: 90px!important;
			vertical-align: middle;
		}
	}
}

.store-content {
	.btn {
		font-size: 14px;
		padding-left: 50px;
		padding-right: 50px;
	}
}

.store-content-select {
	visibility: hidden;
	display: none;
}

#stores {
	.radius-input #radiusSelect {
		width: 78px;
	}
	.store-content {
		padding-bottom: 20px;
	}
	.store-content-select {
		.selector {
			visibility: hidden;
			display: none;
		}
		&.active {
			padding-top: 30px;
			margin-bottom: 30px;
			border-top: 1px solid $color-fourty;
			.selector {
				visibility: visible;
				display: block;
			}
		}
	}
	.store-title {
		color: $black;
		margin-bottom: 28px;
	}
	label {
		font-weight: normal;
	}
	#stores_loader {
		display: none;
		margin-left: 5px;
	}
	#locationSelect {
		max-width: 356px;
		visibility: hidden;
	}
	#stores-table {
		display: none;
		tbody td {
			padding: 20px;
			&.num {
				background: $color-eighty-nine;
				width: 46px;
			}
			&.name span {
				padding-left: 15px;
			}
		}
	}
}

.store-image img {
	width: 100%;
	min-width: 100px;
}


/* tablet and mobile */

@media (max-width: $screen-xs-max) {
	.store-content {
		.address-input,
		.radius-input {
			margin-bottom: 30px;
		}
	}
	#stores {
		#map {
			height: 380px;
		}
		#stores-table tbody .name img {
			display: none;
		}
	}
}


/* mobile */

@media (max-width: $screen-xs-landscape) {
	.address-input {
		label {
			display: none;
		}
	}
	#stores {
		#addressInput {
			width: 100%;
		}
	}
	.store-content {
		.radius-input,
		.address-input {
			width: 100%;
		}
	}
}
