@import "variables";
#favoriteproducts_block_account .favoriteproduct {
	position: relative;
	margin-bottom: 14px;
	padding: 12px 8px;
	border: 1px solid $color-fourty;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	.product_img_link {
		border: 1px solid $color-fourty;
		display: block;
		float: left;
		margin-right: 14px;
		overflow: hidden;
		position: relative;
	}
	.product_desc {
		line-height: 16px;
		overflow: hidden;
		padding: 0;
	}
	.remove {
		position: absolute;
		top: 10px;
		right: 10px;
		.icon {
			cursor: pointer;
		}
	}
}


/* lnk fiche produit */

#favoriteproducts_block_extra_add,
#favoriteproducts_block_extra_remove,
#favoriteproducts_block_extra_added,
#favoriteproducts_block_extra_removed {
	padding-left: 30px;
	cursor: pointer;
}

#favoriteproducts_block_extra_added{
	display: none;
}

.favorite-wrap {
	clear: both;
	padding: 20px 0;
}

#favoriteproducts_block_extra_remove,
#favoriteproducts_block_extra_add,
#favoriteproducts_block_extra_removed,
#favoriteproducts_block_extra_added {
	cursor: pointer;
	font-weight: 700;
	clear: both;
	float: none;
	margin: 0 0 8px 0;
	border: none;
	padding: 0;
	position: relative;
}
