.product_count_down{
	display: block;
	width: 350px;
	background: transparent;
}

.product_count_down .count_content .countdown_row{
	display: block;
	width: 100%;
}

.product_count_down .count_content .countdown_section{
	display: inline-block;
	text-align: center;
	/*float: left;*/
	width: 70px;
	min-height: 52px;
	margin-left: 2%;
	overflow: hidden;
	margin-bottom: 2%;
	border-radius: 2px;
	padding-left: 10px;
	padding-right: 10px;
	border:1px solid #DFE5E9;
	/*background-color: rgba(249,250,251,0.8);*/
}

/*.product_count_down .count_content .countdown_section:last-child{
	margin-right: 2%;
}*/

.product_count_down .count_info{
	display: none;
}

.product_count_down .countdown_section .countdown_amount{
	font-size: 20px;
	line-height: 1.5;
	margin: 0px;
	padding:0px;
	color: #5E8CC0;
}

.product_count_down .count_content .countdown_section em{
	display: block;
	line-height: 1;
	margin: 0;
	padding: 0;
	font-size: 13px !important;
}
