@import "variables";

/* Block editorial */
.editorial_block { margin-top: 70px; }
.editorial_block .rte { background: transparent none repeat scroll 0 0 }
.editorial_block > h1 {
	margin:40px 0 10px 0;
	padding: 0;
	background: none;
}
.editorial_block > h2 {
	padding:0 0 10px 0;
	font-size: 12px;
	line-height: 1.2em;
	color: $clr-twelve;
	text-transform: none;
	background: none;
}
#editorial_block_center p { padding-left: 0 }
#editorial_block_center .rte p {color:$clr-twelve }

#editorial_block_center p#editorial_image_legend {
   margin: 0 0 10px;
   padding:0;
	color: $clr-twelve;
   font-size: 10px;
}
.logo-editorial{
	display: inline-block;
}
@media screen and (max-width: $screen-mobile){
	.editorial_block{
		margin-top: 40px;
	}
}