/* color schemes */
.product_comments_block_extra {
  border-bottom-style: solid;
  border-bottom-width: 1px; }
  .product_comments_block_extra:before {
    display: none; }
  .product_comments_block_extra .star:before {
    font-size: 17px; }
  .product_comments_block_extra .comments_note,
  .product_comments_block_extra .comments_advices {
    display: inline-block;
    vertical-align: middle; }
  .product_comments_block_extra .comments_note span {
    float: left;
    color: #333333; }
  .product_comments_block_extra .star_content {
    float: left;
    color: #333333;
    margin-top: 1px; }
  .product_comments_block_extra .comments_advices {
    padding-left: 20px; }

.comments_advices li {
  display: inline-block;
  position: relative;
  font-size: 14px; }
.comments_advices a {
  text-decoration: underline;
  text-transform: capitalize; }
  .comments_advices a.reviews {
    border-right: 1px solid #e4ebea;
    padding-right: 5px;
    margin-right: 5px;
    text-transform: none; }

.product_comments_block_extra {
  padding: 15px 0; }

/* pop-in add grade/advice ********************************************************************* */
#fancybox-wrap {
  width: 585px; }

#fancybox-content {
  width: 585px;
  border-width: 0; }

#new_comment_form {
  padding: 2px 3px;
  overflow: hidden;
  color: #333333;
  text-align: left; }
  #new_comment_form h2 {
    margin-bottom: 10px;
    line-height: 22px; }
  #new_comment_form .title {
    padding: 10px;
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
    background: #333333; }
  #new_comment_form .grade_content {
    list-style-type: none;
    margin: 0 0 20px 0; }
    #new_comment_form .grade_content li {
      width: 50%; }
    #new_comment_form .grade_content span {
      display: inline-block;
      padding: 0 10px;
      width: 150px;
      font-weight: bold; }
    #new_comment_form .grade_content .cancel {
      margin-right: 5px; }
  #new_comment_form .product {
    padding: 15px; }
    #new_comment_form .product img {
      border: 1px solid #e7e7e7;
      float: left;
      margin-right: 10px; }
    #new_comment_form .product .product_desc {
      line-height: 18px;
      color: #666666; }
      #new_comment_form .product .product_desc .product_name {
        padding: 10px 0 5px;
        font-size: 13px;
        color: #000000; }
  #new_comment_form .new_comment_form_content {
    padding: 15px 15px 20px; }
    #new_comment_form .new_comment_form_content .intro_form {
      padding-bottom: 10px;
      font-weight: bold;
      font-size: 12px; }
  #new_comment_form label {
    display: block;
    margin: 0px 0 10px 0;
    font-weight: normal;
    font-size: 14px; }
  #new_comment_form input {
    padding: 0 10px;
    height: 35px;
    width: 100%;
    border: 1px solid #000000;
    background: #ffffff;
    margin-bottom: 15px; }
  #new_comment_form textarea {
    padding: 0 10px;
    height: 35px;
    width: 100%;
    border: 1px solid #000000;
    background: #ffffff;
    margin-bottom: 15px;
    height: 90px;
    padding: 10px; }
  #new_comment_form .submit {
    margin-top: 20px;
    padding: 0;
    font-size: 13px;
    text-align: right; }
  #new_comment_form #criterions_list {
    padding-bottom: 15px;
    list-style-type: none; }
    #new_comment_form #criterions_list .star_content {
      display: block; }
    #new_comment_form #criterions_list li {
      margin-bottom: 10px; }
    #new_comment_form #criterions_list label {
      display: inline;
      line-height: 20px;
      float: left;
      margin: 0 10px 0 0; }
  #new_comment_form #new_comment_form_footer {
    margin-top: 20px;
    font-size: 12px;
    clear: both; }
  #new_comment_form .rate_list_product {
    padding-bottom: 20px; }

#new_comment_form_footer .al_center {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center; }
#new_comment_form_footer .button {
  min-width: 110px;
  vertical-align: top; }
#new_comment_form_footer .closefb {
  margin-right: 12px; }

/* TAB COMMENTS ******************************************************************************** */
#product_comments_block_tab div.comment {
  margin: 0 0 14px;
  padding-top: 14px;
  border-top: 1px solid #e7e7e7; }
  #product_comments_block_tab div.comment:first-child {
    padding: 0;
    border: none; }
  #product_comments_block_tab div.comment .comment_author {
    padding: 0 20px;
    line-height: 18px; }
    #product_comments_block_tab div.comment .comment_author .star_content {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 12px; }
  #product_comments_block_tab div.comment .comment_details {
    overflow: hidden;
    border-left: 1px solid #e7e7e7; }
#product_comments_block_tab div.star:after {
  display: inline-block;
  color: #666666; }
#product_comments_block_tab .comment_author_infos {
  clear: both; }
  #product_comments_block_tab .comment_author_infos strong {
    display: block;
    color: #333333; }
  #product_comments_block_tab .comment_author_infos em {
    color: #e7e7e7; }
#product_comments_block_tab a {
  text-decoration: none;
  display: table;
  margin: 0 auto; }
#product_comments_block_tab .report_btn {
  cursor: pointer; }
  #product_comments_block_tab .report_btn:hover {
    text-decoration: underline; }

.fl {
  float: left; }

.fr {
  float: right; }

#id_new_comment_form .dproductrating {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px; }

#idTab5 .comment {
  margin-bottom: 20px; }

.comment_author_infos strong {
  font-weight: 700;
  padding-bottom: 10px;
  display: inline-block;
  font-weight: bold; }

.comment_details .title_block strong {
  font-weight: 700;
  padding-bottom: 10px;
  display: inline-block;
  font-weight: bold; }
.comment_details .body_review {
  line-height: 1.5;
  color: #333333;
  font-weight: 300; }

#product_comments_block_tab .align_center {
  text-align: center; }

@media (min-width: 992px) and (max-width: 1199px) {
  .comments_advices li {
    font-size: 12px; } }
@media (max-width: 580px) {
  #new_comment_form h2 {
    line-height: 25px; }

  #product_comments_block_tab .comment .comment_author {
    padding: 0 15px;
    width: 100%; }
  #product_comments_block_tab .comment .comment_details {
    width: 100%;
    border-left: none;
    padding-top: 10px; } }
@media (max-width: 480px) {
  #new_comment_form_footer .button,
  #new_comment_form_footer .closefb {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px; }

  #new_comment_form .product {
    text-align: center; }
    #new_comment_form .product .product_desc {
      text-align: left; }
    #new_comment_form .product img {
      float: none;
      display: inline-block; }

  .product_comments_block_extra .comments_note {
    padding-bottom: 10px;
    display: block;
    padding-left: 0; }
  .product_comments_block_extra .comments_advices {
    display: block;
    padding-left: 0; }

  .comments_advices .reviews {
    padding-right: 0;
    margin-right: 0;
    border-right: 0; }

  #product_comments_block_tab a {
    font-size: 10px; } }
@media (min-width: 415px) {
  .mobile-comments {
    display: none; } }
/* mobile */
@media (max-width: 414px) {
  .mobile-comments .product_comments_block_extra {
    border: none;
    padding: 0; }
    .mobile-comments .product_comments_block_extra .comments_note {
      padding-bottom: 11px; }
    .mobile-comments .product_comments_block_extra .comments_advices {
      display: none; }

  #buy_block .product_comments_block_extra {
    border: none;
    margin-bottom: 30px;
    padding: 0; }
    #buy_block .product_comments_block_extra .comments_note {
      display: none; } }

/*# sourceMappingURL=productcomments.css.map */
