/* color schemes */
/* block top links */
ul#header_links {
  list-style-type: none;
  float: right;
  margin-top: 5px; }

#header_links li {
  float: left;
  padding: 0 8px;
  border-left: 1px solid #333333;
  line-height: 11px; }

#header_links li:first-child {
  border: none; }

#header_links a {
  text-decoration: none; }

#header_links a:hover {
  text-decoration: underline; }

/*block permanent links right and left columns*/
#permanent_links div {
  border-bottom: 1px dotted #F5F5F5; }

#permanent_links div a {
  display: block;
  padding: 7px 11px 5px 22px;
  color: #333333; }

/* footer */
#permanent_links_footer {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  padding-top: 27px; }

#permanent_links_footer li {
  display: inline-block; }

#permanent_links_footer li a {
  font-size: 14px;
  font-weight: 300;
  padding: 0 14px; }

@media (max-width: 991px) {
  #permanent_links_footer li a {
    font-size: 12px;
    padding: 0px 10px; } }
@media (max-width: 768px) {
  #permanent_links_footer {
    padding-top: 38px; } }
@media (max-width: 640px) {
  #permanent_links_footer li a {
    font-size: 11px;
    padding: 0px 5px;
    color: #000000; } }

/*# sourceMappingURL=blockpermanentlinks.css.map */
