.alert {
	color: $white;
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 4px;
	font-weight: bold;
	p {
		text-transform: uppercase;
	}
	ul,
	ol {
		padding: 12px 0 12px 25px;
		list-style-position: inside;
	}
	li {
		list-style-type: decimal;
		font-weight: normal;
	}
	&.alert-success,
	&.alert-danger {
		&:before {
			font-size: 20px;
			float: left;
			vertical-align: -2px;
			padding-right: 7px;
		}
	}
}

.alert-success {
	background: $success;
}

.alert-info {
	background: $warning;
}

.alert-warning {
	background: $warning;
}

.alert-danger {
	background: $danger;
}
