.column-side .block{
	margin-bottom: 50px;

}
.column-side .block .block_content{
	border-style: solid;
	border-width: 1px;
}
.block .border-box{
	padding-top: 20px;
}
.block .title_block,
.block h4 {
	line-height: 1;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 30px;
	position: relative;
	margin-top: 0;
}
.block .list-block {
	margin-top: -8px; 
}
.block .list-block li {
	padding: 0;
	position: relative;
	border-top-style: solid;
	border-top-width: 1px;
	font-size: 12px;
}
.block .list-block li a {
	display: block;
	padding: 5px 0 6px 32px;
}
.block .list-block li a i {
	display: none; 
}
.block .list-block li a:before {
	display: inline;
	color:$theme-color-one;
	position: absolute;
	left: 20px;
	top: 5px;
}
.block .list-block li a:hover {
	color:$theme-color-one; 
}
.block .list-block li:first-child {
	border-top: none; 
}
.block .list-block .form-group {
	padding: 20px;
	border-top-style: solid;
	border-top-width: 1px;
	margin-bottom: 0; 
}
.block .list-block .form-group select {
	max-width: 270px; 
}
.block .list-block .btn {
	margin-top: 12px; 
}
.column-side .block .button{
	text-transform: uppercase;
	padding-left: 0;
	padding-right: 0;
	margin-top: 10px;
	width: 100%;
}
.column-side .border-box .button{
	margin-top: 0;
}
@media (min-width:$screen-sm) {
	.block .title_block:after,
	.block h4:after {
		display: none;
	}
}
@media (min-width:$screen-sm) and (max-width: $screen-md-max) {
	.block .title_block, .block h4{
		font-size: 18px;
	}
	.column-side .button{
		padding-left: 10px;
		padding-right: 10px;
		font-size: 10px;
	}
}
@media (max-width: $screen-mobile) {
	.column-side .block{
		margin-bottom: 20px;
	}
}
@media (max-width: $screen-sm-max) {
	.block .title_block, .block h4{
		margin-bottom: 25px;
	}
}
@media (min-width:$screen-sm) and (max-width: $screen-sm-max) {
	.block .title_block, .block h4{
		font-size: 14px;
	}
}
@media (max-width: $screen-xs-max) {
	.block .title_block,
	.block h4 {
		position: relative; 
		cursor: pointer;
	}
	.block .title_block:after,
	.block h4:after {
		bottom: 0;
		font-size: 16px;
		font-weight: 400;
		height: 40px;
		position: absolute;
		right: 0;
		top: 0;
		width: 20px;
	}
	.block .list-block .form-group select {
		width: 270px; 
	}
}

/* mobile */
@media (max-width: $screen-xs-mobile){
	.block {
		.title_block, h4{
			border-bottom: 1px solid #e8e8e8;
			font-size: 16px;
			font-weight: 600;
			margin: 0 -15px;
			padding: 0 $base-offset 21px;
			&:after{
				font-size: 16px;
				width: 40px;
				text-align: center;
				right: 22px;
			}
			&.active{
				border-bottom: none;
			}
		}
	}
	.column-side{
		.block{
			margin-bottom: 21px;
			.block_content{
				margin: 0 10px;
			}
			&.products_block{
				.title_block, h4{
					margin-bottom: 0;
				}
			}
		}
	}
}