.bottom-block-page{
	margin-top: 70px;
}
.bottom-block-page .grid .right-block h5 a:hover {
	text-decoration: underline;
}
@media (max-width: $screen-mobile) {
	.bottom-block-page{
		margin-top: 30px;
	}
}
/* mobile */
@media (max-width: $screen-xs-mobile) {
	.bottom-block-page{
		margin-top: 0;
		.carousel_block{
			margin-top: 25px;
		}
	}
}