.box {
	background: $color-eighty-nine;
	border: 1px solid $color-ninety-six;
	padding: 14px 18px 13px;
	margin: 0 0 30px 0;
	line-height: 23px;
	p {
		margin-bottom: 0;
	}
	&.box-small {
		padding: 9px 10px 9px 20px;
		.dark {
			padding-top: 10px;
			padding-right: 20px;
			margin-bottom: 0;
			width: auto;
		}
	}
}
@media (max-width: $screen-xs-max){
	.box{
		padding: 32px 18px 25px;
	}
}