.wrap_breadcrumb{
	margin-bottom: 50px;
}
.breadcrumb {
	display: inline-block;
	position: relative;
	z-index: 1;
	background: none;
	border:none;
	margin: 0;
	font-size: 13px;
	padding: 18px 0px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.breadcrumb .navigation-pipe {
	display: inline-block;
	width: 15px;
	text-align: center; 
}
.breadcrumb .navigation_page{
	text-decoration: underline;
}
.breadcrumb a {
	display: inline-block;
	position: relative;
	z-index: 2;
}

/* mobile */
@media (max-width: $screen-xs-mobile){
	.wrap_breadcrumb{
		display: none;
	}
}