.btn {
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
}

button {
	outline: none;
}

input.button_mini,
input.button_small,
input.button,
input.button,
button.button,
input.button_large,
input.button_mini_disabled,
input.button_small_disabled,
input.button_disabled,
input.button_large_disabled,
input.exclusive_mini,
input.exclusive_small,
input.exclusive,
input.exclusive_large,
input.exclusive_mini_disabled,
input.exclusive_small_disabled,
input.exclusive_disabled,
input.exclusive_large_disabled,
a.button_mini,
a.button_small,
a.button,
a.button_large,
a.exclusive_mini,
a.exclusive_small,
a.exclusive,
a.exclusive_large,
span.button_mini,
span.button_small,
span.button,
span.button_large,
span.exclusive_mini,
span.exclusive_small,
span.exclusive,
span.exclusive_large,
span.exclusive_large_disabled,
.btn.btn-default,
.black-btn,
.btn-primary {
	border-color: $theme-color-one;
	background-color: transparent;
	color: $theme-color-one;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	padding: 12px 40px 10px;
	line-height: 1.5;
	height: auto;
	font-weight: 700;
	font-size: 16px;
	border: none;
	border-style: solid;
	border-width: 2px;
	-webkit-text-shadow: none;
	text-shadow: none;
	white-space: normal;
	&:hover {
		border-color: $theme-color-one;
		background: $theme-color-one;
		color: $white;
	}
	&:active {
		background: $theme-color-one;
		border-color: $theme-color-one;
	}
	&.disabled,
	&[disabled] {
		cursor: not-allowed;
		pointer-events: none;
		opacity: .4;
	}
	&.right {
		i {
			padding-left: 4px;
		}
	}
	&.left {
		i {
			padding-right: 4px;
		}
	}
	i {
		&.left {
			padding-right: 4px;
		}
	}
	i {
		&.right {
			padding-left: 4px;
		}
	}
	.icon-angle-left {
		padding-right: 4px;
	}
	.icon-angle-right {
		padding-left: 4px;
	}
}

.btn.btn-mini {
	font-size: 13px;
	padding: 7px 20px 6px;
	border-width: 1px;
}

.btn.btn-fill {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	height: 41px;
	line-height: 41px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 0 13px;
	&:hover {
		border-color: $theme-color-one;
		background: $theme-color-one;
		color: $white;
	}
}

input.button_disabled,
input.exclusive_disabled,
span.exclusive,
span.disabled,
.btn.disabled,
.btn.disabled:hover,
.btn[disabled]:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.link-button {
	i {
		padding-right: 4px;
	}
}


#add_to_cart button {
	&:after {
		display: inline-block;
	}
	&.added.disabled,
	&.disabled {
		&:after {
			animation: 2s linear 0s normal none infinite spin;
			-webkit-animation: 2s linear 0s normal none infinite spin;
			-moz-animation: 2s linear 0s normal none infinite spin;
			border: none;
		}
	}
}

