#order_carrier {
	clear: both;
	margin-top: 20px;
	border: 1px solid $color-fourty-seven;
	background: $white;
	.title_block {
		padding: 0 15px;
		height: 29px;
		font-weight: bold;
		line-height: 29px;
		color: $white;
		font-weight: bold;
		text-transform: uppercase;
		background: url(../img/bg_table_th.png) repeat-x 0 -10px $color-fourty-seven;
	}
	span {
		display: block;
		padding: 15px;
		font-weight: bold;
	}
}
.delivery_option_carrier {
	td {
		width: 200px;
		+ td {
			width: 280px;
			+ td {
				width: 200px;
			}
		}
	}
	tr td {
		padding: 5px;
	}
	&.selected {
		display: table;
	}
}
#order,#order-opc {
	.delivery_option {
		> div{
			display: block;
			margin-bottom: 20px;
			font-weight: normal;
			> table {
				margin-bottom: 0;
				&.resume {
					height: 53px;
					&.delivery_option_carrier {
						margin-top: 10px;
						width: 100%;
						border: 1px solid $color-ninety-six;
						font-weight: bold;
						td {
							padding: 8px 11px 7px 11px;
							i {
								font-size: 20px;
								margin-right: 7px;
								vertical-align: -2px;
							}
						}
					}
					td.delivery_option_radio {
						width: 54px;
						padding-left: 0;
						padding-right: 0;
						text-align: center;
					}
					td.delivery_option_logo {
						width: 97px;
					}
					td.delivery_option_price {
						width: 162px;
					}
				}
			}
		}
	}
}


.order_carrier_content {
	line-height: normal;
	padding-bottom: 16px;
	.carrier_title {
		font-weight: bold;
		color: $clr-ten;
	}
	.checkbox input {
		margin-top: 2px;
	}
	.delivery_options_address {
		.carrier_title{
			margin-bottom: 17px;
		}
	}
	+ div {
		padding-bottom: 15px;
	}
}

#carrierTable {
	border: 1px solid $color-fourty-seven;
	border-bottom: none;
	background: $white;
	tbody {
		border-bottom: 1px solid $color-fourty-seven;
	}
	th {
		padding: 0 15px;
		height: 29px;
		font-weight: bold;
		line-height: 29px;
		color: $white;
		text-transform: uppercase;
		background: url(../img/bg_table_th.png) repeat-x 0 -10px $color-fourty-seven;
	}
	td {
		padding: 15px;
		font-weight: bold;
		border-right: 1px solid #e2dede;
		&.carrier_price {
			border: none;
		}
	}
}

p.checkbox.gift {
	margin-bottom: 10px;
}

#gift_div {
	display: none;
	margin-top: 5px;
	margin-bottom: 10px;
}

a.iframe {
	color: $clr-ten;
}
@media (min-width: $screen-sm){
	#order,#order-opc {
		.terms{
			display: none;
		}
	}
}
@media (max-width: $screen-xs-max){
	#order,#order-opc {
		.delivery_option {
			> div{
				> table {
					&.resume{
						td {
							color: $black;
							font-size: 13px;
							line-height: 1.7;
							padding: 47px 9px;
						}
						strong{
							font-weight: 600;
						}
						td.delivery_option_radio {
							width: 25px;
						}
						td.delivery_option_logo {
							text-align: center;
							width: 128px;
							+ td {
								width: 105px;
							}
						}
						td.delivery_option_price {
							text-align: center;
							width: 55px;
						}
					}
				}
			}
		}
		#message{
			height: 44px;
		}
		.terms{
			border-top: 1px solid $color-ninety-six;
			font-size: 30px;
			font-weight: 300;
			line-height: 1;
			color: $black;
			margin: 0 -18px 25px;
			padding: 30px 18px 0;
			+ .box{
				margin: 0;
				padding: 25px 30px;
				p{
					margin: 0;
				}
			}
		}
	}
}
/* mobile */
@media (max-width: $screen-xs-landscape){
	#order,#order-opc {
		.delivery_option {
			.styled-radio{
				&:before{
					background: #e73c66;
				}
			}
			> div{
				> table {
					td {
						border-color: $color-fourty-eight;
					}
					&.resume{
						td.delivery_option_radio {
							width: 54px;
						}
						td.delivery_option_logo {
							width: 50px;
						}
					}
				}
			}
		}
		.terms{
			max-width: 250px;
		}
	}
}