.bx-wrapper {
	position: relative;
	clear: both;
}

.tab-content {
	> .tab-pane {
		display: none !important;
		position: static;
		margin: 0;
	}
	.active {
		display: block !important;
	}
}

.bx-controls-direction {
	overflow: hidden;
}

.easycarousels .bx-wrapper .bx-controls-direction {
	position: absolute;
	top: -60px;
	left: 0;
	right: 0;
	text-align: center;
}

.theme-carousel {
	.bx-wrapper .bx-controls-direction {
		position: absolute;
		top: -60px;
		left: 0;
		right: 0;
		text-align: center;
	}
	.post-thumbnail {
		padding-left: 0;
	}
	.post-body {
		padding-right: 0;
	}
}

.easycarousels .bx-wrapper .bx-controls-direction > a,
.theme-carousel .bx-wrapper .bx-controls-direction > a {
	display: inline-block;
	font-size: 20px;
}

.easycarousels .grid-style-arrows .bx-wrapper .bx-controls-direction > a {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 28px;
	border-style: solid;
	border-width: 1px;
	background: transparent;
}

.theme-carousel .bx-wrapper .bx-controls-direction > .bx-prev,
.easycarousels .bx-wrapper .bx-controls-direction > .bx-prev {
	margin-right: 10px;
}

.easycarousels,
.theme-carousel {
	.bx-wrapper {
		.bx-controls {
			.bx-controls-direction {
				a {
					&:before {
						display: none;
					}
				}
			}
		}
	}
}

.theme-carousel .bx-wrapper .bx-controls-direction>a {
	position: static;
	display: inline-block;
	margin-top: 0;
	height: auto;
	width: auto;
	overflow: visible;
}

.easycarousels .bx-wrapper {
	.bx-controls-direction a {
		margin-top: 0;
		position: static;
		display: inline-block;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		line-height: 1;
		width: auto;
		height: auto;
	}
	margin: 0 auto !important;
}

.n-hover .bx-wrapper {
	.bx-controls-direction {
		display: none;
	}
	&:hover .bx-controls-direction {
		display: block;
	}
}

.easycarousels {
	.bx-controls.bx-has-pager {
		margin-bottom: 25px;
	}
	.bx-wrapper .bx-pager.bx-default-pager a.bx-pager-link {
		width: 12px;
		height: 12px;
		//border: 2px solid $clr-ten;
		//background: $white;
		border-radius: 50%;
		&:hover,
		&.active {
			//background: $clr-ten;
		}
	}
}


/* nav in column for one_by_one */

.column .easycarousels .one_by_one .bx-wrapper .bx-controls-direction a {
	background: none;
	top: -10px;
	right: 5px;
}

.easycarousels .bx-wrapper .bx-controls-direction a:before {
	line-height: inherit;
	padding: 0;
	color: inherit;
	font-size: inherit;
}

.column {
	.easycarousels .one_by_one .bx-wrapper .bx-controls-direction a {
		&.bx-prev {
			right: 20px;
		}
		&:hover:before {}
	}
	.carousel_block .title_block {
		padding-right: 45px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		margin-bottom: 15px;
	}
	&.accordion {
		.easycarousels .one_by_one .bx-wrapper .bx-controls-direction {
			right: 50px;
		}
		.carousel_block .title_block {
			padding-right: 75px;
		}
	}
}

@media screen and (min-width: $screen-sm) {
	#product #center_column .easycarousels .block_content {
		padding-top: 0;
	}
	.bottom-block-page .easycarousels .bx-wrapper .bx-controls-direction {
		top: -45px;
		right: 0;
		left: auto;
		text-align: right;
	}
	#product .center_column .carousel_block .bx-wrapper .bx-controls-direction {
		position: absolute;
		top: -48px;
		left: auto;
		right: 15px;
	}
	#product .center_column .carousel_block .c_wrapper {
		padding-top: 0;
	}
}

@media screen and (min-width: $screen-sm) and (max-width: $screen-md-max) {
	.bottom-block-page .easycarousels .one-by-one .owl-buttons,
	.bottom-block-page .easycarousels .bx-wrapper .bx-controls-direction {
		top: -47px;
	}
}

@media screen and (max-width: $screen-xs-max) {
	.easycarousels .bx-wrapper .bx-controls-direction a,
	.theme-carousel .bx-wrapper .bx-controls-direction>a:before {
		font-size: 30px;
	}
	.easycarousels .bx-wrapper .bx-controls-direction .bx-prev,
	.theme-carousel .bx-wrapper .bx-controls-direction>.bx-prev {
		margin-right: 15px;
	}
	.bottom-block-page .easycarousels .bx-controls-direction {
		top: -47px;
	}
}


/* fix double arrows*/

.bx-viewport:first-child .bx-controls {
	display: none!important;
}


/* media */

@media (max-width: $screen-xs-mobile) {
	.theme-carousel,
	.easycarousels {
		.bx-wrapper {
			.bx-controls-direction {
				> a {
					width: 30px;
					height: 30px;
					text-align: center;
					line-height: 28px;
					border-style: solid;
					border-width: 1px;
					background: transparent;
					font-size: 20px;
					&:first-child {
						margin-right: 10px;
					}
					&:hover {
						background: $theme-color-one;
						i {
							color: $white;
						}
					}
				}
			}
		}
	}
	.bottom-block-page {
		.easycarousels {
			.bx-controls-direction{
				top: -55px;
			}
		}
	}
	.easycarousels{
		.title-box{
			margin-bottom: 75px;
			text-align: center;
		}
	}
}
