//cart nav
.cart_navigation {
	margin: 20px 0;
	clear: both;
	@media (min-width: $screen-xs-landscape + 1){
		.button-medium {
			float: right;
			font-size: 15px;
		}
		.btn.btn-default {
			font-size: 15px;
		}
	}
}
@media (max-width: $screen-xs-max) and (min-width: $screen-xs-landscape + 1){
	.cart_navigation {
		.btn.btn-default{
			font-size: 14px;
			padding: 11px 30px;
		}
	}
}
@media (max-width: 640px) and (min-width: $screen-xs-landscape + 1){
	.cart_navigation {
		.button-medium {
			float: none;
			margin-right: 10px;
			margin-bottom: 20px;
			min-width: 240px;
		}
		.btn.btn-default {
			margin-right: 10px;
			margin-bottom: 20px;
			min-width: 240px;
		}
	}
}
/* mobile */
@media (max-width: $screen-xs-landscape){
	.cart_navigation {
		.btn.btn-default{
			margin-bottom: 10px;
			padding: 7px 10px;
			width: 100%;
		}
	}
}