
.cart_last_product {
	display: none;
}
.cart_quantity {
	.cart_quantity_input{
		text-align: center;
		height: 100%;
		line-height: 40px;
		height: 40px;
		border-radius: 0 3px 3px 0;
		border: none !important;
		font-size: 18px;
		color: $clr-ten;
		font-weight: 300;
		width: 100%;
		position: absolute;
		padding-left: 18px;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
	}
	.cart_quantity_button{
		a {
			height: 20px;
			width: 20px;
			display: block;
			background: $color-ninety;
			text-align: center;
			+ a {
				margin-right: 0;
			}
		}
	}
}

.cart_gift_quantity {
	.cart_quantity_input{
		height: 27px;
		line-height: 27px;
		padding: 0;
		text-align: center;
		width: 57px;
	}
}

.table tbody > tr > td {
	vertical-align: middle;
	&.cart_quantity {
		padding: 41px 14px 25px;
		width: 88px;
	}
}

.wrap_up_down a {
	&:hover {
		background: $theme-color-one !important;
		border-color: transparent !important;
		color: $white!important;
	}
	i {
		font-style: normal;
		color: $color-thirty-nine;
	}
	&:hover i {
		color: $white;
	}
}

.wrap_up_down {
	position: relative;
	z-index: 1;
	float: left;
}

.quantity_item {
	display: inline-block;
	border: 1px solid $color-ninety-one;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: $white;
	width: 100%;
	position: relative;
	.product_quantity_up {
		border-right: 1px solid $color-ninety-one;
	}

	.product_quantity_down {
		border-right: 1px solid $color-ninety-one;
		border-top: 1px solid $color-ninety-one;
	}
}



.table {
	tbody > tr > td {
		&.cart_delete,
		&.price_discount_del {
			padding: 5px;
		}
	}
	tfoot > tr > td {
		vertical-align: middle;
	}
}


.cart_quantity_delete,.price_discount_delete{
	font-size: 23px;
	color: $theme-color-one;
	&:hover {
		color: $clr-ten;
	}
}


#cart_summary {
	.gift-icon {
		color: $white;
		background: $theme-color-one;
		line-height: 20px;
		padding: 2px 5px;
		border-radius: 5px;
	}
	tbody td {
		padding: 7px 8px 9px 18px;
	}
	.cart_product {
		padding: 7px;
		width: 137px;
		a {
			display: inline-block;
			width: 80px;
		}
		img {
			display: inline-block;
			height: auto;
		}
	}
	.cart_unit .price span {
		display: inline-block;
		&.price-percent-reduction {
			margin: 5px auto;
			display: inline-block;
		}
		&.old-price {
			text-decoration: line-through;
			display: none;
		}
	}
	.cart_description small {
		display: block;
		padding: 5px 0 0 0;
		font-size: 13px;
	}
	tfoot {
		td.text-right,
		tbody td.cart_unit {
			font-weight: bold;
			color: $clr-ten;
		}
	}
	tbody tfoot td.cart_unit,
	tfoot tbody td.cart_total,
	tbody tfoot td.cart_total {
		font-weight: bold;
		color: $clr-ten;
	}
	tfoot td {
		&.price {
			text-align: right;
		}
		&.total_price_container span {
			@media (min-width: $screen-sm){
				font: 600 18px/22px "Open Sans", sans-serif;
				text-transform: uppercase;
			}
		}
		&#total_price_container {
			@media (min-width: $screen-sm){
				font: 600 21px/25px "Open Sans", sans-serif;
				color: $clr-ten;
			}
		}
	}
	.stock-management-on tbody td.cart_description {
		width: $screen-xs;
	}
}
.cart_discount_price {
	text-align: right;
}

.cart_discount_delete {
	text-align: center;
}

.cart_voucher {
	vertical-align: top !important;
	h4 {
		font-size: 18px;
		line-height: 22px;
		font-weight: 600;
		text-transform: uppercase;
		padding: 7px 0 10px 0;
	}
	.title-offers {
		color: $clr-ten;
		font-weight: bold;
		margin-bottom: 6px;
	}
	fieldset {
		margin-bottom: 10px;
		#discount_name {
			float: left;
			width: 219px;
			margin-right: 11px;
		}
	}
	#display_cart_vouchers span {
		font-weight: bold;
		cursor: pointer;
		color: $color-thirty-nine;
	}
}

.enable-multishipping {
	margin: -13px 0 17px;
	label {
		font-weight: normal;
	}
}

#HOOK_SHOPPING_CART {
	#loyalty {
		i{
			font-size: 26px;
			line-height: 26px;
		}
	}
}

@media (max-width: $screen-md-max){
	.cart_description{
		.product-name {
			a{
				font-size: 15px;
			}
		}
	}
}
/* tablet and mobile */
@media (max-width: $screen-xs-max){
	#cart_summary {
		table,
		thead,
		tr,
		th,
		td{
			display: block;
		}
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		td {
			border: none;
			position: relative;
			white-space: normal;
		}
		tfoot {
			td {
				float: none;
				width: 100%;
				&:before {
					display: inline;
				}
			}
			.text-right,
			tr tbody .cart_unit {
				display: block;
				float: left;
				width: 50%;
			}
		}
	}
	.cart_quantity {
		clear: both;
		padding: 9px 8px 11px 18px;
	}
	#cart_title{
		display: none;
	}
	#cart_summary{
		border: none;
		tbody {
			tr {
				padding: 20px 0 14px;
				&:not(:last-child){
					border: none;
				}
			}
		}
		.cart_product {
			padding: 0;
			width: 84px;
			img{
				border: none;
			}
		}
		.cart_avail{
			clear: none;
			.label {
				background: none;
				color: $black;
				font-size: 11px;
				padding: 0;
			}
		}
		.cart_quantity_delete{
			i {
				&:before{
					content: '\f00d';
				}
			}
		}
		.cart_description{
			.product-name {
				a{
					color: $black;
					font-size: 13px;
					line-height: 1.3;
					text-transform: uppercase;
				}
			}
		}
		tbody {
			.price{
				text-align: left;
			}
		}
		.price{
			> span, > li {
				display: inline-block;
				font-size: 16px;
				padding: 0;
				vertical-align: baseline;
			}
		}
		.cart_total{
			font-size: 16px;
		}
		@at-root .cart_quantity{
			padding: 7px 0 7px 104px;
			.quantity_item{
				border: none;
				border-radius: 0;
				background: none;
				width: 87px;
				height: 20px;
				text-align: center;
			}
			.wrap_up_down{
				float: none;
				position: static;
				&:before,&:after{
					display: none;
				}
			}
			.cart_quantity_input{
				height: 18px;
				width: 45px;
				position: static;
				padding: 0 5px;
				z-index: 1;
				line-height: 1;
				display: inline-block;
				font-size: 16px;
				&.form-control{
					background: none;
				}
			}
			.cart_quantity_button {
				a{
					border: none;
					border-radius: 50%;
					font-size: 0;
					height: 20px;
					line-height: 20px;
					width: 20px;
					position: absolute;
					top: 0;
					&:hover{
						color: $white!important;
					}
					&:before{
						font-size: 14px;
						font-family: $icon-font;
					}
				}
			}
			.cart_quantity_up{
				right: 0;
				&:before{
					content: '\f106';
				}
			}
			.cart_quantity_down{
				left: 0;
				&:before{
					content: '\f107';
				}
			}
		}
		tfoot{
			tr {
				&:before, &:after{
					content:'';
					display: table;
					clear: both;
				}
				td,.cart_unit, .cart_total,.price,.text-right {
					color: $black;
					font-size: 13px;
					padding: 0;
					width: 100%;
				}
				.text-right{
					font-weight: 600;
				}
				.price{
					text-align: left;
				}
			}
		}
	}
	//loyality
	#HOOK_SHOPPING_CART {
		#loyalty{
			color: #5f5f5f;
			font-size: 13px;
			line-height: 2;
			margin: 30px 0 15px;
			b, strong{
				font-weight: 600;
			}
			i{
				display: none;
			}
		}
	}
}
/* tablet */
@media (max-width: $screen-xs-max) and (min-width: $screen-xs-landscape + 1){
	#cart_summary{
		tbody{
			tr {
				display: flex;
				justify-content: space-between;
				padding: 35px 0;
			}
			td{
				padding: 0;
			}
		}
		.cart_product{
			order: 1;
		}
		.cart_unit{
			order: 2;
			max-width: 80px;
		}
		.cart_avail{
			order: 3;
		}
		.cart_description{
			order: 4;
			max-width: 145px;
		}
		.cart_quantity{
			order: 5;
			width: 90px;
		}
		.cart_delete{
			order: 6;
		}
		.cart_total{
			display: none;
		}
		tfoot {
			display: flex;
			justify-content: space-between; 
			background: #f5f5f5;
			margin: 0 (-$base-offset);
			tr {
				background: none;
				padding: 30px $base-offset;
				&:not(:last-child){
					border-right: 1px solid #e5e5e5;
				}
				.text-right{
					margin-bottom: 8px;
				}
			}
		}
		#total_price{
			font-size: 20px;
		}
	}
}
/* mobile */
@media (max-width: $screen-xs-landscape){
	/*voucher*/
	#voucher{
		margin: 0 (-$base-offset) 30px;
		padding: 0 $base-offset 25px;
		border-bottom: 1px solid #e5e5e5;
	}
	#cart_summary{
		tbody{
			tr{
				position: relative;
			}
			td {
				float: none;
				padding: 7px 0 7px 104px;
				text-align: left;
				width: auto;
			}
			.cart_description{
				padding-right: 32px;
			}
		}
		.cart_product {
			float: left;
		}
		.cart_delete{
			position: absolute;
			right: 0;
			top: 22px;
			width: auto;
			padding: 0;
		}
		tfoot{
			tr {
				margin: 0 (-$base-offset);
				padding: 30px $base-offset;
				&:not(:last-child) {
					border-bottom: 1px solid #e5e5e5;
				}
			}
		}
	}
	#HOOK_SHOPPING_CART {
		#loyalty{
			margin-bottom: 30px;
		}
	}
}
@media (max-width: 320px){
	#cart_summary{
		 tfoot {
		 	tr{
				margin: 0 (-$base-offset-xs);
				padding-left: $base-offset-xs;
				padding-right: $base-offset-xs;
		 	}
		 }
	}
}