@import "variables";
body {
	color: $clr-thirty-four;
}

.styled-select dl i.toggle:hover {
	background: $theme-color-one;
	color: $white;
}



/* color */

.search_query {
	background: transparent;
}

#features_home,
#quantity_wanted_p>a:hover,
#quantity_wanted_p>a:active,
#social_block,
.form-control.white,
.socialsharing_product .btn.btn-default i,
.wrap_arrows_review>div,
.button_down:hover,
.wrap_button_video,
.shopping_cart >a:first-child:before,
.game-tabs.nav.nav-tabs > li:not(.active):active a,
.game-tabs.nav.nav-tabs > li.active a,
.game-tabs.nav.nav-tabs > li a.selected,
.game-tabs.nav.nav-tabs > li a:hover,
#video-promo-wrap:before,
#video-promo-wrap:after,
.pb-left-column #image-block #view_full_size .span_link,
#social-share-compare button,
#products-comparison .socialsharing_product .btn.btn-default:hover i,
.socialsharing_product .btn.btn-default:hover i,
#maintenance,
#product .socialsharing_product .btn.btn-default i,
.cat-title,
#social_block li a:before,
.tp-caption.scroll_down:before,
.banner-item_feature .wrap-icon,
.wrap_tabs_home li:hover a:before,
.wrap_tabs_home li.active a:before,
.top-pagination-content ul.pagination li:not(.active):active>a,
.bottom-pagination-content ul.pagination li:not(.active):active>a,
.tabs_list li a:hover,
.tabs_list li.active a,
#back-top,
.white_clr,
.baner_2 .description_banner,
.top-pagination-content ul.pagination li.active > span,
.bottom-pagination-content ul.pagination li.active > span,
#categories_block_left li:hover>a,
#categories_block_left li:hover>span.grower.OPEN:before,
#categories_block_left li:hover>span.grower.CLOSE:before,
.chosen-container-single .chosen-single div:hover,
div.selector:hover:after,
div.selector:active:after,
.chosen-container-active.chosen-with-drop .chosen-single div,
.wrap_descr_banner,
#views_block>a:hover,
#views_block>a:active,
.easycarousels .grid-style-arrows .bx-wrapper .bx-controls-direction>a:active,
.function_btn:hover,
.function_btn:active,
ul.step li.step_current b,
.label.label-success,
#back-top a:hover,
.top-pagination-content ul.pagination li:hover > a,
.bottom-pagination-content ul.pagination li:hover > a {
	color: $white;
}

.easycarousels .grid-style-arrows .bx-wrapper .bx-controls-direction>a:hover,
.easycarousels .grid-style-arrows .bx-wrapper .bx-controls-direction>a:active {
	color: $white!important;
}

.fancybox-skin .fancybox-close,
.post-more,
.post-date,
#footer h4,
h1,
.title_main_section,
.product-name,
.title-box,
.box-item h3,
.block .title_block,
.block h4,
label,
.sf-menu li ul li a:hover,
.chosen-container-single .chosen-single div,
#quantity_wanted_p>a,
.simpleblog-category .post-additional-info>span,
.simpleblog-home .post-additional-info>span {
	color: $theme-color-one;
}

.banner-top p,
.custombanners.displayCustomBanners2 .banner-item p {
	color: $clr-twelve;
}

.easycarousels .bx-wrapper .bx-controls-direction a {
	color: $clr-thirty-three;
}

.product-container {
	border-color: $clr-twenty-two;
}

#footer {
	color: $clr-thirty-three;
}

.post-meta-info i {
	color: $theme-color-one;
}

.content_price .reduce_style.price:after {
	color: $clr-twenty-two
}

#newsletter-input {
	color: $clr-thirty-three
}

#newsletter-input::-webkit-input-placeholder {
	color: $clr-thirty-three;
}

#newsletter-input::-moz-placeholder {
	color: $clr-thirty-three;
}


/* Firefox 19+ */

#newsletter-input:-moz-placeholder {
	color: $clr-thirty-three;
}


/* Firefox 18- */

#newsletter-input:-ms-input-placeholder {
	color: $clr-thirty-three;
}

#layered_block_left #enabled_filters .layered_subtitle,
#last_quantities,
#view_scroll_left:hover,
#view_scroll_right:hover,
#pagenotfound h2 span,
.dproductrating .response,
.ajax_block_product .add_to_compare:before {
	color: $clr-thirty-three;
}

.easycarousels .bx-wrapper .bx-controls-direction a:hover {
	color: $clr-ten!important;
}

#footer .footer-block ul li a,
.custombanners.displayFooter p {
	color: $clr-thirty-three;
}

#block_contact_infos ul li:before {
	color: $clr-sixteen;
}

#layered_block_left .nomargin a {
	color: $clr-nine;
}

#layered_block_left .nomargin a span {
	color: $clr-twenty-two;
}

#layered_weight_range span,
#layered_price_range span {
	color: $clr-thirty-two;
}

.wrap_quan label {
	color: $clr-thirty-two;
}

#maintenance #social_block li a:hover {
	color: $clr-sixteen;
}

.facebook-box .likeButton {
	color: $clr-sixteen;
}

#idTab1,
.banner-item_feature .custom-html p,
.old-price,
#old_price,
.post-description,
.home-carousel .post_content {
	color: $clr-fifteen;
}

#header .cart_block .cart_block_list .remove_link a:hover,
#header .cart_block .cart_block_list .ajax_cart_block_remove_link:hover,
#stop,
.value_bullet,
.checked:before,
.pb-left-column .category-product-title,
.cart_quantity .cart_quantity_button a:hover,
#my-account ul.myaccount-link-list li a:hover,
ul.myaccount-link-list li a i,
p.payment_module a:hover,
table#product_comparison .remove a:hover,
.content_sortPagiBar .sortPagiBar #productsSortForm label:before,
.content_sortPagiBar .sortPagiBar .nbrItemPage label:before,
.comment_author_infos strong,
.comment_details .title_block strong,
#layer_cart .crossseling h2,
#layer_cart .layer_cart_product h2,
#layer_cart .layer_cart_cart h2,
#layer_cart .cross:hover,
#reviews_carousel .subject_review,
#social_block li a,
#page .layered_slider.ui-slider.ui-slider-horizontal,
#page .ui-slider-handle.ui-state-default.ui-corner-all,
.gba .single_post .date_add,
.gba .single_post .subject,
.button_down,
.form-control,
.elem_butt li a:hover,
.checker .checked:before,
.radio .checked:before,
.item-news .tte-news,
.home-carousel .customer_name,
.breadcrumb,
#availability_statut,
.post-additional-info>span:before,
.ph_simpleblog .simpleblog-posts .post-additional-info a,
.grid-style-arrows .bx-wrapper .bx-controls-direction>a,
.bx-controls-direction>a,
a:hover,
#footer .footer-block ul li:hover a,
#footer .footer-block ul li:before,
.block .products-block .product-name,
#layered_block_left .layered_subtitle,
div.star.star_on,
div.star.star_hover,
.game-tabs.nav.nav-tabs > li a,
.title_additional,
.tabs_list li a {
	color: $theme-color-one
}

.post-additional-info>span {
	color: $clr-twenty-two
}

.top-pagination-content ul.pagination li > a,
.top-pagination-content ul.pagination li > span,
.breadcrumb a,
.bottom-pagination-content ul.pagination li > a,
.bottom-pagination-content ul.pagination li > span {
	color: $clr-fifteen;
}

div.star {
	color: $clr-thirty-one;
}

.comments_advices li a {
	color: $clr-twelve;
}

#products-comparison .socialsharing_product .btn.btn-default:not(:hover),
#products-comparison .socialsharing_product .btn.btn-default:not(:hover) i {
	color: $clr-thirty-two;
}

.cart_block .ajax_cart_block_remove_link {
	color: $clr-twenty-two
}


/* background*/

.content_sortPagiBar .display li.selected a:after,
.content_sortPagiBar .display_m li.selected a:after,
.content_sortPagiBar .display li.selected a:before,
.content_sortPagiBar .display_m li.selected a:before,
.content_sortPagiBar .display li.selected a span:before,
.content_sortPagiBar .display_m li.selected a span:before,
.content_sortPagiBar .display li.selected a span:after,
.content_sortPagiBar .display_m li.selected a span:after,
.owl-pagination .owl-page span,
.game-tabs.nav.nav-tabs > li.active a,
.game-tabs.nav.nav-tabs > li a:hover,
.game-tabs.nav.nav-tabs > li a.selected,
#product .wrap_up_down .button-plus:hover,
#product .wrap_up_down .button-minus:hover,
.back_product,
div.uploader span.action,
.chosen-container .chosen-results li.highlighted,
.label-success,
ul.step li.step_current,
ul.step li.step_current span:after,
div.uploader span.action,
div.radio span.checked:before,
#back-top,
.tabs_list li a:hover,
.tabs_list li.active a,
.tp-bullets.simplebullets.round .bullet:hover,
.tp-bullets.simplebullets.round .bullet.selected,
.tp-bullets.simplebullets.navbar .bullet:hover,
.shopping_cart >a:first-child:before,
.tp-bullets.simplebullets.navbar .bullet.selected,
.pb-left-column #image-block #view_full_size .span_link,
.top-pagination-content ul.pagination li.active > span,
.bottom-pagination-content ul.pagination li.active > span,
.sf-menu > li > a:before,
div.selector:hover:after,
#views_block>a:hover,
.grid-style-arrows .bx-wrapper .bx-controls-direction>a:hover,
.top-pagination-content ul.pagination li:hover > a,
.bottom-pagination-content ul.pagination li:hover > a,
#quantity_wanted_p>a:hover {
	background-color: $theme-color-one;
}

.function_btn {
	border-color: $theme-color-one;
	background-color: transparent;
	color: $theme-color-one;
}

#back-top:hover {
	border-color: $theme-color-one;
	background: $theme-color-one;
	color: $white;
}

.grid-style-arrows .bx-wrapper .bx-controls-direction>a:active,
.chosen-container-active.chosen-with-drop .chosen-single div,
#views_block>a:active,
#quantity_wanted_p>a:active,
.wrap-view .function_btn:active,
#back-top:active,
.pb-left-column #image-block #view_full_size .span_link:hover,
.top-pagination-content ul.pagination li:active > a,
.bottom-pagination-content ul.pagination li:active > a,
.top-pagination-content ul.pagination li:not(.active):active,
.bottom-pagination-content ul.pagination li:not(.active):active,
.game-tabs.nav.nav-tabs > li:not(.active):active a,
div.selector:active:after {
	background: $theme-color-one;
	border-color: $theme-color-one;
}

#footer,
.wrap_breadcrumb {
	background: $clr-thirty-one;
}

.content_sortPagiBar .display li a:after,
.content_sortPagiBar .display_m li a:after,
.content_sortPagiBar .display li a:before,
.content_sortPagiBar .display_m li a:before,
.content_sortPagiBar .display li a span:before,
.content_sortPagiBar .display_m li a span:before,
.content_sortPagiBar .display li a span:after,
.content_sortPagiBar .display_m li a span:after,
.underline_round:after {
	background: $theme-color-one;
}

#pagenotfound h2 span,
#maintenance h1 span,
#languages-block-top ul,
.drop_content_user,
#currencies-block-top ul,
.tag,
.ajax_block_product .product_img_link:before,
#header .cart_block,
#header,
#newsletter-input,
div.copyright,
.banner-item_feature .banner-item-content,
.tp-bullets.simplebullets.round .bullet,
.tp-bullets.simplebullets.navbar .bullet,
#page .ui-slider-range.ui-widget-header.ui-corner-all {
	background: $white;
}

#categories_block_left li:hover>a,
.socialsharing_product .btn.btn-default,
#social_block li a,
#page .layered_slider.ui-slider.ui-slider-horizontal,
#page .ui-slider-handle.ui-state-default.ui-corner-all {
	background: $clr-thirty-two;
}

.banner-item_feature .wrap-icon,
.function_btn:hover {
	background: $clr-thirty-two;
}

#categories_block_left ul li ul,
#categories_block_left ul li:hover {
	background: $clr-fourteen;
}


/* border */

.form-control.white,
.button_down {
	border-color: $white;
}

.grid .product-container h5:before,
.grid .product-container h5:after {
	border-color: $clr-twenty-two;
}

.socialsharing_product .btn.btn-default {
	border-color: $clr-thirty-two;
}

.link_more:before,
#editorial_block_center .view_more:before {
	border-color: $clr-twenty-two;
}

.game-tabs.nav.nav-tabs > li a:hover,
.game-tabs.nav.nav-tabs > li.active a:hover,
{
	border-color: $clr-thirty-two;
}

#maintenance #social_block li a:hover {
	border-color: $clr-sixteen;
}

.facebook-box .fb_followers li img {
	border-color: rgba(0, 188, 255, 0.66);
}

.cart_block .cart_block_no_products,
.content_sortPagiBar .display li,
.content_sortPagiBar .distay_m li,
.home-carousel .post__inner,
.item-container>a,
#categories_block_left ul li ul,
.box-item.bordered,
.item-news .custom-html,
.simpleblog-recent .post-additional-info,
.content_sortPagiBar,
.wrap_image_block,
#view_scroll_left,
#view_scroll_right,
.game-tabs.nav.nav-tabs > li a,
.simpleblog-recent .post-date,
.manufacturer-name,
.bottom-block-page .grid .right-block,
.grid .right-block h5,
.wrap_extra_right,
.wrap_image_left,
.banners_line .banner-item,
.twa_posts.home-carousel .post_footer:before,
.content_sortPagiBar .sortPagiBar>*,
.top-pagination-content ul.pagination li,
#quantity_wanted_p>a:before,
#quantity_wanted_p,
.chosen-container-single .chosen-single,
div.selector,
#thumbs_list li a,
#views_block>a,
#layered_block_left #enabled_filters,
.list .product-image-container:before,
.block .products-block .item,
#more_info_sheets,
.block .list-block .form-group,
.block .list-block li,
.ajax_block_product .add_to_compare,
.bottom-pagination-content ul.pagination li,
.block .products-block .item .products-block-image,
div.checker span,
div.radio span,
#page .ui-slider-range.ui-widget-header.ui-corner-all,
#left_column .block .block_content,
#right_column .block .block_content,
.cart_block .cart-prices .cart-prices-line,
.cart_block dl.products,
.cart_block .cart-images,
.manufacturer-name,
.wrap_tabs_home,
.tabs_list,
.tabs_list li,
.twa_posts.home-carousel,
.wrap_tweets {
	border-color: $clr-twenty-two;
}
.wrap_quan #quantity_wanted_p input{
	border-color: $clr-twenty-two!important;
}
#categories_block_left li,
.content_prices,
#product .wrap_share,
.wrap_attr,
.product_attributes,
.product_comments_block_extra,
.wrap_buttons {
	border-color: $clr-thirty-one;
}

#view_scroll_left,
#view_scroll_right,
{
	color: $clr-twenty-two;
}

.tag {
	border-color: $clr-twenty-two;
	color: $theme-color-one;
}

#permanent_links_footer a,
.search_query,
.copyright a,
.sf-menu li ul li a,
#header .cart_block .cart-prices .cart-prices-line .price {
	color: $clr-twelve;
}

.search_query::-webkit-input-placeholder {
	color: $clr-twelve;
}

.search_query::-moz-placeholder {
	color: $clr-twelve;
}


/* Firefox 19+ */

.search_query:-moz-placeholder {
	color: $clr-twelve;
}


/* Firefox 18- */

.search_query:-ms-input-placeholder {
	color: $clr-twelve;
}

.grid-style-arrows .bx-wrapper .bx-controls-direction>a,
.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td,
#my-account ul.myaccount-link-list li a:hover,
#my-account ul.myaccount-link-list li a:hover span,
#my-account ul.myaccount-link-list li a i,
.table-bordered,
p.payment_module a:hover,
#reviews_carousel .wrap_avatar_review img,
ul.step li.step_current span,
.gba .single_post .inner_item,
.addForm .imgholder,
div.checker span.checked,
div.radio span:checked,
#left_column .block .button,
.btn.btn-default.blue_btn,
.owl-pagination .owl-page,
.game-tabs.nav.nav-tabs li.active a,
.game-tabs.nav.nav-tabs > li:hover a,
.sf-menu>li>ul,
#layered_form .color-option.on,
#attributes .attribute_list #color_to_pick_list li.selected,
.content_sortPagiBar .display_m li:hover,
.content_sortPagiBar .display_m li:hover,
.content_sortPagiBar .display li.selected,
#header .cart_block,
#quantity_wanted_p>a:hover:before,
.content_sortPagiBar .display li.selected,
.top-pagination-content ul.pagination li:hover,
.bottom-pagination-content ul.pagination li:hover,
.top-pagination-content ul.pagination li.active,
.bottom-pagination-content ul.pagination li.active,
#views_block>a:hover,
.function_btn:hover,
#page .ui-slider-handle.ui-state-default.ui-corner-all:hover,
#page .ui-slider-handle.ui-state-default.ui-corner-all.ui-state-active {
	border-color: $theme-color-one;
}

.tparrows.default.tp-leftarrow {
	border-bottom-color: $theme-color-one;
	border-right-color: $theme-color-one;
}

.tparrows.default.tp-rightarrow {
	border-top-color: $theme-color-one;
	border-left-color: $theme-color-one;
}

.tparrows.default.tp-leftarrow:hover {
	border-bottom-color: $clr-twenty-three;
	border-right-color: $clr-twenty-three;
}

.tparrows.default.tp-rightarrow:hover {
	border-top-color: $clr-twenty-three;
	border-left-color: $clr-twenty-three;
}

.wrap-view .function_btn:active,
#views_block>a:active,
.grid-style-arrows .bx-wrapper .bx-controls-direction>a:active,
#quantity_wanted_p>a:active:before {
	border-color: $clr-fifteen;
}

#layered_form .color-option {
	border-color: $clr-nine;
}

header .nav,
.header_user_info .drop_content_user a,
#currencies-block-top,
#languages-block-top,
.search_query,
#languages-block-top ul,
.drop_content_user,
#currencies-block-top ul,
.fixedHeader .main_panel,
.drop_links,
.search-box,
.shop-phone {
	border-color: $clr-twenty-two;
}

.button-search,
#languages-block-top .current:after,
.drop_content_user a:before,
#currencies-block-top div.current:after {
	font-size: 13px;
	color: $theme-color-one;
}

.drop_content_user a:hover {
	color: $theme-color-one;
}


/* shadow */

.button_down:hover {
	-webkit-box-shadow: inset 0 0 0 100px $theme-color-one;
	-moz-box-shadow: inset 0 0 0 100px $theme-color-one;
	box-shadow: inset 0 0 0 100px $theme-color-one;
}

.form-control:focus {
	-webkit-box-shadow: 0 0 7px 0 rgba($theme-color-one, .7);
	-moz-box-shadow: 0 0 7px 0 rgba($theme-color-one, .7);
	box-shadow: 0 0 7px 0 rgba($theme-color-one, .7);
	border-color: transparent;
}

.form-control.white:focus {
	border-color: transparent;
	-webkit-box-shadow: 0 0 10px 0 $white;
	-moz-box-shadow: 0 0 10px 0 $white;
	box-shadow: 0 0 10px 0 $white;
}


/* social button */

#products-comparison .socialsharing_product .btn.btn-default:not(:hover) {
	background-color: transparent;
}

.socialsharing_product .btn.btn-default.btn-twitter:hover,
#social_block li.twitter a:hover {
	background-color: $clr-twenty-four;
}

.socialsharing_product .btn.btn-default.btn-google-plus:hover,
#social_block li.google_plus a:hover {
	background-color: $clr-twenty-five;
}

.socialsharing_product .btn.btn-default.btn-pinterest:hover,
#social_block li.pinterest a:hover,
#social_block li.youtube a:hover {
	background-color: $clr-twenty-five;
}

.socialsharing_product .btn.btn-default.btn-facebook:hover,
#social_block li.facebook a:hover {
	background-color: $clr-twenty-six;
}

#social_block li.instagram a:hover {
	background-color: $clr-twenty-six;
}

#social_block li.rss a:hover {
	background: $clr-twenty-eight;
}

#social_block li.vimeo a:hover {
	background: $clr-twenty-seven;
}

.socialsharing_product .btn.btn-default.btn-twitter:hover {
	border-color: $clr-twenty-four;
}

.socialsharing_product .btn.btn-default.btn-google-plus:hover {
	border-color: $clr-twenty-five;
}

.socialsharing_product .btn.btn-default.btn-pinterest:hover {
	border-color: $clr-twenty-five;
}

.socialsharing_product .btn.btn-default.btn-facebook:hover {
	border-color: $clr-twenty-six;
}

.field.show-input input {
	border-color: $clr-twenty-two;
}

@media (min-width:$screen-md) and (max-width:$screen-md-max) {
	.category_list .btn.ajax_add_to_cart_button,
	#product .center_column .none-margin-padding .btn.ajax_add_to_cart_button {
		color: $clr-twenty-two;
		background: transparent;
		border-color: $clr-thirty-one;
	}
	.category_list .btn.ajax_add_to_cart_button:hover,
	#product .center_column .none-margin-padding .btn.ajax_add_to_cart_button:hover {
		background-color: $theme-color-one;
		border-color: $theme-color-one;
		color: $white;
	}
	.category_list .btn.ajax_add_to_cart_button:active,
	#product .center_column .none-margin-padding .btn.ajax_add_to_cart_button:active {
		background: $clr-fifteen;
		border-color: $clr-fifteen;
	}
}

@media(max-width:$screen-xs-max) {
	.cat-title {
		background: $theme-color-one;
	}
	.function_btn {
		background: $theme-color-one;
		color: $white;
	}
	.function_btn:hover {
		border-color: $clr-thirty-two;
	}
}
