form#sendComment fieldset {
	padding: 10px;
	border: 1px solid $clr-thirty-three;
	background: $clr-fourteen; }

form#sendComment h3 {
	font-size: 14px; }

#new_comment_form p.text {
	margin-bottom: 0;
	padding-bottom: 0; }

#sendComment p.text label,
#sendComment p.textarea label {
	display: block;
	margin: 12px 0 4px;
	font-weight: bold;
	font-size: 12px; }

#sendComment p.text input {
	padding: 0 5px;
	height: 28px;
	width: 498px;
	border: 1px solid $clr-thirty-three;
 }

#sendComment p.textarea textarea {
	height: 80px;
	width: 508px;
	border: 1px solid $clr-thirty-three; }

#sendComment p.submit {
	padding: 0;
	text-align: right; }

#sendComment p.closeform {
	float: right;
	padding: 0;
	height: 12px;
	width: 12px;
}