.fancybox-skin {
	background: white !important;
	padding: 8px 30px !important;
}
.fancybox-wrap{
	max-width: 100%;
}
.fancybox-skin .fancybox-close {
		background: none;
		font-size: 22px;
		font-weight: 300;
		top: 0;
		right: 0;
		color: $theme-color-one;
		line-height: 40px;
		width: 40px;
		height: 40px;
		text-align: center;
		&:hover {
			text-decoration: none;
		}
}
.fancybox-overlay .fancybox-error {
	padding: 15px 40px 15px 15px;
	white-space: normal;
}
.fancybox-outer,.fancybox-type-iframe .fancybox-inner{
	overflow: hidden !important;
}
.fancybox-overlay{
	z-index: 10000;
}
body.content_only{
	padding: 50px 30px 30px 15px;
	> div {
		overflow: hidden;
	}
}
/* tablet and mobile */
@media (max-width: $screen-xs-max){
	.fancybox-skin{
		border-radius: 0;
	}
	.fancybox-type-iframe{
		.fancybox-skin{
			padding: 0!important;
		}
	}
	.fancybox-wrap{
			&.fancybox-type-iframe{
				top: 0!important;
				bottom: 0!important;
				left: 0!important;
				right: 0!important;
				width: auto!important;
				position: fixed!important;
				.fancybox-skin,.fancybox-outer, .fancybox-inner{
					height: 100% !important;
				}
				.fancybox-outer, .fancybox-inner{
					width: 100%!important;
				}
			}
	}
	.fancybox-inner{
		-webkit-overflow-scrolling: touch;
	}
	body.content_only.product{
		overflow: hidden!important;
		> div {
			height: 100%;
			overflow: auto;
			overflow-x: hidden;
			-webkit-overflow-scrolling: touch;
		}
	}
	#cms{
		.content_only{
			padding: 25px;
		}
	}
}