#footer {
	padding-top: 70px;
}

.toggle-footer {
	font-size: 13px;
	font-weight: 300;
	line-height: 1.5;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	will-change: transform;
	transition: transform .3s, visibility .3s, opacity .3s;
	transform: translateY(-30px);
	&.open {
		position: static;
		opacity: 1;
		overflow: hidden;
		visibility: visible;
		transform: translateY(0px);
	}
}

#footer {
	h4 {
		font-size: 20px;
		text-transform: uppercase;
		margin: 0 0 25px;
		line-height: 1;
		font-weight: 700;
		a:hover {
			//color: $white;
		}
	}
	.footer-block ul li {
		position: relative;
		line-height: 1.2;
		margin-bottom: 11px;
		a {
			font-size: 14px;
			font-weight: 300;
		}
		&:hover a {
			text-decoration: underline;
		}
	}
	.bottom-footer {
		position: absolute;
		bottom: -55px;
		left: 0;
		display: none;
		div {
			padding: 15px 0 0 0;
			width: 100%;
			//border-top: 1px solid $clr-fifteen;
		}
	}
	#paiement_logo_block_left {
		float: right;
		line-height: 1;
		padding: 15px 15px 0;
	}
}

.copyright {
	clear: both;
	position: relative;
	padding: 26px 0;
	a {
		font-weight: 300;
	}
}

.wrap_copy {
	float: left;
}

.copyright .inner_copyright {
	position: relative;
}

#footer > .container > .row {
	position: relative;
	padding-bottom: 50px;
}

.copyright a span {
	text-transform: uppercase;
}

#reinsurance_block {
	clear: both !important;
}

#back-top {
	right: 25px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	bottom: 72px;
	position: fixed;
	z-index: 9;
	text-align: center;
	cursor: pointer;
	a {
		display: block;
		width: 100%;
		font-size: 18px;
	}
}

.blockcategories_footer ul ul {
	display: none !important;
}

#block_contact_infos i {
	padding-right: 4px;
}

@media (min-width: $screen-sm) {
	#footer h4:after {
		display: none;
	}
}

@media (max-width: $screen-md-max) {
	#footer h4 {
		font-size: 14px;
	}
}

@media (max-width: $screen-mobile) {
	#footer {
		padding-top: 40px;
	}
}

@media (max-width: $screen-sm-max) {
	#footer {
		h4 {
			font-size: 13px;
		}
		.footer-block ul li:before {
			top: 5px;
		}
	}
	.copyright {
		a {
			font-size: 12px;
		}
		.inner_copyright {
			padding: 10px 0;
		}
	}
	.wrap_copy,
	#permanent_links_footer {
		width: 100%;
		text-align: center;
	}
	.copyright {
		padding: 40px 0 15px;
	}
}

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
	#footer .footer-block ul li a {
		font-size: 11px;
	}
	.toggle-footer {
		font-size: 12px;
	}
}

@media (max-width: $screen-xs-max) {
	#footer{
		padding-top: 15px;
		> .container{
			padding-bottom: 25px;
		}
	}
	.footer-block{
		margin-bottom: 12px;
		padding: 0 $base-offset;
	}
	#footer > .container > .row {
		padding-bottom: 0;
	}
	.copyright a {
		font-size: 11px;
	}
	#footer {
		> .container {
			padding-bottom: 20px;
		}
		h4 {
			position: relative;
			margin-bottom: 0;
			line-height: 40px;
			border-bottom: 1px solid;
			cursor: pointer;
			font-size: 16px;
			&.active {
				border-bottom: none;
			}
			&:after {
				display: block;
				position: absolute;
				right: 0;
				top: 1px;
				width: 40px;
				height: 40px;
				font-size: 12px;
				text-align: right;
			}
		}
	}
}

@media (max-width: 640px) {
	.copyright a {
		width: 100%;
		text-align: center;
	}
	#footer #paiement_logo_block_left {
		float: none;
		clear: both;
		display: table;
		margin: 0 auto;
		padding-top: 15px;
	}
}

/* mobile */
@media (max-width: $screen-xs-mobile){
	.copyright {
		padding-bottom: 10px;
		.inner_copyright{
			color: #656565;
			font-size: 11px;
		}
	}
}