.footer_links {
	border-top: 1px solid #e5e5e5;
	margin-top: 30px;
	padding: 40px 0 0px 0;
	li {
		float: left; 
		+ li {
			margin-left: 10px;
		}
	}
}
@media (max-width: 579px) {
	.footer_links {
		li {
			float: left;
			padding-bottom: 15px;
			text-align: center;
			width: 100%;
			+ li {
				margin: 0;
			}
			a{
				font-size: 16px;
				width: 100%;
			}
		}
	}
}