textarea {
	padding-top: 10px;
	&.form-control {
		padding-top: 10px;
	}
}


/*fix inner shadow in Chrome and Safari mobile*/

input {
	&[type="text"],
	&[type="password"],
	&[type="button"],
	&[type="submit"],
	&[type="email"],
	&[type="number"],
	&[type="file"] {
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		border-radius: 0;
	}
}

textarea,
select,
input[type="tel"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0;
}

textarea {
	resize: none;
}

.radio-inline {
	white-space: nowrap;
}

label {
	padding-bottom: 0;
	white-space: normal;
	font-weight: normal;
	&.required:before {
		content: "*";
		color: $clr-eleven;
		font-size: 14px;
		position: relative;
		line-height: 12px;
	}
}

.radio label {
	padding-left: 5px;
}

.checkbox {
	label {
		padding-left: 5px;
		color: $theme-color-one;
	}
	line-height: 16px;
	white-space: nowrap;
}

.form-group {
	&.form-error {
		input,
		textarea {
			border: 1px solid $danger;
			color: $danger;
			&:focus{
				-webkit-box-shadow:0 0 7px 0 rgba($danger, .7);
				-moz-box-shadow:0 0 7px 0 rgba($danger, .7);
				box-shadow:0 0 7px 0 rgba($danger, .7);
			}
		}
	}
	&.form-ok {
		input,
		textarea {
			border: 1px solid $success;
			color: $success;
			&:focus{
				-webkit-box-shadow:0 0 7px 0 rgba($success, .7);
				-moz-box-shadow:0 0 7px 0 rgba($success, .7);
				box-shadow:0 0 7px 0 rgba($success, .7);
			}
		}
	}
	&.form-error .form-control,
	&.form-ok .form-control {
		padding-right: 30px;
	}
}

.radio-inline,
.checkbox {
	padding-left: 0;
}

.radio-inline .checker,
.checkbox .checker {
	float: left;
}

.radio-inline .checker span,
.checkbox .checker span {
	top: 0px;
}

.radio-inline .radio,
.checkbox .radio {
	display: inline-block;
}

.radio-inline .radio span,
.checkbox .radio span {
	float: left;
	top: 0px;
}

.form-control {
	height: 45px;
	padding: 0 10px 0 15px;
	background: none;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	border: 1px solid $color-ninety-nine;
	-webkit-box-shadow: 0 0 0 0 transparent;
	-moz-box-shadow: 0 0 0 0 transparent;
	box-shadow: 0 0 0 0 transparent;
	display: block;
	width: 100%;
	&:focus {
		outline: none;
	}
}

label[for="id_state"] {
	display: block;
}

.radio-inline,
.checkbox-inline {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	vertical-align: middle;
	cursor: pointer;
}

.radio,
.checkbox {
	position: relative;
	display: block;
}
div {
	&.radio,
	&.checkbox{
		margin: 10px 0;
	}
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
	margin-top: 0;
	margin-left: 10px;
}

.form-group {
	margin-bottom: 15px;
	label {
		display: block;
		margin-bottom: 10px;
	}
}
