@media (min-width: $screen-sm) {
	#header {
		z-index: 5003;
		width: 100%;
	}
	.main_panel > .container > .row {
		position: static;
	}
	#header_logo {
		line-height: 1;
		padding-right: 0;
		padding-top: 7px;
	}
	.fixedHeader {
		#header_logo {
			padding-top: 10px;
			img {
				padding: 0 30% 0 0;
			}
		}
		.main_panel {
			padding: 5px 0;
		}
	}
	#header_logo {
		a {
			display: block;
			white-space: nowrap;
			line-height: 1;
		}
		img {
			display: inline-block;
			vertical-align: middle;
		}
	}
	.main_panel {
		position: relative;
		padding: 35px 0;
		border-top-style: solid;
		border-top-width: 1px;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-color: transparent;
	}
	header {
		z-index: 1;
		width: 100%;
		.banner {
			background: $black;
			max-height: 100%;
			.row {
				margin: 0px;
			}
		}
		.nav {
			line-height: 50px;
			border-bottom: 1px solid;
			nav {
				width: 100%;
				position: relative;
			}
		}
		.row {
			position: relative;
			> .container {
				position: relative;
			}
		}
	}
	.mobile-title{
		display: none;
	}
	#header {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		&.fixedHeader{
			position: fixed;
			-webkit-transform: translateY(-51px);
			transform: translateY(-51px);
		}
	}
}

@media (max-width: $screen-md-max) and (min-width: $screen-sm) {
	.fixedHeader #header_logo {
		padding-top: 11px;
	}
}

/* mobile */
@media (max-width: $screen-xs-max){
	.no-index{
		#header{
			border-bottom: 1px solid $color-ninety-eight;
			margin-bottom: 27px;
		}
	}
	#product {
		#header{
			margin-bottom: 37px;
		}
	}
	.scroll-lock,.fancybox-lock {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		> body{
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
	#header{
		position: static;
		.container,
		.row{
			position: static;
		}
		.row {
			margin-left: 0;
			margin-right: 0;
		}
		.nav{
			background: $white;
			color: $black;
			height: auto;
			line-height: 1;
			text-align: right;
			padding: 20px 25px;
			position: relative;
		}
		.container {
			padding: 0;
			width: auto;
		}
		.box-table{
			float: left;
		}
	}
	//logo
	#header_logo{
		position: absolute;
		top: 26px;
		width: auto;
		max-width: calc(100% - 190px);
		padding: 0;
		left: 25px;
		img {
			max-height: 33px;
		}
	}
	// mobile wrapper
	.mobile-wrapper-menu{
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $white;
		color: $black;
		z-index: 10;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-transition: transform 0.4s ease, opacity .4s, visibility .3s;
		transition: transform 0.4s ease, opacity .4s, visibility .3s;
		-webkit-overflow-scrolling: touch;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		visibility: hidden;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			background: $white;
			height: 70px;
			z-index: 1;
		}
		.cart-active & {
			z-index: 12;
		}
	}
	.mobile-inner-menu{
		display: table;
		width: 100%;
		height: 100%;
	}
	.inner-menu-cell{
		display: table-cell;
		width: 100%;
		height: 100%;
		vertical-align:top;
		padding: 70px 0;
	}
	.box-relative{
		position: relative;
		padding: 0 38px;
	}
	.box-table{
		&:before, &:after{
			content: '';
			display: table;
			clear: both;
		}
	}
	.mobile-title{
		font-size: 20px;
		font-weight: 600;
		float: left;
		margin: 0;
	}
	//button menu active
	.menu-checkbox{
		&:checked{
			~ #header {
				#topMain{
					&:before{
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
					}
				}
				.mobile-wrapper-menu{
					-webkit-transform: translateY(0);
					transform: translateY(0);
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	.round{
		display:inline-block;
		width:40px;
		height:40px;
		text-align:center;
		margin:auto;
		position:relative;
		z-index:11;
		vertical-align:middle;
		@at-root .menu-btn {
			width:18px;
			position:relative;
			display:inline-block;
			vertical-align:text-bottom;
			height:3px;
			transition-timing-function: ease;
			transition-duration: .15s;
			transition-property: transform;
			border-radius: 4px;
			&:after,
			&:before {
				width:18px;
				position: absolute;
				height:3px;
				transition-timing-function: ease;
				transition-duration: .15s;
				transition-property: transform;
				border-radius: 4px;
			}
		}	
	}

	.menu-btn {
		background-color: $black;
		z-index: 11;
		transition: background-color 0s linear 0.15s;
		&:after,
		&:before {
			background-color: $black;
			top: 0;
			transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.3s, transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}
	}

	.menu-checkbox{
		&:checked ~ #header .menu-btn {
			transition-delay: .15s;
			background-color: transparent;
			&:before,
			&:after {
				top:-2px;
				transition: top 0.12s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.18s, transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1) 0.32s;
			}
			&:before {
				transform: translate3d(0, 10px, 0) rotate(-45deg);
			}
			&:after {
				transform: translate3d(0, 10px, 0) rotate(45deg);
			}
		}
	}

	.menu-btn {
		&:after,
		&:before {
			display: block;
			content: "";
		}
		&:before {
			top:12px;
		}
		&:after {
			top:6px;
		}
	}
}

@media (max-width: $screen-xs){
	#header_logo{
		max-width: 90px;
		top: 33px;
	}
}
@media (max-width: 320px){
	.box-relative{
		padding: 0 30px;
	}
}