.label {
	font-size: 75%;
	display: inline-block;
	font-weight: 700;
	color: $white;
	text-align: center;
	vertical-align: baseline;
	border-radius: .25em;
	white-space: normal;
	padding: 0 10px;
	line-height: 24px;
}
.label-success {
	background-color: $success;
	text-transform: uppercase;
}
.label-warning {
	background-color: $warning;
}
.label-danger{
	background-color: $danger;
}