.tag {
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 36px;
	height: 38px;
	position: absolute;
	top: -1px;
	left: -1px;
	text-align: center;
	padding: 0 16px;
	white-space: nowrap;
	border-style: solid;
	border-width: 1px;
	&.label-success{
		display: none;
	}
}

@media (max-width: $screen-sm-max) and (min-width: $screen-xs + 1){
	.tag{
		height: 30px;
		line-height: 28px;
		padding: 0 10px;
		font-size: 14px;
	}
}