#manufacturers_list h3, #suppliers_list h3 {
	font-size: 17px;
	line-height: 23px;
}

#manufacturers_list .description, #suppliers_list .description {
	line-height: 18px;
}

#manufacturers_list .product-counter a, #suppliers_list .product-counter a {
	font-weight: bold;
	color: $clr-ten;
}

#manufacturers_list .product-counter a:hover, #suppliers_list .product-counter a:hover {
	color: $color-ninety-two;
}

#manufacturers_list.list li .mansup-container, #suppliers_list.list li .mansup-container {
	border-top: 1px solid $color-fourty;
	padding: 31px 0 30px 0;
}

#manufacturers_list.list li:first-child .mansup-container, #suppliers_list.list li:first-child .mansup-container {
	border-top: 0;
}

#manufacturers_list.list li .left-side, #suppliers_list.list li .left-side {
	text-align: center;
}

#manufacturers_list.list li h3, #suppliers_list.list li h3 {
	margin-top: -5px;
	padding-bottom: 8px;
}

#manufacturers_list.list li .middle-side, #suppliers_list.list li .middle-side {
	padding-left: 0;
}

#manufacturers_list.list li .right-side-content, #suppliers_list.list li .right-side-content {
	border-left: 1px solid $color-fourty;
	padding: 0 0 32px 31px;
	min-height: 108px;
}

#manufacturers_list.list li .right-side-content .product-counter, #suppliers_list.list li .right-side-content .product-counter {
	position: relative;
	top: -6px;
	margin-bottom: 12px;
}

#manufacturers_list.grid li, #suppliers_list.grid li {
	text-align: center;
}

#manufacturers_list.grid li .product-container, #suppliers_list.grid li .product-container {
	padding-top: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid $color-fourty;
}

#manufacturers_list.grid li .product-container .left-side, #suppliers_list.grid li .product-container .left-side {
	padding-bottom: 42px;
}

#manufacturers_list.grid li .product-container h3, #suppliers_list.grid li .product-container h3 {
	padding-bottom: 10px;
}

#manufacturers_list.grid li .product-container .product-counter, #suppliers_list.grid li .product-container .product-counter {
	margin-bottom: 12px;
}

#manufacturer .description_box, #supplier .description_box {
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid $color-fourty;
}

#manufacturer .description_box .hide_desc, #supplier .description_box .hide_desc {
	display: none;
}
@media (min-width:$screen-sm) and (max-width:$screen-md-max) {
	#manufacturers_list.grid li.first-item-of-tablet-line,
	#suppliers_list.grid li.first-item-of-tablet-line {
		clear: left;
	}

	#manufacturers_list.grid li.last-tablet-line .product-container,
	#suppliers_list.grid li.last-tablet-line .product-container {
		border-bottom: none;
	}
}
@media (max-width: $screen-xs-max) {
	#manufacturers_list.list li .mansup-container,
	#suppliers_list.list li .mansup-container {
		text-align: center;
	}
	#manufacturers_list.list li .middle-side,
	#suppliers_list.list li .middle-side {
			padding-left: 15px;
			padding-right: 15px;
	}
	#manufacturers_list.list li .right-side-content,
	#suppliers_list.list li .right-side-content {
		border: none;
		min-height: 1px;
		padding: 0;
	}

	#manufacturers_list.list li .right-side-content .product-counter,
	#suppliers_list.list li .right-side-content .product-counter {
		top: 0;
	}

	#manufacturers_list.grid .product-container,
	#suppliers_list.grid .product-container {
		border-bottom: none;
	}
}