#pagenotfound {
	height: 100%;
	width: 100%;
	-webkit-background-size: cover;
	background-size: cover;
}

html.pagenotfound {
	#page {
	height: 100%;
	}
	height: 100%;
}

#pagenotfound h2 {
	font-size: 48px;
	line-height: 1;
	text-transform: uppercase;
	margin-bottom: 54px;
	line-height: 90px;
	height: 90px;
}

.form_404 {
	display: none;
}

#pagenotfound {
	h2 {
		.not_found {
			padding: 0 85px;
		}
		span {
			display: inline-block;
		}
		.p_404 {
			font-weight: 700;
			padding: 0 14px 0 17px;
			margin-right: 14px;
		}
	}
	header .nav {
		display: none;
	}
	h1 {
		font-size: 130px;
		font-weight: 700;
		line-height: 1;
		text-transform: uppercase;
		margin-bottom: 73px;
	}
	.columns-container {
		background: transparent;
		padding: 220px 0 60px;
	}
	.pagenotfound {
		margin: 0 auto;
		text-align: center;
	}
	#footer {
		display: none;
	}
	.pagenotfound {
	.img-404 {
		padding: 8px 0 27px 0;
	}
	p {
		padding-bottom: 20px;
		font-size: 30px;
		text-transform: uppercase;
		font-weight: 300;
	}
		.form-control {
			max-width: 293px;
			display: inline-block;
			margin-right: 5px;
			vertical-align: top;
			height: 55px;
			padding: 26px 10px 27px;
		}
	}
	.form-control {
		&::-webkit-input-placeholder {
			color: $white;

		}
		&::-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder {
			color: $white;

		}
	}
	.pagenotfound .buttons {
		&:before {
			content: '';
			display: table;
			width: 78px;
			margin: 19px auto 66px;
			border-bottom-style: double;
			border-bottom-width: 4px;
		}
	a {
		display: table;
		margin: 0 auto;
	}
	}
	#left_column, #right_column {
		display: none;
	}
	.center_column {
		width: 100%;
	}
}

@media (max-width: $screen-xs-max) {
	#pagenotfound {
		.pagenotfound label {
			display: block;
		}
		h2 .p_404 {
			margin-right: 5px;
		}
		h1 {
			font-size: 70px;
		}
		.columns-container {
			padding: 150px 0;
		}
	}
}

@media (max-height: $screen-sm) {
	#pagenotfound {
		h1 {
			font-size: 75pt;
		}
		.columns-container {
			padding: 190px 0 50px;
		}
		h2 {
			font-size: 35px;
			line-height: 70px;
			margin-bottom: 40px;
		}
		.pagenotfound p {
			font-size: 25px;
		}
	}
}

@media (max-height: 680px) {
	#pagenotfound {
		h1 {
			font-size: 90px;
			margin-bottom: 50px;
		}
		h2 {
			font-size: 25px;
			height: 50px;
			line-height: 50px;
			.not_found {
			padding: 0 2pc;
			}
		}
		.columns-container {
			padding: 150px 0 30px;
		}
		.pagenotfound p {
			font-size: 20px;
		}
	}
}

@media (max-height: 620px) {
	html.pagenotfound {
		height: auto;
	}
}

@media (max-width: $screen-sm-max) {
	#pagenotfound {
		h1 {
			font-size: 5pc;
		}
		h2 {
			font-size: 18px;
			line-height: 40px;
			span {
			height: 40px;
			}
		}
	}
	html.pagenotfound {
		height: auto;
	}
}

@media (max-width: 579px) {
	#pagenotfound {
		h1 {
			font-size: 75pt;
			span {
			&:after, &:before {
				font-size: 60px;
				height: 4pc;
				left: -70px;
			}
			&:after {
				left: auto;
				right: -70px;
			}
			}
		}
		.columns-container {
			padding: 75pt 0;
		}
	}
}

@media (max-width: $screen-xs) {
	#pagenotfound {
		h2 {
			.not_found {
			padding: 0 10px;
			}
			font-size: 14px;
		}
		h1 {
			font-size: 50px;
		}
	}
	.form_404 {
		padding-right: 85px;
		position: relative;
		.btn {
		position: absolute;
		right: 0;
		top: 0;
		}
	}
}

@media (max-width: 419px) {
	#pagenotfound .columns-container {
		padding: 50px 0;
	}
}