

.multishipping_close_container {
	text-align: center;
}



#multishipping_mode_box {
	padding-top: 12px;
	padding-bottom: 19px;
	.title {
		font-weight: bold;
		margin-bottom: 15px;
	}
	.description_off {
		display: none;
		margin-bottom: 10px;
		a:hover {
			background: $color-ninety-three;
			border: 1px solid $color-fourty-eight;
		}
	}
	.description a:hover {
		background: $color-ninety-three;
		border: 1px solid $color-fourty-eight;
	}
	&.on .description_off {
		display: block;
	}
}

.multishipping-cart .cart_address_delivery.form-control {
	width: 198px;
}

#order .address_add.submit {
	margin-bottom: 20px;
}

#ordermsg {
	margin-bottom: 30px;
}

.addresses {
	.waitimage {
		display: none;
		float: left;
		width: 24px;
		height: 24px;
		background-image: url("../../../img/loader.gif");
		background-repeat: no-repeat;
		position: relative;
		bottom: -2px;
		left: 10px;
	}
	.checkbox.addressesAreEquals {
		clear: both;
		float: left;
		margin: 15px 0 25px 0;
	}
}

p.cheque-indent {
	margin-bottom: 9px;
}

.cheque-box .form-group {
	margin-bottom: 0px;
	.form-control {
		max-width: 269px;
		display: block;
	}
}

.order-confirmation.box {
	line-height: 29px;
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

.not-displayable {
	display: none;
}

.submit2 {
	padding-top: 20px;
}

#address,
#identity,
#account-creation_form,
#new_account_form,
#opc_account_form,
#authentication {
	.box{
		padding-bottom: 25px;
		line-height: 20px;
	}
	p.required {
		color: $color-ninety-four;
	}
	p.inline-infos {
		color: $color-ninety-four;
	}
	.form-control {
		max-width: 350px;
	}
	.form-group {
		.form-control#adress_alias{
			margin-bottom: 20px;
		}
	}
}

#address {
	.form-group .form-control {
		display: block;
	}
	.gender-line {
		margin-bottom: 4px;
		padding-top: 4px;
	}
}

#identity,
#account-creation_form,
#new_account_form,
#opc_account_form,
#authentication{
	.gender-line {
		margin-bottom: 15px;
		> label {
			margin-right: 10px;
			margin-bottom: 0;
			display: block;
			line-height: 2.5;
		}
		.radio-inline {
			 label{
				font-weight: normal;
				color: $color-thirty-nine;
			}
		}
	}
}



#identity ,
#authentication ,
#order-opc  {
	#center_column {
		.std {
			.row{
				margin-left: -5px;
				margin-right: -5px;
				.col-xs-4 {
					padding-left: 5px;
					padding-right: 5px;
					max-width: 120px;
				}
			}
			.footer_links {
				border: none;
				padding-top: 0;
			}
		}
	}
}





#new_account_form .box {
	.top-indent {
		padding-top: 10px;
	}
	.customerprivacy {
		padding-top: 15px;
	}
}

#authentication  {
	.account_creation{
		margin-bottom: 20px;
	}
}
/* tablet */
@media (max-width: $screen-xs-max) and (min-width: $screen-xs-landscape + 1){
	#opc_account_choice {
		> div {
			padding: 0 5px;
			width: 50%;
			&:nth-child(2){
				.opc-button{
					padding-top: 20px;
				}
			}
		}
	}
}
@media (max-width: $screen-xs-max){
	#order{
		color: $black;
	}
	#identity,
	#account-creation_form,
	#new_account_form,
	#opc_account_form,
	#authentication{
		.gender-line {
			margin-bottom: 12px;
		}
	}
	#identity ,
	#authentication ,
	#order-opc  {
		#center_column {
			.std {
				.row{
					.col-xs-4 {
						margin-bottom: 12px;
						max-width: none;
						width: 100%;
					}
				}
			}
		}
	}
	#address,
	#identity,
	#account-creation_form,
	#new_account_form,
	#opc_account_form,
	#authentication {
		p.required {
			font-size: 13px;
			margin-bottom: 15px;
		}
		.form-control{
			max-width: none;
		}
	}
}

@media (max-width: $screen-xs-mobile){
	#address, #identity, #account-creation_form, #authentication, #order{
		.box{
			border: none;
			background: none;
			padding: 0;
		}
		.page-subheading{
			font-size: 20px;
			text-align: left;
			font-weight: 400;
			margin-bottom: 32px;
			padding: 0;
		}
	}
}

@media (max-width: 480px){
	/*full width btn submit*/
	#address, #addresses, #authentication, #identity, #order-opc, #order-opc{
		.submit, .submit2{
			.btn{
				width: 100%;
			}
		}
	}
}