.columns-active{
	#columns{
		padding-left: 0;
		padding-right: 0;
	}
	.center_column{
		.container{
			margin-left: 0;
			margin-right: 0;
			width: auto;
		}
		> .clearfix{
			> .row{
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
	.column{
		padding-top: 70px;
	}
	.custombanners.displayCustomBanners1{
		padding-left: 15px;
		padding-right: 15px;
	}
}