.payment_module {
	margin-bottom: 10px;
	a {
		display: block;
		border: 1px solid $color-ninety-five;
		border-radius: 4px;
		font-size: 17px;
		line-height: 23px;
		font-weight: bold;
		padding: 33px 40px 34px 99px;
		letter-spacing: -1px;
		position: relative;
		&.bankwire {
			background: url(../img/bankwire.png) 15px 12px no-repeat $white;
		}
		&.cheque {
			background: url(../img/cheque.png) 15px 15px no-repeat $white;
		}
		&.cash {
			background: url(../img/cash.png) 15px 15px no-repeat $white;
		}
		&:after {
			display: block;
			position: absolute;
			right: 15px;
			margin-top: -11px;
			top: 50%;
			font-size: 25px;
			height: 22px;
			width: 14px;
		}
		&:hover {
			background-color: $white;
		}
		span {
			font-weight: bold;
		}
	}
}

.payment_module.box {
	margin-top: 20px;
}
#HOOK_PAYMENT > .row{
  clear: both;
}
#paypal-express-checkout-btn-product{
  float: none!important;
  margin: 0 !important;
}
/* mobile */
@media (max-width: $screen-xs-mobile){
	.payment_module{
		margin-bottom: 18px;
		a{
			color: $black;
			font-size: 13px;
			font-weight: normal;
			padding-bottom: 20px;
			padding-top: 20px;
		}
	}
}