#paiement_logo_block_left a {
	display: block;
}
#paiement_logo_block_left img {
	display: block;
	float: left;
	margin-left: 5px;
}
#paiement_logo_block_left img:first-child {
	margin-left: 0;
}

.column-side #paiement_logo_block_left {
	margin-bottom: 30px;
}
@media (max-width: $screen-xs-max){
	#paiement_logo_block_left img{
		width: 40px;
		height: 27px;
	}
}