#cmsinfo_block {
	margin-top: 50px;
	overflow: hidden;
	min-height: 344px;
	padding-right: 29px;
	padding-left: 29px;
	> div {
		padding: 35px 10px 0 0;
		+ div {
			min-height: 344px;
			padding-left: 29px;
		}
	}
	em {
		float: left;
		width: 60px;
		height: 60px;
		margin: 3px 10px 0 0;
		font-size: 30px;
		//color: $white;
		line-height: 60px;
		text-align: center;
		//background: $color-ninety-five;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		border-radius: 100px;
	}
	.type-text {
		overflow: hidden;
	}
	h3 {
		margin: 0 0 5px 0;
		font: 300 21px/25px "Open Sans", sans-serif;
		//color: $color-ninety-five;
	}
	ul li {
		padding-bottom: 22px;
	}
	p em {
		background: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		margin: 0;
		font-size: 13px;
		//color: $color-eighty-six;
		float: none;
		height: inherit;
		line-height: inherit;
		text-align: left;
		font-style: italic;
	}
}
#facebook_block{
	margin-bottom: 20px;
}
@media (max-width: $screen-xs-max){
	#facebook_block{
		width: 100%;
	}
	#cmsinfo_block{
		> div {
			width: 100%;
		}
	}
}