.price {
	font-size: 13px;
	white-space: nowrap; }

.price.product-price {
	font-size: 20px;
	font-weight: 700;
}
.old-price {
	text-decoration: line-through;
	font-weight: 300;
	font-size: 20px;
}
@media (max-width: $screen-md-max) and (min-width: $screen-xs + 1){
	.price.product-price{
		font-size: 16px;
	}
	.reduce_style.price.product-price, .reduce_style+.old-price{
		font-size: 15px;
	}
}
