#pagination {
	padding: 0;
	margin: 0 0 0 auto;
}

#pagination_bottom {
	padding: 0;
}

.compare-form {
	display: table-cell;
	float: left;
}

.pagination.-box {
	display: table;
	text-align: right;
	margin: 0 0 0 auto;
	position: relative;
	vertical-align: top;
}

.sortPagiBar {
	font-size: 0;
	display: table;
	> * {
		padding: 10px 20px;
		border-right-style: solid;
		border-right-width: 1px;
		font-size: 13px;
		//border-color: $clr-twenty-two;
	}
}

.content_sortPagiBar {
	&:before,
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

#productsSortForm {
	position: relative;
	display: table-cell;
	text-align: left;
	vertical-align: top;
	select {
		max-width: 50px;
		display: inline-block;
		height: 25px;
		padding: 0 5px;
	}
	.selector {
		float: left;
	}
}

.sortPagiBar .nbrItemPage {
	display: table-cell;
	text-align: left;
	vertical-align: top;
	position: relative;
	select {
		display: inline-block;
		height: 25px;
		padding: 0 5px;
	}
	.clearfix > span {
		display: none;
	}
}

.content_sortPagiBar {
	label {
		display: table-cell;
		font-weight: bold;
		padding: 0px 5px 0px 0;
		line-height: 25px;
		text-transform: uppercase;
		word-wrap: break-word;
		word-break: break-all;
		word-spacing: inherit;
		max-width: 100%;
		vertical-align: top;
	}
	display: table;
	height: 67px;
	width: 100%;
	font-size: 13px;
	position: relative;
	margin-bottom: 50px;
	padding-top: 10px;
	border-style: solid;
	border-width: 1px;
}

.instant_search #productsSortForm {
	display: none;
}

.display,
.display_m {
	display: table;
	text-align: left;
}

.compare-form .btn-default {
	height: 25px;
	line-height: 23px;
	padding: 0px 5px;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	border-width: 1px;
	i {
		padding-right: 3px;
	}
}

.display li {
	position: relative;
	vertical-align: top;
	width: 25px;
	height: 25px;
	display: inline-block;
	text-align: center;
	line-height: 25px;
	border-style: solid;
	border-width: 1px;
}

#grid {
	margin-right: 2px;
}

.display li a {
	cursor: pointer;
	width: 17px;
	height: 17px;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border: none;
}

#list a {
	height: 15px;
}

#grid {
	a {
		&:after,
		&:before {
			content: '';
			display: block;
			width: 7px;
			height: 7px;
			position: absolute;
		}
	}
	span {
		&:after,
		&:before {
			content: '';
			display: block;
			width: 7px;
			height: 7px;
			position: absolute;
		}
	}
	a {
		&:after {
			top: 0;
			left: 0;
		}
		&:before {
			top: 0;
			right: 0;
		}
	}
	span {
		&:after {
			bottom: 0;
			left: 0;
		}
		&:before {
			bottom: 0;
			right: 0;
		}
	}
}

#list {
	a {
		&:after,
		&:before {
			display: block;
			content: '';
			position: absolute;
			width: 100%;
			height: 3px;
		}
	}
	span:after {
		display: block;
		content: '';
		position: absolute;
		width: 100%;
		height: 3px;
	}
	a {
		&:after {
			top: 0;
			left: 0;
		}
		&:before {
			bottom: 0;
			left: 0;
		}
	}
	span:after {
		top: 0;
		bottom: 0;
		left: 0;
		margin: auto 0;
	}
}

.display_m #list span:after {
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto 0;
}

.display .selected a {
	cursor: default;
}

.top-pagination-content,
.bottom-pagination-content {
	position: relative;
	padding: 10px 20px 0 0;
	vertical-align: top;
	margin: 0 0 0 auto;
	display: table-cell;
	text-align: right;
}

.top-pagination-content .showall,
.bottom-pagination-content .showall {
	display: none;
}

.top-pagination-content,
.bottom-pagination-content {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.top-pagination-content li,
.bottom-pagination-content li {
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	margin-left: 5px;
	text-align: center;
}

.top-pagination-content li > {
	a,
	span {
		display: block;
		background: none;
		border: none;
		padding: 0;
		line-height: 22px;
		height: 22px;
	}
}

.bottom-pagination-content li > {
	a,
	span {
		display: block;
		background: none;
		border: none;
		padding: 0;
		line-height: 22px;
		height: 22px;
	}
}

.pagination_next,
.pagination_previous {
	display: none !important;
}

.top-pagination-content li > {
	a span,
	span span {
		display: block;
		border: none;
		background: none;
		padding: 0;
		font-size: 12px;
		min-width: 23px;
	}
}

.bottom-pagination-content li > {
	a span,
	span span {
		display: block;
		border: none;
		background: none;
		padding: 0;
		font-size: 12px;
		min-width: 23px;
	}
}

.top-pagination-content .active > span,
.bottom-pagination-content .active > span,
.top-pagination-content li > a:hover span,
.bottom-pagination-content li > a:hover span {
	background: none;
	border: none;
}

.top-pagination-content .active > span span,
.bottom-pagination-content .active > span span {
	background: none;
	padding: 0;
	border: none;
}

.top-pagination-content .compare-form,
.bottom-pagination-content .compare-form {
	float: right;
}

.top-pagination-content .product-count,
.bottom-pagination-content .product-count {
	padding: 11px 0 0 0;
	display: none !important;
}

@media (max-width: $screen-md-max) {
	.content_sortPagiBar label {
		display: none;
	}
}

@media (max-width: $screen-sm-max) {
	.button.button-medium.bt_compare {
		width: 25px;
		padding: 0;
	}
	.bt_compare span {
		display: none;
	}
}

@media (max-width: $screen-xs) {
	.content_sortPagiBar {
		height: auto;
		padding-top: 0;
	}
	.sortPagiBar {
		padding: 0;
		position: static;
		.compare-form {
			float: none;
			display: table-cell;
		}
	}
	.top-pagination-content,
	.bottom-pagination-content {
		padding: 10px 10px 0 0;
	}
	.content_sortPagiBar .sortPagiBar > * {
		padding: 10px;
	}
}


/* mobile */

@media (max-width: $screen-xs-mobile) {
	.content_sortPagiBar {
		display: block;
		width: auto;
		margin: 0 (-$base-offset) 22px;
		padding: 22px ($base-offset - 10);
		.sortPagiBar,
		.top-pagination-content,
		.bottom-pagination-content {
			display: inline-block;
			vertical-align: top;
		}
		.sortPagiBar {
			> * {
				border: none;
				padding: 0 10px;
			}
		}
	}
	.sortPagiBar {
		.nbrItemPage,#productsSortForm{
			select{
				padding: 0 10px;
			}
		}
	}
	/* pagination */
	.top-pagination-content,
	.bottom-pagination-content {
		padding: 0 10px;
	}
}
