.page-product-box {
	padding-bottom: 10px; 
}
.product-box {
	width: 178px;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}
.product-box .product-image {
	border: 1px solid $color-fourty;
	background: $white;
	padding: 5px;
	display: block;
	margin-bottom: 11px; 
}
.product-box .product-image img {
	max-width: 100%;
	width: 100%;
	height: auto; 
}