.column-side .block.products_block .block_content{
	border:none;
}

.products-block .item{
	border-style: solid;
	border-width: 1px;
	margin-bottom: 10px;
}
.products-block .item:last-child{
	margin-bottom: 0;
}
.products-block .item {
	text-align: center;
	padding: 20px;
}


.rate_left_product .nb-comments{
	display: none;
}
.products-block .item .products-block-image {
	display: inline-block;
	width: 70px;
	float: left;
	border-right-style: solid;
	border-right-width: 1px;
	padding-right: 10px;
}
.products-block .item .products-block-image img {
	width: 100%;
}
.products-block .item .product-content h5 {
	padding-bottom: 12px;
	text-align: left;
	line-height: 1.1;
	margin: 0;
}
.products-block .product-content{
	padding-left: 92px;
	text-align: left;
}
.products_block {
	position: relative;
}
.products_block .owl-carousel {
	position: static;
}
.products_block.block .title_block, .products_block.block h4{
	margin-bottom: 38px;
}
.products-block .product-name {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
}
.products-block .old-price{
	white-space: nowrap;
	font-size: 16px;
	display: block;
}
.products-block .price{
	font-size: 16px;
	font-weight: 700;
}
.products-block .price-box{
	padding-top: 10px;
}
.products-block .product-description {
	display: none;
}
#viewed-products_block_left.products-block .product-description {
	display: block;
}
@media (min-width: $screen-sm) and (max-width: $screen-md-max) {
	.products-block .product-name,.products-block .price,.products-block .old-price{
		font-size: 12px;
	}
	.products-block .product-content{
		padding-left: 80px;
	}
}
@media (max-width: $screen-sm-max) {
	.products_block.block .title_block, .products_block.block h4{
		margin-bottom: 25px;
	}
}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
	.products-block .item{
		padding: 10px;
	}
	.products-block .item .products-block-image{
		width: 100%;
		border:none;
		padding-right: 0;
	}
	.products-block .item .product-content h5{
		text-align: center;
	}
	.products-block .product-content{
		padding-right: 0;
		padding-left: 0;
		padding-top: 10px;
		left: 0;
		clear: left;
		text-align: center;
	}
	.products-block .price-box{
		padding-left: 0;
	}
	#footer .footer-block ul li a{
		font-size: 11px;
	}
}