.grid {
	.product-name {
		text-align: center;
	}
	.product-desc {
		display: none;
	}
	.product-container {
		padding-bottom: 30px;
	}
	.right-block {
		padding: 0 30px;
	}
	.product-image-container {
		padding: 38px 30px 0;
	}
	.right-block h5 {
		padding: 25px 0 4px;
		line-height: 1.3;
		margin: 0;
		border-top-style: solid;
		border-top-width: 1px;
	}
	.content_price {
		text-align: center;
		padding: 15px 0 25px;
		line-height: 24px;
	}
}

@media (max-width: $screen-sm-max) and (min-width: $screen-xs + 1){
	.grid {
		.product-image-container {
			padding: 30px 15px 0;
		}
		.right-block {
			padding: 0 15px;
		}
		.product-container {
			padding-bottom: 15px;
		}
	}
}

@media (max-width: 580px) {
	.grid .right-block h5 {
		padding-bottom: 12px;
	}
}
