.category_list.product_list .button-container > *,
.easy-carousel-style:not(.none-margin-padding) .button-container > * {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.category_list {
	&.grid {
		.ajax_block_product {
			float: none;
			padding-left: 15px;
			padding-right: 15px;
		}
		.inner-list-product {
			font-size: 0;
			display: table;
			width: 100%;
		}
		.ajax_block_product {
			font-size: 14px;
			float: none;
			display: inline-block;
			vertical-align: top;
		}
	}
	.ajax_block_product {
		margin-bottom: 30px;
	}
	&.grid .lnk_view {
		display: none;
	}
}

@media (min-width: 581px) {
	.easy-carousel-style:not(.none-margin-padding) h5 a,
	.category_list.grid h5 a {
		display: block;
		height: 39px;
		overflow: hidden;
	}
}

@media (min-width: $screen-sm) and (max-width: $screen-md-max) {
	.grid.category_list .reduce_style {
		&.price,
		+ .old-price {
			font-size: 12px;
		}
	}
}

@media screen and (min-width: $screen-sm) and (max-width: $screen-sm-max) {
	.easy-carousel-style:not(.none-margin-padding) .reduce_style.price:after,
	.category_list .reduce_style.price:after {
		display: none;
	}
}

@media (max-width: 580px) {
	.category_list.grid .ajax_block_product {
		width: 100%;
	}
}


/* mobile */

@media (max-width: $screen-xs-mobile) {
	.product_list {
		+ .content_sortPagiBar {
			border-bottom: none;
			margin-bottom: 0;
		}
	}
}
