.list .left-block {
  padding: 0px 15px 0px 15px;
}
.list .product-desc {
  line-height: 1.5;
  padding-top: 10px;
}
.list .right-block {
  text-align: center;
}
.list .butt.btn_border.ajax_add_to_cart_button{
  display: table;
  margin: 20px auto;
}
.list .function_btn{
  float: none;
  display: inline-block;
  margin-left: 2px;
}
.list .center-block,.list .right-block,.list .product-image-container{
  padding: 15px;
}
.list .comments_note{
  width: auto;
  float: none;
}
.list .add_to_compare{
  bottom: -2px;
}
.list h5{
  margin-top: 0;
}
.list .ajax_block_product .comments_note{
  margin-top: 0;
}
.list .content_price,.list .ajax_block_product .comments_note{
  margin-bottom: 15px;
}

@media screen and (min-width: $screen-sm) and (max-width: $screen-sm-max){
  .list .button-container .btn.btn-default,.list .product-name{
    font-size: 12px;
  }
}
@media (max-width: $screen-sm-max){
  .list .price.product-price, .list .old-price{
    font-size: 16px;
  }
  .list .product-desc{
    font-size: 13px;
  }
}
@media (max-width: 640px){
  .list .center-block,.list .left-block,.list .right-block{
    width: 100%;
  }
  .list .ajax_block_product{
    max-width: 390px;
    margin: 0 auto 30px;
    float: none;
  }
  .list .center-block,.list .right-block{
    padding-left: 30px;
    padding-right: 30px;
  }
  .list .product-image-container{
    padding-bottom: 15px;
  }
  .list .product-image-container:before{
    content: '';
    display: block;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
  }
  .product_list.list .add_to_compare{
    bottom: 0px;
    right: 15px;
  }
  .list .button-container{
    padding-top: 15px;
  }
}