.product-name {
	font-size: 16px;
}

.left-block {
	position: relative;
}

.color-list-container {
	position: absolute;
	bottom: 10px;
	left: 30px;
	right: 30px;
}

.color_to_pick_list {
	overflow: hidden;
	display: table;
	margin: 10px auto;
	li {
		float: left;
		padding: 5px;
		display: none;
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(5) {
			display: block;
		}
		.color_pick {
			width: 20px;
			height: 20px;
			display: block;
			//border:1px solid $clr-twenty-two;
		}
	}
	.color_pick img {
		width: 100%;
		height: 100%;
	}
}

.button-container .lnk_view {
	margin-top: 20px;
}

.ajax_block_product {
	margin-bottom: 30px;
}

.wrap-view {
	position: absolute;
	width: 100%;
	z-index: 1;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.ajax_block_product .product_img_link {
	display: inline-block;
	position: relative;
}

.product_img_link img {
	width: 100%;
}

.ajax_block_product {
	.product-container {
		border-style: solid;
		border-width: 1px;
		position: relative;
		text-align: center;
	}
	h5 {
		text-transform: uppercase;
		font-weight: 700;
	}
}

.product-image-container {
	position: relative;
	text-align: center;
	overflow: hidden;
}

.reduce_style.price {
	display: inline-block;
	&:after {
		content: '/';
		font-weight: 300;
	}
}

.ajax_block_product .quick-view span {
	display: none;
}

.function_btn {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 48px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	font-size: 16px;
	vertical-align: top;
}

.ajax_block_product {
	.product-flags,
	.nb-comments {
		display: none;
	}
	.comments_note {
		display: table;
		margin: 0px auto 0;
	}
	.add_to_compare {
		display: block;
		width: 18px;
		height: 18px;
		border-style: solid;
		border-width: 1px;
		text-align: center;
		line-height: 18px;
		position: absolute;
		right: -1px;
		top: -1px;
		overflow: hidden;
		text-indent: -40px;
		&.checked {
			text-indent: 0;
		}
	}
	.addToWishlist,
	.quick-view {
		margin: 0 3px;
	}
}

@media (max-width: $screen-sm-max) {
	.color-list-container {
		left: 15px;
		right: 15px;
	}
}

@media (max-width: 580px) {
	.ajax_block_product .product-container {
		max-width: 350px;
		margin: 0 auto;
	}
}

@media (max-width: $screen-xs) {
	.ajax_block_product .lnk_view {
		font-size: 12px;
	}
}
