.rating {
	clear: both;
	display: block;
	margin: 2em;
	cursor: pointer;
	&:after {
		content: ".";
		display: block;
		height: 0;
		width: 0;
		clear: both;
		visibility: hidden;
	}
}

.cancel {
	float: left;
	margin: 0 3px 0 0;
	cursor: pointer;
	font-size: 14px;
	a {
		display: block;
		width: 100%;
		height: 100%;
	}
}

.listcomment {
	list-style-type: none;
	margin: 0 0 20px 0 !important;
	li {
		padding: 10px 0;
		border-bottom: 1px dotted $clr-fourteen;
		color: $theme-color-one;
	}
	.titlecomment {
		display: block;
		font-weight: bold;
		font-size: 12px;
		color:$theme-color-one;
	}
	.txtcomment {
		display: block;
		padding: 5px 0;
		color:$theme-color-one;
	}
}

.star_content {
	font-size: 0;
	display: table;
	width: 100%;
}

.star {
	position: relative;
	display: inline-block;
	cursor: pointer;
	font-weight: normal;
	font-size: 14px;
	margin: 0 2px;
	a {
		display: block;
		position: absolute;
		text-indent: -5000px;
	}
}
