/* block social*/
#social_block{
	float: right;
	padding: 15px 15px 0;
}
#social_block li {
	display: inline-block;
	margin: 0 5px 5px 0;
}
#social_block li a {
	display: block;
	font-size: 17px;
	width: 36px;
	height: 36px;
	line-height: 37px;
	text-align: center;
}
#social_block li:last-child{
	margin-right: 0;
}
@media (min-width:$screen-sm) and (max-width: $screen-md-max) {
	#social_block li{
		margin-right: 2px;
	}
	#social_block li a {
		font-size: 15px;
		width: 32px;
		height: 32px;
		line-height: 31px;
	}
}
@media (min-width:$screen-sm) and (max-width: $screen-sm-max) {
	#social_block li a {
		font-size: 12px;
		width: 23px;
		height: 23px;
		line-height: 22px;
	}
}
@media (max-width: $screen-xs-max){
	#social_block {
		width: 100%;
		text-align: center;
		padding-top: 20px;
	}
}

/* mobile */
@media (max-width: $screen-xs-mobile){
	#social_block{
		padding-left: $base-offset;
		padding-right: $base-offset;
		ul{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
}