.step {
	margin-bottom: 30px;
	overflow: hidden;
	clear: both;
	li {
		border: 1px solid $color-hungred-one;
		float: left;
		text-align: left;
		width: 20%;
		a,
		span,
		&.step_current span,
		&.step_current_end span {
			display: block;
			padding: 13px 10px 14px 13px;
			color: $clr-ten;
			line-height: 21px;
			text-shadow: 1px 1px $white;
			position: relative;
		}
		a, span {
			font-size: 17px;
		}
		a:focus,
		span:focus,
		&.step_current span:focus,
		&.step_current_end span:focus {
			text-decoration: none;
			outline: none;
		}
		&.first {
			border-color: $theme-color-one;
			border-left-width: 1px;
			span,
			a {
				z-index: 5;
				padding-left: 13px !important;
			}
		}
		&.second {
			span,
			a {
				z-index: 4;
			}
		}
		&.third {
			span,
			a {
				z-index: 3;
			}
		}
		&.four {
			span,
			a {
				z-index: 2;
			}
		}
		&.last span {
			z-index: 1;
		}
		&.step_current {
			background-color: $theme-color-one;
			border-color: rgba($black, 0);
			span {
				border: 1px solid $theme-color-one;
				color: $white;
				position: relative;
				-webkit-text-shadow: 1px 1px 1px $theme-color-one;
				-moz-text-shadow: 1px 1px 1px $theme-color-one;
				text-shadow: 1px 1px 1px $theme-color-one;
			}
		}
		b {
			font-weight: 400;
			position: relative;
			z-index: 1;
		}
		&.step_todo {
			background: $color-hungred-one;
			span {
				display: block;
				border: 1px solid;
				border-color: transparent;
				color: $clr-ten;
				position: relative;
			}
		}
		&.step_done {
			background-color: $color-fourty-eight;
			border-color: transparent;
			a {
				border: 1px solid;
				border-color: transparent;
				position: relative;
				text-shadow: none;
			}
		}
		em {
			font-style: normal;
		}
	}
}
@media (min-width: $screen-sm) {
	.step {
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	.step .first {
		-moz-border-radius-top-left: 4px;
		-webkit-border-top-left-radius: 4px;
		border-top-left-radius: 4px;
		-moz-border-radius-bottom-left: 4px;
		-webkit-border-bottom-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
	.step .first {
		span,
		a {
			-moz-border-radius-topleft: 4px;
			-webkit-border-top-left-radius: 4px;
			border-top-left-radius: 4px;
			-moz-border-radius-bottomleft: 4px;
			-webkit-border-bottom-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}
	}
	.step .last {
		-moz-border-radius-topright: 4px;
		-webkit-border-top-right-radius: 4px;
		border-top-right-radius: 4px;
		-moz-border-radius-bottomright: 4px;
		-webkit-border-bottom-right-radius: 4px;
		border-bottom-right-radius: 4px;
		span {
			-moz-border-radius-topright: 4px;
			-webkit-border-top-right-radius: 4px;
			border-top-right-radius: 4px;
			-moz-border-radius-bottomright: 4px;
			-webkit-border-bottom-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}
}
@media (min-width: $screen-md) {
	.step {
		li {
			a:after,
			span:after {
				content: ".";
				position: absolute;
				top: 0;
				right: -31px;
				z-index: 0;
				text-indent: -5000px;
				display: block;
				width: 31px;
				height: 52px;
				margin-top: -2px;
			}
		}
		&.step_current span:after,
		&.step_current_end span:after {
			content: ".";
			position: absolute;
			top: 0;
			right: -31px;
			z-index: 0;
			text-indent: -5000px;
			display: block;
			width: 31px;
			height: 52px;
			margin-top: -2px;
		}
		.step_current span {
			padding-left: 38px;
			&:after {
				background: none repeat scroll 0 0 $theme-color-one;
				border-color: #fff;
				border-image: none;
				border-style: solid solid none none;
				border-width: 1px 1px medium medium;
				height: 40px;
				right: -21px;
				top: 6px;
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
				width: 40px;
			}
		}
		.step_todo span {
			padding-left: 38px;
			&:after {
				border: 1px solid $color-fourty-eight;
				border-left: none;
				border-bottom: none;
				width: 40px;
				height: 40px;
				background-color: $color-hungred-one;
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
				top: 6px;
				right: -21px;
			}
		}
		.step_done a {
			padding-left: 38px;
		}
		.step_done.step_done_last a:after {
			border: 1px solid transparent;
			border-left: none;
			border-bottom: none;
		}
		#step_end span:after {
			display: none;
		}
	}
}
@media (max-width: $screen-md-max) {
	.step {
		li {
			a,
			span {
				font-size: 15px;
			}
		}
	}
}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
	.step li em {
		display: none;
	}
	.step {
		li {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				width: 1px;
				top: -2px;
				bottom: -2px;
				right: 0;
				background: $color-fourty-eight;
			}
		}
		#step_end:after,
		.step_done_last:after,
		.step_current:after {
			display: none;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.step li {
		width: 100%;
		border-left-width: 1px;
	}
	.step {
		.step_dones.step_done_last,
		#step_end {
			border: none;
		}
	}
}
/* mobile */
@media (max-width: $screen-xs-mobile){
	.step li {
		a, span {
			font-size: 14px;
		}
		a, span, &.step_current span, &.step_current_end span {
			padding-top: 17px;
			padding-bottom: 17px;
		}
		&.step_done a{
			border-bottom-color: $white;
		}
	}
}
