.not-styling {
	display: none;
}
.sortPagiBar .styled-select {
	vertical-align: middle;
	display: inline-block;
	.option {
		padding-bottom: 5px;
		padding-top: 5px;
	}
	.toggle {
		line-height: 21px;
	}
}

@media (min-width: 481px) {
	.styled-select {
		max-width: 293px;
	}
	.sortPagiBar .styled-select {
		vertical-align: middle;
		display: inline-block;
	}
	.productsSortForm .styled-select {
		min-width: 130px;
		max-width: 150px;
	}
}

.store-content-select .styled-select {
	visibility: hidden;
}

#layered_block_left {
	.styled-checkbox,
	.styled-radio {
		position: absolute;
		top: 0;
		left: 0;
	}
	.layered_filter .styled-select ul li {
		padding: 4px 10px;
	}
}

.sortPagiBar .styled-select {
	vertical-align: middle;
	display: table-cell;
}


/* select */

.styled-select {
	cursor: pointer;
	select {
		position: absolute;
		visibility: hidden;
	}
	.dl {
		position: relative;
	}
	.option {
		box-sizing: border-box;
		float: none !important;
		padding: 15px 10px;
		background: $white;
		color: $clr-thirty-four;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;
		line-height: 1;
		height: auto;
	}
	dt.option {
		border: 1px solid $clr-twenty-two;
		position: relative;
		padding-right: 35px;
	}
	ul li.optgroup {
		cursor: default;
		background: $clr-twenty-two;
	}
	.toggle {
		position: absolute;
		right: 1px;
		top: 1px;
		bottom: 1px;
		line-height: 41px;
		display: block;
		width: 21px;
		text-align: center;
		font-size: 13px;
	}
	ul {
		min-width: 100%;
		position: absolute;
		left: 0;
		z-index: 999999;
		top: 100%;
		border: 1px solid $clr-twenty-two;
		background: $white;
		margin: -1px 0 0 0;
		overflow-y: auto;
		transition: transform .3s, opacity .3s, opacity .3s;
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
		&.above {
			top: auto;
			bottom: 100%;
		}
	}
	li {
		&:not(:last-child) {
			border-bottom: 1px solid $clr-twenty-two;
		}
		font-size: 12px;
	}
	&:not(.mobile) li:hover {
		background: $theme-color-one;
		color: $white;
	}
	.dl.closed ul {
		visibility: hidden;
		opacity: 0;
		transform: translateY(-30px);
	}
}


/* checkbox/radio */

.styled-checkbox,
.styled-radio {
	display: inline-block;
	border: 1px solid $clr-thirty-three;
	padding: 0;
	width: 15px;
	height: 15px;
	position: relative;
	cursor: pointer;
	vertical-align: middle;
	margin-right: 5px;
}

.styled-checkbox input {
	position: absolute;
	margin: auto !important;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.styled-radio {
	input {
		position: absolute;
		margin: auto !important;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}
	border-radius: 100%;
}

.styled-checkbox.checked:before,
.styled-radio.checked:before {
	content: '';
	display: block;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 5px;
	height: 5px;
	background: $theme-color-one;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.styled-checkbox.checked:before {
	background: none;
	border-radius: 0;
	border-radius: 0;
	top: -3px;
	right: -1px;
	bottom: 2px;
	left: 1px;
	width: 11px;
	height: 7px;
	border-style: solid;
	border-color: transparent transparent $theme-color-one $theme-color-one;
	border-width: 0 0 3px 3px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}


/* file */

.styled-file {
	display: inline-block;
	border: 1px solid #e5e5e5;
	position: relative;
	width: 100%;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	padding-left: 0;
	padding-top: 2px;
	height: 40px;
	.file-button {
		background: $theme-color-one;
		color: $white;
		padding: 0 20px;
		margin: 0;
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		bottom: 0;
		line-height: 35px;
		font-weight: 300;
		font-size: 14px;
		cursor: pointer;
	}
	&:hover .file-button {
		background: lighten($theme-color-one, 10%);
	}
	.file-name {
		vertical-align: middle;
		font-size: 14px;
		line-height: 32px;
		padding-left: 118px;
	}
	input {
		position: absolute;
		margin: 0 !important;
		width: 100%;
		height: 100%;
		top: 0;
		opacity: 0;
	}
}

@media (max-width: $screen-xs) {
	.styled-select {
		max-width: 100%;
	}
	.sortPagiBar .styled-select {
		max-width: 55px;
	}
}

.longest-txt {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}

select, select.form-control {
	background-image: url(../img/icon/arrow-down.svg);
	background-repeat: no-repeat;
	background-position: center right 6px;
	padding: 0 19px 0 10px;
	background-size: 7px 4px;
}
option {
	background-color: #fff;
	color: #000;
}