/* tab content */

.tab-content > {
	.tab-pane {
		display: none;
	}
	.active {
		display: block;
	}
}


/*nav tabs  */

.nav-tabs {
	border-bottom: 1px solid $clr-fourteen;
	> li {
		float: left;
		margin-bottom: -1px;
		> a {
			margin-right: 2px;
			line-height: 1.42857143;
			border: 1px solid transparent;
			border-radius: 4px 4px 0 0;
			&:hover {
				border-color: $clr-fourteen $clr-fourteen $clr-fourteen;
			}
		}
		&.active > a {
			color: $clr-fifteen;
			cursor: default;
			background-color: $white;
			border: 1px solid $clr-fourteen;
			border-bottom-color: transparent;
			&:hover,
			&:focus {
				color: $clr-fifteen;
				cursor: default;
				background-color: $white;
				border: 1px solid $clr-fourteen;
				border-bottom-color: transparent;
			}
		}
	}
	&.nav-justified {
		width: 100%;
		border-bottom: 0;
		> {
			li {
				float: none;
				> a {
					margin-bottom: 5px;
					text-align: center;
				}
			}
			.dropdown .dropdown-menu {
				top: auto;
				left: auto;
			}
		}
	}
}

.tabs_main .tab-content {
	clear: both;
	text-align: left;
	margin: 0 -15px;
}

.wrap_tabs_main {
	padding-top: 42px;
}

.tabs_main {
	position: relative;
	clear: both;
	margin: 75px 0 100px;
	text-align: center;
}

.game-tabs.nav.nav-tabs {
	border: none;
	display: inline-block;
	display: table;
	margin: 0 auto 10px;
	> li {
		margin-bottom: 30px;
		float: left;
		min-width: 200px;
		&:not(:last-child) {
			margin-right: 30px;
		}
		a {
			display: block;
			text-transform: uppercase;
			background-color: transparent;
			border: none;
			outline: none;
			margin: 0;
			padding: 18px 10px;
			font-size: 16px;
			font-weight: 700;
			border-radius: 0;
			text-align: center;
			border-style: solid;
			border-width: 1px;
		}
	}
}
