.table {
  width: 100%;
  max-width: 100%; }
.table-bordered {
	border-style: solid;
	border-width: 1px;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{
	border-style:solid;
	border-width: 1px;
}
table.std,
table.table_block {
	margin-bottom: 20px;
	width: 100%;
	border: 1px solid $clr-twenty-two;
	border-bottom: none;
	background: $white;
	border-collapse: inherit; }

table.std th,
table.table_block th {
	padding: 14px 12px;
	font-size: 12px;
	color: $white;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0 1px 0 $black;
	background: $clr-twenty-two;
}
table.std tr.alternate_item,
table.table_block tr.alternate_item {
	background-color: $clr-fourteen;
}
table.std td,
table.table_block td {
	padding: 12px;
	border-right: 1px solid $clr-fourteen;
	border-bottom: 1px solid $clr-fourteen;
	font-size: 12px;
	vertical-align: top;
}
.table {
	margin-bottom: 30px; }
	.table > thead > tr > th {
		background: $clr-fourteen;
		border-bottom-width: 1px;
		color:$theme-color-one;
		vertical-align: middle; }
	.table td a.color-myaccount {
		color: $theme-color-one;
		text-decoration: underline; }
		.table td a.color-myaccount:hover {
			text-decoration: none; }
	.table tfoot tr {
		background: $clr-fourteen; }