#page .rte {
	background: transparent none repeat scroll 0 0;
	line-height: 1.5;
}

#short_description_content ul,
#short_description_content ol,
#short_description_content dl,
#tinymce ul,
#tinymce ol,
#tinymce dl {
	margin-left: 20px; 
}

.rte ul {
	list-style-type: disc;
	padding-left: 15px; 
}

.rte ol {
	list-style-type: decimal;
	padding-left: 15px; 
}