h1 {
	font-size: 40px;
	text-align: left;
	font-size: 30px;
	text-transform: uppercase;
	margin: 0 0 30px;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 20px;
}

.text_upper {
	text-transform: uppercase;
}

.text-center {
	text-align: center;
}

.al_center {
	text-align: center;
}

.title_main_section {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	line-height: 1;
	margin: 0 0 25px;
	text-transform: uppercase;
}

.page_product_box h3 {
	color: $clr-fifteen;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
	padding: 14px 20px 17px;
	margin: 0 0 20px;
	position: relative;
	border: 1px solid $clr-fourteen;
	border-bottom: none;
	background: $clr-fourteen;
}

p.info-title {
	font-weight: bold;
	color: $theme-color-one;
	padding-bottom: 20px;
}

p.info-account {
	margin: -4px 0 24px 0;
}

.page-heading {
	font: 600 18px/22px "Open Sans", sans-serif;
	color: $clr-fifteen;
	text-transform: uppercase;
	padding: 0px 0px 17px 0px;
	margin-bottom: 30px;
	border-bottom: 1px solid $color-fourty;
	overflow: hidden;
}

.page-heading span.heading-counter {
	font: bold 13px/22px Arial, Helvetica, sans-serif;
	float: right;
	color: $theme-color-one;
	text-transform: none;
	margin-bottom: 10px;
}

.page-heading span.lighter {
	color: $color-thirty-seven;
}

.page-heading.bottom-indent {
	margin-bottom: 16px;
}

.page-heading.product-listing {
	border-bottom: none;
	margin-bottom: 0;
}

.page-subheading {
	text-transform: uppercase;
	color: $theme-color-one;
	font-size: 20px;
	padding: 0 0 15px;
	margin-top: 0;
	line-height: normal;
	text-align: center;
}

.page-product-heading {
	color: $clr-fifteen;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
	padding: 14px 20px 17px;
	margin: 0 0 20px;
	position: relative;
	border: 1px solid $clr-fourteen;
	border-bottom: none;
	background: $clr-fourteen;
}
.title-box{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 25px;
	margin-top: 0;
}
@media (max-width: $screen-sm-max) {
	h1 {
		font-size: 20px;
	}
}

@media (max-width: $screen-xs-max) {
	.title_main_section {
		font-size: 16px;
		line-height: 1.3
	}
}

@media (max-width: 579px) {
	.page-heading span.heading-counter {
		display: block;
		float: none;
	}
	.page-subheading {
		font-size: 13px;
	}
}

@media (max-width: $screen-xs) {
	h1 {
		font-size: 17px;
	}
}
@media (max-width: $screen-xs-max) and (min-width: $screen-xs-mobile + 1){
	.title-box ,.title_main_section{
		font-size: 16px;
	}
}
