/* ************************************************************************************************
		PAGE SEND TO FRIEND
************************************************************************************************ */

#sendfriendpage {
	form.std fieldset {
		margin: 0 0 20px 0;
		padding: 10px 15px;
		background: none repeat scroll 0 0 #eee;
	}
	.product {
		.img_link {
			float: left;
			img {
				margin: 0 10px 0 0;
				border: 1px solid #ccc;
			}
		}
		.product_desc {
			float: left;
			width: 200px;
			font-weight: bold;
			font-size: 12px;
			color: #000;
		}
	}
	#send_friend_form_content {
		margin-top: 40px;
		.text {
			padding-bottom: 10px;
			label {
				display: inline-block;
				padding: 6px 15px;
				width: 180px;
				font-size: 12px;
				text-align: right;
			}
			input {
				padding: 0 5px;
				height: 22px;
				width: 260px;
				border: 1px solid #ccc;
				font-size: 12px;
			}
		}
		.submit {
			margin: 0 20px 0 0;
			padding: 5px 0;
			text-align: right;
		}
	}
}
