/* SEND TO FRIEND (pop-in) ##################################################################### */

#send_friend_form {
	padding: 2px 3px;
	width: 555px;
	overflow: hidden;
	.product {
		img {
			border: 1px solid $clr-fourteen;
			float: left;
			display: inline-block;
			margin-right: 15px;
			width: 160px;
		}
		p {
			padding: 0;
			color: $clr-twelve;
			font-size: 12px;
			line-height: 1.5;
			&.product_name {
				font-size: 13px;
				color: $clr-ten;
				font-weight: bold;
				padding-bottom: 4px;
			}
		}
	}
	.form_container {
		padding: 12px 0 20px;
		margin-top: 20px;
	}
}

#send_friend_form_error {
	margin-top: 20px;
}

#send_friend_form .form_container {
	p {
		&.intro_form {
			padding-bottom: 6px;
			font-weight: 700;
			font-size: 13px;
			color: $clr-ten;
		}
		&.txt_required {
			padding-bottom: 0;
			color: $clr-twelve;
		}
	}
	.text label {
		display: block;
		width: 100%;
		font-size: 13px;
		color: $clr-twelve;
		padding-bottom: 8px;
	}
}

.submit {
	.text1 {
		text-align: right;
	}
	.text2 {
		text-align: left;
	}
}

#product {
	.text1 {
		padding-right: 8px;
	}
	.text2 {
		padding-left: 8px;
	}
}

#send_friend_form {
	.form_container .text input {
		padding: 0 5px;
		height: 35px;
		width: 100%;
		font-size: 12px;
		border: 1px solid $theme-color-one;
		outline: none;
		background: $white;
	}
	.submit {
		text-align: center;
		padding-top: 15px;
	}
	.button {
		min-width: 90px;
		text-align: center;
	}
}

@media (max-width: $screen-xs-max) {
	#send_friend_form {
		.text1,
		.text2 {
			padding: 0 15px;
		}
		.text1 {
			margin-bottom: 10px;
		}
	}
}

@media (max-width: 640px) {
	#send_friend_form {
		width: 100%;
	}
}

@media (max-width: 580px) {
	#send_friend_form h2 {
		line-height: 29px;
	}
}

@media (max-width: $screen-xs) {
	#send_friend_form .button {
		width: 100%;
	}
	#product .submit {
		.text1,
		.text2 {
			padding: 0;
		}
	}
	.submit {
		.text1,
		.text2 {
			width: 100%;
			text-align: center;
		}
	}
	#send_friend_form {
		.product img {
			width: auto;
			float: none;
			margin: 0 0 0 15px;
		}
		.product_desc {
			text-align: left;
		}
		.product {
			text-align: center;
		}
	}
}
