/* color schemes */
/* ************************************************************************************************
		PAGE SEND TO FRIEND
************************************************************************************************ */
#sendfriendpage form.std fieldset {
  margin: 0 0 20px 0;
  padding: 10px 15px;
  background: none repeat scroll 0 0 #eee; }
#sendfriendpage .product .img_link {
  float: left; }
  #sendfriendpage .product .img_link img {
    margin: 0 10px 0 0;
    border: 1px solid #ccc; }
#sendfriendpage .product .product_desc {
  float: left;
  width: 200px;
  font-weight: bold;
  font-size: 12px;
  color: #000; }
#sendfriendpage #send_friend_form_content {
  margin-top: 40px; }
  #sendfriendpage #send_friend_form_content .text {
    padding-bottom: 10px; }
    #sendfriendpage #send_friend_form_content .text label {
      display: inline-block;
      padding: 6px 15px;
      width: 180px;
      font-size: 12px;
      text-align: right; }
    #sendfriendpage #send_friend_form_content .text input {
      padding: 0 5px;
      height: 22px;
      width: 260px;
      border: 1px solid #ccc;
      font-size: 12px; }
  #sendfriendpage #send_friend_form_content .submit {
    margin: 0 20px 0 0;
    padding: 5px 0;
    text-align: right; }

/* SEND TO FRIEND (pop-in) ##################################################################### */
#send_friend_form {
  padding: 2px 3px;
  width: 555px;
  overflow: hidden; }
  #send_friend_form .product img {
    border: 1px solid #F5F5F5;
    float: left;
    display: inline-block;
    margin-right: 15px;
    width: 160px; }
  #send_friend_form .product p {
    padding: 0;
    color: #666666;
    font-size: 12px;
    line-height: 1.5; }
    #send_friend_form .product p.product_name {
      font-size: 13px;
      color: #333333;
      font-weight: bold;
      padding-bottom: 4px; }
  #send_friend_form .form_container {
    padding: 12px 0 20px;
    margin-top: 20px; }

#send_friend_form_error {
  margin-top: 20px; }

#send_friend_form .form_container p.intro_form {
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 13px;
  color: #333333; }
#send_friend_form .form_container p.txt_required {
  padding-bottom: 0;
  color: #666666; }
#send_friend_form .form_container .text label {
  display: block;
  width: 100%;
  font-size: 13px;
  color: #666666;
  padding-bottom: 8px; }

.submit .text1 {
  text-align: right; }
.submit .text2 {
  text-align: left; }

#product .text1 {
  padding-right: 8px; }
#product .text2 {
  padding-left: 8px; }

#send_friend_form .form_container .text input {
  padding: 0 5px;
  height: 35px;
  width: 100%;
  font-size: 12px;
  border: 1px solid #000000;
  outline: none;
  background: #ffffff; }
#send_friend_form .submit {
  text-align: center;
  padding-top: 15px; }
#send_friend_form .button {
  min-width: 90px;
  text-align: center; }

@media (max-width: 768px) {
  #send_friend_form .text1,
  #send_friend_form .text2 {
    padding: 0 15px; }
  #send_friend_form .text1 {
    margin-bottom: 10px; } }
@media (max-width: 640px) {
  #send_friend_form {
    width: 100%; } }
@media (max-width: 580px) {
  #send_friend_form h2 {
    line-height: 29px; } }
@media (max-width: 480px) {
  #send_friend_form .button {
    width: 100%; }

  #product .submit .text1,
  #product .submit .text2 {
    padding: 0; }

  .submit .text1,
  .submit .text2 {
    width: 100%;
    text-align: center; }

  #send_friend_form .product img {
    width: auto;
    float: none;
    margin: 0 0 0 15px; }
  #send_friend_form .product_desc {
    text-align: left; }
  #send_friend_form .product {
    text-align: center; } }

/*# sourceMappingURL=sendtoafriend.css.map */
