/* color schemes */
@media (min-width: 1200px) {
  #module-amazzingblog-blog #center_column {
    padding-right: 110px; } }
.loading {
  opacity: 0.5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

/* categories */
.blog-subcategories {
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  padding: 29px 0 19px; }
  .blog-subcategories:before, .blog-subcategories:after {
    content: '';
    display: table;
    clear: both; }

.blog-subcategory {
  color: #c6c6c6;
  text-transform: uppercase;
  font-size: 18px;
  width: 33.333%;
  float: left;
  margin-bottom: 10px;
  padding-right: 10px; }
  @media (max-width: 480px) {
    .blog-subcategory {
      width: 50%; } }
  @media (max-width: 320px) {
    .blog-subcategory {
      width: 100%; } }
  .blog-subcategory > a, .blog-subcategory span {
    display: block; }

/* pagination */
.dynamic-posts {
  clear: both;
  padding-top: 33px; }
  .dynamic-posts .pagination:first-child {
    margin-bottom: 30px; }
  .dynamic-posts .pagination:before, .dynamic-posts .pagination:after {
    content: '';
    clear: both;
    display: table; }
  .dynamic-posts .pagination .styled-select .option {
    padding-top: 6px;
    padding-bottom: 6px; }
  .dynamic-posts .pagination .styled-select .dl .toggle {
    line-height: 22px; }

.pagination .pages label {
  color: #000000;
  font-size: 13px;
  padding-right: 5px;
  text-transform: uppercase; }

.pagination .pages > a, .pagination .pages > span {
  width: 25px;
  height: 25px;
  line-height: 23px;
  display: inline-block;
  border: 1px solid #e2e2e2;
  color: #555555;
  text-align: center;
  margin: 0 2px; }
  .pagination .pages > a.current-page, .pagination .pages > span.current-page {
    background: #000000;
    border-color: #000000;
    color: #ffffff; }

.pagination .pages > a:hover {
  background: #000000;
  border-color: #000000;
  color: #ffffff; }

.npp-holder .inline-block {
  font-size: 12px;
  margin: 0 0 0 10px;
  vertical-align: middle; }
.npp-holder .styled-select {
  font-size: 12px; }

/* post */
.category-page .post-item-title {
  margin-bottom: 8px;
  min-height: 0 !important; }
.category-page h2 {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  float: left; }
.category-page .post-item-content {
  font-size: 12px;
  line-height: 2; }
.category-page .post-item-wrapper {
  margin-bottom: 68px; }
.category-page .grid {
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 769px) {
    .category-page .grid .post-item-wrapper {
      width: 50%; } }

/* tablet */
@media (max-width: 768px) {
  .dynamic-posts {
    padding-top: 25px; }
    .dynamic-posts .pagination {
      display: block;
      float: none;
      text-align: center; }

  #module-amazzingblog-blog .breadcrumb {
    margin-bottom: 25px; }
  #module-amazzingblog-blog #footer {
    margin-top: 40px; }

  .category-page .list .post-item-wrapper:not(:last-child) {
    margin-bottom: 23px; }
  .category-page .post-item {
    padding-top: 0; }

  .npp-holder {
    display: inline-block;
    float: none; }
    .npp-holder .form-control {
      height: 32px;
      padding: 3px 25px; } }
/* mobile */
@media (max-width: 667px) {
  .category-page .post-item-title {
    font-size: 16px; } }

/*# sourceMappingURL=category.css.map */
