/* color schemes */
/* general */
.amazzingblog .block_content {
  border: none !important; }
.amazzingblog.displayHomeLine {
  padding: 0 15px;
  float: left; }
  @media screen and (min-width: 769px) {
    .amazzingblog.displayHomeLine {
      width: 66.66666667%; } }
  @media screen and (max-width: 768px) {
    .amazzingblog.displayHomeLine {
      margin-bottom: 30px; } }

@media screen and (min-width: 581px) {
  .blocks .post-item-cover, .blocks .post-content {
    padding: 0 15px;
    float: left;
    width: 50%; }
  .blocks .post-item {
    margin: 0 -15px; }
    .blocks .post-item:after {
      content: '';
      display: table;
      clear: both; } }

.amazzingblog img {
  max-width: 100%; }

.inline-block {
  display: inline-block; }

.b {
  font-weight: bold; }

.i {
  font-style: italic; }

.u {
  text-decoration: underline; }

.post-list .first-in-line {
  clear: left; }

.post-list {
  clear: both; }

.post-item-date {
  font-weight: bold;
  padding-top: 15px;
  position: relative;
  margin-top: 15px; }
  .post-item-date:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 1px;
    background: #eaeaf2; }
  .post-item-date div {
    display: inline-block;
    vertical-align: top;
    padding-right: 4px; }

.post-item-title {
  margin: 0 0 10px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5;
  font-size: 14px; }

.post-item-content {
  line-height: 1.5;
  color: #555454; }

.post-item-infos {
  padding: 10px 0;
  font-size: 12px;
  font-weight: 300; }

.post-item-info {
  padding: 0 10px;
  position: relative; }
  .post-item-info:first-child {
    padding-left: 0; }
  .post-item-info:not(:last-child):after {
    content: '|';
    position: absolute;
    top: 0;
    right: 0; }

.block-viewall {
  margin-top: 10px; }

/* mobile */
@media (max-width: 414px) {
  .post-item-info.views-num {
    display: none; }

  .post-item-content {
    color: #939597;
    font-size: 12px;
    line-height: 2; }

  .post-item-cover img {
    width: 100%; }

  .amazzingblog.displayHomeLine {
    margin: 0 -25px 31px; }
    .amazzingblog.displayHomeLine .bx-viewport {
      height: auto !important; }
    .amazzingblog.displayHomeLine .block-title {
      padding: 0 15px;
      text-align: center; }
    .amazzingblog.displayHomeLine .title-box {
      margin-bottom: 75px; }
    .amazzingblog.displayHomeLine .post-content {
      padding: 0 25px; }
    .amazzingblog.displayHomeLine .bx-wrapper .bx-controls .bx-controls-direction {
      top: -56px; } }
.presentation-cover-text {
  position: absolute;
  top: 50%;
  right: 15px;
  left: 15px;
  padding: 0 8% 0 15px;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 1; }
  .presentation-cover-text .post-item-title {
    color: #000000;
    margin-bottom: 12px; }
    @media screen and (max-width: 1199px) {
      .presentation-cover-text .post-item-title {
        font-size: 55px; } }
    @media screen and (max-width: 991px) {
      .presentation-cover-text .post-item-title {
        font-size: 40px; } }

.main-item {
  text-align: right; }
  .main-item .post-item-footer {
    margin-top: 0; }

.presentation-preview {
  cursor: pointer; }
  .presentation-preview:not(:last-child) {
    margin-bottom: 20px; }
  .presentation-preview.current .presentation-preview-img {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5; }
  .presentation-preview .presentation-preview-img {
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s; }
    .presentation-preview .presentation-preview-img:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
      opacity: 0.5; }

@media screen and (max-width: 768px) {
  .all-items {
    padding-left: 10px;
    padding-right: 10px; }

  .presentation-preview {
    width: 50%;
    float: left;
    padding: 0 5px; }

  .presentation-main-cover img {
    width: 100%; } }
@media screen and (max-width: 480px) {
  .presentation-preview {
    width: 100%;
    margin-bottom: 20px; } }
/* carousels */
.n-hover .bx-wrapper .bx-controls-direction {
  display: none; }

.n-hover .bx-wrapper:hover .bx-controls-direction {
  display: block; }

/* fix for /bx_loader.gif 404 (Not Found) */
.amazzingblog .bx-wrapper .bx-loading {
  background: none; }

.amazzingblog .bx-wrapper .bx-controls .bx-controls-direction {
  top: -44px; }

@media screen and (min-width: 769px) {
  .amazzingblog .bx-wrapper .bx-controls .bx-controls-direction {
    left: 50%;
    right: auto;
    margin-left: -41px; } }
.list .post-item-wrapper {
  margin-bottom: 20px; }

/* compact list */
.post-item-compact {
  line-height: 1.2;
  margin-bottom: 15px; }

.post-item-cover-compact img {
  margin: 0 0 5px 0;
  border: 1px solid #dddddd;
  padding: 5px; }

.post-item-title-compact {
  margin: 0 0 3px 0;
  font-size: 14px; }

.post-item-infos-compact {
  margin: 5px 0;
  color: #c5c5c5;
  font-size: 11px; }

.post-item-infos-compact a.comments-num {
  color: #c5c5c5; }

.item-readmore-compact {
  color: #00AFF0; }

.icon-angle-right.second {
  margin-left: -5px; }

.post-item-infos.pull-right {
  margin: 0 0 0 -10px; }

.item-readmore-compact i {
  vertical-align: middle; }

/* column layout */
.column-hook .block-title h2 {
  font: 600 18px/22px "Open Sans", sans-serif; }

.column-hook .title_block a.block-viewall {
  font-size: 0.7em;
  color: #c5c5c5; }

/*# sourceMappingURL=front.css.map */
