/* color schemes */
#module-amazzingblog-blog .post-page h1 {
  color: #363636;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  margin: 42px 0 8px; }
#module-amazzingblog-blog #footer {
  margin-top: 57px; }

.post-page .title-blog {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 32px; }
.post-page .cover {
  position: relative; }
.post-page .post-main-image img {
  display: block;
  width: 100%; }
.post-page .post-main-image + .post-date {
  background: #000000;
  bottom: 0;
  color: #ffffff;
  font-size: 16px;
  left: 30px;
  padding: 2px 8px;
  position: absolute;
  text-transform: uppercase;
  width: 51px;
  height: 51px;
  text-align: center;
  overflow: hidden;
  line-height: 1.5;
  -webkit-transform: translateY(50%);
  transform: translateY(50%); }
.post-page .wrapper-post-content {
  padding-left: 30px; }
.post-page .post-content {
  background: none;
  color: #363636;
  line-height: 2;
  padding: 0; }
.post-page .post-info {
  font-size: 12px;
  font-weight: bold;
  color: #9ca9a6; }
  .post-page .post-info i {
    padding-right: 5px; }

.post-page h4 {
  color: #363636;
  font-size: 14px;
  margin-bottom: 30px; }

.post-page img {
  max-width: 100%; }

.info-block {
  color: #999; }

.info-block .inline-block {
  margin-right: 15px; }

@media (min-width: 1200px) {
  #module-amazzingblog-blog #center_column {
    padding-right: 117px; } }
@media (min-width: 667px) {
  .post-page .wrapper-info {
    display: table;
    width: 100%; }
    .post-page .wrapper-info .post-info, .post-page .wrapper-info .post-sharing {
      display: table-cell;
      padding: 23px 0 35px;
      vertical-align: middle; }
    .post-page .wrapper-info .post-sharing {
      text-align: right; } }
/* tablet and mobile */
@media (max-width: 768px) {
  #module-amazzingblog-blog .breadcrumb {
    margin-bottom: 25px; }
  #module-amazzingblog-blog .column-side {
    display: none; }

  .post-page .title-blog {
    margin-bottom: 22px; }
  .post-page .cover {
    margin: 0 -25px; }
  .post-page .wrapper-post-content {
    padding-left: 0; } }
/* mobile */
@media (max-width: 667px) {
  .post-page .post-info {
    padding: 15px 0; }

  #module-amazzingblog-blog .post-page h1 {
    font-size: 16px; }

  .post-page .post-main-image img {
    width: auto;
    max-width: none; } }
@media (max-width: 320px) {
  .post-page .cover {
    margin: 0 -25px; } }
/* comments */
.post-comments {
  border-top: 1px solid #e5e5e5;
  padding-top: 25px; }

.comments-list {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 40px; }

.comment-item {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  position: relative;
  margin: 0px 0 44px 107px;
  min-height: 115px;
  padding: 20px 30px; }
  .comment-info-block {
    color: #515151; }
    .comment-info-block .b {
      font-size: 14px;
      font-weight: normal; }
    .comment-info-block .comment-date {
      color: #a5a5a5;
      font-size: 12px;
      margin-left: 7px; }

.comment-item:before, .comment-item:after {
  content: '';
  position: absolute;
  left: -16px;
  top: 12px;
  border: 8px solid #e5e5e5;
  border-color: transparent #e5e5e5 transparent transparent; }

.comment-item:after {
  border-color: transparent #ffffff transparent transparent;
  left: -15px; }

.new-comment {
  padding-top: 15px; }
  .new-comment .comment-item {
    background: #f9f9f9;
    margin-bottom: 22px; }
    .new-comment .comment-item:after {
      border-color: transparent #f9f9f9 transparent transparent; }
    .new-comment .comment-item.red-border:before {
      border-color: transparent #E27C79 transparent transparent; }

.user-avatar {
  position: absolute;
  right: calc(100% + 28px);
  top: 0; }

.avatar-img {
  border: 1px solid;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  line-height: 80px;
  font-size: 25px; }
  .avatar-img:after {
    content: '?'; }
  .avatar-img[style*="background"]:after {
    display: none; }

.comment-content {
  margin: 5px 0; }

.mce-placeholder {
  position: absolute;
  top: 15px;
  color: #999; }

.comment-item .mce-input {
  min-height: 78px;
  outline: none;
  padding: 15px;
  margin: -15px; }

.mce-input em {
  font-style: italic; }

div.mce-panel {
  background: none;
  border: none;
  -webkit-transform: translate(-7px, -7px);
  transform: translate(-7px, -7px); }

div.mce-panel .mce-btn-group .mce-btn {
  background: none; }

.mce-panel .mce-ico {
  font-size: 12px;
  line-height: 1;
  width: 12px;
  height: 12px; }

.mce-panel .mce-btn-group .mce-btn button {
  padding: 5px 5px;
  line-height: 0px; }

.focus-on .mce-placeholder, .new-comment-footer, .edit-avatar {
  display: none; }

.focus-on .new-comment-footer, .focus-on .user-avatar:hover .edit-avatar {
  display: block; }

.new-comment-footer {
  float: right; }
  .new-comment-footer .input-label {
    color: #000000;
    font-size: 12px;
    padding-right: 10px; }
  .new-comment-footer .inline-block {
    margin-right: 6px;
    position: relative;
    width: 260px; }
  .new-comment-footer .btn {
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    padding: 0 20px; }

.note-below-text {
  position: absolute;
  bottom: -21px;
  left: 0;
  color: #999999;
  font-size: 10px;
  white-space: nowrap; }

.new-comment input {
  height: 30px;
  padding: 6px 15px;
  vertical-align: middle;
  border: 1px solid #e6e6e6;
  background: #f9f9f9;
  width: 100%; }

.edit-avatar {
  font-size: 25px;
  color: #000000;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  line-height: 81px;
  background: #ffffff;
  border-radius: 50%; }

.new-comment .red-border {
  border: 1px solid #E27C79; }

.ajax-error {
  color: #E27C79;
  font-size: 0.9em; }

.comment-item .ajax-error {
  position: absolute;
  top: -19px;
  left: 0; }

@media (max-width: 991px) and (min-width: 769px) {
  .new-comment-footer .inline-block {
    width: 250px; } }
/* tablet and mobile */
@media (max-width: 768px) {
  .comment-content {
    font-size: 12px; } }
/* mobile */
@media (max-width: 667px) {
  #module-amazzingblog-blog #footer {
    margin-top: 40px; }

  .comment-item {
    margin-left: 65px; }

  .user-avatar {
    right: calc(100% + 15px); }

  .avatar-img {
    font-size: 16px;
    height: 52px;
    line-height: 50px;
    width: 52px; }

  .edit-avatar {
    font-size: 20px;
    line-height: 48px; }

  .new-comment-footer {
    float: none;
    margin-left: 65px; }
    .new-comment-footer .input-label {
      display: block;
      margin-bottom: 5px; }
    .new-comment-footer .inline-block {
      display: block;
      margin-right: 0;
      width: 100%; }
    .new-comment-footer .note-below-text {
      margin: 7px 0 21px;
      position: static; } }
/* social sharing */
.post-sharing {
  color: #363636;
  font-size: 14px; }
  .post-sharing .sharing-icons {
    padding-left: 12px; }

.post-page .social-share {
  text-decoration: none; }

.post-page .social-share i {
  background: #e1e1e1;
  border-radius: 50%;
  color: #ffffff;
  font-size: 17px;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin: 4px;
  text-align: center;
  vertical-align: middle; }
.post-page .social-share:hover i {
  color: #ffffff; }
.post-page .social-share:hover .icon-facebook {
  background: #4065B4; }
.post-page .social-share:hover .icon-vk {
  background: #4E759D; }
.post-page .social-share:hover .icon-odnoklassniki {
  background: #ED812B; }
.post-page .social-share:hover .icon-twitter {
  background: #39B9DC; }
.post-page .social-share:hover .icon-google-plus {
  background: #DD4B39; }
.post-page .social-share:hover .icon-yandex {
  background: #FF0000; }
.post-page .social-share:hover .icon-yahoo {
  background: #400191; }
.post-page .social-share:hover .icon-paypal {
  background: #003087; }
.post-page .social-share:hover .icon-linkedin {
  background: #0077B5; }
.post-page .social-share:hover .icon-pinterest {
  background: #BD081C; }

@media (max-width: 991px) and (min-width: 769px) {
  .post-page .social-share i {
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    margin: 1px;
    width: 30px; } }
/* tablet and mobile */
@media (max-width: 768px) {
  .post-page .post-content {
    font-size: 12px; } }
@media (max-width: 640px) and (min-width: 667px) {
  .post-page .social-share i {
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    margin: 1px;
    width: 28px; } }
/* mobile */
@media (max-width: 667px) {
  .post-sharing {
    font-size: 0;
    padding: 10px 0 15px; }
    .post-sharing .sharing-icons {
      padding-left: 0; } }
@media (max-width: 414px) {
  .post-page .social-share i {
    height: 32px;
    line-height: 32px;
    margin: 2px;
    width: 32px; } }

/*# sourceMappingURL=post.css.map */
