/*******************************************************
				Module PrestaGiftVoucher Styles
********************************************************/

/*
Style btn-group #condition_type
*/
#condition_type .btn.active, .btn:active {
    background-color: #00AFF0;
}
#reduction_type .btn.active, .btn:active {
    background-color: #00AFF0;
}

/*
Style btn-group #reduction_type
*/
#reduction_type .btn.active, .btn:active input{
    color: white;
}
#condition_type .btn.active, .btn:active input{
    color: white;
}

/*
Hide product search and category search at first.
They'll show up when clicking on a btn in #condition_type
*/
#form-group-search-product {
    display: none;
}
#form-group-search-category {
    display: none;
}

.hidden {
    display: none;
}

.draggable :hover {
    cursor: move;
}

.group-edit :hover {
    cursor: default;
}

/*
FAQ
*/
.faq .expand {
    font-size: 26px;
    font-weight: 600;
}

.faq ul {
    list-style-type: none;
    width: 100%;
}
.faq ul > li {
    -moz-box-shadow: 0px 0px 10px -4px #BBBBBB;
    -webkit-box-shadow: 0px 0px 10px -4px #BBBBBB;
    -o-box-shadow: 0px 0px 10px -4px #BBBBBB;
    box-shadow: 0px 0px 10px -4px #BBBBBB;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#BBBBBB, Direction=180, Strength=10);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 2px;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    cursor: pointer;
}
.faq ul > li:hover {
    -moz-box-shadow: 0px 0px 10px -4px #555555;
    -webkit-box-shadow: 0px 0px 10px -4px #555555;
    -o-box-shadow: 0px 0px 10px -4px #555555;
    box-shadow: 0px 0px 10px -4px #555555;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#555555, Direction=180, Strength=10);
}

.faq ul > li a {
    font-size: 20px;
    color: #00aff0;
}

.faq ul > li a:hover {
    color: #00aff0;
    text-decoration: none;
}

.faq ul > li a:active {
    color: #00aff0;
    text-decoration: none;
}

.faq-content {
    display: none;
    padding-left: 15px;
    padding-top: 10px;
}