/* color schemes */
/*****************************************************************************
		  Layer Cart Css
*****************************************************************************/
.layer_cart_overlay {
  background-color: #000000;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  opacity: 0.2; }

* html .layer_cart_overlay {
  position: absolute;
  left: 0;
  margin-left: -160px;
  opacity: 0.2; }

#layer_cart {
  background-color: white;
  position: absolute;
  display: none;
  z-index: 10000;
  width: 900px;
  left: 15px;
  right: 15px;
  margin: 0 auto;
  border-radius: 4px; }
  @media (min-width: 769px) {
    #layer_cart {
      top: 50% !important;
      position: fixed;
      transform: translateY(-50%); } }
  #layer_cart .layer_cart_product {
    padding: 30px 30px 30px 30px;
    overflow: hidden;
    position: static; }
  #layer_cart .layer_cart_product h2 {
    font-size: 23px;
    line-height: 29px;
    margin: 0 0 22px;
    color: #000000; }
  @media (min-width: 769px) {
    #layer_cart .outer_block_cart {
      width: auto; } }
  #layer_cart .layer_cart_product h2 i {
    font-size: 30px;
    line-height: 30px;
    float: left;
    padding-right: 8px; }
  #layer_cart .layer_cart_product .product-image-container {
    max-width: 95px;
    border: 1px solid #e7e7e7;
    padding: 5px;
    float: left;
    margin-right: 30px; }
  #layer_cart #layer_cart_product_title {
    display: block;
    padding-bottom: 8px; }
  #layer_cart .layer_cart_product .layer_cart_product_info > div {
    padding-bottom: 7px; }
  #layer_cart .layer_cart_product .layer_cart_product_info > div strong {
    padding-right: 3px; }
  #layer_cart .layer_cart_cart {
    background: #f1f1f1;
    border-left: 1px solid #e7e7e7;
    padding: 30px 34px 170px 30px;
    -webkit-border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
    -ms-border-radius: 0px 4px 4px 0px;
    -o-border-radius: 0px 4px 4px 0px;
    border-radius: 0px 4px 4px 0px;
    position: relative; }
  @media (min-width: 1200px) {
    #layer_cart .layer_cart_cart {
      min-height: 318px; } }
  @media (min-width: 769px) and (max-width: 991px) {
    #layer_cart .outer_block_cart {
      max-width: 24%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    #layer_cart .layer_cart_cart {
      min-height: 360px; } }
  @media (max-width: 991px) {
    #layer_cart {
      width: auto; }
      #layer_cart .layer_cart_cart {
        padding-bottom: 100px;
        border-left: none;
        border-top: 1px solid #e7e7e7; } }
  #layer_cart .layer_cart_cart h2 {
    font-size: 23px;
    line-height: 29px;
    color: #333333;
    padding-bottom: 13px;
    margin: 0 0 17px; }
  #layer_cart .layer_cart_cart .layer_cart_row {
    padding: 0 0 4px 0; }
  #layer_cart .layer_cart_cart .button-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0 10px;
    text-align: center; }
    #layer_cart .layer_cart_cart .button-container .btn {
      font-size: 12px;
      padding: 5px 20px; }

#layer_cart_cart .button-container .btn {
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 700; }

.layer_cart_cart .button-container span.exclusive-medium {
  margin-right: 5px; }

.layer_cart_cart span.exclusive-medium i {
  padding-right: 5px; }

#layer_cart .cross {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  color: #000000;
  z-index: 2;
  font-size: 20px;
  transition: color .5s ease;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center; }
  #layer_cart .cross:hover {
    color: #1a1a1a; }

#layer_cart .continue {
  cursor: pointer; }

#layer_cart p {
  padding: 0px; }

/************************************************************************
			Layer Cart Caroucel
*************************************************************************/
#layer_cart .crossseling .crossseling-content {
  border-top: 1px solid #e7e7e7;
  padding: 26px 30px 40px 30px;
  position: relative; }
#layer_cart .crossseling h2 {
  font: 400 23px/26px Arial, Helvetica, sans-serif;
  color: #333333;
  margin-bottom: 25px; }
#layer_cart .crossseling #blockcart_list {
  max-width: 773px;
  width: 84%;
  margin: 0 auto;
  overflow: hidden; }
#layer_cart .crossseling #blockcart_list ul {
  display: block; }
#layer_cart .crossseling #blockcart_list ul li {
  float: left;
  width: 178px;
  margin: 0 0px 0 0; }
#layer_cart .crossseling #blockcart_list ul li .product-image-container {
  border: 1px solid #e7e7e7;
  text-align: center;
  padding: 5px;
  margin-bottom: 15px; }
#layer_cart .crossseling #blockcart_list ul li .product-image-container img {
  width: 100%; }
#layer_cart .crossseling #blockcart_list ul li .product-name {
  padding-bottom: 5px; }
#layer_cart .crossseling #blockcart_list ul li .product-name a {
  font-size: 15px;
  line-height: 20px; }
#layer_cart .crossseling #blockcart_list .bx-prev,
#layer_cart .crossseling #blockcart_list .bx-next {
  display: block;
  font-size: 20px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  color: #333333;
  text-indent: -5000px;
  position: absolute;
  top: 45%;
  margin-top: -20px; }
#layer_cart .crossseling #blockcart_list .bx-prev:after,
#layer_cart .crossseling #blockcart_list .bx-next:after {
  display: block;
  text-indent: 0; }
#layer_cart .crossseling #blockcart_list .bx-prev.disabled,
#layer_cart .crossseling #blockcart_list .bx-next.disabled {
  display: none; }
#layer_cart .crossseling #blockcart_list .bx-prev {
  left: 5%; }
#layer_cart .crossseling #blockcart_list .bx-next {
  right: 5%; }
#layer_cart .crossseling #blockcart_list .bx-controls {
  overflow: hidden; }

/* tablet */
@media (max-width: 768px) {
  #layer_cart {
    color: #000000;
    font-size: 12px;
    max-width: none;
    width: 360px;
    position: fixed;
    top: 50% !important;
    transform: translateY(-50%); }
    #layer_cart .dark {
      color: #000000; }
    #layer_cart .layer_cart_product {
      padding: 30px; }
      #layer_cart .layer_cart_product .product-image-container {
        border: none;
        margin-right: 10px;
        padding: 0; }
      #layer_cart .layer_cart_product h2 {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 30px; }
      #layer_cart .layer_cart_product .layer_cart_product_info > div {
        padding: 14px 0 0 105px; }
    #layer_cart .layer_cart_cart {
      padding: 35px 30px 27px; }
      #layer_cart .layer_cart_cart h2 {
        color: #000000;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 20px;
        padding-bottom: 0; }
      #layer_cart .layer_cart_cart .button-container {
        margin: 25px -15px 0;
        padding: 0;
        position: static;
        width: auto; }
      #layer_cart .layer_cart_cart .btn {
        font-size: 16px;
        padding: 8px 10px;
        width: 100%;
        margin-right: 0; }
      #layer_cart .layer_cart_cart .continue {
        margin-bottom: 10px; }
    #layer_cart #layer_cart_product_title {
      padding-bottom: 0; } }
@media (max-width: 667px) {
  #layer_cart {
    background: #f1f1f1;
    border-radius: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0 !important;
    bottom: 0;
    width: auto;
    overflow: auto;
    overflow-x: hidden;
    transform: translateY(0);
    -webkit-overflow-scrolling: touch; }
    #layer_cart .layer_cart_product {
      padding: 18px 33px 35px 18px; }
      #layer_cart .layer_cart_product h2 {
        font-size: 16px; }
    #layer_cart .layer_cart_cart {
      padding: 35px 18px 20px; }
      #layer_cart .layer_cart_cart h2 {
        font-size: 14px; }
      #layer_cart .layer_cart_cart .button-container {
        margin-left: 0;
        margin-right: 0; } }
@media (max-width: 667px) and (min-width: 481px) {
  #layer_cart .layer_cart_cart .button-container {
    padding: 0 22%; } }
.cart_block .ajax_cart_block_remove_link:before {
  display: inline-block;
  font-size: 21px;
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0; }
.cart_block .cart-images {
  float: left;
  display: block;
  max-width: 82px;
  margin-right: 20px;
  border-style: solid;
  border-width: 1px; }
  .cart_block .cart-images img {
    display: block;
    max-width: 100%; }
.cart_block .product-name {
  max-width: 195px; }
.cart_block .cart-info {
  overflow: hidden;
  position: relative;
  float: left;
  text-align: left; }
  .cart_block .cart-info .product-name a {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    display: inline-block;
    text-align: left;
    vertical-align: top; }
.cart_block .quantity-formated {
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  line-height: 1.2;
  font-weight: bold;
  display: none; }
.cart_block dt {
  overflow: hidden;
  position: relative; }
.cart_block dd {
  position: relative; }
  .cart_block dd .cart_block_customizations li {
    padding: 10px 20px;
    position: relative; }
.cart_block .cart_block_no_products {
  margin: 0; }

.cart-prices .title_total {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
  float: left; }

.cart_block .cart-prices .cart-prices-line {
  overflow: hidden;
  clear: both;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  line-height: 42px; }

.cart-prices-line .price {
  font-size: 16px;
  font-weight: 400; }

.cart_block .cart-buttons {
  margin: 0;
  overflow: hidden;
  padding: 20px 0 0; }

.cart-buttons .view-cart {
  margin-right: 15px; }

/*******************************************************************
		  Cart Block(Header) Styles
********************************************************************/
.cart_block {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 1050;
  height: auto;
  width: 370px;
  padding: 20px;
  margin-top: -1px;
  right: 0;
  border-top-style: solid;
  border-top-width: 3px;
  text-align: left;
  overflow-y: auto;
  max-height: 650px;
  box-shadow: 0 2px 6px 0 #e7e7e7; }

.cart_block_list .products .price {
  line-height: 1; }

.cart_block .ajax_cart_block_remove_link {
  outline: none;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  height: 30px;
  line-height: 28px;
  padding: 0 10px 0 30px;
  border-style: solid;
  border-width: 1px;
  position: relative;
  margin-top: 12px;
  display: table;
  width: auto;
  text-align: center; }
.cart_block .product-atributes {
  display: none; }
.cart_block .price {
  font-size: 18px;
  font-weight: 700; }
.cart_block dt {
  line-height: 1.5;
  padding-bottom: 20px; }
  .cart_block dt:last-child {
    margin-bottom: 10px; }
.cart_block .cart-prices {
  border: none;
  line-height: normal;
  margin-top: 15px; }

#header .block_content {
  margin-bottom: 0; }

.cart_block #cart_block_summary,
.cart_block .title_block span,
.cart_block h4,
.cart_block .title_block,
.cart_block h4 {
  display: none; }
.cart_block .cart_block_shipping_cost,
.cart_block .cart_block_tax_cost,
.cart_block .cart_block_total,
.cart_block .cart_block_wrapping_cost {
  vertical-align: baseline;
  padding-left: 5px;
  text-transform: uppercase; }
.cart_block table.vouchers {
  clear: both;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px; }
  .cart_block table.vouchers tr td {
    padding: 2px; }
    .cart_block table.vouchers tr td.quantity {
      margin-right: 5px;
      min-width: 18px; }
    .cart_block table.vouchers tr td.delete {
      padding-left: 0;
      padding-right: 0;
      text-align: right;
      width: 15px; }

@media (min-width: 769px) {
  .mobile-btn, .cart-close {
    display: none; }

  #header .shopping_cart {
    display: inline-block;
    position: relative; }
  #header .wrap_cart {
    float: right;
    padding: 0 15px;
    text-align: right; }

  .shopping_cart > a > span {
    display: inline-block !important; }
  .shopping_cart a .ajax_cart_no_product {
    display: none !important; }
  .shopping_cart > a {
    display: inline-block;
    position: relative;
    z-index: 101;
    border: 0px;
    font-weight: normal; }
    .shopping_cart > a:first-child:before {
      font-size: 15px;
      display: inline-block;
      margin-right: 5px;
      font-weight: 300;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      vertical-align: middle; } }
@media (min-width: 992px) {
  #header .wrap_cart {
    padding: 0 15px 0 0;
    width: 20%; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .shopping_cart > a:first-child:before {
    margin-right: 2px; } }
@media (min-width: 769px) and (max-width: 1199px) {
  .shopping_cart a .ajax_cart_product_txt {
    display: none !important; } }
/* mobile */
@media (max-width: 768px) {
  #header .wrap_cart {
    position: absolute;
    right: 38px;
    padding: 0;
    top: 0;
    width: auto;
    line-height: 27px; }
  #header .shopping_cart > a {
    display: none; }
  #header .cart_block {
    background: #ffffff;
    color: #000000;
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    overflow: auto;
    overflow-x: hidden;
    visibility: hidden;
    will-change: transform;
    transition: transform .3s, visibility .3s, opacity .3s;
    transform: translateY(-30px);
    -webkit-overflow-scrolling: touch;
    border: none;
    height: 100% !important;
    margin: 0 !important; }
    #header .cart_block.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0px); }
    #header .cart_block h3 {
      border-bottom: 1px solid #e7e7e7;
      font-size: 20px;
      margin-bottom: 45px;
      padding-bottom: 20px; }
    #header .cart_block .cart-images {
      border: none;
      margin-right: 40px; }
    #header .cart_block dt {
      border-bottom-color: #e7e7e7;
      padding-left: 0;
      padding-right: 0; }
    #header .cart_block .block_content {
      border: none;
      display: table;
      width: 100%;
      height: 100%; }
    #header .cart_block .cart_block_list {
      display: table-cell;
      width: 100%;
      height: 100%;
      padding: 0 38px;
      vertical-align: middle; }
    #header .cart_block .remove_link {
      right: 0;
      top: 62px; }
    #header .cart_block .cart-info .product-name, #header .cart_block .cart-info .quantity-formated {
      color: inherit; }
    #header .cart_block .cart-info .product-name {
      max-width: none;
      margin-bottom: 0; }
      #header .cart_block .cart-info .product-name a {
        font-size: 16px; }
    #header .cart_block .price {
      color: inherit;
      font-size: 16px; }
    #header .cart_block .cart-buttons {
      padding: 80px 0 20px; }
      #header .cart_block .cart-buttons .checkout {
        display: none; }
  #header .cart-prices .cart-prices-line {
    padding: 0; }
  #header .cart-prices .title_total {
    color: inherit; }
  #header #button_view_cart {
    font-size: 16px; }
    #header #button_view_cart:before {
      display: none; }
    #header #button_view_cart:after {
      font-size: 18px;
      padding-left: 5px; }

  .cart-close {
    font-size: 18px;
    position: absolute;
    right: 14px;
    top: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center; } }
@media (max-width: 667px) {
  #header .cart_block .cart_block_list {
    padding: 86px 25px 50px; }
  #header .cart_block .cart-images {
    max-width: 80px; }
  #header .cart_block .remove_link {
    top: 19px; }
  #header .cart_block .cart-images {
    margin-right: 10px; }
  #header .cart_block .cart-info {
    float: none;
    margin-left: 90px; }
  #header .cart_block dt .price {
    clear: both;
    float: none; }
  #header .cart_block_no_products {
    width: 100%; }
  #header .cart-prices .cart-prices-line {
    width: 100%; }
  #header #button_view_cart {
    width: 100%;
    padding: 8px 10px; } }

/*# sourceMappingURL=blockcart.css.map */
