/* color schemes */
.custombanners {
  clear: both;
  padding-top: 70px; }
  .custombanners img {
    max-width: 100%;
    display: block; }

.displayFooter .cb-wrapper:before, .displayFooter .cb-wrapper:after {
  display: none; }

.html-over .custom-html {
  margin: auto;
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 0; }

.img-rb .banner-item-content img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

/* Display Top Column */
.banner-top h3 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 12px;
  line-height: 1; }

.custombanners.displayCustomBanners2 h3 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 12px;
  line-height: 1;
  margin: 0 0 22px; }
.custombanners .banner-item-content {
  position: relative; }

.banner-top .wrap-effect img {
  width: 100%; }

.custombanners.displayCustomBanners2 .wrap-effect img, .custombanners.displayLeftColumn .wrap-effect img {
  width: 100%; }

.banner-top .banner-item-content {
  display: inline-block; }

.custombanners.displayCustomBanners2 .banner-item-content, .custombanners.displayLeftColumn .banner-item-content {
  display: inline-block; }

.banner-top p,
.custombanners.displayCustomBanners2 .banner-item-content p {
  max-width: 420px; }

.banner-top .custom-html {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5% 0 0 5%; }
.banner-top.alt-banner .custom-html {
  padding: 14% 5% 0; }
.banner-top.alt-banner h3 {
  font-size: 19px; }

.custombanners.displayLeftColumn h3 {
  font-size: 19px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff; }
.custombanners.displayLeftColumn .custom-html {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 8% 15px 0; }
  .custombanners.displayLeftColumn .custom-html p {
    color: #ffffff; }
.custombanners.displayCustomBanners2 .banner-item-content {
  position: relative; }
.custombanners.displayCustomBanners2 .custom-html {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8% 0 0 7%; }
.custombanners.displayCustomBanners1 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center top;
  padding: 70px 0;
  margin-top: 40px; }

.banner-item_feature .banner-item-content {
  position: relative;
  padding: 5px 0 5px 5px;
  width: 100%; }
.banner-item_feature h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin: 18px 0 1px 0; }

.columns-active .banner-item_feature h4 {
  margin-top: 0; }

.banner-item_feature p {
  font-size: 13px; }
.banner-item_feature .wrap-icon {
  display: inline-block;
  float: left;
  position: relative;
  width: 2.19em;
  height: 2.19em;
  margin-right: 24px;
  font-size: 32px; }

.columns-active .banner-item_feature .wrap-icon {
  margin-right: 5px;
  font-size: 18px; }

.banner-item_feature .wrap-icon i {
  display: inline-block;
  line-height: 1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 32px;
  margin: auto 0;
  width: 100%;
  text-align: center;
  font-size: 0; }
  .banner-item_feature .wrap-icon i:before {
    font-size: 32px; }
  .banner-item_feature .wrap-icon i:last-child {
    opacity: 0; }
.banner-item_feature .wrap-icon:hover i:first-child {
  opacity: 0; }
.banner-item_feature .wrap-icon:hover i:last-child {
  opacity: 1; }

.columns-active .banner-item_feature .wrap-icon i:before {
  font-size: 18px;
  height: 17px; }
.columns-active .home-slide .custom-html {
  padding-left: 15px;
  padding-right: 15px; }
@media (min-width: 1200px) {
  .columns-active .banner-top h3 {
    font-size: 35px; } }

/* display Footer */
.custombanners.displayFooter, .custombanners.displayEasyCarousel2 {
  clear: none;
  padding-top: 0; }
.custombanners.displayFooter .toggle-footer img {
  margin-bottom: 15px;
  padding-right: 30px; }
.custombanners.displayLeftColumn .banner-item, .custombanners.displayRightColumn .banner-item {
  margin-bottom: 50px; }

/* Video */
.video-promo-wrap {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat; }

#video-in {
  width: 100%; }

.video-promo-wrap:before {
  cursor: pointer;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 56px;
  text-align: center;
  position: absolute;
  border-style: solid;
  border-width: 2px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  margin: auto;
  font-size: 20px; }
.video-promo-wrap:after {
  cursor: pointer;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 56px;
  text-align: center;
  position: absolute;
  border-style: solid;
  border-width: 2px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  margin: auto;
  font-size: 20px;
  margin: 0;
  top: auto;
  right: auto;
  left: 40px;
  bottom: 40px; }
.video-promo-wrap.play:before, .video-promo-wrap:after {
  opacity: 0;
  -webkit-filter: blur(30px);
  filter: blur(30px);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }
.video-promo-wrap.pause:before, .video-promo-wrap.play:after {
  opacity: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

@media screen and (min-width: 1025px) {
  .custombanners.displayCustomBanners1 {
    background-attachment: fixed; } }
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .banner-item_feature .wrap-icon {
    font-size: 27px;
    margin-right: 10px; }
  .banner-item_feature h4 {
    font-size: 14px;
    margin: 15px 0 1px 0; }
  .banner-item_feature p {
    font-size: 12px; } }
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .banner-top h3,
  .custombanners.displayCustomBanners2 h3 {
    font-size: 40px; }

  .banner-top.alt-banner h3 {
    font-size: 18px; }
  .banner-top.alt-banner p {
    font-size: 13px; } }
@media screen and (min-width: 769px) and (max-width: 991px) {
  .banner-top h3,
  .custombanners.displayCustomBanners2 h3 {
    font-size: 30px; }

  .banner-top.alt-banner h3 {
    font-size: 16px; }
  .banner-top p {
    font-size: 13px; }

  .custombanners.displayCustomBanners2 .banner-item-content p {
    font-size: 13px; }

  .banner-top.alt-banner p {
    font-size: 12px; }

  .banner-item_feature.banner-item:nth-child(3) {
    margin-bottom: 0; } }
@media screen and (max-width: 1024px) {
  .custombanners {
    padding-top: 40px; } }
@media screen and (max-width: 991px) {
  .banner-item_feature.banner-item {
    margin-bottom: 20px; }
    .banner-item_feature.banner-item:last-child(4) {
      margin-bottom: 0; } }
@media screen and (max-width: 768px) {
  .banner-top {
    text-align: center;
    margin-bottom: 30px; }

  .custombanners.displayCustomBanners2 .banner-item {
    text-align: center;
    margin-bottom: 30px; }
    .custombanners.displayCustomBanners2 .banner-item:last-child {
      margin-bottom: 0; }

  .banner-top p,
  .custombanners.displayCustomBanners2 .banner-item-content p {
    display: inline-block; }

  .banner-top .custom-html,
  .custombanners.displayCustomBanners2 .custom-html {
    right: 0; }

  .banner-top h3 {
    font-size: 40px; }

  .custombanners.displayCustomBanners2 h3 {
    font-size: 40px; }
  .custombanners.displayLeftColumn .banner-item, .custombanners.displayRightColumn .banner-item {
    text-align: center; } }
@media screen and (max-width: 640px) {
  .banner-top h3,
  .custombanners.displayCustomBanners2 h3 {
    font-size: 40px; } }
@media screen and (max-width: 580px) {
  .banner-top h3,
  .custombanners.displayCustomBanners2 h3 {
    font-size: 30px;
    margin-bottom: 8px; }

  .banner-top p,
  .custombanners.displayCustomBanners2 .banner-item-content p {
    font-size: 12px; } }
@media screen and (max-width: 480px) {
  .banner-top h3,
  .custombanners.displayCustomBanners2 h3 {
    font-size: 20px; }

  [class*=".col-xxs-"] {
    float: left; }

  .col-xxs-1 {
    width: 8.3%; }

  .col-xxs-2 {
    width: 16.6%; }

  .col-xxs-3 {
    width: 25%; }

  .col-xxs-4 {
    width: 33.3%; }

  .col-xxs-5 {
    width: 41.8%; }

  .col-xxs-6 {
    width: 50%; }

  .col-xxs-7 {
    width: 58.3%; }

  .col-xxs-8 {
    width: 66.6%; }

  .col-xxs-9 {
    width: 75%; }

  .col-xxs-10 {
    width: 83.3%; }

  .col-xxs-11 {
    width: 91.6%; }

  .col-xxs-12 {
    width: 100%; } }
@media screen and (max-width: 380px) {
  .custombanners.displayCustomBanners2 h3 {
    font-size: 14px;
    margin-bottom: 5px; }
  .custombanners.displayCustomBanners2 .custom-html {
    padding: 3% 0 0 1%; }
  .custombanners.displayCustomBanners2 .banner-item-content p {
    font-size: 10px; } }
/* Slider home */
.custombanners.displayTopColumn {
  padding-top: 0; }

.home-slide {
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat; }
  .home-slide .banner-item-content {
    position: relative;
    padding-top: 49%; }
  .home-slide .banner-img {
    width: 100%;
    max-width: none; }

.home-slide .custom-html {
  text-align: left;
  color: #181818;
  line-height: 1.4;
  font-size: 16px; }
  @media screen and (max-width: 991px) {
    .home-slide .custom-html {
      font-size: 12px; } }
  @media screen and (max-width: 480px) {
    .home-slide .custom-html {
      font-size: 11px; } }
  @media screen and (max-width: 479px) {
    .home-slide .custom-html {
      font-size: 8px; } }

.home-slide p {
  font-weight: 300;
  line-height: 1.5; }
.home-slide .title_slide_one {
  font-size: 1.25em;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 10px; }

.home-slide .title_slide_two {
  font-size: 6.9em;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px; }
  @media screen and (max-width: 768px) {
    .home-slide .title_slide_two {
      font-size: 5em; } }
  @media screen and (max-width: 480px) {
    .home-slide .title_slide_two {
      font-size: 3em;
      margin-bottom: 5px; } }

.btn-box {
  margin-top: 30px; }
  @media screen and (max-width: 480px) {
    .btn-box {
      margin-top: 5px; } }

@media screen and (max-width: 991px) {
  .btn-box {
    margin-top: 15px; } }
.carousel .banner-item {
  margin-bottom: 0 !important; }

.custombanners .bx-wrapper .bx-pager {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0; }
.custombanners .bx-controls-direction a {
  height: 40px !important;
  width: 40px;
  line-height: 1 !important;
  overflow: visible !important;
  top: 0 !important;
  bottom: 0 !important;
  margin: auto 0 !important;
  color: #ffffff;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }
  .custombanners .bx-controls-direction a:before {
    display: none !important; }
.custombanners .bx-controls-direction .bx-prev {
  border-right: 1px solid;
  border-bottom: 1px solid;
  left: 20px; }
.custombanners .bx-controls-direction .bx-next {
  border-left: 1px solid;
  border-top: 1px solid;
  right: 20px; }
.custombanners .bx-controls-direction a:hover {
  color: #000000; }
.custombanners .bx-controls-direction a:before {
  line-height: inherit !important;
  font-size: inherit !important;
  color: inherit !important; }
.custombanners .bx-wrapper .bx-pager.bx-default-pager a {
  -webkit-border-radius: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  height: 5px;
  width: 30px;
  margin: 0 5px;
  position: relative;
  background: #ffffff; }
  .custombanners .bx-wrapper .bx-pager.bx-default-pager a:hover, .custombanners .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000000; }

@media screen and (max-width: 991px) {
  .custombanners .bx-wrapper .bx-pager {
    bottom: 5px; } }
@media screen and (max-width: 768px) {
  .custombanners .bx-controls-direction a {
    display: none !important; } }
#video-promo-wrap {
  /* This used to work for parent element of button divs */
  /* But it is not enough now, below dont hide play button parent div */
  /* Old shadow dom for play button */
  /* New shadow dom for play button */
  /* This one works */ }
  #video-promo-wrap *::-webkit-media-controls-panel {
    display: none !important;
    -webkit-appearance: none; }
  #video-promo-wrap *::--webkit-media-controls-play-button {
    display: none !important;
    -webkit-appearance: none; }
  #video-promo-wrap *::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none; }

@media (min-width: 415px) {
  .mobile-banner-warpper {
    display: none; } }
/* mobile */
@media (max-width: 414px) {
  .home-slider,
  .rev_slider_wrapper, .fullwidthbanner-container,
  .forcefullwidth_wrapper_tp_banner {
    display: none; }

  /*fiction banner*/
  .mobile-banner {
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    color: #000000;
    height: 400px;
    height: calc(100vh - 80px); }
    .mobile-banner .banner-item-content {
      height: 100%; }
      .mobile-banner .banner-item-content a {
        height: 100%; }
    .mobile-banner .custom-html {
      line-height: 1.3;
      padding: 0 25px; }
    .mobile-banner h2,
    .mobile-banner h3 {
      font-weight: bold;
      letter-spacing: 3px;
      margin: 0;
      text-transform: uppercase; }
    .mobile-banner h2 {
      font-size: 16px;
      margin-bottom: 5px; }
    .mobile-banner h3 {
      font-size: 49px;
      margin-bottom: 11px; }

  /*top banner*/
  .custombanners.displayCustomBanners3 {
    padding-top: 0; }

  .banner-top {
    margin: 0;
    text-align: left; }
    .banner-top h3 {
      font-size: 30px; }
    .banner-top p {
      font-size: 11px;
      line-height: 2; }
    .banner-top .banner-item-content {
      display: block;
      margin: 0 -40px; }
    .banner-top .custom-html {
      padding: 0 24px;
      top: 50%;
      transform: translate(0, -50%); }
    .banner-top .wrap-effect .banner-img {
      max-width: none;
      min-width: 100%;
      width: auto; }

  /*Features*/
  .custombanners.displayCustomBanners1 {
    margin-left: -10px;
    margin-right: -10px;
    padding: 30px 0; }
    .custombanners.displayCustomBanners1 .cb-wrapper {
      padding: 0 10px; }

  .banner-item_feature .banner-item-content {
    padding-left: 10px; }
  .banner-item_feature .wrap-icon {
    height: 70px;
    width: 70px;
    margin: 0; }
  .banner-item_feature h4 {
    margin: 15px 0 5px;
    padding: 0 15px 0 80px; }
  .banner-item_feature p {
    padding: 0 15px 0 80px; }

  /*Video*/
  .video-promo-wrap {
    margin: 0 -25px; }

  #video-in {
    height: 385px; }

  #video-promo-wrap.video-promo-wrap.play, #video-promo-wrap.video-promo-wrap.pause {
    background: #000000; }

  .custombanners.displayLeftColumn, .custombanners.displayRightColumn, .custombanners.displayCustomBanners2 {
    display: none; } }

/*# sourceMappingURL=front.css.map */
