@import "variables";

@media (min-width: $screen-sm) {
	.search-box {
		float: right;
		position: static;
	}
	#searchbox {
		position: relative;
		white-space: nowrap;
	}
	.search_query {
		border-style: solid;
		border-width: 1px;
		border-bottom-width: 0;
		border-right-width: 0;
		border-top-width: 0;
		width: 100%;
		font-size: 13px;
		padding: 0 30px 0 12px;
		display: inline-block;
		outline: none;
	}
	.button-search {
		display: inline-block;
		outline: none;
		padding: 0;
		background: none;
		border: none;
		position: absolute;
		right: 15px;
		font-size: 14px;
		-webkit-transform: scaleX(-1);
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-ms-transform: scaleX(-1);
		transform: scaleX(-1);
	}
	/* search active */
	.amazing-search {
		.styled-select,
		select {
			visibility: hidden;
			opacity: 0;
			position: absolute;
			top: 0;
			right: 80%;
			-webkit-transition: all 0.5s;
			-o-transition: all 0.5s;
			transition: all 0.5s;
		}
		.toggle {
			line-height: 49px;
		}
		&.search-active-menu {
			.styled-select,
			select {
				visibility: visible;
				opacity: 1;
				right: 105%;
				z-index: 110;
			}
		}
		.styled-select {
			select {
				display: none;
			}
			.option {
				padding-top: 1px;
				padding-bottom: 1px;
				height: 51px;
				line-height: 49px;
				color: $clr-ten;
			}
		}
	}
	#amazing_search_select {
		color: $clr-ten;
	}
	.amazingsearch_result {
		padding: 15px 10px;
		position: absolute;
		top: 100%;
		left: 15px;
		right: 15px;
		margin-top: 5px;
		display: none;
		background-color: $white;
		z-index: 1000;
		line-height: 1.3;
		.product_img_link {
			display: inline-block;
		}
	}
	.products_list_block .header {
		display: none;
	}
	.amazingsearch_result {
		.products_list {
			font-size: 0;
			display: table;
			width: 100%;
		}
		.ajax_block_product {
			width: 25%;
			float: none;
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
		}
	}
}


@media (max-width: $screen-md-max) {
	.search_query {
		font-size: 12px;
	}
}

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
	.amazingsearch_result .ajax_block_product {
		width: 33.333%;
	}
}

@media (max-width: $screen-xs-max) {
	.amazingsearch_result .ajax_block_product {
		width: 50%;
	}
}

@media (max-width: $screen-xs) {
	.amazingsearch_result .ajax_block_product {
		width: 100%;
	}
}
/* mobile */
@media (max-width: $screen-xs-max){
	#amazing_block_top{
		border-bottom: 1px solid #f7f7f7;
		border-top: 1px solid #f7f7f7;
		margin: 22px -38px 0;
		padding: 0 38px;
		width: auto;
		float: none;
		display: none;
		select, .styled-select {
			display: none;
		}
		.search_query{
			background: none;
			border: none;
			height: 45px;
			width: 100%;
			outline: none;
		}
		.button-search {
			background: none;
			border: none;
			padding: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			line-height: 30px;
			margin: auto 0;
		}
	}
	#searchbox{
		position: relative;
	}
}
@media (max-width: 320px){
	#amazing_block_top{
		margin-left: -30px;
		margin-right: -30px;
		padding-left: 30px;
		padding-right: 30px;
	}
}
