@import "variables";
.easycarousels {
	.ajax_block_product {
		margin-bottom: 20px;
	}
	.grid .product-desc {
		display: block;
	}
}

.c_item {
	h6 {
		font-size: 13px;
		font-weight: 700;
		margin: 10px 0;
		text-align: center;
	}
	.nowrap{
 text-overflow: ellipsis;
		overflow: hidden;
		display: block;
	}
	.prop-line{
		margin-top: 5px;
	}
}

.easycarousels .view_all {
	margin-top: 30px;
}

.c_container {
	&.carousel, &.simple-grid{
		display: table;
		font-size: 0;
	}
	&.simple-grid{
		width: 100%;
	}
}

.c_col {
	vertical-align: top;
	font-size: 14px;
}

.easycarousels {
	position: relative;
}

.carousel_block,
.easycarousels .in_tabs {
	margin-top: 70px;
}

.custom_banners img {
	max-width: 100%;
	display: block;
}

.none-margin-padding {
	.carousel_block,
	&.easycarousels .in_tabs {
		margin-top: 0px;
	}
}

#product .none-margin-padding {
	.carousel_block,
	&.easycarousels .in_tabs {
		margin-top: 66px;
	}
}

.bottom-block-page {
	.none-margin-padding.carousel_block {
		margin-left: 0;
		margin-right: 0;
	}
	.ajax_block_product {
		margin-bottom: 20px;
		padding-left: 0;
		padding-right: 0;
	}
	.content_price {
		text-align: center;
		padding: 0;
		float: left;
		text-align: left;
		.price,
		.old-price {
			font-size: 20px;
		}
	}
	.right-block {
		position: relative;
		padding-left: 30px;
		padding-right: 0;
		border-left-style: solid;
		border-left-width: 1px;
	}
	.ajax_block_product .product-container {
		padding: 30px 10px 30px 25px;
		overflow: hidden;
		text-align: left;
	}
	.right-block h5 {
		padding-bottom: 0;
		@media (min-width: 421px){
			margin: 0;
			padding: 0;
			font-size: 16px;
			text-align: left;
			line-height: 1.1;
			border-top-width: 0;
		}
	}
	.product-image-container {
		padding: 0 10px 0 0;
	}
	.ajax_block_product {
		.comments_note {
			margin: 16px 0 14px;
			display: block;
			float: left;
			width: 100%;
		}
		.tag,
		.availability,
		.lnk_view,
		.addToWishlist,
		.quick-view {
			display: none;
		}
	}
}

@media screen and (min-width: 421px) {
	.bottom-block-page .right-block .product-name {
		text-align: left;
	}
}
@media screen and (min-width: 421px) {
  .bottom-block-page .ajax_block_product .product-container{
    display: table;
    width: 100%;
    max-width: 100%;
  }
  .bottom-block-page .left-block, 
  .bottom-block-page .right-block{
    display: table-cell;
    vertical-align: middle;
  }
  .bottom-block-page .left-block{
    width: 32%;
  }
  .bottom-block-page .right-block{
    width: 68%;
  }
}

/* column layout*/

.nav > li.responsive_tabs_selection {
	display: none;
}
.responsive_tabs_selection i {
	padding-left: 5px;
}

.none-title h2 {
	display: none;
}

.easycarousels .block_content {
	padding-top: 54px;
}

.bottom-block-page .easycarousels .none-margin-padding .block_content {
	padding-top: 0;
}

#product .carousel_block .title_main_section {
	padding: 0 15px;
}

.bottom-block-page .button-container {
	> * {
		width: auto;
	}
	clear: both;
	padding-top: 25px;
}


/* manufacturer styles */

.item-container {
	padding: 0 15px;
	> a {
		background: $white;
		display: block;
		text-align: center;
		border-style: solid;
		border-width: 1px;
	}
	.item-title,.item-desc {
		display: none;
	}
	img {
		display: inline-block;
		vertical-align: bottom;
	}
}


/* compact tabs */

.easycarousels .in_tabs.compact {
	margin-top: 78px;
	padding-top: 60px;
}

.compact {
	.nav > .responsive_tabs_selection {
		display: block;
	}
	.easycarousel_tabs.game-tabs {
		position: absolute;
		z-index: 9;
		display: block;
		left: 45px;
		right: 45px;
		top: 40px;
	}
	.closed .carousel_title,
	.carousel_title.active {
		display: none;
	}
}

.easycarousels .in_tabs.compact .nav-tabs li {
	width: 100%;
	padding: 0;
	margin: 0;
	background: $white;
	a {
		border: 1px solid #e6e6e6;
		border-top: none;
		font-size: 16px;
		padding: 17px 10px;
		line-height: 1;
	}
	&.responsive_tabs_selection{
		a{
			border: 1px solid #e6e6e6;
		}
	}
}

#left_column .easycarousels .block_content,
#right_column .easycarousels .block_content {
	border: 0;
}

@media screen and (max-width: $screen-md-max) {
	.easycarousel_tabs.nav.nav-tabs > li {
		min-width: 175px;
		margin-bottom: 20px;
		&:not(:last-child) {
			margin-right: 20px;
		}
	}
	.bottom-block-page {
		.ajax_block_product .product-container {
			padding: 20px 10px 20px 20px;
			max-width: none;
		}
		.right-block {
			padding-left: 20px;
		}
		.grid .right-block h5 {
			font-size: 14px;
		}
	}
}

@media screen and (max-width: $screen-sm-max) {
	.easycarousel_tabs.nav.nav-tabs > li {
		a {
			font-size: 14px;
			line-height: 1.5;
			height: auto;
			padding: 8px 10px;
		}
		min-width: 100px;
	}
}

@media screen and (min-width: $screen-sm) {
	.bottom-block-page .owl-carousel {
		padding-top: 0;
	}
	#product .carousel_block .title_main_section {
		text-align: left;
	}
}

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
	.bottom-block-page .ajax_block_product .product-container {
		min-height: 250px;
	}
	.content_price .reduce_style.price {
		display: block;
		margin-right: 0;
		padding-right: 0;
	}
	.easycarousel .ajax_add_to_cart_button.btn.btn-default {
		font-size: 11px;
	}
	#product .easycarousel {
		.product-image-container {
			padding: 30px 8px 0;
		}
		.right-block {
			padding: 0 8px;
		}
	}
	.easycarousel .product-name {
		font-size: 12px;
	}
	#product .easycarousel .product-name {
		font-size: 10px;
	}
	.bottom-block-page {
		.reduce_style.price:after {
			display: none;
		}
		.right-block h5 {
			font-size: 12px;
		}
		.button-container > * {
			padding: 0;
			font-size: 14px;
			height: 45px;
			line-height: 41px;
			width: 100%;
		}
	}
}

@media screen and (max-width: $screen-mobile) {
	.carousel_block,
	.easycarousels .in_tabs {
		margin-top: 40px;
	}
	#left_column .carousel_block,
	#right_column .carousel_block,
	#left_column .easycarousels .in_tabs,
	#right_column .easycarousels .in_tabs {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: $screen-xs-max) {
	.home_carousel .owl-buttons {
		left: 0;
		text-align: center;
	}
}

@media screen and (max-width: 640px) {
	.easycarousel_tabs.nav.nav-tabs > li {
		width: 100%;
	}
}

@media screen and (max-width: $screen-xs) {
	#left_column .owl-buttons,
	#right_column .owl-buttons {
		top: -46px;
	}
	#left_column .carousel_block .title-box,
	#right_column .carousel_block .title-box {
		font-size: 16px;
	}
}

@media screen and (max-width: 420px) {
	.bottom-block-page {
		.ajax_block_product .product-container {
			padding: 30px;
		}
		.right-block {
			padding-left: 0;
			margin-top: 20px;
			border: none;
			h5 {
				text-align: center;
			}
		}
		.content_price,
		.left-block,
		.right-block {
			text-align: center;
		}
		.content_price,
		.left-block,
		.right-block,
		.button-container > * {
			width: 100%;
		}
	}
}

.c_item {
	.product-image-container .primary-image,
	&:hover .product-image-container .secondary-image {
		display: block;
	}
	.product-image-container .secondary-image,
	&:hover .product-image-container .primary-image {
		display: none;
	}
}


/* simple grid */

.simple-grid {
	.c_col {
		display: inline-block;
		vertical-align: top;
	}
	&.xl-1 .c_col {
		width: 100%;
	}
	&.xl-2 .c_col {
		width: 50%;
	}
	&.xl-3 .c_col {
		width: 33.333%;
	}
	&.xl-4 .c_col {
		width: 25%;
	}
	&.xl-5 .c_col {
		width: 20%;
	}
	&.xl-6 .c_col {
		width: 16.666%;
	}
	&.xl-7 .c_col {
		width: 14.285%;
	}
	&.xl-8 .c_col {
		width: 12.5%;
	}
	&.xl-9 .c_col {
		width: 11.111%;
	}
	&.xl-10 .c_col {
		width: 10%;
	}
}

@media (max-width: $screen-md-max) {
	.simple-grid {
		&.l-1 .c_col {
			width: 100%;
		}
		&.l-2 .c_col {
			width: 50%;
		}
		&.l-3 .c_col {
			width: 33.333%;
		}
		&.l-4 .c_col {
			width: 25%;
		}
		&.l-5 .c_col {
			width: 20%;
		}
		&.l-6 .c_col {
			width: 16.666%;
		}
		&.l-7 .c_col {
			width: 14.285%;
		}
		&.l-8 .c_col {
			width: 12.5%;
		}
		&.l-9 .c_col {
			width: 11.111%;
		}
		&.l-10 .c_col {
			width: 10%;
		}
	}
}

@media (max-width: $screen-sm-max) {
	.simple-grid {
		&.m-1 .c_col {
			width: 100%;
		}
		&.m-2 .c_col {
			width: 50%;
		}
		&.m-3 .c_col {
			width: 33.333%;
		}
		&.m-4 .c_col {
			width: 25%;
		}
		&.m-5 .c_col {
			width: 20%;
		}
		&.m-6 .c_col {
			width: 16.666%;
		}
		&.m-7 .c_col {
			width: 14.285%;
		}
		&.m-8 .c_col {
			width: 12.5%;
		}
		&.m-9 .c_col {
			width: 11.111%;
		}
		&.m-10 .c_col {
			width: 10%;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.simple-grid {
		&.s-1 .c_col {
			width: 100%;
		}
		&.s-2 .c_col {
			width: 50%;
		}
		&.s-3 .c_col {
			width: 33.333%;
		}
		&.s-4 .c_col {
			width: 25%;
		}
		&.s-5 .c_col {
			width: 20%;
		}
		&.s-6 .c_col {
			width: 16.666%;
		}
		&.s-7 .c_col {
			width: 14.285%;
		}
		&.s-8 .c_col {
			width: 12.5%;
		}
		&.s-9 .c_col {
			width: 11.111%;
		}
		&.s-10 .c_col {
			width: 10%;
		}
	}
}

@media (max-width: $screen-xs) {
	.simple-grid {
		&.xs-1 .c_col {
			width: 100%;
		}
		&.xs-2 .c_col {
			width: 50%;
		}
		&.xs-3 .c_col {
			width: 33.333%;
		}
		&.xs-4 .c_col {
			width: 25%;
		}
		&.xs-5 .c_col {
			width: 20%;
		}
		&.xs-6 .c_col {
			width: 16.666%;
		}
		&.xs-7 .c_col {
			width: 14.285%;
		}
		&.xs-8 .c_col {
			width: 12.5%;
		}
		&.xs-9 .c_col {
			width: 11.111%;
		}
		&.xs-10 .c_col {
			width: 10%;
		}
	}
}
/* native scroll */
.scroll-x {
	white-space: nowrap;
}

.scroll-x-wrapper {
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	overflow-x: scroll;
	overflow-y: hidden;
	&::-webkit-scrollbar {
		display:none;
	}
}
.scroll-x .c_col {
	display: inline-block;
	white-space: normal;
}
/* mobile */
@media (max-width: $screen-xs-mobile){
	.manufacturer-wrapper{
		background: #f7f7f7;
		margin: 0 (-$base-offset - 15);
		padding: 30px 70px;
		.c-wrapper{
			margin: 0;
		}
		.carousel_title{
			display: none;
		}
		.block_content{
			padding-top: 0;
		}
		.carousel_block{
			margin-top: 0;
		}
		.item-container{
			padding: 0;
		}
		.bx-wrapper {
			.bx-controls{
				.bx-controls-direction{
					position: static;
					> a{
						position: absolute;
						top: 50%;
						bottom: auto;
						transform: translate(0, -50%);
					}
					.bx-prev{
						left: -35px;
						margin: 0;
						right: auto;
					}
					.bx-next{
						left: auto;
						margin: 0;
						right: -35px;
					}
				}
			}
		}
	}
	.bottom-block-page .alternative-carousels .none-margin-padding.carousel_block {
		padding-left: 0;
		padding-right: 0;
	}
	.bottom-block-page{
		.ajax_block_product{
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

@media (min-width: $screen-lg){
	.columns-active{
		.game-tabs.nav.nav-tabs{
			> li{
				min-width: 150px;
			}
		}
	}
}