@import "variables";

@media (min-width: $screen-sm){
	.sf-search{
		display: none;
	}
}
@media (max-width: $screen-xs-max){
	.sf-search{
		clear: both;
		float: left;
		width: 100%;
		.searchbox{
			border-bottom: 1px solid #f7f7f7;
			border-top: 1px solid #f7f7f7;
			margin: 22px -38px 0;
			padding: 0 38px;
		}
		input[type="text"]{
			background: none;
			border: none;
			height: 45px;
			width: 100%;
			outline: none;
		}
		.searchbox_inner{
			position: relative;
		}
		.button-search {
			background: none;
			border: none;
			padding: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			line-height: 30px;
			margin: auto 0;
		}
	}
}