@import "variables";

@import "search";

@media (min-width: $screen-md) {
	#block_top_menu {
		width: 60%;
		padding-right: 0;
	}
}

@media (min-width: $screen-sm) {
	#block_top_menu,
	.sf-menu {
		position: static;
	}
	#block_top_menu {
		line-height: 40px;
		float: left;
	}
	.sf-menu {
		margin: 0;
		padding: 0;
		list-style: none;
		* {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		width: 100%;
		padding: 0;
		position: relative;
		ul {
			position: absolute;
			top: -999em;
			background: $white;
		}
		> li > .sf-with-ul:after {
			font-size: 12px;
			position: absolute;
			top: 0;
			bottom: 0;
			right: -22px;
			margin: auto 5px;
			cursor: pointer;
		}
		li {
			&:hover {
				visibility: inherit;
			}
			ul {
				z-index: 99;
				top: 100%;
				left: 22px;
				display: none;
				margin-top: 0;
			}
			li li ul {
				padding: 0 0 0 20px;
				margin-top: 15px;
			}
		}
		> li {
			float: left;
			padding: 0 22px;
			> a {
				text-transform: uppercase;
				display: block;
				position: relative;
				font-size: 14px;
				font-weight: 500;
			}
		}
	}
	ul.sf-menu li li li {
		&:hover ul,
		&.sfHover ul {
			left: 200px;
			/* match ul width */
			top: 0;
		}
	}
	.sf-menu li ul li a.sf-with-ul:before {
		display: none;
	}
	#block_top_menu ul {
		.category-thumbnail,
		#category-thumbnail {
			padding: 0 15px;
			max-width: 370px;
		}
	}
	ul {
		.category-thumbnail > div,
		#category-thumbnail > div {
			overflow: hidden;
		}
		.category-thumbnail > div:last-child,
		#category-thumbnail > div:last-child {
			margin-right: 0;
		}
	}
	.wrap_banner_item {
		position: relative;
	}
	.banner_thumb.autofocus {
		.wrap_scale.wrap_image_thumb {
			position: static;
		}
		&:before,
		&:after {
			border-width: 1px;
		}
		.wrap_scale {
			&:before,
			&:after {
				border-width: 1px;
			}
		}
		&:hover {
			&:before,
			&:after {
				border-color: $white;
				width: 20px;
				height: 20px;
			}
			.wrap_scale {
				&:before,
				&:after {
					border-color: $white;
					width: 20px;
					height: 20px;
				}
			}
		}
	}
	.sf-menu > li > ul > {
		.category-thumbnail > div img,
		#category-thumbnail > div img {
			max-width: 100%;
			display: inline-block;
		}
	}
	.banner_thumb {
		display: inline-block;
		position: relative;
		overflow: hidden;
	}
	.sf-menu li {
		&.sf-search {
			border: none;
			input {
				display: inline;
				padding: 0 13px;
				height: 30px;
				line-height: 30px;
				background: $white;
				margin: 13px 10px 0 0;
				font-size: 13px;
				color: $clr-twenty-two;
				border: 1px solid $clr-twenty-two;
			}
		}
		ul li li a:before {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			line-height: 28px;
			font-size: 11px;
		}
	}
	ul {
		.category-thumbnail > div,
		#category-thumbnail > div {
			width: 100%;
			margin-bottom: 10px;
		}
	}
	.sf-menu {
		li {
			ul li li a {
				line-height: 1.2;
				display: block;
				padding: 7px 0 7px 25px;
				font-weight: normal;
				font-size: 13px;
				position: relative;
			}
			li a + ul {
				margin-top: 8px;
			}
		}
		> li > ul > li > a {
			font-weight: bold;
			font-size: 14px;
			text-transform: uppercase;
		}
		> li {
			> ul {
				> li {
					display: inline-block;
					vertical-align: top;
					padding: 0 15px;
					&.first-in-line-lg {
						clear: left;
					}
				}
				width: auto;
				border-top-style: solid;
				border-top-width: 3px;
				padding: 22px 15px 20px;
				-webkit-box-shadow: 0 2px 6px 0px $clr-twenty-two;
				-moz-box-shadow: 0 2px 6px 0px $clr-twenty-two;
				box-shadow: 0 2px 6px 0px $clr-twenty-two;
				width: 100%;
				left: 22px;
			}
			&:hover > ul {
				top: 100%;
			}
		}
	}
	#block_top_menu ul.sf-menu li li ul {
		display: block !important;
		opacity: 1 !important;
		visibility: visible !important;
		position: relative;
		left: 0;
		top: 0;
	}
	.sf-menu > li {
		> a:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 0;
			-webkit-transition: all .2s;
			-moz-transition: all .2s;
			-o-transition: all .2s;
			transition: all .2s;
		}
		&:hover > a:before {
			height: 5px;
		}
	}
}

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
	.sf-menu > li {
		&:first-child {
			padding-left: 0;
		}
		> ul {
			left: 0;
		}
	}
}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {
	.sf-menu {
		li ul li a {
			font-size: 13px;
		}
		> li {
			padding: 0 17px;
			> a {
				font-size: 13px;
			}
		}
	}
}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
	.sf-menu {
		> li {
			padding: 0 12px;
			a{
				font-size: 11px;
			}
		}
	}
}
/* mobile */
@media (max-width: $screen-xs-max){
	.sf-menu {
		li {
			ul {
				li {
					li {
						a:before{
							display: none;
						}
					}
				}
			}
		}
	}
	#block_top_menu{
		&.sf-contener{
			background: none;
			margin: 0 -15px;
			padding: 30px 0 40px;
			width: auto;
			float: none;
			clear: both;
		}
	}
	.sf-menu {
		.category-thumbnail{
			display: none;
		}
		ul {
			padding-left: 15px;
		}
		li {
			position: relative;
			ul {
				background: none;
				li {
					a{
						background: none;
						border: none;
						margin-bottom: 25px;
					}
				}
			}
		}
		a{
			color: inherit;
			display: inline-block;
			font-size: 13px;
			margin-bottom: 45px;
			&:hover{
				color: $black;
			}
		}
		> li {
			display: inline-block;
			padding: 0 15px;
			vertical-align: top;
			width: 33.333%;
			> ul {
				background: none;
			}
			span:after{
				color: inherit;
			}
		}
	}
	.menu-mobile{
		display: none;
	}
	.menu-mobile-grover{
		float: right;
	}
}
@media (max-width: $screen-xs-mobile){
	.sf-menu {
		> li {
			width: 50%;
		}
	}
}

