@import "variables";

.tags_block .block_content {
  overflow: hidden;
  padding: 20px;
}
  .tags_block .block_content a {
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    font-weight: bold;
    padding: 4px 9px 5px 9px;
    border: 1px solid $clr-twenty-two;
    float: left;
    margin: 0 3px 3px 0; }
    .tags_block .block_content a:hover {
      color: $clr-ten;
      background: $color-thirty-five; }
